﻿
    <link href="~/Content/resources/nifty-demo.css" rel="stylesheet">
    <script src="~/Content/resources/jquery_005.js"></script>
    <script type="text/javascript" src="~/Content/resources/lang.js"></script>
    <script type="text/javascript" src="~/Content/resources/capital_transfer.js"></script>
    <script src="~/Content/resources/bootbox.js"></script>
    <script src="~/Content/resources/bootstraps.js"></script>
       
                   
   <div id="page-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Send out</h3>
                                    </div>
                                    <form action="/user/profile/doOptionSrolledOut" method="post" class="form-horizontal">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Target wallet address</label>
                                                <div class="col-sm-9">
                                                    <input readonly="true" name="baoress" id="baoress" class="form-control" value="c84e3dad1dae53f7bc8e39b8ee50bee2" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Number</label>
                                                <div class="col-sm-9">
                                                    <input name="howmoney" id="howmoney" class="form-control" value="0.0000" readonly="true" type="text">
                                                    <input name="mymoney" id="mymoney" value="0.0000" type="hidden">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Transaction password</label>
                                                <div class="col-sm-9">
                                                    <input maxlength="20" class="form-control" name="repass" id="repass" onblur="checkrepass()" type="password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Captcha</label>
                                                <div class="col-sm-6">
                                                    <input name="captcha" id="captcha" maxlength="50" class="form-control" remote="" placeholder="Verification code" type="text">
                                                </div>
                                                <div class="col-sm-3">
                                                    <img src="~/Content/resources/new.png" onclick="this.src='/captcha/new.html?height=32&amp;width=150&amp;font_size=16&amp;time='+Math.random();" title="换一张" class="captcha captcha-img verify_img" style="cursor: pointer;">
                                                    <input name="_captcha_id" value="" type="hidden">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Remark information</label>
                                                <div class="col-sm-9">
                                                    <input maxlength="30" name="content" id="content" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Explain</label>
                                                <div class="col-sm-9 control-label">
                                                    <span style="color: red">Please check and submit accurately, and cannot be returned after submission.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer text-right">
                                            <input name="opcardbutton" id="opcardbutton" value="Confirm send" class="btn btn-theme btn-success" type="submit">
                                            <input name="type" id="types" value="期权" type="hidden">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            
           