﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model UtilitySetupModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        if (page == 0) {
            page = 1;
        }
        $.ajax({
            type: "POST",
            url: "/MemberWallet/BillHistory",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $("#ajaxloading").dialog("close");
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $("#ajaxloading").dialog("close");
            }
        });
    });

    $("#SelectedUtilityList").change(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberWallet/BillHistory",
            data: { SelectedUtilityList: $('#SelectedUtilityList').val() },
            success: function (data) {
                $("#main-content").html(data);
                $("#ajaxloading").dialog("close");
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $("#ajaxloading").dialog("close");
            }
        });
    });

    $("#SelectedStatusList").change(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberWallet/BillHistory",
            data: { SelectedUtilityList: $('#SelectedUtilityList').val(), SelectedStatusList: $('#SelectedStatusList').val() },
            success: function (data) {
                $("#main-content").html(data);
                $("#ajaxloading").dialog("close");
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $("#ajaxloading").dialog("close");
            }
        });
    });

    
    function Cancel(ID) {
        if (confirm("@resShared.warningConfirmCancelOrder")) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberWallet/CancelUtilityBill",
            data: { ID: ID },
            success: function (data) {
                $("#main-content").html(data);
                alert('@resShared.warningOrderCancel');
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
            });
        }
        else {

        }
    };
    

</script>
 
    @*<div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i><a href="">Transaction</a> </li>
                    <li><i class="fa fa-dashboard"></i><a href="">Utility Bill History</a> </li>

                </ol>
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <!-- /.row -->
        <center>
            <table width="30%" class="test">
                <tr>
                    <td>Utility Bill :</td>
                    <td style="text-align:center">
                        @Html.DropDownListFor(m => m.SelectedUtilityList, @Model.UtilityList, new { id = "SelectedUtilityList", @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>Status :</td>
                    <td style="text-align:center">
                        @Html.DropDownListFor(m => m.SelectedStatusList, @Model.StatusList, new { id = "SelectedStatusList", @class = "form-control" })
                    </td>
                </tr>
            </table>
        </center>
        <br />

        <div class="table-responsive">
            <table id="tablestyle" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr style="background-color: #080808; color:White">
                        <th style="text-align: center; width:25%">
                            @Html.Label("Date", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Bill ID", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Description", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Bill No", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Mobile", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Bill Amount", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Processing", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Total QP", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Status", new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("Payment Date", new { @style = "color:White;width:auto" })
                        </th>
                    </tr>
                    @if (Model.BillList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (Model.BillList != null)
                    {
                        foreach (var item in Model.BillList)
                        {
                            <tr>

                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.BillID)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.UtilityDescription)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.BillAccount)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.MobileNumber)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.BillAmount)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.ProcessingTime)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.TotalQP)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.PaymentDate)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <table width="100%">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>*@


    <div id="page-content" style="height: 800px;">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">@resShared.mnuUtilityBillHistory</h3>
                </div>
                <div class="panel-body">
                    @*<div class="pad-btm form-inline">
            <div class="row ">
                <form method="post" action="/user/trade/trade.html">
                    <div class="col-sm-6 table-toolbar-left">
                    </div>
                    <div class="col-sm-6 table-toolbar-right">
                        <div class="form-group">
                            <select id="status" style="margin-left:0; width:80px;" name="status" class="form-control">
                                <option value="0">Waiting for money</option>
                                <option value="1">Waiting for confirmation</option>
                                <option value="2">completed</option>
                                <option value="3">shut down</option>
                                <option value="4">Appeal</option>
                                <option value="" selected="selected">@resShared.lblAll</option>
                            </select>
                        </div>
                        <div class="btn-group">
                            <input value="@resShared.btnInquiry" class="btn btn-theme btn-success" type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>*@

                    <center>
                        <table width="auto" class="test">
                            <tr>
                                <td>@resShared.mnuUtilityBill :</td>
                                <td style="text-align:center">
                                    @Html.DropDownListFor(m => m.SelectedUtilityList, @Model.UtilityList, new { id = "SelectedUtilityList", @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td>@resShared.lblStatus :</td>
                                <td style="text-align:center">
                                    @Html.DropDownListFor(m => m.SelectedStatusList, @Model.StatusList, new { id = "SelectedStatusList", @class = "form-control" })
                                </td>
                            </tr>
                        </table>
                    </center>
                    <br />

                    <div class="table-responsive">
                        <table id="tablestyle" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">
                                        @Html.Label(resShared.lblDate, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblBillID, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblBillDescription, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblBillNumber, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblMobileNumber, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblAmountRM, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblUNSPrice, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblFees10, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblUNSDeduct, new { @style = "color:White;width:auto" })
                                    </th>

                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblStatus, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblPaymentDate, new { @style = "color:White;width:auto" })
                                    </th>
                                    <th style="text-align: center">
                                        @Html.Label(resShared.lblAction, new { @style = "color:White;width:auto" })
                                    </th>
                                </tr>
                                @if (Model.BillList.Count == 0)
                                {
                                    <tr style="height: 25px; border-top: 2px solid white;">
                                        <td style="padding: 5px;" colspan="11">
                                            @resShared.lblNoRecFound
                                        </td>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @if (Model.BillList != null)
                                {
                                    foreach (var item in Model.BillList)
                                    {
                                <tr>

                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.BillID)
                                    </td>
                                    @Html.HiddenFor(modelItem => item.BillID)
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.UtilityDescription)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.BillAccount)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.MobileNumber)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.BillAmount)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.UNSAmount)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.Fees)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.TotalQP)
                                    </td>

                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.PaymentDate)
                                    </td>
                                    <td style="text-align: center">
                                        @if (item.Status == "Pending")
                                        {
                                            <a href="#" style="text-decoration:underline; color:#FFF" onclick="Cancel('@item.BillID')">
                                                @resShared.btnCancel
                                            </a>
                                        }
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                  
                    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })

                                </div>
                            </td>
                            <td style="text-align: right">
                                <button class="btn btn-sm btn-theme" id="btnPage" style="float:right;">@resShared.btnView</button>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
