﻿@model ECFBase.Models.UtilitySetupModel
@using resShared = ECFBase.Resources.Member;
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/MemberWallet/UtilityMallMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    //window.location.href = "/Member/Home";
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
    });

    $("#SelectedUtilityList").change(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberWallet/UtilityMall",
            data: {  UtilityID: $(document.getElementById("SelectedUtilityList")).val() },
            success: function (data) {
                $("#main-content").html(data);
                $("#ajaxloading").dialog("close");
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

    $("#Amount").keyup(function (evt) {
        var Amount = document.getElementById("Amount").value;
        var UNS = document.getElementById("CurrentAmount").value;
        var Convert = document.getElementById("currency").value;
        var max = document.getElementById("MaxAmt").value;
        var min = document.getElementById("MinAmt").value;
        var totalFee;
        var TotalAmount;
        if (Amount.match("([a-z][A-Z]*)")) {
            alert("@resShared.warningAmountOnlyAllowDigits")
        }
        
        if (Amount > parseFloat(max)) {
            alert("@resShared.warningAlertMaxUtilityAmt " + max);
        }
        
        var unsprice = parseFloat(Amount)/parseFloat(Convert)/parseFloat(UNS);
        totalFee = parseFloat(unsprice) * 10 / 100;
        TotalAmount = unsprice + totalFee;

        document.getElementById("UNSAmount").value = unsprice.toFixed(4);
        document.getElementById("Fee").value = totalFee.toFixed(4);
        document.getElementById("TotalQP").value = TotalAmount.toFixed(4);
    });

    @*$("#account").focusout(function (e) {
        var t = $(document.getElementById("account")).val();
        if (t.match("([a-z][A-Z]*)")) {
            alert("@resShared.warningAccountNotAllowChar")
        }
    });*@

    $("#mobile").focusout(function (e) {
        var t = $(document.getElementById("mobile")).val();
        if (t.match("([a-z][A-Z]*)")) {
            alert("@resShared.warningMobileOnlyAllowNumbers")
        }
    });


    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>
<div id="page-wrapper">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {

    <div id="page-content" class="row">
        @Html.HiddenFor(m => m.Currency, new { id = "currency" })
        @Html.HiddenFor(m => m.AvailableUNS, new { id = "AvailableUNS" })
        @Html.HiddenFor(m => m.ProcessingTime)
        <div class="row">
            <div class="col-lg-2 col-md-offset-0  col-sm-offset-0"></div>
            <div class="col-lg-8 col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resShared.mnuUtilityBill</h3>
                    </div>
                    <div class="panel-body">
                        <div align="center">
                            <form role="form">
                                <div style="max-width: 600px; text-align: left">

                                    <div class="form-group">
                                        <label for="Position">
                                            <strong>@resShared.lblBill<span style="color: Red">*</span></strong>
                                        </label>

                                        @Html.DropDownListFor(m => m.SelectedUtilityList, @Model.UtilityList, new { id = "SelectedUtilityList", @class = "form-control" })

                                    </div>

                                    @if (Model.SelectedUtilityList != "0")
                                    {
                                        <div class="form-group">
                                            <center>
                                                <img src="@Html.DisplayFor(m => m.UtilityImagePath)" style="height:150px;width:220px;" />
                                            </center>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblBillDescription

                                        </label>
                                        @Html.TextBoxFor(model => model.UtilityDescription, new { @class = "form-control", @readonly = true })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblProcessingTime

                                        </label>
                                        @Html.TextBoxFor(model => model.ProcessingTime, new { @class = "form-control", @readonly = true })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblUtilityAccNo:

                                        </label>
                                        @Html.TextBoxFor(model => model.BillAccount, new { id = "account", @maxlength = Model.TotalDigit, @class = "form-control" })
                                        @*<span style=" color:Red">@resShared.lblDigits</span>*@

                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblMobileNumber

                                        </label>
                                        @Html.TextBoxFor(model => model.MobileNumber, new { id = "mobile", @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblMinimumAmount

                                        </label>
                                        @Html.TextBoxFor(model => model.MinAmount, new { @class = "form-control", @readonly = true, id = "MinAmt" })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblMaximumAmount

                                        </label>
                                        @Html.TextBoxFor(model => model.MaxAmount, new { @class = "form-control", @readonly = true, id = "MaxAmt" })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblAmount @ViewBag.Currency

                                        </label>
                                        @Html.TextBoxFor(model => model.BillAmount, new { id = "Amount", @class = "form-control", @onkeypress = "return isNumber(event)" })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblUNSPrice

                                        </label>
                                        @Html.TextBoxFor(model => model.CurrentPrice, new { id = "CurrentAmount", @class = "form-control", @readonly = true })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblUNS

                                        </label>
                                        @Html.TextBoxFor(model => model.UNSAmount, new { id = "UNSAmount", @class = "form-control", @readonly = true })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblFees10

                                        </label>
                                        @Html.TextBoxFor(model => model.Fees, new { id = "Fee", @class = "form-control", @readonly = true })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @resShared.lblUNSDeduct

                                        </label>
                                        @Html.TextBoxFor(model => model.TotalQP, new { id = "TotalQP", @class = "form-control", @readonly = true })
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <span style=" color:#FFF"> @resShared.lblNotice : </span>
                                            <ul>
                                                <li>@resShared.lblUtilityNotice1</li>
                                                @*<li>@resShared.lblUtilityNotice2</li>*@
                                                <li>@resShared.lblUtilityNotice3</li>
                                            </ul>
                                        </label>
                                    </div>


                                </div>
                            </form>
                        </div>
                        <div class="BtnClass" align="center">


                            @if (Model.RealNameVerificationFlag == "NO")
                            {
                                <span style="color: #FFF">@resShared.WarningPerformRealnameCertification</span> <button id="btnSave" type="button" class="btn btn-sm btn-theme" style="width: 150px" disabled>@resShared.btnSave</button>
                            }
                            else if (Model.RealNameVerificationFlag == "YES")
                            {

                                <button id="btnSave" type="button" class="btn btn-sm btn-theme" style="width: 150px">@resShared.btnSubmit</button>

                            }
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>

            </div>
        </div>
    </div>
    }

</div>

