﻿@using resMember = ECFBase.Resources.Member;
@using ECFBase.Models
@model TransferWalletModel


<link href="../../Scripts/jquery.ui.dialog.css" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $("#OkApproveBtn").click(function (evt) {
        $('#Loading').show();
        Save();
        $("[class *= 'modal-backdrop']").hide();
    });

    function Save() {        
        //$.validator.unobtrusive.parse($('#WalletSend'));
        var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletSendMethod",
                data: { __RequestVerificationToken: token, WalletAddress: $(document.getElementById("WalletAddress")).val(), Amount: $('#Amount').val(), PIN: $('#PIN').val(),  Remark: $('#Remark').val()},
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMember.msgSaveSuccessfully");
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        //return false;
    };

    $("#btnMobileDeliver").click(function (evt) {
        MobileDeliver();
        $("[class *= 'modal-backdrop']").hide();
    });

    function MobileDeliver() {
        $.ajax({
            type: "POST",
            url: "/MemberWallet/MobileDeliver",
            data: {},
            success: function (data) {
                timer();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };

    $("#btnEmailDeliver").click(function (evt) {
        EmailDeliver();
        $("[class *= 'modal-backdrop']").hide();
    });

    function EmailDeliver() {
        $.ajax({
            type: "POST",
            url: "/MemberWallet/EmailDeliver",
            data: {},
            success: function (data) {
                timer();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };

     var b = $('#getmsalt');
            var text = b.attr('value');
            var counter = b.attr('data-delay');

            //$('#getmsalt').click(function () {
            //    timer();
            //});

            function timer() {
                $('#getmsalt').attr('disabled', 'disabled');
                setTimeout(function () {
                    b.val(text + ' ' + counter);
                    if (counter == 0) {
                        next();
                        $('#getmsalt').removeAttr('disabled');
                        counter = 60;
                    }
                    else {
                        counter--;
                        timer();
                    }
                }, 1000);
            }

            function next() {
                b.val('@resMember.btnGetVerificationCode');
                //whatever happens afterwards
            }


</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("WalletSendMethod", "MemberWallet", FormMethod.Post, new { enctype = "multipart/form-data", name = "WalletSend", id = "__RequestVerificationToken" })) //this id very important to do HttpPost
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="modal fade" id="confirmApproveDialog" title="message title" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center" align="center">
                <div class="modal-header" style="height: 70px">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4>@resMember.lblConfirmation</h4>
                </div>
                <div class="modal-body">
                    <p><b>Confirm To Send</b></p>
                    @*@resAdminHome.WarningRegister*@
                </div>
                <div class="modal-footer">
                    <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                            style="width: 100px;" aria-hidden="true">
                        Yes
                    </button>
                    <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                            style="width: 100px; padding-left: 10px" aria-hidden="true">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal fade" id="ReceiveVerificationCodeMethod" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px">
            <div class="modal-content" style="text-align: center" align="center">
                <div class="modal-header" style="height: 70px">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4>@resMember.lblReceiveMethod</h4>
                </div>

                <div class="modal-body">
                    <center>
                        <button type="button" id="btnMobileDeliver" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                            @resMember.lblPhoneMethod
                        </button>
                        <button type="button" id="btnEmailDeliver" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                            @resMember.lblEmailMethod
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>*@


    <div id="main-content">
        <div class="row">
            <div class="col-lg-2 col-md-offset-0  col-sm-offset-0"></div>
            <div class="col-lg-8 col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resMember.mnuWalletSend</h3>
                    </div>
                    <form class="form-horizontal">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@resMember.lblUNSQuantity</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Wallet, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@resMember.lblSendWalletAddress</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.WalletAddress, new { @class = "form-control", @ID = "WalletAddress" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@resMember.lblSendOutQty</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @ID = "Amount" })
                                </div>
                            </div>

                            @*<div class="form-group">
            <label class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="col-sm-3">
                <input class="btn btn-success"  data-toggle="modal" data-target="#ReceiveVerificationCodeMethod" style="font-size:small" type="button" value="@resMember.btnGetVerificationCode" id="getmsalt" data-delay="120"> </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">code</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.VerificationCode, new { @class = "form-control", @ID = "VerificationCode" })
            </div>
        </div>*@
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@resMember.lblRemark</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", @ID = "Remark" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@resMember.lblTransactionPassword</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(model => model.PIN, new { @class = "form-control", @ID = "PIN" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@resMember.lblReminder3</label>
                                <div class="col-sm-9 control-label">
                                    <span style="color: #FFF">@resMember.lblReminder2</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <span style="color: #FFF">@resMember.WarningPerformRealnameCertification</span>&nbsp;&nbsp;&nbsp;
                            @if (Model.CanTransfer != "1")
                            {
                                <button id="btnSave" type="button" class="btn btn-lm btn-theme" style="width: 150px" data-toggle="modal" data-target="#confirmApproveDialog">@resMember.btnConfirmSend</button>
                            }
                            else
                            {
                                <button id="btnSave" type="button" disabled class="btn btn-lm btn-theme" style="width: 150px" data-toggle="modal" data-target="#confirmApproveDialog">@resMember.btnConfirmSend</button>
                            }


                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-offset-0 col-sm-offset-0"></div>
        </div>
    </div>
}

