﻿@model ECFBase.Models.HashWalletModel
@using resShared = ECFBase.Resources.Member;

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/MemberWallet/WalletForce",
            data: { selectedPage: page, Type: $(document.getElementById("Type")).val() },
            success: function (data) {
                $("#page-content").html(data);
                $("#responsiveToggle").click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    $("#btnOut").click(function (evt) {
        $('#Loading').show();
        var type = "OUT";
        $.ajax({
            type: "POST",
            url: "/MemberWallet/WalletForce",
            data: { type: type },
            success: function (data) {
                $("#page-content").html(data);
                $("#responsiveToggle").click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    $("#btnIn").click(function (evt) {
        $('#Loading').show();
        var type = "IN";
        $.ajax({
            type: "POST",
            url: "/MemberWallet/WalletForce",
            data: { type: type },
            success: function (data) {
                $("#page-content").html(data);
                $("#responsiveToggle").click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

        
  
</script>

<div id="page-content">
    @Html.HiddenFor(m=>Model.UnionType , new { @ID="Type"})
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@resShared.mnuWalletForce</h3>
            </div>
            <div class="panel-body">
                <div class="pad-btm form-inline">
                    <div class="row" align="right">

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lm btn-pink" id="btnOut" style="min-width:50px">@resShared.lblOut</button>
                            <button type="button" class="btn btn-lm btn-success" id="btnIn" style="min-width:50px">@resShared.lblIn</button>
                        </div>
                        <br/>
                        @*<div class="col-sm-6 table-toolbar-right">
                            <div class="form-group">
                                <input autocomplete="off" name="content" class="form-control" placeholder="@resShared.lblPleaseEnterContent" id="demo-input-search2" type="text">
                            </div>
                            <br />
                            <div class="btn-group" style="padding-top:10px">
                                <input value="@resShared.btnInquiry" class="btn btn-theme btn-success" type="submit">
                            </div>
                        </div>*@

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                @*<th>@resShared.lblSerialNumber</th>*@
                                <th class="text-center">@resShared.lbltime</th>
                                <th class="text-center">@resShared.lblType</th>
                                <th class="text-center">@resShared.lblNumber</th>
                                <th class="text-center">@resShared.lblUNSType</th>
                                <th class="text-center">@resShared.lblRemarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WalletLogList)
                            {
                                <tr align="center">
                                    @*<td>@Html.DisplayFor(modelItem => item.Number)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CashIN)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UnionType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Remarks)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.WalletLogList.Count != 0)
                    {
                        <table style="text-align:right; margin-right:0px; margin-left:auto;">
                            <tr>
                                <td style="text-align: right">
                                    <div class="BtnClass" style="float: right;">
                                        @if (Model.Pages != null)
                                        {
                                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                                        }
                                    </div>
                                </td>
                                <td>
                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                                </td>
                            </tr>
                        </table>
                        <br />
                    }
                </div>
                </div>
            </div>
        <div class="pagination"></div>
    </div>
</div>

