﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member
@model SignUpModel
@{
    ViewBag.Title = "GetVerificationCode";
}

<h2>GetVerificationCode</h2>

@Html.HiddenFor(m => @Model.Email)
@Html.HiddenFor(m => @Model.Phone)

<div class="bootbox-body">
    <div class="">
        <div class="col-md-12">
            <form class="">
                <div class="" style="margin-top: 15px;margin-left: 50px;width: auto display: -webkit-box;display: -ms-flexbox;display: -webkit-flex; display: flex; justify-content: center;align-items: center;">
                    <div style="flex:1;">
                        <b><font color="#6495ed">手机发送/令牌：</font></b>
                        <input id="id1" name="type" value="1" onclick="checkSend(1)" style="vertical-align: top" type="radio">
                    </div>

                    <div style="flex:1;">
                        <b><font color="#ff7f50">邮件发送：</font></b>
                        <input id="id1" name="type" value="2" onclick="checkSend(2)" style="vertical-align: top" type="radio">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <div class="form-block"> </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>