﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member
@model SignUpModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@resShared.lblYiCommm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Login_files/bootstrap.css" rel="stylesheet" />

    <link href="../../Scripts/jquery.ui.dialog.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/popbox.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/popbox.min.js" type="text/javascript"></script>
    <script src="../../Scripts/popbox.js" type="text/javascript"></script>
    <link href="../../Scripts/JQueryUI/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/JQueryUI/jquery-ui.js" type="text/javascript"></script>
    <link href="~/Content/Login_files/signin.css" rel="stylesheet" />
    <link href="~/Content/Login_files/signup.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/Login_files/jquery.js"></script>
    @*<script type="text/javascript" src="~/Content/Login_files/bootstrap.js"></script>*@
    <script type="text/javascript" src="~/Content/Login_files/jquery_002.js"></script>

    <style>
        .form-group {
            width: 45%;
            float: left;
            margin-right: 5%;
        }

        .form-control_1 {
            display: block;
            width: 40%;
            float: left;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-control_2 {
            display: block;
            width: 60%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>

    <style type="text/css">
        #waf_nc_block {
            position: fixed;
            _position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
        }

        .waf-nc-mask {
            background: #f8f8f8;
            opacity: 0.5;
            filter: alpha(opacity=50);
            width: 100%;
            height: 100%;
        }

        .waf-nc-wrapper {
            width: 480px;
            height: 254px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -127px;
            margin-left: -240px;
            margin-bottom: 16px;
            background: #ffffff;
            border: 3px solid #00A2CA;
        }

        .waf-nc-icon {
            position: absolute;
            top: 18px;
            left: 20px;
        }

        .waf-nc-title {
            margin-top: 23px;
            margin-left: 47px;
            font-size: 16px;
            color: #333333;
            line-height: 10px;
            text-align: left;
        }

        .waf-nc-splitter {
            margin-left: 26px;
            margin-top: 5px;
            width: 430px;
            height: 0px;
            border: 1px solid #f4f4f4;
        }

        .waf-nc-description {
            margin-top: 22px;
            margin-left: 23px;
            font-size: 12px;
            color: #333333;
            text-align: left;
        }

        #nocaptcha {
            margin-top: 20px;
            margin-left: 92px;
            width: 300px;
            height: 36px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#btnRegister").click(function (evt) {
                $('#Loading').show();


                $.ajax({
                    type: "POST",
                    url: "/NewUser/SignUpMethod",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        $('#Loading').hide();
                        alert("@resShared.msgRegMemberSucceed2")
                        window.location.href = "/Member/Home";
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            });

            @*$("#btnRegister").click(function (evt) {
                $('#Loading').show();
                var t = $(document.getElementById("username")).val();
                if (t.match(/[\u4E00-\u9FFF\u3400-\u4DFF\uF900-\uFAFF]+/g)) {
                    alert('@resShared.warningNotAllowChineseCharacter');
                }
                else if (t.match(/[.*+?^${}()|[\]\\]/g))
                {
                    alert('@resShared.warningNotAllowSymbolCharacter');
                }
                else {
                $.ajax({
                    type: "POST",
                    url: "/NewUser/SignUpMethod",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        $('#Loading').hide();
                        alert("@resShared.msgRegMemberSucceed2")
                        window.location.href = "/Member/Home";
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                    });
                }
            });*@

            $("#btnRefreshCaptcha").click(function (evt) {
                $(document.getElementById("Captcha")).val("");

                rand = Math.random();
                $("#btnRefreshCaptcha").css('src', 0);
                $("#btnRefreshCaptcha").attr("src", "@Url.Action("../AdminLogin/CaptchaImage")?randomnumber" + rand);
            });

            $("#btnLoginPage").click(function (event) {
                location.href = "/Member/MemberLogin";
            });


            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }


            function blockSpecialChar(e) {
                var k;
                document.all ? k = e.keyCode : k = e.which;
                return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
            }
            $("#Email").focusout(function (e) {
                $.ajax({
                    url: "/MemberLogin/CheckEmail",
                    type: "POST",
                    data: { Email: $(document.getElementById("Email")).val() },
                    success: function (data) {
                        if (data == false) {
                            alert("@resShared.msgEmailInvalid");
                            return false;
                        }
                    }
                });
            });


            $("#Country").change(function (e) {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/findMobileCode",
                    data: { selectedcountry: $(document.getElementById("Country")).val() },
                    success: function (data) {
                        document.getElementById('mobileCntCode').value = data;
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);

                    }
                });
            });

            $("#Sponsor").focusout(function (e) {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/findSponsor",
                    data: { memberID: $(document.getElementById("Sponsor")).val() },
                    success: function (data) {
                        document.getElementById('SponsorName').value = data;
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);

                    }
                });
            });

            $("#referee").focusout(function (e) {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/findSponsor",
                    data: { memberID: $(document.getElementById("referee")).val() },
                    success: function (data) {
                        document.getElementById('SponsorName').value = data;
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);

                    }
                });
            });

            $("#username").focusout(function (e) {
                var t = $(document.getElementById("username")).val();
                if (t.match(/\s/g)) {
                    alert("@resShared.warningNotAllowSpacing")
                }
                if (t.toString().length < 6) {
                    var msg = "@resShared.WarningUsernameSixChar";
                    alert(msg);
                }
                if ($(this).val().match(/[\u4E00-\u9FFF\u3400-\u4DFF\uF900-\uFAFF]+/g)) {
                    alert('Not allow chinese character!');
                }
                if ($(this).val().match(/[.*+;?^${}()|[\]\\]/g)) {
                    alert('Not allow symbol character!');
                }
               
            });

            $("#Phone").focusout(function (e) {
                var t = $(document.getElementById("Phone")).val();
                if (t.match("([a-z][A-Z]*)")) {
                    alert("@resShared.warningPhoneNotAllowChar")
                }
            });


            $("#lanEN").click(function (evt) {
                $('#Loading').show();
                var cId = "en-US";
                $.ajax({
                    type: "POST",
                    url: "/Member/ChangeLanguage",
                    data: { languageCode: cId },
                    success: function (data) {
                        //refresh page.
                        location.reload();
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        //refresh page.
                        location.reload();
                    }
                });
            });

            $("#lanCN").click(function (evt) {
                $('#Loading').show();
                var cId = "zh-CN";
                $.ajax({
                    type: "POST",
                    url: "/Member/ChangeLanguage",
                    data: { languageCode: cId },
                    success: function (data) {
                        //refresh page.
                        location.reload();
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        //refresh page.
                        location.reload();
                    }
                });
            });

            $("#btnMobileDeliver").click(function (evt) {
                MobileDeliver();
                $("[class *= 'modal-backdrop']").hide();
            });

            function MobileDeliver() {
                $.ajax({
                    type: "POST",
                    url: "/NewUser/MobileDeliver",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        timer();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            };

            $("#btnEmailDeliver").click(function (evt) {
                EmailDeliver();
                $("[class *= 'modal-backdrop']").hide();
            });

            function EmailDeliver() {
                $.ajax({
                    type: "POST",
                    url: "/NewUser/EmailDeliver",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        timer();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            };




            var b = $('#getmsalt');
            var text = b.attr('value');
            var counter = b.attr('data-delay');

            //$('#getmsalt').click(function () {
            //    timer();
            //});

            function timer() {
                $('#getmsalt').attr('disabled', 'disabled');
                setTimeout(function () {
                    b.val(text + ' ' + counter);
                    if (counter == 0) {
                        next();
                        $('#getmsalt').removeAttr('disabled');
                        counter = 60;
                    }
                    else {
                        counter--;
                        timer();
                    }
                }, 1000);
            }

            function next() {
                b.val('@resShared.btnGetVerificationCode');
                //whatever happens afterwards
            }

        });
    </script>
</head>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("SignUpMethod", "MemberLogin", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
{

<div class="modal fade" id="ReceiveVerificationCodeMethod" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4>@resShared.lblReceiveMethod</h4>
            </div>
            
            <div class="modal-body">
                <center>
                    <button type="button" id="btnMobileDeliver" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblPhoneMethod
                    </button>
                    <button type="button" id="btnEmailDeliver" class="btn btn-info" data-dismiss="modal" style="width: 49%;"  aria-hidden="true">
                        @resShared.lblEmailMethod
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<body>
    
    <div class="container">
            <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <center>
                            <font color="red"><img src="@ViewBag.Logo" width="200" height="180" alt="UnionChain"></font>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box">
                        <form>
                            <div class="form-group pull-right">
                                <a href="#" id="lanCN"><img src="~/Content/Login_files/zh_cn.png" title="Simplified Chinese"></a>&nbsp;
                                <a href="#" id="lanEN"><img src="~/Content/Login_files/us.png" title="USA" width="24" height="23"></a>&nbsp;
                            </div>
                            <div class="form-group pull-right">
                                <p class="text-main text-bold">@resShared.lblSwitchLanguage</p>
                            </div>
                            <div class="form-group" style="width: 312px">
                                <label for="inputUsername" id="reg_1">@resShared.lblMemberAccount</label>
                                @Html.TextBoxFor(m => @Model.Username, new { id = "username", @maxlength = "20", @class = "form-control", @onkeypress = "blockSpecialChar(event)", style = "height:40px; border-radius:0" })

                            </div>
                            <div class="form-group" style="width: 312px">
                                <label for="inputTruename" id="reg_5">@resShared.lblFullNamePerIc</label>
                                @Html.TextBoxFor(m => @Model.FullName, new { id = "truename", @class = "form-control", style = "height:40px; border-radius:0" })
                            </div>

                            @if (string.IsNullOrEmpty(Model.IntroName))
                            {
                                <div class="form-group" style="width: 312px">
                                    <label for="inpuTreferee" id="reg_3">@resShared.lblRecommendedMember</label>
                                    @Html.TextBoxFor(m => @Model.IntroName, new { id = "referee", @class = "form-control", style = "height:40px; border-radius:0" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group" style="width: 312px">
                                    <label for="inpuTreferee" id="reg_3">@resShared.lblRecommendedMember</label>
                                    @Html.TextBoxFor(m => @Model.IntroName, new { @class = "form-control", @disabled = "disabled", style = "height:40px; border-radius:0" })
                                    @Html.HiddenFor(m => @Model.IntroName, new { id = "referee" })


                                </div>
                            }
                            <div class="form-group" style="width: 312px">
                                <label for="input_referee" id="reg_8">@resShared.lblContactMember</label>
                                @Html.TextBoxFor(m => @Model.SponsorName, new { id = "Sponsor", @class = "form-control", style = "height:40px; border-radius:0" })
                            </div>

                            <div class="form-group" style="width: 312px">
                                <label for="input_referee" id="reg_8">@resShared.lblRegisteredLocation</label>
                                @Html.DropDownListFor(m => @Model.SelectedPosition, @Model.PositionList, new { @class = "form-control", style = "height:40px; border-radius:0" })
                            </div>

                            <div class="form-group" style="width: 312px">
                                <label for="inputPassword" id="reg_2">@resShared.lblLoginPassword</label>
                                @Html.TextBoxFor(m => @Model.Password, new { id = "password", @class = "form-control", @type = "password", style = "height:40px; border-radius:0" })
                            </div>
                            <div class="form-group" style="width: 312px">
                                <label for="inputrepass" id="reg_6">@resShared.lblPayPassword</label>
                                @Html.TextBoxFor(m => @Model.PayPassword, new { id = "repass", @class = "form-control", @type = "password", style = "height:40px; border-radius:0" })
                            </div>
                            <div class="form-group">
                                <label for="inputcaptcha" id="reg_9">@resShared.lblImageVerificationCode</label>
                                @Html.TextBoxFor(m => @Model.Captcha, new { id = "txtCaptcha", @class = "form-control", style = "height:40px; border-radius:0" })
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">&nbsp;</label>
                                <br>
                                <img src="@Url.Action("../AdminLogin/CaptchaImage")" id="btnRefreshCaptcha" height="40px" width="120px" title="换一张" class="captcha captcha-img verify_img" style="cursor: pointer;">
                                <input name="_captcha_id" value="" type="hidden">
                            </div>
                            <div class="form-group" style="width: 312px">
                                <label for="inputrepass" id="reg_6">@resShared.lblCountry</label>
                                @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "Country", @class = "form-control", @onchange = "return findMobileCode(event)", style = "height:40px; border-radius:0" })
                            </div>
                            <div class="form-group">
                                <label for="inputphone_type" id="reg_10">@resShared.lblPhoneNumber</label>
                                <div>
                                    @Html.TextBoxFor(m => @Model.MobileCountryCode, new { @id = "mobileCntCode", @class = "form-control col-md-12", @readonly = "readonly", @style = "display:inline;height:40px; border-radius:0" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUserphone">&nbsp;</label>
                                <div>
                                    @Html.TextBoxFor(m => @Model.Phone, new { id = "Phone", @class = "form-control col-md-12", @onkeypress = "return isNumber(event)", style = "height:40px; border-radius:0" })
                                </div>
                            </div>
                            <div class="form-group" style="width: 312px">
                                <label for="inputUserphone">@resShared.lblMailbox</label>
                                <div>
                                    @Html.TextBoxFor(m => @Model.Email, new { id = "Email", @class = "form-control", style = "height:40px; border-radius:0" })
                                </div>
                            </div>
                            @*<div class="form-group">
            <label for="inputmsalt">@resShared.lblVeriCode</label>
            @Html.TextBoxFor(m => @Model.VerficationCode, new { id = "VerficationCode", @class = "form-control", style = "height:40px; border-radius:0" })
        </div>
        <div class="form-group">
            <label for="inputPassword">&nbsp;</label>
            <br>
            <div class="clock"></div>
            <input class="btn btn-success" data-toggle="modal" data-target="#ReceiveVerificationCodeMethod" style="font-size:small" type="button" value="@resShared.btnGetVerificationCode" id="getmsalt" data-delay="120"> </input>
        </div>*@




                            <div class="form-group">
                                <button class="btn btn-block col-md-12" type="button" id="btnLoginPage" style="height:40px;width:140px;background-color:#2B244E; color:white">
                                    @resShared.btnBackToLogin
                                </button>
                            </div>
                            <div >
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-block col-md-12" type="button" id="btnRegister" style="height:40px;width:140px;background-color:#2B244E; color:white">
                                        @resShared.btnRegister
                                    </button>

                                </div>


                        </form>
                        <div class="row-block">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div style="text-align:center;margin:0 auto;">
                <h6 style="color:#fff;">@resShared.lblCopyRight</h6>
            </div>
        </div>
    </div>

    <script src="~/Content/Login_files/bootbox.js"></script>
    <script src="~/Content/Login_files/bootstrap.js"></script>
    <div id="waf_nc_block" style="display: none;">
        <div class="waf-nc-mask"></div>
        <div id="WAF_NC_WRAPPER" class="waf-nc-wrapper">
            <img class="waf-nc-icon" src="~/Content/Login_files/TB1_3FrKVXXXXbdXXXXXXXXXXXX-129-128.png" alt="" width="20" height="20">
            <p class="waf-nc-title">安全验证</p>
            <div class="waf-nc-splitter"></div>
            <p class="waf-nc-description">请完成以下验证后继续操作：</p>
            <div id="nocaptcha"></div>
        </div>
    </div>


</body>

}
</html>