/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    /*background-image: url('../../Images/main.jpg');*/
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.field-validation-error
{
    color:Red;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
    cursor:pointer;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        height: 750px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-image: url('../../Images/Member/memberbackground.jpg');
    }

    .side-nav>li>a {
        width: 205px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #428BCA !important;
        cursor:pointer;
    }
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 100;
}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #91CDE9;
}

.side-nav>li>ul>li>a:hover {
    color: #91CDE9;
}

.side-nav>li>ul>li>ul>li>a {
    color: #91CDE9;
    margin-left:20px;
}

.side-nav>li>ul>li>ul>li>a:hover {
    cursor:pointer;
    color:#91CDE9;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 16px;
}

.panel-green {
    border-color: Transparent;
}

.panel-green .panel-heading {
    border-color: #92D050;
    color: #fff;
    background-color: #92D050;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: Transparent;
}

.panel-red .panel-heading {
    border-color: #FF0000;
    color: #fff;
    background-color: #FF0000;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-purple {
    border-color: Transparent;
}

.panel-purple .panel-heading {
    border-color: #9966FF;
    color: #fff;
    background-color: #9966FF;
}

.panel-purple a {
    color: #9966FF;
}

.panel-purple a:hover {
    color: #A626AB;
}

.panel-orange {
    border-color: Transparent;
}

.panel-orange .panel-heading {
    border-color: #F5B087;
    color: #fff;
    background-color: #F5B087;
}

.panel-orange a {
    color: #F5B087;
}

.panel-orange a:hover {
    color: #F5B087;
}
.panel-yellow {
    border-color: Transparent;
}

.panel-yellow .panel-heading {
    border-color: #DF0101;
    color: #fff;
    background-color: #DF0101;
}

.panel-yellow a {
    color: #DF0101;
}

.panel-yellow a:hover {
    color: #DF0101;
}




        .Button1, .Button1:link, .Button1:visited
        {
            background-image: url('/Images/wpimages/wp3fa7ed89_06.png');
            background-position: 0px -42px;
            text-decoration: none;
            display: block;
            position: absolute;
        }
        .Button1:focus
        {
            outline-style: none;
        }
        .Button1:hover
        {
            background-position: 0px -84px;
        }
        .Button1 span, .Button1:link span, .Button1:visited span
        {
            color: #ffffff;
            font-family: Georgia,serif;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            text-transform: none;
            font-style: normal;
            left: 0px;
            top: 5px;
            width: 81px;
            height: 16px;
            font-size: 13px;
            display: block;
            position: absolute;
            cursor: pointer;
        }
        .Button1:hover span
        {
            top: 7px;
        }
        .Button2, .Button2:link, .Button2:visited
        {
            background-image: url('/Images/wpimages/wp11aaee7d_06.png');
            background-position: 0px 0px;
            text-decoration: none;
            display: block;
            position: absolute;
        }
        .Button2:focus
        {
            outline-style: none;
        }
        .Button2:hover
        {
            background-position: 0px -84px;
        }
        .Button2:active
        {
            background-position: 0px -42px;
        }
        .Button2 span, .Button2:link span, .Button2:visited span
        {
            color: #ffffff;
            font-family: Georgia,serif;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            text-transform: none;
            font-style: normal;
            left: 0px;
            top: 18px;
            width: 81px;
            height: 16px;
            font-size: 13px;
            display: block;
            position: absolute;
            cursor: pointer;
        }
        .Button2:hover span
        {
            top: 7px;
        }
        .Button2:active span
        {
            top: 5px;
        }
        .Button3, .Button3:link, .Button3:visited
        {
            background-image: url('/Images/wpimages/wp3fa7ed89_06.png');
            background-position: 0px 0px;
            text-decoration: none;
            display: block;
            position: absolute;
        }
        .Button3:focus
        {
            outline-style: none;
        }
        .Button3:hover
        {
            background-position: 0px -84px;
        }
        .Button3:active
        {
            background-position: 0px -42px;
        }
        .Button3 span, .Button3:link span, .Button3:visited span
        {
            color: #ffffff;
            font-family: Georgia,serif;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            text-transform: none;
            font-style: normal;
            left: 0px;
            top: 18px;
            width: 81px;
            height: 16px;
            font-size: 13px;
            display: block;
            position: absolute;
            cursor: pointer;
        }
        .Button3:hover span
        {
            top: 7px;
        }
        .Button3:active span
        {
            top: 5px;
        }
        #upload_failtype
        {
            display: none;
            color: Red;
        }
        