
@media (max-width:1100px) {
	
	.top-area .box-header{ font-size:14px; }
	
	.main-banner-area { width:500px;}
}

@media (max-width:991px) {	
	.col-md-rotate {
		 -ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
	}
	
}

@media (max-width: 900px) {
	div.orgChart {
		overflow-x: auto;
	}
}

@media (max-width:767px) {
	.leftbar-sign-out { visibility:visible;}
	.side-bar-right-logout { visiblity:hidden;display:none; }
	
	.main-box-area, 

	.main-banner-area {
		position:relative;
		display:inline-block;
		width:100%;
		text-align:center;
	}
	.inner-fluid-container { display:block; }
	.top-area .box-header{ font-size:18px; }
	
	.main-box {display:block;}
	.chart-area {padding-left:0;}
	#accordion_where-to-buy-sell-and-open-a-bitcoin-wallet tr { border-bottom: 1px solid rgba(0,0,0,0.25); }
	#accordion_where-to-buy-sell-and-open-a-bitcoin-wallet td { width:50% !Important;  }
		

}


.ui-dialog {
	background-color:#505050 !Important;
	padding : 0 !Important;
}
.ui-widget.ui-widget-content {
	border: 1px solid #505050 !Important;
	border-radius: 6px;
}
.ui-widget-header { padding:12px 12px !Important; background-color: #404040 !Important; color:#fff !Important; border : 0 !Important; border-bottom:1px solid #fff !Important;}
		
@media (max-width: 600px){
	.diagramDiv { height:400px;}
}
