﻿@using resAdminHome  = ECFBase.Resources.Member;
@using resShared = Resources.Member
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Generator" content="Serif WebPlus X6 (14.0.0.020)">
    <meta name="viewport" content="width=328">
    <title>Welcome</title>
    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.timers.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.wpgallery.js"></script>
     <style type="text/css">
        body
        {
            margin: 0;
            padding: 0;
        }
       .Body-P
        {
            margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
        }
        .Body-C
        {
            font-family:"Aharoni", serif; font-weight:700; color:#000000; font-size:16.0px; line-height:1.00em;
        }
        .Button1,.Button1:link,.Button1:visited
        {
        	background-image:url('/Images/wpimages/wp3f6a5e0f_06.png');
        	background-position:0px 0px;
        	text-decoration:none;
        	display:inline-block;
        	background-color:transparent;
        	border:none 0px;
        	padding:0;
         }
         
        .Button1:focus
        {
        	outline-style:none;
        }
        .Button1:hover
        {
        	background-position:0px -82px;
        }
        .Button1:active
        {
        	background-position:0px -41px;
        }
        .Button1 span,.Button1:link span,.Button1:visited span
        {
        	color:#ffffff;
        	font-family:Arial,sans-serif;
        	font-weight:normal;
        	text-decoration:none;
        	text-align:center;
        	text-transform:none;
        	font-style:normal;
        	left:5px;
        	top:11px;
        	width:113px;
        	height:20px;
        	font-size:16px;
        	display:block;
        	position:absolute;
        	cursor:pointer;
        }
        .Button1:hover span
        {
        	height:21px;
        }
        .Button1:active span
        {
        	height:21px;
        }
        .Button2,.Button2:link,.Button2:visited
        {
        	background-image:url('/Images/wpimages/wp3f6a5e0f_06.png');
        	background-position:0px 0px;
        	text-decoration:none;
        	display:block;
        	position:absolute;
        }
        .Button2:focus
        {
        	outline-style:none;
        }
        .Button2:hover
        {
        	background-position:0px -82px;
        }
        .Button2:active
        {
        	background-position:0px -41px;
        }
        .Button2 span,.Button2:link span,.Button2:visited span
        {
        	color:#ffffff;
        	font-family:Arial,sans-serif;
        	font-weight:normal;
        	text-decoration:none;
        	text-align:center;
        	text-transform:none;
        	font-style:normal;
        	left:5px;
        	top:11px;
        	width:113px;
        	height:20px;
        	font-size:16px;
        	display:block;
        	position:absolute;
        	cursor:pointer;
        }
        .Button2:hover span
        {
        	height:21px;
        	}
        .Button2:active span
        {
        	height:21px;
        }
    </style>
    <style type="text/css">
        body
        {
            margin: 0;
            padding: 0;
        }
        .Body-P
        {
            margin: 0.0px 0.0px 12.0px 0.0px;
            text-align: left;
            font-weight: 400;
        }
        .Body-C
        {
            font-family: "Aharoni" , serif;
            font-weight: 700;
            color: #000000;
            font-size: 16.0px;
            line-height: 1.00em;
        }
    </style>
</head>
<script type="text/javascript">

    if ('@ViewBag.ReloadPage' == 'Y') {
        location.href = "/Admin/AdminLogin";
    }

    function calculateBgX(oElement) {
        return document.body.scrollLeft - getOffsetLeft(oElement);
    }
    function calculateBgY(oElement) {
        return document.body.scrollTop - getOffsetTop(oElement);
    }

    function getOffsetTop(oElement) {
        var iResult = oElement.offsetTop;
        while (oElement.offsetParent) {
            oElement = oElement.offsetParent;
            iResult += oElement.offsetTop;
        }
        return iResult;
    }
    function getOffsetLeft(oElement) {
        var iResult = oElement.offsetLeft;
        while (oElement.offsetParent) {
            oElement = oElement.offsetParent;
            iResult += oElement.offsetLeft;
        }
        return iResult;
    }

    $(document).ready(function () {

        $("#txtUserName").focus();

        function login() {
            // ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminLogin/ValidateLogin",
                data: { userName: $('#txtUserName').val(), password: $('#txtPassword').val(), captcha: $('#txtCaptcha').val() },
                success: function (data) {
                    window.location.href = "/User/Home";
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                    return false;
                }
            });
        }

        $("#btnAdminLogin").click(function (evt) {
            alert("F");
            login();
        });

        $("#txtUserName").keypress(function (e) {
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
                login();
        });

        $("#txtPassword").keypress(function (e) {
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
                login();
        });

        $("#txtCaptcha").keypress(function (e) {
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
                login();
        });

        $("#LanEn").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'en-US' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });

        $("#LanCH").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'zh-cn' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });

        $("#LanCH2").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'zh-tw' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });
    });

    function ShowProgressAnimation() {
        var pleaseWaitDialog = $("#ajaxloading").dialog(
            {
                resizable: false,
                height: 'auto',
                width: 'auto',
                modal: true,
                closeText: '',
                bgiframe: true,
                closeOnEscape: false,
                id: 'ajaxloading',
                open: function (event, ui) {
                    $(this).parent().appendTo($("fixed"));
                    $('body').css('overflow', 'auto'); //IE scrollbar fix for long checklist templates 
                    $(".ui-dialog-titlebar-close").hide();
                    $(".ui-dialog-titlebar").hide();
                }
            });
    }

</script>
<body>
    <div id="ajaxloading" style="text-align: center; background-color: #D8D8D8; padding: 25px;
        display: none;">
        <h2>@Html.Image("loading", "~/Images/pleaseWait.gif", "loading", 0, 0, 0)</h2>
    </div>
    <div style="background-color: transparent; margin-left: auto; margin-right: auto; position: relative; width: 1006px; height: 655px;">    
       <div id="wp_gallery_pg_1" style="position:absolute; z-index:-9999; left:0px; top:0px; width:1006px; height:655px; overflow:hidden;">
            <img title="" style="left: 0px; top: 0px; width: 1006px; height: 655px; position: absolute;"
                src="/Images/wpimages/d7423e6d3588.jpg">
        </div>
        <div style="background-color: transparent; margin-left: auto; margin-right: auto;
            position: absolute; left: 639px; top: 260px; width: 328px; height: 353px;">
            <form style="margin: 0; position: absolute; left: 7px; top: 6px; width: 307px; height: 347px;">
            <img src="/Images/wpimages/wp7b585eab.gif" border="0" width="307" height="128" alt=""
                style="position: absolute; left: 0px; top: -6px;" />
            </form>
            <div style="position: absolute; left: 0px; top: 0px; width: 325px; height: 350px;
                background: transparent url('/Images/wpimages/wp2d7f4504_06.png') no-repeat  left;">
                <img src="/Images/wpimages/wp7b585eab.gif" border="0" width="307" height="128" alt=""
                    style="position: absolute; left: 7px; top: 0px;" />
                <div style="position: absolute; left: 78px; top: 130px; width: 151px; height: 22px;">
                    <label style="text-align: center; width: auto; height: 10px; margin-top: 0px">
                        <a style="color: blue; font-weight: bold;" id="LanEn">English</a> / <a style="color: blue;
                            font-weight: bold;" id="LanCH">简体字</a> / <a style="color: blue; font-weight: bold;"
                                id="LanCH2">繁体字</a>
                    </label>
                </div>
                <div style="position: absolute; left: 28px; top: 204px; width: 101px; height: 22px;
                    overflow: hidden;">
                    <p class="Body-P">
                        <span class="Body-C">@resShared.lblPassword</span></p>
                </div>
                <div style="position: absolute; left: 28px; top: 170px; width: 101px; height: 22px;
                    overflow: hidden;">
                    <p class="Body-P">
                        <span class="Body-C">@resAdminHome.lblUsername</span></p>
                </div>
                <input type="text" id="txtUserName" value="" placeholder="@resAdminHome.lblUsername" style="position: absolute; left: 128px;
                    top: 161px; width: 168px;" />
                <input type="password" id="txtPassword" value="" placeholder="@resShared.lblPassword" size="1" style="position: absolute; left: 128px;
                    top: 195px; width: 168px; height: 15px;" />
                <a id="btnAdminLogin" class="Button2" style="position: absolute; left: 105px; top: 310px;
                    width: 124px; height: 41px;"><span>@resShared.btnLogin</span></a>
                <div style="position: absolute; left: 67px; top: 226px; width: 190px; height: 69px;">
                    <input type="text" id="txtCaptcha" size="20" placeholder="Verification Code" style="position: absolute;
                        left: 0px; top: 54px; width: 178px;" />
                    <img alt="Captcha" src="@Url.Action("../AdminLogin/CaptchaImage")" style="position: absolute; left: 0px; top: 5px; width: 190px; height: 50px;" />
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
