﻿@using ECFBase.Models;
@using resShared = ECFBase.Resources.Member;
@model PaginationMemberShareModel
<script src="~/Content/Admin/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/Admin/assets/plugins/datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/Admin/assets/plugins/datepicker/datepicker.min.css" rel="stylesheet" />
<script type="text/javascript">
    $("#btnPage2").click(function (evt) {
        $("#btnPage").click();
    });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page;
        if (e.selectedIndex == -1)
            page = 1;
        else
            page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberShare/HashPowerBonusList",
            data: { selectedPage: page, startdate: $(document.getElementById("startDate")).val(), enddate: $(document.getElementById("endDate")).val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(function () {

        $("#startDate").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
        });
    });

    $(function () {

        $("#endDate").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
        });
    });

</script>
<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">@resShared.mnuHashPowerSummary</h3>
        </div>
        <div>
            <div class="grid" style="margin-left: 5px;" id="grid">
                <div class="grid">
                    <table align="center">
                        <tr>
                            <td>  <strong>@resShared.lblDateFrom : </strong></td>
                            <td>  <input type="text" id="startDate" style="color:black"></td>
                        </tr>
                        <tr>
                            <td> <strong>@resShared.lblTo : </strong></td>
                            <td> <input type="text" id="endDate" style="color:black"></td>
                        </tr>
                    </table>

                    <br />
                    <div class="row" align="center">

                        <div class="btn-group">
                            <button id="btnPage2" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                        </div>

                    </div>
                    @*<div class="row" align="left">

                        <div class="btn-group">
                            <a href="@Url.Action("ExportHashBonus", "MemberShare", new {type ="HashPower", username = @ViewBag.MemberID, selectedYear = @ViewBag.selectedYear, selectedMonth = @ViewBag.selectedMonth, Country = @Model.SelectedCountry})" target="_blank" style="width:100px;text-decoration:underline;padding-left:10px">@resShared.btnExport</a>
                        </div>

                    </div>*@
                    <br />
                    <div class="table-responsive">
                        <table id="tablestyle" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr style="background-color: #414558;">
                                    <th style="text-align: center;color:White">
                                        @resShared.lblDate
                                    </th>
                                    @*<th style="text-align: center;color:White">
                            @resShared.lblUsername
                        </th>*@
                                    <th style="text-align: center;color:White">
                                        @resShared.lblAmount
                                    </th>
                                    <th style="text-align: center;color:White">
                                        @resShared.lblRemark
                                    </th>
                                    <th style="text-align: center;color:White">
                                        @resShared.lblExtraInfo
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MemberHashPowerModel)
                                {
                                    <tr>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.SalesDate)
                                        </td>
                                        @*<td align="center">
                                @Html.DisplayFor(modelItem => item.MemberID)
                            </td>*@
                                        <td align="center">
                                            @string.Format("{0:n4}", item.SalesAmount)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.CashName)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.Remarks)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.Pages.Count() != 0)
                    {
                        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                            <tr>
                                <td style="text-align: right">
                                    <div class="BtnClass" style="float: right;">
                                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                                    </div>
                                </td>
                                <td style="text-align: right">
                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>

    </div>
</div>