﻿@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationWalletLogModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        var type = document.getElementById('wallettypeid').value
        window.location.href = "/MemberWallet/NextWalletTransactionSpecialRedirect?selectedPage=" + page + "&walletType=" + type + "&date=2013/01/01";
    });

    $("#cashname").change(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        var type = document.getElementById('wallettypeid').value
        $.ajax({
            type: "POST",
            url: "/MemberWallet/NextWalletTransaction",
            data: { selectedPage: -1, cashname: $(document.getElementById("cashname")).val(), walletType: type, date: "2013/01/01" },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>
<div id="MemberDiv">
    @Html.Hidden("wallettypeid", @Model.TypeOfWallet)
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <h2 style="padding-left:15px;">@resShared.mnuSharePointState</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuTradingMarket</a></li>
                <li class="active"><a href="#">@resShared.mnuSharePointState</a></li>
            </ol>
            <!-- End breadcrumb -->
            <div class="col-lg-12">
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <br />
    <div class="table-responsive">
        <table id="tablestyle" class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="background-color: #363949; color:White">
                    <th style="text-align: center; width:12.5%">
                        @resShared.lblTransDate
                    </th>
                    <th style="text-align: center; width:15%">
                        @resShared.lblRemark
                    </th>

                    <th style="text-align: center; width:10%">
                        @resShared.lblCashIn
                    </th>

                    @if (@Model.HideCashOut == false)
                    {
                        <th style="text-align: center; width:10%">
                            @resShared.lblCashOut
                        </th>
                    }

                    @if (@Model.HideWalletBalance == false)
                    {
                        <th style="text-align: center; width:10%">
                            @resShared.lblBalance
                        </th>
                    }
                    @if (@Model.HideAppUser == false)
                    {
                        <th style="text-align: center; width:12.5%">
                            @resShared.lblAppUser
                        </th>
                    }



                    <th style="text-align: center; width:30%">
                        @resShared.lblExtraInfo
                    </th>


                </tr>
            </thead>
            <tbody style="background-color: #eee;">
                @if (Model.WalletLogList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
                @if (Model.WalletLogList != null)
                {
                    foreach (var item in Model.WalletLogList)
                    {
                        string style = "";

                        <tr>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.CashName)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.CashIn)
                            </td>
                            @if (@Model.HideCashOut == false)
                            {
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.CashOut)
                                </td>
                            }
                            @if (@Model.HideWalletBalance == false)
                            {
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.Wallet)
                                </td>
                            }
                            @if (@Model.HideAppUser == false)
                            {
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.AppUser)
                                </td>
                            }
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.AppOther)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
        <tr>
            <td style="text-align: right">
                <div class="BtnClass" style="float: right;">
                    @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                </div>
            </td>
            <td>
                <button id="btnPage" type="button" class="btn btn-sm btn-default" style="width: 100px">@resShared.btnView</button>
            </td>
        </tr>
    </table>
</div>
