﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model UtilityModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">@Html.DisplayFor(m => Model.MemberID)</h4>
</div>

<div id="ModalBody" class="modal-body">
    <div class="panel" style="padding-left:20px">

        @Html.HiddenFor(M => M.BillID, new { id = "ID" })
        <div class="row">
            @resShared.lblMemberID : @Html.DisplayFor(M => M.MemberID)
        </div>
        <div class="row">
            @resShared.lblFullname : @Html.DisplayFor(M => M.MemberName)
        </div>
        <div class="row">
            @resShared.lblBillNumber : @Html.DisplayFor(M => M.BillAccount)
        </div>
        <div class="row">
            @resShared.lblAmountRM @Html.DisplayFor(M => M.BillAmount)
        </div>
        <div class="row">
            @resShared.lblUNSPrice : @Html.DisplayFor(M => M.UNSAmount)
        </div>
        <div class="row">
            @resShared.lblFees10 @Html.DisplayFor(M => M.Fees)
        </div>
        <div class="row">
            @resShared.lblUNSDeduct @Html.DisplayFor(M => M.TotalQP)
        </div> 
        <div class="row">
            @resShared.lblPaymentMadeOn : @Html.DisplayFor(M => M.CreatedDate)
        </div>
    </div>

</div>


