﻿
@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model UtilitySetupModel

@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
@*<link href="../../Content/jquery.ui.dialog.css" rel="stylesheet" type="text/css" />*@


<script type="text/javascript">
    $(document).ready(function () {
        $('#Loading').hide();
    });
        $("#btnPage").click(function (evt) {
            var e = document.getElementById("page")
            var page = e.options[e.selectedIndex].value;
            $.ajax({
                type: "POST",
                url: "/AdminWallet/UtilityBillListing",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#OkApproveBtn").click(function (evt) {
            Approve();
            $("[class *= 'modal-backdrop']").hide();
        });
        $("#RejectBtn").click(function (evt) {
            Reject();
            $("[class *= 'modal-backdrop']").hide();
        });

        function Testing(ID) {
            $.ajax({
                type: "POST",
                url: "/AdminWallet/UtilityBillByID",
                data: { ID: ID },
                success: function (data) {
                    $("#ModalBody").html(data);
                    $("#myModal").modal();

                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        };


        function Approve() {
            $.ajax({
                type: "POST",
                url: "/AdminWallet/ApproveUtilityBill",
                data: { ID: $(document.getElementById("ID")).val() },
                success: function (data) {
                    alert("Save Successful");
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        };

        function Reject() {
            $.ajax({
                type: "POST",
                url: "/AdminWallet/RejectUtilityBill",
                data: { ID: $(document.getElementById("ID")).val() },
                success: function (data) {
                    alert("Save Successful");
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        };

        $.ajaxSetup({ cache: false });
        $(document).ready(function () {
            $(".button").die() //must come in pair with .live if not multiple times will fired for that pop up dialog
            $(".button").live("click", function (e) {
                e.preventDefault();
                var winH = $(window).height() * 0.7;
                var winW = $(window).width() * 0.7;
                $("<div></div>")
                    .addClass("modalEditCourse")
                    .attr("id", $(this).attr("data_dialog_id"))
                    .appendTo('#reportBS')
                    .dialog({
                        title: $(this).attr("data_dialog_title"),
                        close: function () { $(this).remove(); },
                        modal: true,
                        height: winH,
                        width: winW,
                        hide: "slide",
                        show: "slide",
                        context: $(this)
                    }).load(this.href);
                $(".ui-dialog").addClass("modal fade");
            });


            $(".openDialog").die() //must come in pair with .live if not multiple times will fired for that pop up dialog
            $(".openDialog").live("click", function (e) {
                e.preventDefault();
                var winH = $(window).height() * 0.7;
                var winW = $(window).width() * 0.7;
                $("<div></div>")
                    .addClass("modalEditCourse")
                    .attr("id", $(this).attr("data_dialog_id"))
                    .appendTo('#reportBS')
                    .dialog({
                        title: $(this).attr("data_dialog_title"),
                        close: function () { $(this).remove(); },
                        modal: true,
                        height: winH,
                        width: winW,
                        hide: "slide",
                        show: "slide",
                        context: $(this)
                    }).load(this.href);
                $(".ui-dialog").addClass("modal fade");
            });
        });
</script>
<div class="row">
    <div class="col-lg-12">

        <h2 style="padding-left:10px;">@resShared.mnuUtilityBill</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resShared.mnuWallet</a></li>
            <li><a href="#">@resShared.mnuUtility</a></li>
            <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuUtilityBill</a></li>
        </ol>
        <!-- End breadcrumb -->
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">


        <br />
        <div class="table-responsive">
            <table id="tablestyle" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr style="background-color: #080808;">
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblDate, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblUserID, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblUsername, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblBillID, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblDescription, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblBillNumber, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblCellPhone, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblBillAmount, new { @style = "color:White;width:auto" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(resShared.lblAction, new { @style = "color:White;width:auto" })
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillList)
                    {

                        <tr>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.MemberID)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.MemberName)
                            </td>
                            @Html.HiddenFor(modelItem => item.BillID)
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.BillID)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.UtilityDescription)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.BillAccount)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.MobileNumber)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.BillAmount)
                            </td>
                            <td align="center" style="width: 60px">
                                @if (Session["EditUtilityBillSetup"] == "true")
                                {
                                    <button id="btnNext" type="button" class="btn btn-primary" style="width: 100px;" onclick="Testing('@item.BillID')">@resShared.lblEdit</button>
                                }
                            </td>
                        </tr>


                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div id="ModalBody">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="RejectBtn" class="btn btn-danger" data-dismiss="modal"
                                                style="width: 100px;" aria-hidden="true">
                                            @resShared.btnReject
                                        </button>
                                        <button type="button" id="OkApproveBtn" class="btn btn-primary" data-dismiss="modal"
                                                style="width: 100px;" aria-hidden="true">
                                            @resShared.btnApprove
                                        </button>
                                        <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                                                style="width: 100px; padding-left: 10px" aria-hidden="true">
                                            @resShared.btnCancel
                                        </button>
                                    </div>

                                </div>



                            </div>
                        </div>

                    }


                </tbody>
            </table>
        </div>
        
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })

                    </div>
                </td>
                <td style="text-align: right">
                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnView</button>
                </td>
            </tr>
        </table>
    </div>
</div>

