﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member;
@using resAdminHome  = ECFBase.Resources.Member;
@model WalletAdjustmentModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnTopUp").click(function (evt) {
        $('#Loading').show();
        //$("#divLoader").show();
        if (confirm("@resShared.warningConfirmToTopUpWallet")) {
            $.validator.unobtrusive.parse($('#topupMem'));
            if ($('#topupMem').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminWallet/WalletAdjustmentMethod",
                    data: $("#topupMem").serialize(),
                    success: function (data) {
                        $("#divLoader").hide();  
                        alert("@resAdminHome.msgSaveSuccessfully");
                        $("#main-content").html(data);
                       $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                       $('#Loading').hide();
                        $("#btnTopUp").attr("disabled", false);
                    }
                });
            } return false;
        } else {
           
        }

        
    });

    $('#SelectedCountry').change(function () {
        $('#Loading').show();
        //Clear and refresh Province dropdown
        $.ajax({
            url: "/AdminWallet/FindBank",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
            success: function (data) {
                var selectList = $(document.getElementById("SelectedBank"));
                selectList.empty();
                $.each(data, function (index, optionData) {
                    var option = $('<option>').text(optionData.Text).val(optionData.Value);
                    selectList.append(option);
                    $('#Loading').hide();
                });
            }
        });
    });

</script>


<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("TopUp", "AdminWallet", FormMethod.Post, new { enctype = "multipart/form-data", name = "topupMem", id = "topupMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => @Model.Type)
        @Html.HiddenFor(model => @Model.SelectedCountry)
        @Html.HiddenFor(model => @Model.Username)
        <div class="row">
            <div class="col-lg-12">
                 <h2>@Model.TypeResource</h2>
                    <ol class="breadcrumb default square rsaquo sm no-border ">
					    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resAdminHome.lblWallet</a></li>
                        <li><a href="#">@resAdminHome.lblUtility</a></li>
                        <li><a href="#" onclick="dummy(0);return false;">@Model.TypeResource</a></li>
                    </ol>
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resShared.lblUsername</strong>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@Model.WalletBalanceTypeResource</strong>
                    @Html.TextBoxFor(model => model.CurrentWallet, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resAdminHome.lblFullname</strong>
                    @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resAdminHome.lblAction <span style="color: Red">*</span></strong>
                    @Html.DropDownListFor(m => m.SelectedTransaction, @Model.Transaction, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.SelectedTransaction)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resAdminHome.lblAmt<span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.TransactionWallet, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.TransactionWallet)
                    </div>
                </div>
            </div>
        </div>
    
        @*<div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resAdminHome.lblPaymentmode <span style="color: Red">*</span></strong>
                    @Html.DropDownListFor(m => m.selectedmode, @Model.paymentmode, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.selectedmode)
                    </div>
                </div>
            </div>
        </div>*@
        
        <div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resAdminHome.lblRemark</strong> @*<span style="color: Red">*</span>*@
                    @Html.TextAreaFor(m => @Model.Remark, new { maxlength = "100", @class = "form-control", placeholder = "Max 100 characters" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.Remark)
                    </div>
                </div>
            </div>
        </div> 
        
            <div class="row" align="center">
                <div style="max-width: 600px;">
                    <div class="form-group">
                        <button id="btnTopUp" type="button" class="btn btn-sm btn-success" style="width:100px">@resAdminHome.btnConfirm</button>
                    </div>
                </div>
            </div>
       
    }
   
</div>