﻿@using ECFBase.Models
@model PaginationWalletLogModel
@using resAdminHome  = ECFBase.Resources.Member;
@using resShared  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        var type = document.getElementById('wallettypeid').value
        $.ajax({
            type: "POST",
            url: "/AdminWallet/NextWalletTransaction",
            data: {
                selectedPage: page, walletType: type, cashname: $(document.getElementById("cashname")).val(), startdate: $(document.getElementById("startdate")).val(), enddate: $(document.getElementById("enddate")).val()
            },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
        });

        $("#cashname").change(function (evt) {
            $('#Loading').show();
            var e = document.getElementById("page")
            //var page = e.options[e.selectedIndex].value;
            var type = document.getElementById('wallettypeid').value
            $.ajax({
                type: "POST",
                url: "/AdminWallet/NextWalletTransaction",
                data: { selectedPage: 1, cashname: $(document.getElementById("cashname")).val(), walletType: type, date: "2013/01/01" },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });
        

        $("#btnsearch").click(function (evt) {
            $('#Loading').show();
            var e = document.getElementById("page");
            var page = e.options[e.selectedIndex].value;
            var type = document.getElementById('wallettypeid').value;
            $.ajax({
                type: "POST",
                url: "/AdminWallet/NextWalletTransaction",
                data: {                    
                    selectedPage: page, walletType: type, username: $(document.getElementById("searchName")).val(), cashname: $(document.getElementById("cashname")).val(), startdate: $(document.getElementById("startDate")).val(), enddate: $(document.getElementById("endDate")).val()
                },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });
  
        $(function () {

            $("#startDate").datepicker({
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
            });
        });      

        $(function () {

            $("#endDate").datepicker({
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
            });
        });      

    </script>

<div>
    @Html.Hidden("wallettypeid", @Model.TypeOfWallet)

    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:15px;">@resShared.lblReports</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblWallet</a></li>
                <li class="active"><a href="#">@resShared.lblReports </a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@ViewBag.Title </a></li>
            </ol>
            <!-- Begin breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    @if (Model.show == true)
    {
    <center>
        <table width="auto">
            <tr>
                <td style="text-align:right">
                    <label>@resShared.lblUsername:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    @*<input type="text" class="form-control" id="searchName" />*@
                    @Html.TextBoxFor(m => m.username, Model.username, new { @id = "searchName", @class = "form-control", style = "width:200px;" })
                    @Html.HiddenFor(m => m.username)
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label>@resShared.lblCashname:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    @Html.HiddenFor(m => m.selectedname)
                    @Html.DropDownListFor(m => m.selectedname, Model.SelectedCashName, new { @id = "cashname", @class = "form-control", style = "width:200px;" })
                </td>
                <td style="padding-left:10px"></td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label>@resShared.lblDateFrom:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    <input type="text" id="startDate">
                </td>

            </tr>
            <tr>
                <td style="text-align:right">
                    <label> @resShared.lblTo:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    <input type="text" id="endDate">
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="padding:10px 10px;">
                    <a href="@Url.Action("Exportwallet", "AdminWallet", new {WalletType = @Model.TypeOfWallet, username = @Model.username, cashname = @Model.selectedname, startdate = @Model.startdate, enddate = @Model.enddate })" class="btn btn-sm btn-primary" target="_blank" style="width:100px">@resShared.btnExport</a>
                </td>
                <td style="padding:10px 10px;">
                    <button id="btnsearch" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
                </td>
                <td></td>
            </tr>
          
        </table>
    </center>
            }
            @*<center>
                    <table width="100%" class="test">
                        <tr>
                            <td style="text-align:right"></td>
                            <td style="padding-left:10px; width:200px">
                                <a href="@Url.Action("Exportwallet", "AdminWallet", new {WalletType = @Model.TypeOfWallet, username = @Model.username, cashname = @Model.selectedname, startdate = @Model.startdate, enddate = @Model.enddate })" class="btn btn-sm btn-primary" target="_blank">@resShared.btnExport</a>
                            </td>
                            <td style="padding-left:10px"></td>
                        </tr>
                    </table>
                </center>*@
            <div class="table-responsive">
                <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;color:White">
                                @resShared.lblUsername
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblRemark
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblCashIn
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblCashOut
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblBalance
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblAppUser
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblExtraInfo
                            </th>
                            @if (Model.TypeOfWallet != "Product")
                            {
                                @*<th style="text-align: center;color:White">
                                        @resShared.lblPaymentmode
                                    </th>*@
                            }
                            <th style="text-align: center;color:White">
                                @resShared.lblDate
                            </th>
                            @if (Model.TypeOfWallet == "Register" && Model.TypeOfWallet == "MmmWallet")
                            {
                                <th style="text-align: center;color:White">
                                    @resShared.lblReference

                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        @if (Model.WalletLogList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @if (Model.WalletLogList != null)
                        {
                            foreach (var item in Model.WalletLogList)
                            {
                                string style = "";

                                <tr style=@style>

                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.CashName)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.CashIn)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.CashOut)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Wallet)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.AppUser)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.AppOther)
                                    </td>
                                    @if (Model.TypeOfWallet != "Product")
                                    {
                                        @*<td align="center">
                                                @Html.DisplayFor(modelItem => item.paymentmode)
                                            </td>*@
                                    }
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    @if (Model.TypeOfWallet == "Register" && Model.TypeOfWallet == "MmmWallet")
                                    {
                                        <td align="center">
                                            @if (item.refference != "")
                                            {

                                                <textarea id="@(string.Format("ContextRead|{0}", @item.refferenceID))" rows="4" cols="50" readonly="readonly">@item.refference</textarea>
                                                <table style=" width:100%">

                                                    <tr style=" width:100%;">
                                                        <td style=" width:50%">
                                                            <center>
                                                                <button id="@(string.Format("Edit|{0}", @item.refferenceID))" onclick="return myFunctionRpoint('@item.refferenceID')">Edit</button>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                <button id="@(string.Format("Update|{0}", @item.refferenceID))" style=" visibility:hidden;" onclick="return UpdateDataRpoint('@item.refferenceID')">Update</button>
                                                            </center>
                                                        </td>
                                                    </tr>

                                                </table>
                                            }
                                            else
                                            {
                                                <textarea id="@(string.Format("Context|{0}", @item.FlowID))" rows="4" cols="50"></textarea>
                                                <table style=" width:100%">

                                                    <tr style=" width:100%;">
                                                        <td style=" width:50%">
                                                            <center>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                <button onclick="return InsertDataRpoint('@item.FlowID','@item.Username')">Save</button>
                                                            </center>
                                                        </td>
                                                    </tr>

                                                </table>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.WalletLogList.Count > 0)
            {
                <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                            </div>
                        </td>
                        <td style="text-align: right">
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                        </td>
                    </tr>
                </table>
            }
            <br />
            <br />
            <br />

    </div>
