﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member; 
@model PaginationInboxModel
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberHelpDesk/AllInbox",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnCreate").click(function (evt) {
       $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberHelpDesk/InboxData",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $(".ViewData").click(function (evt) {
       $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberHelpDesk/ViewMessage",
            data: { InboxID: this.id },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>
<div id="dialog-confirm"  style="display: none; background-color: white;">
    <p>
        <span style="float: left; margin: 0 0 0 0;"></span>@resShared.WarningDeleteMessage</p>
</div>
<div id="reportBS">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div>
         <h2 style="padding-left:10px;">@resShared.mnuInbox</h2>

                        	<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuHelpDesk</a></li>
						<li class="active"><a href="#">@resShared.mnuInbox</a></li>
					</ol>
					<!-- End breadcrumb --> 
                <h1 class="page-sub-header">
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row" align="center">
            <div>
                <form role="form">
                <div style="max-width: 600px; text-align: left">
                </div>
                </form>
            </div>
        </div>
    </div>
    <table width="100%">
        <tr>
            <td style="text-align: right">
                <div class="BtnClass" style="float: right;">
                    <button id="btnCreate" type="button" class="btn btn-lm btn-default" style="width: 150px">@resShared.btnSendMessage</button>
                </div>
            </td>
        </tr>
    </table>
    <div class="table-responsive">
        <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
            <thead>
                <tr style="color: White">
                    <th style="text-align: center; color: White">
                        @resShared.lblTitle
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblUsername
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblPostDate
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblReply
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblReplyDate
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.btnView
                    </th>
                </tr>
            </thead>
            <tbody style="background-color: #eee;">
                @if (Model.InboxList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
                @if (Model.InboxList != null)
                {
                    foreach (var item in Model.InboxList)
                    {                            
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Reply)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.ReplyDate)
                        </td>
                        <td align="center">
                            <a style="text-decoration:none;" id="@item.InboxID" class="ViewData">
                                @Html.Image("imgViewBS|" + @item.InboxID, "~/Images/187-pencil.png", "View", 10, 0, 0, "View")
                            </a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.InboxList.Count != 0)
    {
        <table  width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                
                    </div>
                </td>
                <td>
                        <button id="btnPage" type="button" class="btn btn-sm btn-default" style="width: 100px">@resShared.btnView</button>
                </td>
            </tr>
        </table>
    }
</div>