﻿@model ECFBase.Models.InboxModel
@using resShared = Resources.Member
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">

    $('.ckeditor').each(function () {
        CKEDITOR.replace($(this).attr('id'), {
            contentsLangDirection: 'ltr',
            //width: "750px"
        });
    });

    CKEDITOR.config.toolbar = [
           ['Styles', 'Format', 'Font', 'FontSize'],
           '/',
           ['Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
           '/',
           ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
           ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
        ];

    $("#SelectedLanguage").change(function () {
        $("[id *= 'Title|']").hide();
        $("[id='Title|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Content1|']").hide();
        $("[id='Content1|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Content2|']").hide();
        $("[id='Content2|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Reply1|']").hide();
        $("[id='Reply1|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Reply2|']").hide();
        $("[id='Reply2|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
    });

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
        if ($('#editBSForm').valid()) {

            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();

            $.ajax({
                type: "POST",
                url: "/MemberHelpDesk/CreateNewMessageMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSendSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }
    });

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="container-fluid">
            <div class="row">
                <div>
                    <h2 style="padding-left:10px;">@resShared.mnuInbox</h2>
                    <!-- Begin breadcrumb -->
                    <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resShared.mnuHelpDesk</a></li>
                        <li class="active"><a href="#">@resShared.mnuInbox</a></li>
                    </ol>
                    <!-- End breadcrumb -->
                    <h1 class="page-sub-header">
                        @Html.HiddenFor(model => model.InboxID)
                        @Html.HiddenFor(model => model.SelectedType)
                        @Html.ValidationMessageFor(model => model.InboxID)
                        @Html.ValidationMessageFor(model => model.SelectedType)
                    </h1>
                </div>
            </div>
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            <div class="form-group">
                                <label>@resShared.lblEmailType</label>
                                @Html.DropDownListFor(model => model.SelectedType, @Model.QuestionTypes, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@resShared.lblSelectLanguage</label>
                                @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.TitleLanguageList.Count; i++)
                                {
                                    string nameVisibility = "none";
                                    string rowId = Model.TitleLanguageList[i].LanguageCode;

                                    if (Model.TitleLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                    {
                                        nameVisibility = "table-row";
                                    }
                                    <tr style="display:@nameVisibility">
                                        <td width="50%" style="padding-bottom: 100px">
                                            <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                                @resShared.lblTitle ( @Html.DisplayFor(x => x.TitleLanguageList[i].LanguageName)
                                                )
                                            </label>
                                        </td>
                                        <td>
                                            @Html.HiddenFor(x => x.TitleLanguageList[i].LanguageCode)
                                            @Html.HiddenFor(x => x.TitleLanguageList[i].LanguageName)
                                            @Html.TextBoxFor(x => x.TitleLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Name|" + @rowId })
                                        </td>
                                    </tr>
                                }
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.ContentLanguageList.Count; i++)
                                {
                                    string nameVisibility = "none";
                                    string descriptionId = Model.ContentLanguageList[i].LanguageCode;

                                    if (Model.ContentLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                    {
                                        nameVisibility = "table-row";
                                    }
                                    <div class="table-responsive">
                                        <table id="table|@descriptionId" style="display:@nameVisibility">
                                            <tr>
                                                <td width="50%">
                                                    <label for="Position" style="width: 100%;">
                                                        @resShared.lblContent ( @Html.DisplayFor(x => x.ContentLanguageList[i].LanguageName)
                                                        )
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.HiddenFor(x => x.ContentLanguageList[i].LanguageCode)
                                                    @Html.HiddenFor(x => x.ContentLanguageList[i].LanguageName)
                                                    @Html.TextAreaFor(x => x.ContentLanguageList[i].Text, new { @class = "ckeditor", id = "Content|" + @descriptionId })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                        
                            <div class="BtnClass" style="text-align: center">
                                <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>
    }
</div>
