﻿@using resShared = ECFBase.Resources.Member;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@resShared.lblYiCommm</title>
    <link rel="icon" href="~/Images/Company/logo.png" type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    @*<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>*@
    <script src="@Url.Content("../../ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="../../Scripts/DatePickerUI/jquery.ui.datepicker-en-GB.js" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
