﻿
@using resMembersReports  = ECFBase.Resources.Member;
@using resShared  = ECFBase.Resources.Member;
@using resMembersShopCenter  = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationMobileAgent



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        &times;
    </button>
    <h4 class="modal-title">
        <center>
            @resMembersReports.lblPaymentVerify
        </center>
    </h4>
</div>
<div id="ModalBody" class="modal-body">
    @Html.HiddenFor(M => M.PinID, new { id = "ID" })
    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblRequestDate<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Date, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblUsername<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Username, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblName<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Name, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblCountry<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Country, new { @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblAmountUSD<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.USDAmount, new { @disabled = "disabled", @id = "USDAmount", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblLocalAmount<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.LocalAmount, new { @id = "RMAmount", @disabled = "disabled", @class = "form-control" })
            </div>
        </div>
    </div>
        
    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblRemark<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Remark, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblStatus<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.Status, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblPaymentMethod<span style="color: Red">*</span></strong>
                @Html.TextBoxFor(m => @Model.PaymentMethod, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <strong>@resMembersReports.lblImage<span style="color: Red">*</span></strong>
            </div>
        </div>
    </div>
    <div class="row" align="center">
        <div style="max-width: 400px; text-align: left">
            <div class="form-group">
                <a href="@Html.DisplayFor(m => m.ImagePath)" target="_blank">
                    <img alt="" height="400" width="400" onerror="onError(this)" src="@Html.DisplayFor(m => m.ImagePath, new { @class = "form-control" })" />
                </a>
            </div>
        </div>
    </div>
</div>
