﻿@using ECFBase.Models
@model PaginationMobileAgent
@using resShared  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminStock/RequestTopUpHistory",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


</script>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.lblTopUpReqHis</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblMobile</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblTopUpReqHis</a></li>
            </ol>
            @*<ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i><a href="">@resShared.lblTopUpReqHis</a> </li>
            </ol>*@
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tablestyle"  border="1" class="table-style table table-th-block table-hover">
            <thead>
                <tr>
                    <th style="text-align: center; color: White">
                        @resShared.lblUsername
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblAmountUSD
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblLocalAmount
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblStatus
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblRemark
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblDate
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblApprovedBy
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblApprovedDate
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblGeneratedBy
                    </th>
                    <th style="text-align: center; color: White">
                        @resShared.lblGeneratedDate
                    </th>
                </tr>
                @if (Model.MobileTopUpList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;background-color:#eee">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
            </thead>
            <tbody style="background-color: #eee;">
                @if (Model.MobileTopUpList.Count != 0)
                {
                    foreach (var item in Model.MobileTopUpList)
                    {
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.MemberID)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.LocalAmount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.AdminID)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.ProcessedDate)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.GeneratedBy)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.GeneratedOn)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.MobileTopUpList.Count > 0)
    {
        @*<table width="100%">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </div>
                </td>
            </tr>
        </table>*@
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                    </div>
                </td>
                <td style="text-align: right">
                    <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width: 100px">@resShared.btnView</button>
                </td>
            </tr>
        </table>
    }
</div>
