﻿@using ECFBase.Models
@model PaginationMobileAgent
@using resAdminHome  = ECFBase.Resources.Member;
@using resShared  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    function Verify(ID) {
            $.ajax({
                type: "POST",
                url: "/AdminStock/VeryfyRequestTopUp",
                data: { ID: ID },
                success: function (data) {
                    $("#ModalBody").html(data);
                    $("#myModal").modal();

                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
    };    


    function Generate(ID) {
        $.ajax({
            type: "POST",
            url: "/AdminStock/GenerateRequestTopUp",
            data: { ID: ID },
            success: function (data) {
                $("#ModalBody2").html(data);
                $("#myModal2").modal();

            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $("#ajaxloading").dialog("close");
            }
        });
    };

    $("#OkApproveBtn").click(function (evt) {
        var ID = $(document.getElementById("ID")).val();
        Approve(ID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function Approve(ID) {
        if (confirm("@resShared.warningSureWantToApprove")) {
            $.ajax({
                type: "POST",
                url: "/AdminStock/ApproveRequestTopUp",
                data: { ID: ID },
                success: function (data) {
                    alert("@resAdminHome.msgSaveSuccessfully");
                     $("#main-content").html(data);
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
        } else {
            // Do nothing!
        }

    };

    $("#okRejectBtn").click(function (evt) {
        var ID = $(document.getElementById("ID")).val();
        Reject(ID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function Reject(ID) {
        if (confirm("@resShared.warningSureWantToReject")) {
            $.ajax({
                type: "POST",
                url: "/AdminStock/RejectRequestTopUp",
                data: { ID: ID },
                success: function (data) {
                     alert("@resAdminHome.msgSaveSuccessfully");
                    $("#main-content").html(data);
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
        } else {
            // Do nothing!
        }

    };

    $("#okConfirmBtn").click(function (evt) {
        var ID = $(document.getElementById("ID")).val();
        Confirm(ID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function Confirm(ID) {
        if (confirm("@resAdminHome.warningSureWantToGenerate")) {
            $.ajax({
                type: "POST",
                url: "/AdminStock/GenerateTopUp",
                data: { ID: ID },
                success: function (data) {
                     alert("@resAdminHome.msgSaveSuccessfully");
                    $("#main-content").html(data);
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
        } else {
            // Do nothing!
        }

    };

</script>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="ModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" id="OkApproveBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px;" aria-hidden="true">
                    @resAdminHome.btnApprove
                </button>
                <button type="button" id="okRejectBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px;" aria-hidden="true">
                    @resAdminHome.btnReject
                </button>
                <button type="button" id="CancelConfirmBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px; padding-left: 10px" aria-hidden="true">
                    @resAdminHome.btnCancel
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="ModalBody2">
            </div>
            <div class="modal-footer">
                <button type="button" id="okConfirmBtn" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px;" aria-hidden="true">
                    @resAdminHome.lblConfirm
                </button>
                <button type="button" id="CancelConfirmBtn2" class="btn btn-info" data-dismiss="modal"
                        style="width: 100px; padding-left: 10px" aria-hidden="true">
                    @resAdminHome.btnCancel
                </button>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.lblTopUpRequest</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblMobile</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblTopUpRequest</a></li>
            </ol>
            @*<ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i><a href="">lblTopUpRequest</a> </li>
            </ol>*@
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
            <thead>
                <tr>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblDate
                    </th> 
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblReference
                    </th> 
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblUsername
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblAmountUSD
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblLocalAmount
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblStatus
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblRemark
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblPaymentMethod
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblVerify
                    </th>
                    <th style="text-align: center; color: White">
                        @resAdminHome.lblTopUp
                    </th>

                </tr>
            </thead>
            <tbody style="background-color: #eee;">
                @if (Model.MobileTopUpList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;background-color:#eee">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
                @if (Model.MobileTopUpList.Count != 0)
                {
                    foreach (var item in Model.MobileTopUpList)
                    {
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.ReferenceOrder)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.MemberID)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.LocalAmount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td align="center">
                                <center>
                                    @if (item.Status == "Pending")
                                    {
                                        <button id="btnNext" type="button" class="btn btn-primary" style="width: 100px;" onclick="Verify('@item.PinID')">
                                            @resAdminHome.lblVerify
                                        </button>
                                    }
                                </center>
                            </td>
                            <td align="center">
                                <center>
                                    @if (item.Status == "Approve")
                                    {
                                        <button id="btnNext" type="button" class="btn btn-primary" style="width: 100px;" onclick="Generate('@item.PinID')">
                                            @resAdminHome.btnGenerate
                                        </button>
                                    }
                                </center>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
   
</div>
