﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member;

@model PaginationInfoDeskModel

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

            var e = document.getElementById("page");
            var page = e.options[e.selectedIndex].value;

            $.ajax({
                type: "POST",
                url: "/AdminInfoDesk/CorporateNews",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

       $("#btnCreate").click(function (evt) {
           $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminInfoDesk/CorporateNewsData",
                data: { CorporateNewsID: 0 },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

       $(".EditData").click(function (e) {
           $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminInfoDesk/CorporateNewsData",
                data: { CorporateNewsID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

        $(".DeleteData").click(function (e) {
            document.getElementById("eliminateId").value = this.id;
        });

        $("#OkBtn").click(function (evt) {
            $('#Loading').show();
            var corpnewsID = document.getElementById("eliminateId").value;
            deleteCorpNews(corpnewsID);
            $("[class *= 'modal-backdrop']").hide();
        });

        function deleteCorpNews(corpnewsID) {
            $.ajax({
                url: "/AdminInfoDesk/DeleteCorpNews",
                type: "POST",
                data: { CorpNewsId: corpnewsID },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        };       
</script>

<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="width:450px">
        <div class="modal-content" style="text-align:center" align="center">
             <div class="modal-header" style="height:70px" >
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>@resShared.lblConfirmation</h4>
             </div>
             <div class="modal-body">
                 @resShared.WarningDeleteCorpNews
             </div>
             <div class="modal-footer">
                 <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resShared.lblYes</button>
                 <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resShared.lblNo</button>
             </div>
        </div>
    </div>
</div>
<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">    
                     <h2 style="padding-left:10px;">@resShared.lblNewCorpNews</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuInfoDesk</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblNewCorpNews</a></li>
				</ol>
		<!-- End breadcrumb -->
              
                 <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" /> 
            </h1>
        </div>
    </div>
    <table style="width: 100%">
     @if (Session["EditCorporateNews"] == "true")
     {  
         <table width="100%">
            <tr>
                <td style="text-align: right; padding-right:10px;">
                    <div class="BtnClass" style="float: right;">
                        <button id="btnCreate" type="button" class="btn btn-lm btn-success" style="float:right;width:auto">@resShared.lblCreateNewCorpNews</button>
                    </div>
                </td>
            </tr>
        </table>
     }
      <div class="table-responsive">
        <table id="tablestyle"  border="1" class="table-style table table-th-block table-hover" >
            <thead>
                <tr>
                    <th style="text-align:center">   
                        @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                    </th>
                    <th style="text-align:center">   
                        @Html.Label(@resShared.lblPostDate, new { @style = "color:White" })
                    </th>
                    <th style="text-align:center">
                        @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                    </th>
                    @if (Session["EditCorporateNews"] == "true")
                    {  
                    <th style="text-align:center">
                        @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                    </th>
                    }
                </tr>
            </thead>
                <tbody style="background-color: #eee;">
						@if (Model.InfoDeskList.Count == 0)
      {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
      }
                        @foreach (var item in Model.InfoDeskList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoDeskTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoDeskPostDate)
                                </td>
                                 <td align="center" style="width: 60px">
                                    <button style="text-decoration:none;" class="btn btn-sm btn-info EditData" id="@item.InfoDeskID">
                                        @Html.Image("imgEditBS|" + @item.InfoDeskID, "~/Images/187-pencil.png", "Edit", 10, 0, 0, "Edit")
                                    </button>
                                </td>
                                  @if (Session["EditCorporateNews"] == "true")
                                  {  
                                      <td align="center" style="width: 60px">
                                        <button style="text-decoration:none;" class="btn btn-sm btn-danger DeleteData" id="@item.InfoDeskID" data-toggle="modal" data-target="#confirmDialog">
                                            @Html.Image(String.Concat("imgDeleteAd|", @item.InfoDeskID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)                                     
                                        </button>
                                    </td>  
                                  }
                            </tr>
                        }
                    </tbody>
		</table>
      </div>
        @if (Model.InfoDeskList.Count != 0)
        {
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto; padding-right:10px;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                    
                        </div>
                    </td>
                    <td style="text-align: right">
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
        }
    </table>
</div>
