﻿@model ECFBase.Models.InfoDeskModel
@using resShared  = ECFBase.Resources.Member; 
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>

<script type="text/javascript">
    $('.ckeditor').each(function () {
        CKEDITOR.replace($(this).attr('id'), {
            contentsLangDirection: 'ltr',
            //width: "750px"
        });
    });

    $("#SelectedLanguage").change(function () {
        $("[id *= 'table|']").hide();
        $("[id='table|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Name|']").hide();
        $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
    });
    $("#btnSave").click(function (evt) {
        //if ($('#editBSForm').valid()) {
        document.getElementById("Content|en-US").value = CKEDITOR.instances['Content|en-US'].getData();
        document.getElementById("Content|zh-CN").value = CKEDITOR.instances['Content|zh-CN'].getData();
        document.getElementById("Content|zh-TW").value = CKEDITOR.instances['Content|zh-TW'].getData();

               for (instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();

            $('#Loading').show();
            var form = $('#editBSForm')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/AdminInfoDesk/CorporateNewsMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                alert("@resShared.msgSaveSuccessfully");
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    $('#Loading').hide();
                    alert(errorM);
                }
            });
        //}
    });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("CorporateNewsMethod", "AdminInfoDesk", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">  
                     
                     <h2 style="padding-left:10px;">@resShared.lblNewCorpNews</h2>
    <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuInfoDesk</a></li>
					<li><a href="#">@resShared.lblNewCorpNews</a></li>
					<li class="active"> <a href="#" onclick="dummy(0);return false;">@resShared.lblNewCorpNews</a></li>
				</ol>
		<!-- End breadcrumb -->
                 <h1 class="page-sub-header">     
                    @Html.HiddenFor(model => model.InfoDeskID)
                    @Html.HiddenFor(model => model.InfoDeskType)
                    @Html.ValidationMessageFor(model => model.InfoDeskID)  
                    @Html.ValidationMessageFor(model => model.InfoDeskType)  
                </h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            <div class="form-group">
                                <label>@resShared.lblSelectLanguage</label>
                                @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.TitleLanguageList.Count; i++)
                    {
                        string nameVisibility = "none";
                        string rowId = Model.TitleLanguageList[i].LanguageCode;

                        if (Model.TitleLanguageList[i].LanguageCode == Model.SelectedLanguage)
                        { nameVisibility = "table-row"; }
                    <tr style="display:@nameVisibility">
                        <td width="50%" style="padding-bottom:100px">
                            <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                @resShared.lblTitle ( @Html.DisplayFor(x => x.TitleLanguageList[i].LanguageName) )
                            </label>
                        </td>
                        <td>
                            @Html.HiddenFor(x => x.TitleLanguageList[i].LanguageCode)
                            @Html.HiddenFor(x => x.TitleLanguageList[i].LanguageName)
                            @Html.TextBoxFor(x => x.TitleLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Name|" + @rowId })
                        </td>
                    </tr>
                    }
                            </div>

                            <div class="form-group">
                                <label for="Position">
                                    <strong>Image <span style="color: Red">*</span></strong>
                                </label>
                                @Html.HiddenFor(x => x.ProductImagePath)
                                @Html.ValidationMessageFor(x => x.ProductImagePath)
                                @Html.DisplayFor(x => x.ProductImageName)
                                @Html.TextBoxFor(x => x.ProductImage, new { id = "ProductImage", name = "ProductImage", type = "file", @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProductImage)
                            </div>

                            <div class="form-group">
                                @for (var i = 0; i < Model.ContentLanguageList.Count; i++)
                    {
                        string nameVisibility = "none";
                        string descriptionId = Model.ContentLanguageList[i].LanguageCode;

                        if (Model.ContentLanguageList[i].LanguageCode == Model.SelectedLanguage)
                        {
                            nameVisibility = "table-row";
                        }
                    <table class="table" id="table|@descriptionId" style="display:@nameVisibility">
                        <tr>
                            <td width="50%">
                                <label for="Position" style="width:100%;">
                                    @resShared.lblContent ( @Html.DisplayFor(x => x.ContentLanguageList[i].LanguageName) )
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(x => x.ContentLanguageList[i].LanguageCode)
                                @Html.HiddenFor(x => x.ContentLanguageList[i].LanguageName)
                                @Html.TextAreaFor(x => x.ContentLanguageList[i].Text, new { @class = "ckeditor", id = "Content|" + @descriptionId })
                            </td>
                        </tr>
                    </table>
                    }
                            </div>
                        </div>
                        @if (Session["EditCorporateNews"] == "true")
                {
                    <div class="BtnClass" style="text-align:center">
                        <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                    </div>
                    <br />
                    <br />

                }
                    </form>
                </div>
            </div>
        </div>
    }
</div>

