﻿ @using resShared  = ECFBase.Resources.Member;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnUpdate").click(function (evt) {

         
            $('#Loading').show();
            var form = $('#editBSForm')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/AdminInfoDesk/UploadCenterFileMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    //$("#main-content").html(data);
                    $("#Home").click();
                    @*alert("@resShared.msgSaveSuccessfully");*@
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }            });
     
    });
</script>


<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("UploadCenterFileMethod", "AdminInfoDesk", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
       
                <h2 style="padding-left:10px;">@resShared.mnuUploadCenter</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuInfoDesk</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuUploadCenter</a></li>
				</ol>
		<!-- End breadcrumb -->
                <h1 class="page-sub-header">
                    <input type="hidden" id="eliminateId" />
                </h1>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <form role="form">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label for="Position">
                            <strong>@resShared.lblTitle <span style="color: Red">*</span></strong>
                        </label>
                        @Html.TextBox("txtFileTitle", "", new { @class = "form-control", @id = "txtFileTitle" })
                    </div>
                    <div class="form-group" align="center">
                        <input id="Testing" type="file" name="file" style="text-align: left" />
                    </div>
                </div>
                </form>
            </div>
            @if ((string)Session["EditUploadCenter"] == "true")
            {
                <div class="BtnClass" align="center">
                    <button id="btnUpdate" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnUpload</button>
                </div>
            }
        </div>
    }
</div>
