﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member;

@model PaginationFileCenterModel

<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $("#btnCreate").click(function (evt) {
        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminInfoDesk/UploadCenterFile",
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $(".DeleteData").click(function (e) {
        document.getElementById("eliminateId").value = this.id;
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var filename = document.getElementById("eliminateId").value;
        deleteUploadCenter(filename);
        $("[class *= 'modal-backdrop']").hide();
    });

    function deleteUploadCenter(fileName) {
        $.ajax({
            url: "/AdminInfoDesk/deleteUploadCenter",
            type: "POST",
            data: { fileName: fileName },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    };
    
</script>

<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningDeleteFile
            </div>
            <div class="modal-footer">
                <button type="button" 
                        id="OkBtn" 
                        class="btn btn-info" 
                        data-dismiss="modal" 
                        style="width: 100px;"
                        aria-hidden="true">
                    @resShared.lblYes
                </button>
                <button type="button" 
                        id="CancelBtn" 
                        class="btn btn-info"
                        data-dismiss="modal" 
                        style="width: 100px; padding-left: 10px" 
                        aria-hidden="true">
                    @resShared.lblNo
                </button>
            </div>
        </div>
    </div>
</div>
<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuUploadCenter</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuInfoDesk</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuUploadCenter</a></li>
				</ol>
		<!-- End breadcrumb -->

            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
    </div>
    <table style="width: 100%">
        @if ((string) Session["EditUploadCenter"] == "true")
        {  
            <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <button id="btnCreate"
                                    type="button"
                                    class="btn btn-lm btn-success"
                                    style="float: right;width: 180px">
                                @resShared.lblUploadNewFile
                            </button>
                        </div>
                    </td>
                </tr>
        }
        
        <tr>
            <td>
                <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 30%">
                                @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center; width: 30%">
                                @Html.Label(@resShared.lblFileName, new { @style = "color:White" })
                            </th>
                            <th  style="text-align: center">
                                @Html.Label(@resShared.lblFileSize, new { @style = "color:White" })
                            </th>
                            @if ((string) Session["EditUploadCenter"] == "true")
                            {  
                            <th style="text-align: center; width: 5%; color: White;">
                                @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                            </th>
                            }
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        @if (Model.FileCenterList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.FileCenterList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileSize)
                                </td>
                                @if ((string) Session["EditUploadCenter"] == "true")
                                {  
                                     <td align="center" style="width: 60px">
                                         <button style="text-decoration:none;" 
                                                 class="DeleteData" 
                                                 id="@item.FileName" 
                                                 data-toggle="modal" 
                                                 data-target="#confirmDialog">
                                            @Html.Image(String.Concat("imgDeleteAd|", @item.FileName), "~/Images/60-x-red.png", "Delete", 7, 0, 0, "Delete", new { @name = @item.FileName })
                                         </button>
                                    </td>  
                                }
                            </tr> 
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
            