﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member;
@model PaginationInboxModel
<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $("#btnPage").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/AllInbox",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnCreate").click(function (evt) {
       $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/InboxData",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $(".EditData").click(function (e) {
       $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/InboxData",
            data: { InboxID: this.id },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $(".DeleteData").click(function (e) {
        document.getElementById("eliminateId").value = this.id;
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var corpnewsID = document.getElementById("eliminateId").value;
        deleteCorpNews(corpnewsID);
        $("[class *= 'modal-backdrop']").hide();
    });

    function deleteCorpNews(corpnewsID) {
        $.ajax({
            url: "/AdminHelpDesk/DeleteMessage",
            type: "POST",
            data: { InboxID: corpnewsID },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    };

    $("[id *= 'imgDeleteAd']").click(function (ev) {
        var corpnewsID = this.id.substring(12);
        ev.preventDefault();
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 150,
            width: 420,
            position: top,
            modal: true,
            title: '@resShared.lblDelete',
            hide: { effect: "puff", direction: "up", duration: 300 },
            buttons: {
                "@resShared.lblYes": function () {
                    $(this).dialog("close");
                    deleteCorpNews(corpnewsID);
                },
                "@resShared.btnCancel": function () {
                    $(this).dialog("close");
                }
            }
        }).dialog("widget").css({ "position": "fixed", "top": "0" }).animate({ top: "40%" }, 500);
        $(".ui-dialog").addClass("white-dialog");
        $(".ui-dialog").removeClass("ui-corner-all");
        $(".ui-dialog-titlebar").removeClass("ui-corner-all");
        $('.ui-dialog :button').blur();
    });

</script>
<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningDeleteMessage
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width: 100px;"
                    aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width: 100px;
                    padding-left: 10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>
<div id="reportBS">
    <div class="row">
        <div class="col-lg-12">
                 <h2 style="padding-left:10px;">@resShared.mnuInbox</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.mnuHelpDesk</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuInbox</a></li>
				</ol>
		<!-- End breadcrumb --> 
            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
    </div>
    <table style="width: 100%">
        @if (Session["EditHelpDeskInbox"] == "true")
        { 
            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <button id="btnCreate" type="button" class="btn btn-sm btn-success" style="float: right;
                                width: 180px">@resShared.btnSendMessage</button>
                        </div>
                    </td>
                </tr>
            </table>
        }
        <div class="table-responsive">
            <table id="tablestyle"  border="1" class="table-style table table-th-block table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblUsername, new { @style = "color:White" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblPostDate, new { @style = "color:White" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblReply, new { @style = "color:White" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblReplyDate, new { @style = "color:White" })
                        </th>
                        <th style="padding: 5px; width: 5%; color: White;text-align: center">
                            @resShared.lblAction
                        </th>
                        @if (Session["EditHelpDeskInbox"] == "true")
                        { 
                        <th style="text-align: center; color: White;">
                            @resShared.lblAction
                        </th>
                        }
                    </tr>
                </thead>
                <tbody style="background-color: #eee;">
                    @if (Model.InboxList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.InboxList)
                    { 
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reply)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReplyDate)
                            </td>
                            <td align="center" style="width: 60px">
                                <button style="text-decoration:none;" class="EditData" id="@item.InboxID">
                                    @Html.Image("imgEditBS|" + @item.InboxID, "~/Images/187-pencil.png", "Edit", 10, 0, 0, "Edit")
                                </button>
                            </td>
                            @if (Session["EditCorporateNews"] == "true")
                            {  
                                <td align="center" style="width: 60px">
                                    <button style="text-decoration:none;" class="DeleteData" id="@item.InboxID" data-toggle="modal" data-target="#confirmDialog">
                                        @Html.Image(String.Concat("imgDeleteAd|", @item.InboxID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                                    </button>
                                </td>  
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.InboxList.Count != 0)
        {
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                        </div>
                    </td>
                    <td style="text-align: right">
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
        }
    </table>
</div>
