﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member;
@model PaginationInboxModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/AllNotices",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/NoticeData",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $(".EditData").click(function (e) {
       $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/NoticeData",
            data: { InboxID: this.id },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
   
    $(".DeleteData").click(function (e) {
        document.getElementById("eliminateId").value = this.id;
    });

    function deleteNotice(noticeId) {
        $.ajax({
            url: "/AdminHelpDesk/DeleteNotice",
            type: "POST",
            data: { InboxID: noticeId },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    };

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var noticeId = document.getElementById("eliminateId").value;
        deleteNotice(noticeId);
        $("[class *= 'modal-backdrop']").hide();
    });

    $("#btnSearchByNoticeFC").click(function (evt) {
        $('#Loading').show();
        var fc = document.getElementById("SelectedFilteringCriteria").value;

        var e = document.getElementById("page");
        var page = 1;

        if (e != null) {
            page = e.options[e.selectedIndex].value;
        }

        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminHelpDesk/AllNotices",
            data: { selectedPage: page, type: fc, searchFilter: $('#searchFC').val() },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>

<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="height: 70px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningDeleteMessage
            </div>
            <div class="modal-footer">
                <button type="button" 
                        id="OkBtn" 
                        class="btn-primary" 
                        data-dismiss="modal" 
                        style="width: 100px;"
                        aria-hidden="true">
                    @resShared.lblYes
                </button>
                <button type="button" 
                        id="CancelBtn" 
                        class="btn-primary" 
                        data-dismiss="modal" 
                        style="width: 100px; padding-left: 10px" 
                        aria-hidden="true">
                    @resShared.lblNo
                </button>
            </div>
        </div>
    </div>
</div>

<div id="reportBS" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resShared.lblNotice</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuHelpDesk</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblNotice</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            @Html.DropDownListFor(m => m.SelectedFilteringCriteria, @Model.FilteringCriteria, new { style = "", @class = "form-control" })
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input type="text" id="searchFC" class="form-control" placeholder="@resShared.lblMemberID" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <button id="btnSearchByNoticeFC" type="button" class="btn btn-sm btn-success" style="width: 100px; ">@resShared.btnSearch</button>
        </div>
    </div>

    @if (Session["EditHelpDeskNotice"] == "true")
    {
        @*<div class="pull-right" style="padding-right:30px">
            <button id="btnCreate" type="button" class="btn btn-lm btn-success" style="float: right;
                        width: 100px">
                @resShared.btnSendNotice
            </button><br />
        </div>*@
        <div class="col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <button id="btnCreate" type="button" class="btn btn-lm btn-success" style=" width: 100px">
                    @resShared.btnSendNotice
                </button><br />
            </div>
        </div>
    }

    <table style="width: 100%">
        <tr>
            <td>
                <table id="tablestyle" width="100%"  border="1" class="table-style table table-th-block table-hover">
                    <thead>
                        <tr style="height: 25px; ">
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblUsername, new { @style = "color:White" })
                            </th>
                            <th style="width: 70%; text-align: center">
                                @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblPostDate, new { @style = "color:White" })
                            </th>
                            <th style="width: 5%; color: White; text-align: center">
                                @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                            </th>
                            @if ((string)Session["EditHelpDeskNotice"] == "true")
                            {
                            <th style="width: 5%; color: White; text-align: center">
                                @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                            </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InboxList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.InboxList)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostDate)
                                </td>
                                <td align="center" style="width: 60px">
                                    <button style="text-decoration:none;" class="btn btn-sm btn-info EditData" id="@item.InboxID">
                                        @Html.Image("imgEditBS|" + @item.InboxID, "~/Images/edit.png", "Edit", 10, 0, 0, "Edit")
                                    </button>

                                </td>
                                @if (Session["EditHelpDeskNotice"] == "true")
                                {
                                    <td align="center" style="width: 60px">
                                        <button style="text-decoration:none;" class="btn btn-sm btn-danger DeleteData" id="@item.InboxID" data-toggle="modal" data-target="#confirmDialog">
                                            @Html.Image(String.Concat("imgDeleteAd|", @item.InboxID), "~/Images/delete.png", "Delete", 7, 0, 0, "Delete")
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.InboxList.Count != 0)
                {
                    <table width="100%">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">
                                        @resShared.btnView
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>

</div>
