﻿@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationIntroListModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    //    $(document).ready(function () {

    $("#btnUp").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        if (parseInt(page) == 0)
            return false;
        $('#Loading').show();

        // ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/BinaryListing",
            data: { selectedPage: parseInt(page) - 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });


    $("#btnNext").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var lastValue = $('#page option:last-child').val();
        if (parseInt(page) == parseInt(lastValue))
        //return false;

            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/BinaryListing",
            data: { selectedPage: parseInt(page) + 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/BinaryListing",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>
<div id="MemberDiv">
<div class="row">
    <div class="col-lg-12">
    <h2 style="padding-left:10px;">@resShared.mnuGroupListing</h2>
				<!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin-left:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#"></a></li>
					<li class="active"><a href="#">@resShared.mnuGroupListing</a></li>
				</ol>
        @*<ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>@resShared.mnuSalesChart</li>
            <li><i class="fa fa-edit"></i>@resShared.mnuGroupListing</li>
        </ol>*@
        <h1 class="page-sub-header">
        </h1>
    </div>
</div>
    <div class="table-responsive">
        <table id="tablestyle" width="100%" border="1" class="table-style table table-th-block table-hover">
            <thead>
                <tr style="height: 25px;">
                    <th style="text-align: center;color:White">
                        @resShared.lblNumber
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblUsername
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblName
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblUpline
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblLevel
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblRanking
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblDateJoined
                    </th>
                </tr>
            </thead>
            @if (Model.SponsorList.Count == 0)
            {
                <tr style="height: 25px; border-top: 2px solid white;">
                    <td style="padding: 5px;" colspan="10">
                        @resShared.lblNoRecFound
                    </td>
                </tr>
            }
            @foreach (var item in Model.SponsorList)
            {
                <tr style="height: 25px;color:aliceblue">
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.No)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Upline)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                </tr>
            }
        </table>
        </div>
        @if (Model.SponsorList.Count != 0)
        {
            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <button id="btnUp" type="button" class="btn btn-sm btn-default" style="width:150px">Previous Page</button>
                            <button id="btnNext" type="button" class="btn btn-sm btn-default" style="width:150px;margin-right:10px">@resShared.btnNextPage</button>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; padding-top:10px">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                            <button id="btnPage" type="button" class="btn btn-sm btn-default" style="width: 100px;margin-right:10px;">@resShared.btnView</button>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
