﻿@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model MemberSponsorChartModel
@using System.Linq;

<!DOCTYPE html>
<style>
    @@media screen and (max-width: 600px) {
        .Display_None_In_Mobile {
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
        }
    }
</style>

<script type="text/javascript">
    //$("#btnSearchByName").click(function (evt) {
    $(document).on('click', '#btnSearchByName', function () {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SearchSponsor",
            data: { Username: $('#searchName').val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });

    });

    //$(document).on('click', '#goYourself', function () {
    //    $.ajax({
    //        type: "POST",
    //        url: "/MemberShopCenter/SponsorChartTree",
    //        data: {},
    //        success: function (data) {
    //            $("#main-content").html(data);
    //            $('#Loading').hide();
    //            //event.stopPropagation();
    //        },
    //        error: function (xhr, status, error) {
    //            var errorM = xhr.responseText;
    //            errorM = errorM.replace('""', '');
    //            alert(errorM);
    //            $('#Loading').hide();
    //        }
    //    });
    //});

</script>
<script type="text/javascript">
    //    $(document).ready(function () {

    var mybutton_counter = 0;

    $("#btnUp").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        if (parseInt(page) == 0)
            return false;

        //            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: parseInt(page) - 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    $("#btnNext").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var lastValue = $('#page option:last-child').val();
        if (parseInt(page) == parseInt(lastValue))
            //return false;

            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: parseInt(page) + 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: page },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    $(document).on('click', '.sponsorlist', function () {
        $(".qtip").hide();
        $('#Loading').show();

        if (mybutton_counter > 0) { return false; } //you can set the number to any
        var topMember = $(this).attr("member");
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorListing",
            data: { TopMember: topMember },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
        mybutton_counter++; //incremental

    });

</script>

<html lang="en">

<body>


    <!--
    ===========================================================
    BEGIN PAGE
    ===========================================================
    -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left:10px;">@resShared.mnuSalesChart</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border ">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li class="active"><a href="#">@resShared.mnuReferralChart</a></li>
                </ol>
            </div>
        </div>
        <br />
        <!-- End breadcrumb -->

        <div class="margin-bottom-25 ">
            <div class="faq-site the-box no-margin no-border col-sm-12 margin-bottom-f25" data-delay="0">
                <div class="faq-container-fluid">
                    <div class="content row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" class="sponsorchart" href="#sponsorchart">
                                        @resShared.mnuReferralChart
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" class="sponsorlist" href="#sponsorlist">
                                        @resShared.mnuReferralListing
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content faq">
                                <div id="sponsorchart" class="tab-pane fade in active ">
                                    <div id="accordion_sponsorchart" class="panel-group accordion">
                                        <div class="row margin-bottom-25">
                                            @*<div class="col-sm-4 col-md-3 margin-bottom-f25 Display_None_In_Mobile">
                                                <div class="no-border no-margin no-padding">
                                                    <div style="display:table">
                                                        <div class="business-plan-tab">
                                                            <ul class="no-margin no-padding bg-dark" style="margin-bottom:0;">

                                                                @foreach (var item in Model.RankList)
                                                                {
                                                                    if (@item.RankIconPath != null)
                                                                    {
                                                                        <li> <img src=@(Url.Action("GetImage", "Home", new { id = @item.RankIconPath })) />@item.RankName</li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- /.the-box .no-border .no-margin -->
                                            </div><!-- /.col-sm-5 col-md-4-->*@

                                            <div class="col-sm-12 col-md-12 col-full-width-left tree-tab">

                                                <div class="the-box no-margin no-border col-sm-12 margin-bottom-f25 border-grandiant-style1">
                                                    <div id="tree">
                                                        <div id="tree">
                                                            <ul id="treeData">
                                                                <li class="none">
                                                                    <img src=@Model.FirstLevelRankIcon style="width:38px;height:38px;" />
                                                                    <b>@Model.FirstLevelMember</b>
                                                                    <img src="../../Content/assets/img/icon/tree/ico_upline.png" /><u>@Model.FirstLevelLevel</u>
                                                                    <img src="../../Content/assets/img/icon/tree/ico_member.png" />@Model.FirstLevelFullname
                                                                    <img src="../../Content/assets/img/icon/tree/ico_star.png" />@Model.FirstLevelRanking
                                                                    <img src="../../Content/assets/img/icon/tree/ico_total.png" />@Model.FirstLevelJoinedDate
                                                                    @*<img src="../../Content/assets/img/icon/tree/ico_upline.png" />@Model.FirstLevelIntro*@
                                                                    <ul id=@Model.FirstLevelMember>
                                                                        <li></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>


                                                        </div><!--end of tree-->





                                                    </div>
                                                    <fieldset class="legend">
                                                        <legend>@resShared.lblLegend</legend>
                                                        <ul>

                                                            <li><img src="../../Content/assets/img/icon/tree/ico_member.png" width="16" /><p>@resShared.lblFullname</li>
                                                            <li><img src="../../Content/assets/img/icon/tree/ico_star.png" /><p>@resShared.lblRanking </p></li>
                                                            <li><img src="../../Content/assets/img/icon/tree/ico_total.png" /><p>@resShared.lblJoinedDate </p></li>
                                                            <li><img src="../../Content/assets/img/icon/tree/ico_upline.png" /><p>@resShared.lblSponsor</p></li>
                                                        </ul><!--end of legend-->
                                                    </fieldset>
                                                </div><!-- /.col-sm-7 col-md-8-->



                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div id="sponsorlist" class="tab-pane fade in">
                                   
                                </div>
                            </div>
                        </div> <!-- ./content row -->
                    </div><!-- faq-container-fluid -->
                </div>

            </div> <!-- ./row -->



        </div><!-- /.container-fluid -->
       
        <link href="../../Content/assets/css/ui.fancytree.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="../../Content/assets/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="../../Content/assets/js/jquery.ui.widget.js"></script>
        <script src="../../Content/assets/js/jquery.fancytree.js"></script>
        <script type="text/javascript">
            $("#tree").fancytree();
            var tree = $("#tree").fancytree("getTree");
            activeNode = tree.getActiveNode();

            var memberID = "";
            var titles = new Array();

            $("#tree").fancytree({
                collapse: function (event, data) {
                    //alert('collapse');
                },
                expand: function (event, data) {
                    var node = data.node;
                    var title = node.title;

                    var start = title.search("<b>") + 3;
                    var end = title.search("</b>");

                    var member = title.substring(start, end);
                    var a = titles.indexOf(title);
                    var startlevel = title.search("<u>") + 3;
                    var endlevel = title.search("</u>");

                    var lvl = title.substring(startlevel, endlevel);
                    if (a != -1) {
                        return false;
                    }

                    memberID = member;

                    $.ajax({
                        type: "POST",
                        url: "/MemberShopCenter/FindNextSponsorList",
                        data: { username: member, level: lvl },
                        success: function (data) {

                            var ul = document.getElementById(member);
                            ul.innerHTML = '';

                            $.each(data, function (index, optionData) {

                                var html_to_insert = '';
                                if (optionData.MemberCount == '0') {
                                    html_to_insert = '<li class="none">' +
                                        '<img src=' + optionData.RankIcon + '  style="width:38px;height:38px;"/>' +
                                        '<b>' + optionData.Member + '</b>' +
                                        '<img src="../../Content/assets/img/icon/tree/ico_upline.png" /><u>' + optionData.Level + '</u>' +
                                        '<img src="../../Content/assets/img/icon/tree/ico_member.png" />' + optionData.FullName +
                                        '<img src="../../Content/assets/img/icon/tree/ico_star.png" />' + optionData.Ranking +
                                        '<img src="../../Content/assets/img/icon/tree/ico_total.png" />' + optionData.JoinedDate +
                                        '<img src="../../Content/assets/img/icon/tree/ico_upline.png" />' + optionData.Intro +
                                        '</li>'
                                }
                                else {
                                    html_to_insert = '<li class="none">' +
                                        '<img src=' + optionData.RankIcon + '  style="width:38px;height:38px;"/>' +
                                        '<b>' + optionData.Member + '</b>' +
                                        '<img src="../../Content/assets/img/icon/tree/ico_upline.png" /><u>' + optionData.Level + '</u>' +
                                        '<img src="../../Content/assets/img/icon/tree/ico_member.png" />' + optionData.FullName +
                                        '<img src="../../Content/assets/img/icon/tree/ico_star.png" />' + optionData.Ranking +
                                        '<img src="../../Content/assets/img/icon/tree/ico_total.png" />' + optionData.JoinedDate +
                                        '<img src="../../Content/assets/img/icon/tree/ico_upline.png" />' + optionData.Intro +
                                        '<ul id=' + optionData.Member + '>' +
                                        '<li>' +
                                        '</li>' +
                                        '</ul>' +
                                        '</li>'
                                }

                                ul.innerHTML += html_to_insert;
                            });

                            $("#tree").fancytree();
                            tree.getActiveNode();
                            titles.push(node.title);

                            tree.visit(function (n) {
                                var a = titles.indexOf(n.title);
                                if (a != -1) {
                                    n.setExpanded(true);
                                }
                            });
                            return false;
                        },
                        error: function (xhr, status, error) {
                            var errorM = xhr.responseText;
                            errorM = errorM.replace('""', '');
                            alert(errorM);
                        }
                    });

                }
            });
        </script>



</body>
</html>