﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member
@model SignUpModel
<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@resShared.lblYiCommm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Login_files/loader-style.css">
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Login_files/signin.css">
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap-select.min.css">

    <script type="text/javascript" src="~/Content/Login_files/jquery.js"></script>
    <script type="text/javascript" src="~/Content/Login_files/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/Login_files/jquery_002.js"></script>

    <style>

        .col {
            width: 45%;
            float: left;
        }

        .form-control_1 {
            display: block;
            width: 20%;
            float: left;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-control_2 {
            display: block;
            width: 50%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
    <style type="text/css">
        #waf_nc_block {
            position: fixed;
            _position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
        }

        .waf-nc-mask {
            background: #f8f8f8;
            opacity: 0.5;
            filter: alpha(opacity=50);
            width: 100%;
            height: 100%;
        }

        .waf-nc-wrapper {
            width: 480px;
            height: 254px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -127px;
            margin-left: -240px;
            margin-bottom: 16px;
            background: #ffffff;
            border: 3px solid #00A2CA;
        }

        .waf-nc-icon {
            position: absolute;
            top: 18px;
            left: 20px;
        }

        .waf-nc-title {
            margin-top: 23px;
            margin-left: 47px;
            font-size: 16px;
            color: #333333;
            line-height: 10px;
            text-align: left;
        }

        .waf-nc-splitter {
            margin-left: 26px;
            margin-top: 5px;
            width: 430px;
            height: 0px;
            border: 1px solid #f4f4f4;
        }

        .waf-nc-description {
            margin-top: 22px;
            margin-left: 23px;
            font-size: 12px;
            color: #333333;
            text-align: left;
        }

        #nocaptcha {
            margin-top: 20px;
            margin-left: 92px;
            width: 300px;
            height36px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {


            $("#btnRefreshCaptcha").click(function (evt) {
                $(document.getElementById("Captcha")).val("");

                rand = Math.random();
                $("#btnRefreshCaptcha").css('src', 0);
                $("#btnRefreshCaptcha").attr("src", "@Url.Action("../AdminLogin/CaptchaImage")?randomnumber" + rand);
            });

            $("#btnLoginPage").click(function (event) {
                location.href = "/Member/MemberLogin";
            });


            $("#findpwd").click(function (evt) {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/ResetPassword",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                    }
                });
            });

            

            $("#btnMobileEmailDeliver").click(function (evt) {
                MobileEmailDeliver();
                $("[class *= 'modal-backdrop']").hide();
            });

            function MobileEmailDeliver() {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/MobileAndEmailDeliver",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        timer();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            };
            
            $("#btnMobileDeliver").click(function (evt) {
                MobileDeliver();
                $("[class *= 'modal-backdrop']").hide();
            });

            function MobileDeliver() {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/MobileDeliver",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        timer();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            };

            $("#btnEmailDeliver").click(function (evt) {
                EmailDeliver();
                $("[class *= 'modal-backdrop']").hide();
            });

            function EmailDeliver() {
                $.ajax({
                    type: "POST",
                    url: "/MemberLogin/EmailDeliver",
                    data: $("#regMem").serialize(),
                    success: function (data) {
                        timer();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            };

            var b = $('#getmsalt');
            var text = b.attr('value');
            var counter = b.attr('data-delay');

            function timer() {
                $('#getmsalt').attr('disabled', 'disabled');
                setTimeout(function () {
                    b.val(text + ' ' + counter);
                    if (counter == 0) {
                        next();
                        $('#getmsalt').removeAttr('disabled');
                        counter = 60;
                    }
                    else {
                        counter--;
                        timer();
                    }
                }, 1000);
            }

            function next() {
                b.val('@resShared.btnGetVerificationCode');
                //whatever happens afterwards
            }

        });
    </script>


</head>

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("ResetPassword", "MemberLogin", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
{

    <div class="modal fade" id="ReceiveVerificationCodeMethod" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px">
            <div class="modal-content" style="text-align: center" align="center">
                <div class="modal-header" style="height: 70px">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4>@resShared.lblReceiveMethod</h4>
                </div>

                <div class="modal-body">
                    <center>
                        <button type="button" id="btnMobileEmailDeliver" class="btn btn-info" data-dismiss="modal" style="width: 100%;" aria-hidden="true">
                            @resShared.lblPhoneMethod & @resShared.lblEmailMethod
                        </button>
                        @*<button type="button" id="btnMobileDeliver" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblPhoneMethod
                    </button>
                    <button type="button" id="btnEmailDeliver" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblEmailMethod
                    </button>*@
                    </center>
                </div>
            </div>
        </div>
    </div>

    <body id="main-content">
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <div class="container">
            <div class="" id="login-wrapper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo-login">
                            <center>
                                <img src="@ViewBag.Logo" width="200" height="180" alt="UnionChain">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="account-box">
                            <form role="form">
                                <div class="form-group">
                                    <label for="inputUsernameEmail" id="forget_1">@resShared.lblUsername</label>
                                    <input type="text" id="inputUsernameEmail" name="username" required="" class="form-control" style="height:50px; border-radius:0">
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => @Model.Captcha, new { id = "captcha", @class = "form-control", placeholder = @resShared.lblCaptchaCode, style = "width:50%;float:left; height:50px; border-radius:0" })
                                    <img src="@Url.Action("../AdminLogin/CaptchaImage")" height="35px" width="120px" id="btnRefreshCaptcha" style="cursor:pointer; cursor: hand; height:50px; border-radius:0; padding-left:20px" title="换一张" class="captcha captcha-img verify_img">
                                    <input type="hidden" name="_captcha_id" value="">
                                </div>
                                <div class="form-group" style=" padding-top:10px">
                                    @Html.TextBoxFor(m => @Model.VerficationCode, new { id = "VerficationCode", @class = "form-control", placeholder = @resShared.lblVerificationCode, style = "width:50%;float:left; height:50px; border-radius:0" })
                                    <input class="btn btn-success" data-toggle="modal" data-target="#ReceiveVerificationCodeMethod" style="font-size:small; height:50px; border-radius:0;float:right;width:45%" type="button" value="@resShared.btnGetVerificationCode1" id="getmsalt" data-delay="60"> </input>
                                </div>

                                <br />
                                <br />
                                <br />
                                <div class="form-group" style=" padding-top:10px">

                                    <button onclick="" class="btn btn-block col-md-12" style="background-color:#2B244E; color:white" id="findpwd" type="button">@resShared.btnGetPassword</button>
                                </div>
                                <br />
                                <div class="form-group" style=" padding-top:20px">
                                    <button class="btn form-control col-md-12" style="background-color:#2B244E; color:white" type="button" id="btnLoginPage">
                                        @resShared.btnBackToLogin
                                    </button>
                                </div>
                            </form>
                            <div class="row-block">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div style="text-align:center;margin:0 auto;">
                    <h6 style="color:#fff;">@resShared.lblCopyRight</h6>
                </div>
            </div>
        </div>

        <div id="waf_nc_block" style="display: none;"><div class="waf-nc-mask"></div><div id="WAF_NC_WRAPPER" class="waf-nc-wrapper"><img class="waf-nc-icon" src="~/Content/Login_files/TB1_3FrKVXXXXbdXXXXXXXXXXXX-129-128.png" alt="" height="20" width="20"><p class="waf-nc-title">安全验证</p><div class="waf-nc-splitter"></div><p class="waf-nc-description">请完成以下验证后继续操作：</p><div id="nocaptcha"></div></div></div>

    </body>
}
</html>