﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member
@model SignUpModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@resShared.lblYiCommm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Login_files/bootstrap.css" rel="stylesheet" />

    <link href="../../Scripts/jquery.ui.dialog.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/popbox.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/popbox.min.js" type="text/javascript"></script>
    <script src="../../Scripts/popbox.js" type="text/javascript"></script>
    <link href="../../Scripts/JQueryUI/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/JQueryUI/jquery-ui.js" type="text/javascript"></script>
    <link href="~/Content/Login_files/signin.css" rel="stylesheet" />
    <link href="~/Content/Login_files/signup.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/Login_files/jquery.js"></script>
    @*<script type="text/javascript" src="~/Content/Login_files/bootstrap.js"></script>*@
    <script type="text/javascript" src="~/Content/Login_files/jquery_002.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnUpdatePassword").click(function (evt) {
                        $('#Loading').show();
                        $.ajax({
                            type: "POST",
                            url: "/MemberLogin/ResetPasswordMethod",
                            data: $("#regMem1").serialize(),
                            success: function (data) {
                                $("#main-content").html(data);
                                alert("@resShared.msgSaveSuccessfully")
                                window.location.href = "/Member/MemberLogin";
                                $('#Loading').hide();
                            },
                            error: function (xhr, status, error) {
                                var errorM = xhr.responseText;
                                errorM = errorM.replace('""', '');
                                alert(errorM);
                                $('#Loading').hide();
                            }
                        });
            });


            $("#btnLoginPage").click(function (event) {
                location.href = "/Member/MemberLogin";
            });

        });
      
    </script>
</head>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("UpdateLoginPassword", "MemberProfile", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem1", id = "regMem1" })) //this id very important to do HttpPost
{

    
    <body id="main-content">

        <div class="container">
            <div class="" id="login-wrapper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo-login">
                            <center>
                                <font color="red"><img src="@ViewBag.Logo" width="200" height="180" alt="UnionChain"></font>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-offset-0"></div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group pull-right">
                            <a href="#" id="lanCN"><img src="~/Content/Login_files/zh_cn.png" title="Simplified Chinese"></a>&nbsp;
                            <a href="#" id="lanEN"><img src="~/Content/Login_files/us.png" title="USA" width="24" height="23"></a>&nbsp;

                        </div>
                        <div class="form-group pull-right">
                            <p class="text-main text-bold">@resShared.lblSwitchLanguage</p>
                        </div>
                        <div class="form-group" style="width:100%">
                            <label>@resShared.lblMemberAccount</label>
                            @Html.TextBoxFor(m => @Model.Username, new { id = "username", @class = "form-control", @disabled = "disabled", style = " height:50px; border-radius:0" })
                            <br />
                            <img src="@Url.Action("../AdminLogin/CaptchaImage")" id="btnRefreshCaptcha" height="50px" width="120px" title="换一张" class="captcha captcha-img verify_img" style="cursor: pointer;">

                            <label>@resShared.lblImageVerificationCode</label>
                            @Html.TextBoxFor(m => @Model.Captcha, new { id = "txtCaptcha", @class = "form-control", style = " height:50px; border-radius:0" })

                            <label>@resShared.lblNewPwd</label>
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", type = "password", style = " height:50px; border-radius:0" })

                            <label>@resShared.lblConfirmNewPwd</label>
                             @Html.PasswordFor(model => model.RetypeNewPassword, new { @class = "form-control", type = "password", style = " height:50px; border-radius:0" })
                        </div>


                        <br />

                        <div class="row-block" style="margin-top: 15px;  ">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-block" id="btnUpdatePassword" type="button" style="background-color:#2B244E; color:white">@resShared.btnSubmit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-offset-0"></div>

                </div>
                <p>&nbsp;</p>
                <div style="text-align:center;margin:0 auto;">
                    <h6 style="color:#fff;">@resShared.lblCopyRight</h6>
                </div>
            </div>
        </div>

        <script src="~/Content/Login_files/bootbox.js"></script>
        <script src="~/Content/Login_files/bootstrap.js"></script>
        <div id="waf_nc_block" style="display: none;">
            <div class="waf-nc-mask"></div>
            <div id="WAF_NC_WRAPPER" class="waf-nc-wrapper">
                <img class="waf-nc-icon" src="~/Content/Login_files/TB1_3FrKVXXXXbdXXXXXXXXXXXX-129-128.png" alt="" width="20" height="20">
                <p class="waf-nc-title">安全验证</p>
                <div class="waf-nc-splitter"></div>
                <p class="waf-nc-description">请完成以下验证后继续操作：</p>
                <div id="nocaptcha"></div>
            </div>
        </div>


    </body>
}
</html>