/****************************************************************
 *  Theme   : SVI Dashboard - 2017
 *            SVI Admin Dashboard
 *  Author  : Hengman Solutions
 *  Version : 1.0.0        Last Update: 2017/10/16 - 1700
 ****************************************************************/
/*** Custom Style ***/

/*# sourceMappingURL=custom.css.map */


@media (min-width: 768px) {
.data-box h3 {
  margin-bottom: 5px;
  color: #EA9C2B;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "";
  color: #1c1c1c;
}

a.navbar-minimalize.minimalize-styl-2.btn.btn-primary {

}

ul#side-menu i.fa.fa-bars {
display: none !important;
}

}


@media (max-width: 767px) {
ul.nav.navbar-top-links.navbar-right {
    background-color: transparent !important;
}

input.btn.btn-primary.pull-left {
	width: 100%;
}	
.ui.tabs .nav-pills > li > a {
	padding: unset !important; 
}	
.data-bar.simplebar {
	margin-top: 6px;
}	
	
ul#side-menu {

}	
.body-small.mini-navbar .navbar-static-side {
    display: block;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
}
	
body.page.page-home.pace-done.body-small.mini-navbar i.fa.fa-bars {
  padding: 34px 0;
  font-size: 20px !important;
}	

a.navbar-minimalize.minimalize-styl-2.btn.btn-primary {
  display: visible;
}

.data-box h3 {
  color: #343640;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}



.data-box span {
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: #ea993b;
}

}

body.page.page-home.pace-done.body-small.mini-navbar {
    height: 100% !important;
}


  input[type=text]{
    width:100%;
    border-radius:4px;
    margin:4px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
.must-fill {
   color: #a2a2a2 !important;
}

.no-must-fill {
   color: #a2a2a2 !important;
}
  input[type=text]:focus{
    border-color:#ea9b2d;
    box-shadow:0 0 8px 0 #ea9b2d;
  }
  
  .inputWithIcon input[type=text]{
    padding-left:40px;
  }
  
  .inputWithIcon{
    position:relative;
  }
  
  .inputWithIcon i{
    position:absolute;
    left:0;
    top:3px;
    padding:9px 8px;
    color:#aaa;
    transition:.3s;
  }
  
  .inputWithIcon input[type=text]:focus + i{
    color:#ea9b2d;
  }
  
  .inputWithIcon.inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type=text]:focus + i{
    color:#fff;
    background-color:#ea9b2d;
  }

  .col-sm-9.col-lg-10.no-input {
    background-color: #f7f7f7;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 7px !important;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

p.answer {
    margin-bottom: 0;
    padding: 6px 12px;
}

input.form-control.data-show {
    background-color: #f7f7f7;
}

.form-horizontal .control-label{
  padding-top: 12px;
  letter-spacing: 0px;
  line-height: 1em;	
}

.verification.form-group input.form-control {
	margin: 0px;
}

ul#side-menu .fa-fw {
  top: 11px !important;
}

.page-login .form-control, .single-line {
  padding-left: 10px;
}

.pop_up_news .ui.items > .item > .content {
	margin-left: 0;
}

.pop_up_news .ibox-title {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  width: 100%;
}

.news-desc ul.list-icon.list-check-circle {
  padding: 0px;	
}

.tab-mobile {
	width: 33.33% !important;
}

ul.nav.nav-pills.nav-justified.nav-theme .nav > li > a {
	padding: 20px !important;
}

.ui.tabs .nav-pills a {
  padding: 20px !important;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top tr{
	
}

.listing-pagination {
  clear: both;
  display: list-item;
}

