﻿@model ECFBase.Models.MemberBankModel
@using resShared  = ECFBase.Resources.Member; 
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    
    $("#btnSave").click(function (evt) {
        $('#Loading').show();
//        if ($('#editBSForm').valid()) {
            $.ajax({
                type: "POST",
                url: "/MemberProfile/BankAccInfoMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $("#Home").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
//        }
    });

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        
        <div class="container-fluid">
            @Html.HiddenFor(model => model.MemberBankID)
            <!-- Page Heading -->
            <div class="row">
            
         <h2 style="padding-left:10px;">@resShared.mnuChgBankInfo</h2>
 <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuProfile</a></li>
						<li class="active"><a href="#">@resShared.mnuChgBankInfo</a></li>
					</ol>
					<!-- End breadcrumb -->
                    
                                     
                <div class="col-lg-12">  
                     <h1 class="page-sub-header">                        
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" align="center">
                <div align="center" style="background:#d9e6f2; border-radius:10px; width:80%">
                    <br />
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>
                                    @resShared.lblUserID
                                </label>
                                @Html.HiddenFor(model => model.Username)
                                @Html.Label(Model.Username, new { @class = "form-control", @readonly = "readonly" })
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblCountry
                                </label>

                                @Html.TextBoxFor(m => m.SelectedCountryStraing, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.SelectedCountry)

                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.mnuBank
                                </label>
                                @Html.DropDownListFor(m => m.SelectedBank, @Model.BankList, new { @class = "form-control" })
                                @Html.HiddenFor(m => m.SelectedBank)

                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblBranchName
                                </label>
                                @* @if (@Model.EnableEdit == true || @Model.EnableEditAll == true)
                {*@
                                @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control" })
                                @* }
                else
                {
                    @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                }*@
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblAccNo
                                </label>
                                @*  @if (@Model.EnableEdit == true || @Model.EnableEditAll == true)
                {*@
                                @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control" })
                                @* }
                else
                {
                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                }*@
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblBeneName
                                </label>
                                @* @if (@Model.EnableEdit == true || @Model.EnableEditAll == true)
                {*@
                                @Html.TextBoxFor(model => model.BeneficiaryName, new { @class = "form-control", @readonly = "readonly" })
                                @*  }
                else
                {
                    @Html.TextBoxFor(model => model.BeneficiaryName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                }*@
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblIC
                                </label>
                                @* @if (@Model.EnableEdit == true || @Model.EnableEditAll == true)
                {*@
                                @Html.TextBoxFor(model => model.BeneficiaryIC, new { @class = "form-control", @readonly = "readonly" })
                                @* }
                else
                {
                    @Html.TextBoxFor(model => model.BeneficiaryIC, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                }*@
                            </div>

                        </div>
                        <div class="BtnClass">
                            <button id="btnSave" type="button" class="btn btn-sm btn-default" style="width: 150px">@resShared.btnSave</button>
                        </div>
                        <br />
                    </form>
                </div> <br />
            </div>
        </div>
    }
</div>
    			