﻿@using resShared = ECFBase.Resources.Member;
@model ECFBase.Models.MemberBankModel
@using System.Globalization

<script type="text/javascript">

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
//        if ($('#editBSForm').valid()) {
            $.ajax({
                type: "POST",
                url: "/MemberProfile/BindBankCardsMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $("#Home").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
//        }
    });

</script>

<div id="editBSDiv" style="height: 800px;">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resShared.mnuBindingBankCards</h3>
                    </div>
                    <form>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblMemberAccount</label>
                                        @Html.TextBoxFor(m => m.MemberID, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblBankCardAccount</label>
                                        @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblBankName</label>
                                        @Html.DropDownListFor(m => m.SelectedBank, @Model.BankList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblBankAccountBranch</label>
                                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <button id="btnSave" type="button" class="btn btn-sm btn-theme" style="width: 150px">@resShared.btnSave</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
    

