﻿@using resShared = ECFBase.Resources.Member;
@model ECFBase.Models.EditMemberModel

<style>
    .linkdisabled {
        cursor: not-allowed;
    }
</style>
<script type="text/javascript">
    var mybutton_counter = 0;

    $("#btnSave").click(function (evt) {
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        //if ($('#editBSForm').valid()) {
            $('#Loading').show();
        var form = $('#editBSForm')[0];
        var data = new FormData(form);
            $.ajax({
            type: "POST",
                url: "/MemberProfile/RealNameAuthenticationMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
            },
                error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    mybutton_counter = mybutton_counter - 1;
                alert(errorM);
                    $('#Loading').hide();
            }
        });
        //}
        mybutton_counter++; //incremental
    });

    @*$("#IC").focusout(function (e) {
        var MaxIC = $(document.getElementById("ICMax")).val();
        var IC = $(document.getElementById("IC")).val();
        var Type = $(document.getElementById("ICType")).val();
        var ICType = "";

        if (Type === true) {
            ICType = "Alphanumeric";
        }
        else {
            ICType = "Digits";
        }

        if (MaxIC != IC.length) {
            alert("@resShared.warningICMustLength" + MaxIC + " " + ICType);
        }

    });*@


</script>

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("RealNameAuthenticationMethod", "MemberProfile", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
{
    <div id="page-content" style="height: auto;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div style="color:#FFF; padding-right:5px; border:none" class="form-control">
                        <div class="row col-md-12">
                            <label>@resShared.lblRealNameNotice1</label>
                            <label>
                                @resShared.lblRealNameNotice2
                            </label>
                        </div>
                    </div>
                    <div class="panel-heading" style="padding-top:50px">
                        <h3 class="panel-title">@resShared.mnuRealName</h3>
                    </div>
                    <br />
                    <form>
                        @if (@Model.Status == resShared.lblStatusRejected || @Model.Status == "" || @Model.Status == null)
                        {
                            if (@Model.Status == resShared.lblStatusRejected)
                            {
                                <div class="pull-right" style="color:#FFF; padding-right:5px">@resShared.msgYourSubmissionStatus @Model.Status @resShared.msgYourSubmissionStatus2</div>

                            }
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblFullNamePerIc</label>
                                      
                                        @Html.TextBoxFor(m => @Model.FullName, new { id = "truename", @class = "form-control" })
                                        @Html.HiddenFor(x => x.FullName)
                                        @Html.HiddenFor(x => x.Username)
                                        @Html.HiddenFor(x => x.VerificationID)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblIC</label>
                                        @*<input id="idcard" name="idcard" class="form-control" type="text">*@
                                        @Html.TextBoxFor(m => @Model.IdentityNumber, new { id = "IC", maxlength = 30, @class = "form-control" })
                                        @*@Html.HiddenFor(x => x.IdentityNumber)
                                        @Html.HiddenFor(x => x.ICLength, new { @id = "ICMax" })
                                        @Html.HiddenFor(x => x.SelectedICType, new { @id = "ICType" })*@
                                        <input name="type" value="60" type="hidden">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">@resShared.lblProtraitPhoto</label>
                                        <span class="pull-left btn btn-primary btn-file">
                                            @resShared.btnClickToUpload @*<input name="img_1" id="protraitphoto" type="file" @TypeAction="@BtnAction">*@
                                            @Html.DisplayFor(x => x.ProtraitPhoto)
                                            @Html.TextBoxFor(x => x.ProtraitPhoto, new { id = "ProtraitPhoto", type = "file", @class = "form-control" })
                                            @Html.HiddenFor(x => x.ProtraitPhotoPath)
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">@resShared.lblReversePhoto</label>
                                        <span class="pull-left btn btn-primary btn-file">
                                            @resShared.btnClickToUpload @*<input name="img_2" id="reversephoto" type="file" @TypeAction="@BtnAction">*@
                                            @Html.TextBoxFor(x => x.ReversePhoto, new { id = "ReversePhoto", type = "file", @class = "form-control" })
                                            @Html.HiddenFor(x => x.ReversePhotoPath)
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">@resShared.lblHandheldPhoto</label>
                                        <span class="pull-left btn btn-primary btn-file">
                                            @resShared.btnClickToUpload @*<input name="img_3" id="handheldphoto" type="file" @TypeAction="@BtnAction">*@
                                            @Html.TextBoxFor(x => x.HandheldPhoto, new { id = "HandheldPhoto", type = "file", @class = "form-control" })
                                            @Html.HiddenFor(x => x.HandheldPhotoPath)
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <img class="col-md-12" id="preview1" style="height:130px;border-width:0px;" />
                                        <span style="text-align:center; display:block">@resShared.lblProtraitPhoto</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <img class="col-md-12" id="preview2" style="height:130px;border-width:0px;" />
                                        <span style="text-align:center; display:block">@resShared.lblReversePhoto</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <img class="col-md-12" id="preview3" style="height:130px;border-width:0px;" />
                                        <span style="text-align:center; display:block">@resShared.lblHandheldPhoto</span>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 20px;">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"></label>
                                        <button type="button" class="fr w100 btn btn-h42 btn-rounded btn-style-21 fs-16 btn-theme" style="width: 100%" id="btnSave">@resShared.btnSubmit </button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="pull-right" style="color:#FFF; padding-right:5px">@resShared.msgYourSubmissionStatus @Model.Status</div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblMemberName</label>
                                        @*<input value="john lee" name="realname" class="form-control" type="text">*@
                                        @Html.TextBoxFor(m => @Model.FullName, new { id = "truename", @class = "form-control  linkdisabled", @disabled = "true" })
                                        @Html.HiddenFor(x => x.FullName)
                                        @Html.HiddenFor(x => x.Username)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">@resShared.lblIC</label>
                                        @*<input id="idcard" name="idcard" class="form-control" type="text">*@
                                        @Html.TextBoxFor(m => @Model.IdentityNumber, new { id = "IC", maxlength = Model.ICLength, @class = "form-control  linkdisabled", @disabled = "true" })
                                        @Html.HiddenFor(x => x.IdentityNumber)
                                        @Html.HiddenFor(x => x.ICLength, new { @id = "ICMax" })
                                        @Html.HiddenFor(x => x.SelectedICType, new { @id = "ICType" })
                                        <input name="type" value="60" type="hidden">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">@resShared.lblProtraitPhoto</label>
                                        <span class="pull-left btn btn-primary btn-file">
                                            @resShared.btnClickToUpload
                                            @Html.DisplayFor(x => x.ProtraitPhoto)
                                            @Html.TextBoxFor(x => x.ProtraitPhoto, new { id = "ProtraitPhoto", type = "file", @class = "form-control  linkdisabled", @disabled = "true" })
                                            @Html.HiddenFor(x => x.ProtraitPhotoPath)
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">@resShared.lblReversePhoto</label>
                                        <span class="pull-left btn btn-primary btn-file">
                                            @resShared.btnClickToUpload
                                            @Html.TextBoxFor(x => x.ReversePhoto, new { id = "ReversePhoto", type = "file", @class = "form-control  linkdisabled", @disabled = "true" })
                                            @Html.HiddenFor(x => x.ReversePhotoPath)
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">@resShared.lblHandheldPhoto</label>
                                        <span class="pull-left btn btn-primary btn-file">
                                            @resShared.btnClickToUpload
                                            @Html.TextBoxFor(x => x.HandheldPhoto, new { id = "HandheldPhoto", type = "file", @class = "form-control  linkdisabled", @disabled = "true" })
                                            @Html.HiddenFor(x => x.HandheldPhotoPath)
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <br><br>
                                    </div>
                                </div>*@
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @if (Model.ProtraitPhotoPath != "" || Model.ProtraitPhotoPath != null)
                                        {
                                            <img class="col-md-12" src="@Url.Content(Model.ProtraitPhotoPath)" style="height:200px;border-width:0px;" />
                                        }

                                        <span style="text-align:center; display:block">@resShared.lblProtraitPhoto</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @if (Model.ReversePhotoPath != "")
                                        {
                                            <img class="col-md-12" src="@Url.Content(Model.ReversePhotoPath)" style="height:200px;border-width:0px;" />
                                        }
                                        <span style="text-align:center; display:block">@resShared.lblReversePhoto</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @if (Model.HandheldPhotoPath != "")
                                        {
                                            <img class="col-md-12" src="@Url.Content(Model.HandheldPhotoPath)" style="height:200px;border-width:0px;" />
                                        }
                                        <span style="text-align:center; display:block">@resShared.lblHandheldPhoto</span>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 20px;">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"></label>
                                        <button type="button" class="fr w100 btn btn-h42 btn-rounded btn-style-21 fs-16 btn-theme" style="width: 100%" id="btnSave" disabled="true">@resShared.btnSubmit </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>

}
<script>

    $(function () {
        $("#ProtraitPhoto").change(function () {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview1");

            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                var imgObj = document.getElementById("preview1");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });
        $("#ReversePhoto").change(function () {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview2");

            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                var imgObj = document.getElementById("preview2");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });
        $("#HandheldPhoto").change(function () {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview3");

            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                var imgObj = document.getElementById("preview3");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });
    });

    //function check() {

    //    var card = $("#idcard").val();
    //    var type = $("[name=type]").val();
    //    var maxsize = 2 * 1024 * 1024;//2M
    //    if (type == 86) {
    //        // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
    //        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    //        if (reg.test(card) === false) {
    //            alert("ID card input is illegal");
    //            return false;
    //        }
    //    } else {
    //        var reg = /^[a-zA-Z0-9]{5,17}$/;
    //        if (reg.test(card) === false) {
    //            alert("护照输入不合法");
    //            return false;
    //        }
    //    }
    //    if ($("#file_upload1").val() == "") {
    //        alert("Please upload a positive photo");
    //        return false;
    //    }
    //    if (document.getElementById('file_upload1').files[0].size > maxsize || document.getElementById('file_upload2').files[0].size > maxsize || document.getElementById('file_upload3').files[0].size > maxsize) {
    //        alert("The picture cannot exceed 2M");
    //        return false;
    //    }
    //    if ($("#file_upload2").val() == "") {
    //        alert("Please upload the reverse photo");
    //        return false;
    //    }
    //    if ($("#file_upload3").val() == "") {
    //        alert("Please upload handheld photo");
    //        return false;
    //    }
    //    return true;


    //}
</script>
