﻿@using ECFBase.Models
@model PaginationAdminModel
@using resMasterSetup  = ECFBase.Resources.Member;
<html lang="en">
<head>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <!-- MAIN CSS (REQUIRED ALL PAGE)-->

    <script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/AdminList",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ModalEditAdminListData",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ModalEditAdminListData",
            data: { Username: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var username = document.getElementById("eliminateId").value;
        deleteAdmin(username);
        $("[class *= 'modal-backdrop']").hide();
    });

    $(".DeleteData").click(function (e) {
        $('#Loading').show();
        document.getElementById("eliminateId").value = this.id;
        $('#Loading').hide();
    });

    function deleteAdmin(username) {
        $.ajax({
            url: "/AdminGeneral/DeleteAdminList",
            type: "POST",
            data: { Username: username },
            success: function (data) {
                alert("@resMasterSetup.msgSaveSuccessfully");
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };

    </script>
</head>

<body class="tooltips">

    <div class="modal" id="confirmDialog"  role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:450px">
            <div class="modal-content" style="text-align:center" align="center">
                <div class="modal-header" style="height:70px">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>@resMasterSetup.lblConfirmation</h4>
                </div>
                <div class="modal-body">
                    @resMasterSetup.WarningDeleteAdmin
                </div>
                <div class="modal-footer">
                    <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resMasterSetup.lblYes</button>
                    <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resMasterSetup.lblNo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container-fluid">
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationSummary(true)

            <div class="row">

                <div class="col-lg-12">
                    <h2>@resMasterSetup.mnuAdminUserSetup</h2>
                    <!-- Begin breadcrumb -->
                    <ol class="breadcrumb default square rsaquo sm no-border ">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                        <li><a href="#">@resMasterSetup.mnuAdminUser</a></li>
                        <li class="active"><a href="#">@resMasterSetup.mnuAdminUserSetup</a></li>
                    </ol>
                    <h1 class="page-sub-header"></h1>


                    <div class="grid" style="margin-left: 10px; margin-right: 10px" id="grid">
                        <input type="hidden" id="eliminateId" />
                        @if (Session["EditUserSetup"] == "true")
            {
                            <div class="grid" style="margin-left: 5px;" id="grid">
                                <button id="btnCreate" type="button" class="btn btn-primary" style="float:right;width:180px;">@resMasterSetup.btnCreateNewAdmin</button>
                            </div>
                            <br />
                        }
                        <br />
                        <br />

                        <div class="table-responsive">
                            <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">
                                            @Html.Label(@resMasterSetup.lblUsername, new { @style = "color:white" })
                                        </th>
                                        <th style="text-align:center">
                                            @Html.Label(@resMasterSetup.lblFullname, new { @style = "color:white" })
                                        </th>

                                        @if (Session["EditUserSetup"] == "true")
                                        {
                                            <th style="padding: 5px; width: 5%; color: White; text-align:center">
                                                @Html.Label(@resMasterSetup.lblEdit, new { @style = "color:white" })
                                            </th>
                                            <th style="padding: 5px; width: 5%; color: White; text-align:center">
                                                @Html.Label(@resMasterSetup.lblDelete, new { @style = "color:white" })
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.AdminList.Count == 0)
                                    {
                                        <tr style="height: 25px;">
                                            <td style="padding: 5px;" colspan="10">
                                                @resMasterSetup.lblNoRecFound
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var item in Model.AdminList)
                                    {
                                        <tr style="height: 25px;">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdminUserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdminFirstName)
                                            </td>

                                            @if (Session["EditUserSetup"] == "true")
                                            {
                                                <td align="center" style="width: 60px">
                                                    <button style="text-decoration:none;" id="@item.AdminUserName" class="btn btn-sm btn-info EditData">
                                                        @Html.Image("imgEditBS|" + @item.AdminUserName, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                                    </button>
                                                </td>
                                                <td align="center" style="width: 60px">
                                                    <button style="text-decoration:none;" class="btn btn-sm btn-danger DeleteData" id="@item.AdminUserName" data-toggle="modal" data-target="#confirmDialog">
                                                        @Html.Image(String.Concat("imgDeleteAd|", @item.AdminUserName), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                                                    </button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.AdminList.Count != 0)
                        {
                            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                                <tr style="text-align: right">
                                    <td style="text-align: right">
                                        <div class="BtnClass" style="float: right;">
                                            @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })

                                        </div>
                                    </td>
                                    <td style="text-align: right">
                                        <button id="btnPage" type="button" class="btn btn-primary" style="width:100px">@resMasterSetup.btnView</button>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</body>

</html>