﻿@model ECFBase.Models.BankSetupModel
@using System.Globalization
@using resMasterSetup  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#SelectedLanguage").change(function () {
        $("[id *= 'Name|']").hide();
        $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Description|']").hide();
        $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
    });

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#editBSForm'));
            
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/BankSetupDataMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                    $('#Loading').hide();
                    event.stopPropagation();        
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();       
                }
            });
    });
</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="wrapper">
            <div class="col-lg-12">
                <h1 class="page-sub-header">
                    @*<small>@resMasterSetup.lblCreateNewBank</small>*@
                    @Html.HiddenFor(model => model.BankID)
                    @Html.ValidationMessageFor(model => model.BankID)
                </h1>
                 <h2>@resMasterSetup.lblCreateNewBank</h2>
            <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border ">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resMasterSetup.lblGeneral</a></li>
					<li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
					<li class="active"><a href="#">@resMasterSetup.lblCreateNewBank</a></li>
				</ol>
		<!-- End breadcrumb -->
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            <div class="form-group">
                                <label for="Position">
                                    @resMasterSetup.lblCountryName
                            </label>
                            @Html.DropDownListFor(model => model.SelectedCountryCode, @Model.CountryList, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resMasterSetup.lblBankCode<span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.BankCode, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.BankCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblSelectLanguage</label>
                            @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblBankCharges</label>
                            @Html.TextBoxFor(model => model.BankCharges, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblMaxBankCharges</label>
                            @Html.TextBoxFor(model => model.MaximumBankCharges, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                        {
                            string nameVisibility = "none";
                            string rowId = Model.NameLanguageList[i].LanguageCode;

                            if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                            { nameVisibility = "table-row"; }
                        <tr style="display:@nameVisibility">
                            <td width="50%" style="padding-bottom: 100px">
                                <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                    @resMasterSetup.lblBankName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName)
                                    )
                                </label>
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode)
                                @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName)
                                @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @rowId })
                            </td>
                        </tr>
                        }
                        </div>
                    </div>
                    @if (Session["EditBank"] == "true")
                {
                        <div class="BtnClass" style="text-align: center">
                            <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resMasterSetup.btnSave</button>
                        </div>
                    }
                </form>
            </div>
        </div>
            </div>
        }
    </div>
