﻿@using ECFBase.Models
@model PaginationBankSetupModel
@using resMasterSetup  = ECFBase.Resources.Member;

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/BankSetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
                event.stopPropagation();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/BankSetupData",
            data: { BankId: 0 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
                event.stopPropagation();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/BankSetupData",
            data: { BankId: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".DeleteData").click(function (e) {
        $('#Loading').show();
        document.getElementById("eliminateId").value = this.id;
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var bankId = document.getElementById("eliminateId").value;
        deleteBank(bankId);
        $("[class *= 'modal-backdrop']").hide();
    });

    $("#CancelBtn").click(function (evt) { 
        $('#Loading').hide();
    });

    function deleteBank(bankId) {

        $.ajax({
            url: "/AdminGeneral/DeleteBank",
            type: "POST",
            data: { BankId: bankId },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };

</script>

<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:450px">
        <div class="modal-content" style="text-align:center" align="center">
            <div class="modal-header" style="height:70px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>@resMasterSetup.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resMasterSetup.WarningDeleteBank
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resMasterSetup.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resMasterSetup.lblNo</button>
            </div>
        </div>
    </div>
</div>


<div id="reportBS" class="container-fluid">
    <div class="wrapper">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">@resMasterSetup.mnuBank</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border ">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resMasterSetup.mnuBank</a></li>
            </ol>
            <!-- End breadcrumb -->
            <input type="hidden" id="eliminateId" />
        </div>
    </div>
    <div>
        @if (Session["EditBank"] == "true")
        {
            <table width="100%">
                <tr>
                    <td style="padding:10px;">
                        <button id="btnCreate" type="button" class="btn btn-sm btn-primary" style="float:right;width:180px">@resMasterSetup.lblCreateNewBank</button>
                    </td>
                </tr>
            </table>

        }
                <br />
                <div class="table-responsive">
                    <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                    @Html.Label(@resMasterSetup.lblBankCode, new { @style = "color:White" })
                                </th>
                                <th style="text-align:center">
                                    @Html.Label(@resMasterSetup.lblBankName, new { @style = "color:White" })
                                </th>
                                <th style="text-align:center">
                                    @Html.Label(@resMasterSetup.lblCountryName, new { @style = "color:White" })
                                </th>

                                @if (Session["EditBank"] == "true")
                    {
                    <th style="padding: 5px; width: 5%; color: White;text-align:center">
                        @Html.Label(@resMasterSetup.lblEdit, new { @style = "color:White" })
                    </th>
                    <th style="padding: 5px; width: 5%; color: White;text-align:center">
                        @Html.Label(@resMasterSetup.lblDelete, new { @style = "color:White" })
                    </th>
                    }
                            </tr>
                        </thead>
                        <tbody style="background-color: #eee;">
                            @if (Model.BankList.Count == 0)
            {
                <tr style="height: 25px; border-top: 2px solid white;">
                    <td style="padding: 5px;" colspan="10">
                        @resMasterSetup.lblNoRecFound
                    </td>
                </tr>
                }
                            @foreach (var item in Model.BankList)
                {
                <tr style="height: 25px; border-top: 2px solid white;text-align:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.BankCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td align="center" style="width: 60px">
                        <a style="text-decoration:none;width:70px" class="btn btn-sm btn-info EditData" id="@item.BankID">
                            @Html.Image("imgEditBS|" + @item.BankID, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                        </a>
                    </td>
                    @if (Session["EditBank"] == "true")
                        {
                    <td align="center" style="width: 60px">
                        <a style="text-decoration:none;width:70px" class="btn btn-sm btn-danger DeleteData" id="@item.BankID" data-toggle="modal" data-target="#confirmDialog">
                            @Html.Image(String.Concat("imgDeleteAd|", @item.BankID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                        </a>
                    </td>
                        }
                </tr>
                }
                        </tbody>
                    </table>
                </div>
                @if (Model.BankList.Count != 0)
                {
                    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })

                                </div>
                            </td>
                            <td style="text-align: right">
                                <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width:100px">@resMasterSetup.btnView</button>
                            </td>
                        </tr>
                    </table>

                }
                <br />
                <br />
</div>

</div>
