﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member;

@model PaginationCategorySetupModel

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

            var e = document.getElementById("page")
            var page = e.options[e.selectedIndex].value;

            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CategorySetup",
                data: { selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();        
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();       
                }
            });
        });

        $("#btnCreate").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CategorySetupData",
                data: { CategoryID: 0 },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();        
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();   
                }
            });
        });

        $(".EditData").click(function (e) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CategorySetupData",
                data: { CategoryID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();        
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });
</script>

<div id="reportBS">
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-sub-header">
                <small>@resShared.lblGeneral >> @resShared.mnuProduct >> @resShared.mnuCategory</small>
            </h1>
        </div>
    </div>
    <div>
        <div class="grid" style="margin-left: 5px;" id="grid">
             @if (Session["EditCategory"] == "true")
             {
                <tr>
                    <td>
                        <button id="btnCreate" type="button" class="btn btn-sm btn-success" style="float:right;width:180px">@resShared.lblCreateNewCat</button>
                    </td>
                </tr>
                <br />
             }   
        </div>
        <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover" >
                    <thead>
                        <tr style="background-color: #363949;">
                            <th style="text-align:center">       
                                @Html.Label(@resShared.lblCatCode, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">    
                                @Html.Label(@resShared.lblCatName, new { @style = "color:White" })
                            </th>
                             <th style="text-align:center">
                                @Html.Label(@resShared.lblCatDesc, new { @style = "color:White" })
                            </th>
                            <th style="padding: 5px; width: 5%; color: White;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
						@if (Model.CategoryList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.CategoryList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                                </td>
                                  <td align="center" style="width: 60px">
                                    <button style="text-decoration:none;background:#eee" id="@item.CategoryID" class="EditData">
                                        @Html.Image("imgEditBS|" + @item.CategoryID, "~/Images/187-pencil.png", "Edit", 10, 0, 0, "Edit")
                                    </button>
                                </td>
                            </tr> 
                        }
                    </tbody>
				</table>
            </div>
				@if (Model.CategoryList.Count != 0)
                {
				 <table width="100%">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
							@Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnView</button>
						    </div>
                        </td>
                    </tr>
                </table>
                }
    </div>
</div>
