﻿@model ECFBase.Models.CategorySetupModel
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
        $("#SelectedLanguage").change(function () {
            $("[id *= 'Name|']").hide();
            $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Description|']").hide();
            $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        });

        $("#btnSave").click(function (evt) {
            $('#Loading').show();
            $.validator.unobtrusive.parse($('#editBSForm'));
            if ($('#editBSForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/CategorySetupDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                        $('#Loading').hide();
                        event.stopPropagation();        
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            }
        });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-sub-header">
                    <small>@resShared.lblCreateNewCat</small>
                    @Html.HiddenFor(model => model.CategoryID)
                    @Html.ValidationMessageFor(model => model.CategoryID)         
                </h1>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <form role="form">
                    <div style="max-width: 600px; text-align: left">
                        <div class="form-group">
                            <label for="Position">
                                    <strong>@resShared.lblCatCode <span style="color: Red">*</span></strong>
                            </label>                                
                            @Html.TextBoxFor(model => model.CategoryCode, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.CategoryCode)
                            </div>
                        </div> 
                        <div class="form-group">
                            <label>@resShared.lblSelectLanguage</label>
                            @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                        </div>
                       <div class="form-group">
                            @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                            {
                                string nameVisibility = "none";
                                string rowId = Model.NameLanguageList[i].LanguageCode;
                                
                                if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                { nameVisibility = "table-row"; }
                                <tr style="display:@nameVisibility">
                                    <td width="50%" style="padding-bottom:100px">
                                        <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                             @resShared.lblCatName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )
                                        </label>
                                    </td>
                                    <td>                                        
                                        @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode) 
                                        @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName) 
                                        @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Name|" + @rowId })
                                    </td>
                                </tr>
                            }
                        </div>
                         <div class="form-group">
                            @for (var i = 0; i < Model.DescriptionLanguageList.Count; i++)
                            {
                                string nameVisibility = "none";
                                string descriptionId = Model.DescriptionLanguageList[i].LanguageCode;

                                if (Model.DescriptionLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                { nameVisibility = "table-row"; }
                                <tr style="display:@nameVisibility">
                                    <td width="50%" style="padding-bottom:100px">
                                        <label for="Position" id="Description|@descriptionId" style="width:100%; display:@nameVisibility">
                                             @resShared.lblCatDesc ( @Html.DisplayFor(x => x.DescriptionLanguageList[i].LanguageName) )
                                        </label>
                                    </td>
                                    <td>                                        
                                        @Html.HiddenFor(x => x.DescriptionLanguageList[i].LanguageCode) 
                                        @Html.HiddenFor(x => x.DescriptionLanguageList[i].LanguageName) 
                                        @Html.TextBoxFor(x => x.DescriptionLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @descriptionId })
                                    </td>
                                </tr>
                            }
                        </div>                      
                            @if (Session["EditCategory"] == "true")
                            {
                                <div class="BtnClass" style="text-align:center">
                                <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                            </div>
                            }
                       </div>
                </form>
            </div>
        </div>        
    }
</div>
