﻿@model ECFBase.Models.CitySetupModel
@using System.Globalization
@using resMasterSetup  = ECFBase.Resources.Member;
@using resShared  = ECFBase.Resources.Member;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

        $("#SelectedLanguage").change(function () {
            $("[id *= 'Name|']").hide();
            $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Description|']").hide();
            $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        });

        $("#SelectedCountry").change(function () {
            $('#Loading').show();
            $.ajax({
                url: "/AdminGeneral/FindProvince",
                dataType: "json",
                type: "POST",
                delay: 0,
                data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
                success: function (data) {
                    var selectList = $(document.getElementById("SelectedProvince"));
                    selectList.empty();
                    $.each(data, function (index, optionData) {
                        var option = $('<option>').text(optionData.Text).val(optionData.Value);
                        selectList.append(option);
                        $('#Loading').hide();
                        event.stopPropagation();        
                    });
                }
            });
        });

        $("#btnSave").click(function (evt) {
            $('#Loading').show();
            $.validator.unobtrusive.parse($('#editBSForm'));
            if (jQuery("#editBSForm").valid() == true) {
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/CitySetupDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resMasterSetup.msgSaveSuccessfully");
                        $('#Loading').hide();
                        event.stopPropagation();        
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();   
                    }
                });
            }
        });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="container-fluid">
            <div class="wrapper">
                <div class="col-lg-12">
                    <h1 class="page-sub-header">
                        @Html.HiddenFor(model => model.CityID)
                        @Html.ValidationMessageFor(model => model.CityID)
                    </h1>
                    <h2>@resMasterSetup.lblCityName</h2>
                    <!-- Begin breadcrumb -->
                    <ol class="breadcrumb default square rsaquo sm no-border ">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                        <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                        <li class="active"><a href="#" onclick="dummy(0);return false;">@resMasterSetup.lblCityName</a></li>
                    </ol>
                    <!-- End breadcrumb -->
                </div>
            </div>
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            <div class="form-group">
                                <label for="Position">
                                    <strong>@resMasterSetup.lblCountryName<span style="color: Red">*</span></strong>
                                </label>
                                @if (Model.CityID == null)
                                {
                                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.CountryList, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.CountryList, new { @disabled = "disabled", @class = "form-control" })
                                    @Html.HiddenFor(m => m.SelectedCountry)
                                }
                            </div>
                            <div class="form-group">
                                <label for="Position">
                                    <strong>@resMasterSetup.lblProvinceName<span style="color: Red">*</span></strong>
                                </label>
                                @if (Model.CityID == null)
                                {
                                    @Html.DropDownListFor(m => m.SelectedProvince, @Model.ProvinceList, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.SelectedProvince, @Model.ProvinceList, new { @disabled = "disabled", @class = "form-control" })
                                    @Html.HiddenFor(m => m.SelectedProvince)
                                }
                            </div>
                            <div class="form-group">
                                <label for="Position">
                                    <strong>@resMasterSetup.lblCityCode<span style="color: Red">*</span></strong>
                                </label>
                                @Html.TextBoxFor(model => model.CityCode, new { @class = "form-control" })
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(model => model.CityCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@resMasterSetup.lblSelectLanguage</label>
                                @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                                {
                                    string nameVisibility = "none";
                                    string rowId = Model.NameLanguageList[i].LanguageCode;

                                    if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                    { nameVisibility = "table-row"; }
                                    <tr style="display:@nameVisibility">
                                        <td width="50%" style="padding-bottom:100px">
                                            <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                                @resMasterSetup.lblCityName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )
                                            </label>
                                        </td>
                                        <td>
                                            @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode)
                                            @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName)
                                            @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @rowId })
                                        </td>
                                    </tr>
                                }
                            </div>
                            @if (Session["EditCity"] == "true")
                            {
                                <div class="BtnClass" style="text-align:center">
                                    <button id="btnSave" type="button" class="btn btn-sm btn-primary" style="width: 150px">@resMasterSetup.btnSave</button>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
        </div>
