﻿@model ECFBase.Models.CompanySetupModel
@using res  = ECFBase.Resources.Member;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("#btnSave").click(function (evt) {

        $.validator.unobtrusive.parse($('#editBSForm'));       
            $('#Loading').show();
            var form = $('#editBSForm')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CompanySetupDataMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@res.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }            });
        
    });
</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("CompanySetupDataMethod", "AdminGeneral", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                     <h2 style="padding-left:10px;">@res.mnuCompanySetup</h2>
            <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border ">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@res.lblGeneral</a></li>
					<li><a href="#">@res.mnuMasterSetup</a></li>
					<li class="active"><a href="#">@res.mnuCompanySetup</a></li>
				</ol>
	    	<!-- End breadcrumb -->
                    <h1 class="page-sub-header"></h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" align="center">
                <div>
                    <form role="form">
                    <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                        <div class="form-group">
                            <label>
                                @res.lblCompanyName
                            </label>
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.CompanyID)
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblCompanyRegistrationNo
                            </label>
                            @Html.TextBoxFor(model => model.CompanyRegistrationNo, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblCompanyGSTNo

                            </label>
                            @Html.TextBoxFor(model => model.CompanyGSTNo, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblAddress <span style="color: Red">*</span>
                            </label>
                            @Html.TextBoxFor(m => @Model.CompanyAddress, new { @class = "form-control" })
                            <div>@Html.TextBoxFor(m => @Model.CompanyAddress1, new { @class = "form-control" })</div>
                            <div>@Html.TextBoxFor(m => @Model.CompanyAddress2, new { @class = "form-control" })</div>
                            <div>@Html.TextBoxFor(m => @Model.CompanyAddress3, new { @class = "form-control" })</div>
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblPostcode

                            </label>
                            @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblState

                            </label>
                            @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblCountry

                            </label>
                            @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblTelNo
                            </label>
                            @Html.TextBoxFor(model => model.TelNo, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblFaxNo
                            </label>
                            @Html.TextBoxFor(model => model.FaxNo, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                @res.lblEmail
                            </label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="Position"><strong>Company Logo (500x260px)</strong></label>                       
                                @Html.HiddenFor(model => model.CompanyImagePath)
                                @Html.ValidationMessageFor(model => model.CompanyImagePath)
                                @Html.TextBoxFor(model => model.CompanyImage, new { id = "CompanyImage", name = "CompanyImage", type = "file", @class = "form-control" })
                                @Html.DisplayFor(model => model.CompanyImageName)
                                @Html.ValidationMessageFor(model => model.CompanyImage)
                        </div>

                    </div>
                    </form>
                </div>
                <div class="BtnClass">
                    <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@res.btnSave</button>
                </div>
                <br />
            </div>
        </div>
    }

</div>
