﻿@model ECFBase.Models.CountrySetupModel
@using System.Globalization
@using resMasterSetup  = ECFBase.Resources.Member;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {        
        $.validator.unobtrusive.parse($('#editBSForm'));
        if (jQuery("#editBSForm").valid() == true) {
            $('#Loading').show();
            var dataSerialize = $("#editBSForm").serialize();
            var formData = new FormData($("#editBSForm")[0]);
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CountrySetupDataMethod",
                data: formData  ,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        } return
        alert("Please activate this record first");false;
        $('#Loading').hide();
    });

    $("#SelectedLanguage").change(function () {
        $('#Loading').show();
        $("[id *= 'Name|']").hide();
        $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Description|']").hide();
        $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $('#Loading').hide();
        event.stopPropagation();
    });

    function onkeyUp() {
        var seq = parseInt(document.getElementById("seqJS").value.replace(/[^0-9\.]/g, ''));
        document.getElementById("seqJS").value = seq;
    }

</script>
@using (Html.BeginForm("CountrySetupDataMethod", "AdminGeneral", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left:15px;">@resMasterSetup.lblCountry</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                    <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                    <li class="active"><a href="#">@resMasterSetup.lblCreateNewCountry</a></li>
                </ol>
                <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>

        </div>
        <div class="row" align="center">
            <div>
                <form role="form">
                    <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                        @Html.HiddenFor(model => model.CountryId)
                        @Html.ValidationMessageFor(model => model.CountryId)
                        <div class="form-group">
                            <label>@resMasterSetup.lblCountryCode<span style="color: Red">* @resMasterSetup.lblCountryDemo</span></label>
                            @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", placeholder = @resMasterSetup.lblCountryDemo })
                            <p class="help-block" style="color:Red">
                                @Html.ValidationMessageFor(model => model.CountryCode)
                            </p>
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblDisplaySequence<span style="color: Red">* @resMasterSetup.lblDemoSequence</span></label>
                            @Html.TextBoxFor(model => model.SequenceNumber, new { @class = "form-control", placeholder = @resMasterSetup.lblDemoSequence, onkeyUp = "onkeyUp();", id = "seqJS" })
                            <p class="help-block" style="color:Red">
                                @Html.ValidationMessageFor(model => model.SequenceNumber)
                            </p>
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblMobileCode <span style="color: Red">@resMasterSetup.lblDemoCountry</span></label>
                            @Html.TextBoxFor(model => model.MobileCode, new { @class = "form-control", placeholder = @resMasterSetup.lblDemoCountry })
                            <p class="help-block" style="color:Red">
                                @Html.ValidationMessageFor(model => model.MobileCode)
                            </p>
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblICLength</label>
                            @Html.TextBoxFor(model => model.ICLength, new { @class = "form-control" })
                            <p class="help-block" style="color:Red">
                                @Html.ValidationMessageFor(model => model.ICLength)
                            </p>
                        </div>
                        <div class="form-group">
                            <label>
                                <strong>@resMasterSetup.lblICType</strong>
                            </label>
                            @*@Html.DropDownList("CountryId", @Model.ICTypeSelection, new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.SelectedICType, @Model.ICTypeSelection, new { @class = "form-control" })
                            @Html.HiddenFor(m => m.SelectedICType)
                        </div>
                        <div class="form-group">
                            <label>@resMasterSetup.lblSelectLanguage</label>
                            @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                            {
                                string nameVisibility = "none";
                                string rowId = Model.NameLanguageList[i].LanguageCode;

                                if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                { nameVisibility = "table-row"; }
                                <tr style="display:@nameVisibility">
                                    <td width="50%" style="padding-bottom:100px">
                                        <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                            @resMasterSetup.lblCountryName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )
                                        </label>
                                    </td>
                                    <td>
                                        @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode)
                                        @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName)
                                        @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @rowId })
                                    </td>
                                </tr>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resMasterSetup.lblCountryFlag</strong>
                            </label>
                            @Html.HiddenFor(model => model.FlagImagePath)
                            @Html.ValidationMessageFor(model => model.FlagImagePath)
                            @Html.DisplayFor(model => model.FlagImageName, new { @class = "form-control" })
                            @Html.TextBoxFor(model => model.FlagImage, new { id = "FlagImage", name = "FlagImage", type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FlagImage)
                        </div>
                        @if (Session["EditCountry"] == "true")
                        {
                            <div class="BtnClass" style="text-align:center">
                                <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resMasterSetup.btnSave</button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
}
