﻿@using ECFBase.Models
@model PaginationCountrySetupModel
@using resMasterSetup  = ECFBase.Resources.Member;

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/CountrySetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".InactiveCountry").click(function (e) {
        if (confirm("@resMasterSetup.WarningDeactivate")) {
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/InAvtiveCountry",
                data: { CountryID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }
        else { }

    });


    $(".ActiveCountry").click(function (e) {
        if (confirm("@resMasterSetup.WarningActivate")) {
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/AvtiveCountry",
                data: { CountryID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resMasterSetup.msgSaveSuccessfully");
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }
        else { }
    });



        $(".EditData").click(function (e) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CountrySetupData",
                data: { CountryID: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#btnCreate").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/CountrySetupData",
                data: { CountryID: 0 },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });
</script>

<div class="container-fluid">
    <div class="col-lg-12">
        <h2>@resMasterSetup.lblCountry</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border ">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resMasterSetup.lblGeneral</a></li>
            <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
            <li class="active"><a href="#">@resMasterSetup.lblCountry</a></li>
        </ol>
        <!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>

    <div class="grid" style="padding: 20px;" id="grid">
        @if (Session["EditCountry"] == "true")
        {
            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <button id="btnCreate" type="button" class="btn btn-sm btn-primary" style="width:180px">@resMasterSetup.lblCreateNewCountry</button>
                        </div>
                    </td>
                </tr>
            </table>
        }
        <br />
        <div class="table-responsive">
            <table id="tablestyle" class="table-style table table-th-block table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            @Html.Label(@resMasterSetup.lblCountryCode, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label(@resMasterSetup.lblCountryName, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label(@resMasterSetup.lblDisplaySequence, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label(@resMasterSetup.lblMobileCode, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label("Status", new { @style = "color:White" })
                        </th>
                        <th style="padding: 5px; width: 5%; color: White;text-align:center">
                            @resMasterSetup.lblEdit
                        </th>
                        <th style="padding: 5px; width: 5%; color: White;text-align:center">
                            @resMasterSetup.lblAction
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CountryList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resMasterSetup.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.CountryList)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.CountryCode)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.CountryName)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.SequenceNumber)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.MobileCode)
                            </td>
                            <td align="center">


                                @if (item.Status == "False")
                                {
                                    @Html.Label("Active", new { @style = "color:green" })
                                }
                                else if (item.Status == "True")
                                {
                                    @Html.Label("InActive", new { @style = "color:Red" })
                                }
                            </td>
                            <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                <a style="text-decoration:none;" id="@item.CountryId" class="btn btn-sm btn-info EditData">
                                    @Html.Image("imgEditBS|" + @item.CountryId, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                </a>
                            </td>
                            <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                @if (item.Status == "False")
                                {
                                    <a style="text-decoration:none;width:70px" id="@item.CountryId" class="btn btn-sm btn-danger InactiveCountry">
                                        @Html.Image("imgEditBS|" + @item.CountryId, "~/Images/60-x-red.png", "DisActive", 10, 0, 0, "DisActive")
                                    </a>
                                }
                                else if (item.Status == "True")
                                {
                                    <a style="text-decoration:none;width:70px" id="@item.CountryId" class="btn btn-sm btn-danger ActiveCountry">
                                        @Html.Image("imgEditBS|" + @item.CountryId, "~/Images/tick.png", "Actived", 10, 0, 0, "Actived")
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.CountryList.Count != 0)
        {
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr style="text-align: right">
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                        </div>
                    </td>
                    <td style="text-align: right">
                        <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width:100px">@resMasterSetup.btnView</button>
                    </td>
                </tr>
            </table>
        }
    </div>

</div>
