﻿@model ECFBase.Models.DistrictSetupModel
@using System.Globalization
@using resMasterSetup  = ECFBase.Resources.Member;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#SelectedLanguage").change(function () {
            $('#Loading').show();
            $("[id *= 'Name|']").hide();
            $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Description|']").hide();
            $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $('#Loading').hide();
            event.stopPropagation();        
        });

        $("#SelectedCountry").change(function () {
            $('#Loading').show();
            $.ajax({
                url: "/AdminGeneral/FindProvince",
                dataType: "json",
                type: "POST",
                delay: 0,
                data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
                success: function (data) {
                    var selectList = $(document.getElementById("SelectedProvince"));
                    selectList.empty();
                    $.each(data, function (index, optionData) {
                        var option = $('<option>').text(optionData.Text).val(optionData.Value);
                        selectList.append(option);
                        $('#Loading').hide();
                        event.stopPropagation();        
                    });
                }
            });
        });

        $("#SelectedProvince").change(function () {
            $('#Loading').show();
            $.ajax({
                url: "/AdminGeneral/FindCity",
                dataType: "json",
                type: "POST",
                delay: 0,
                data: { ProvinceCode: $(document.getElementById("SelectedProvince")).val() },
                success: function (data) {
                    var selectList = $(document.getElementById("SelectedCity"));
                    selectList.empty();
                    $.each(data, function (index, optionData) {
                        var option = $('<option>').text(optionData.Text).val(optionData.Value);
                        selectList.append(option);
                        $('#Loading').hide();
                        event.stopPropagation();        
                    });
                }
            });
        });

        $("#btnSave").click(function (evt) {
            $('#Loading').show();
            if ($('#editBSForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/DistrictSetupDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resMasterSetup.msgSaveSuccessfully");
                        $('#Loading').hide();
                        event.stopPropagation();        
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();     
                    }
                });
            }
        });
    });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div id="t1">
            @Html.HiddenFor(model => model.DistrictID)
            <div class="col-lg-12">
                @* <h3>@resMasterSetup.lblGeneral >> @resMasterSetup.mnuMasterSetup >> @resMasterSetup.mnuDistrict </h3>*@
                <h2 style="padding-left:10px;">@resMasterSetup.lblDistrictName</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border ">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                    <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                    <li class="active"><a href="#">@resMasterSetup.lblDistrictName</a></li>
                </ol>
                <!-- End breadcrumb -->
            </div>
            <table width="800" id="tablestyle2" border="0" cellpadding="0" cellspacing="0" align="center"> 
                <tr>
                    <td colspan="2">
                        <center>
                            <table width="500" id="tablestyle">
                                <tr style="height: 25px; margin-top:5px;">
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resMasterSetup.lblCountryName<span style="color: Red">*</span></strong>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedCountry, @Model.CountryList, new { style = "width:210px; height:30px" })
                                    </td>
                                </tr>
                                
                                <tr style="height: 25px; margin-top:5px;">
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resMasterSetup.lblProvinceName<span style="color: Red">*</span></strong>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedProvince, @Model.ProvinceList, new { style = "width:210px; height:30px" })
                                    </td>
                                </tr>
                                <tr style="height: 25px; margin-top:5px;">
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resMasterSetup.lblCityName<span style="color: Red">*</span></strong>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedCity, @Model.CityList, new { style = "width:210px; height:30px" })
                                    </td>
                                </tr>
                                <tr style="height:25px; margin-top:5px;">
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resMasterSetup.lblDistrictCode<span style="color: Red">*</span></strong>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.DistrictCode)
                                        <div style="margin-left: 0px;">
                                            @Html.ValidationMessageFor(model => model.DistrictCode)
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height: 25px; margin-top:5px;">
                                    <td colspan="2">
                                        @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { style = "width:210px; height:30px" })
                                    </td>
                                </tr>
                                @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                                {
                                    string nameVisibility = "none";
                                    if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                    { nameVisibility = "table-row"; }
                                    <tr id="Name|@Model.NameLanguageList[i].LanguageCode" style="display:@nameVisibility">
                                        <td width="50%">
                                            <label for="Position" style="width:100%">
                                                <strong>@resMasterSetup.lblDistrictName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )</strong>
                                            </label>
                                        </td>
                                        <td>
                                            @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode) 
                                            @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName) 
                                            @Html.EditorFor(x => x.NameLanguageList[i].Text)
                                        </td>
                                    </tr>
                                }
                                <tr style="height: 25px; margin-top:5px;">
                                    <td colspan="2">
                                        <center>
                                            <input class="btn btn-sm btn-primary" id="btnSave" value=@resMasterSetup.btnSave />
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
