﻿@using ECFBase.Models
@model PaginationDistrictSetupModel
@using resMasterSetup  = ECFBase.Resources.Member;

<script type="text/javascript">

    $.ajaxSetup({ cache: false });
    $(document).ready(function () {

        $("#btnPage").click(function (evt) {
            $('#Loading').show();

            var e = document.getElementById("page");
            var page = e.options[e.selectedIndex].value;

            var city = document.getElementById("SelectedCity");
            var cityCode = city.options[city.selectedIndex].value;

            ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/DistrictSetup",
                data: { selectedCityCode: cityCode, selectedPage: page },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#SelectedCountry").change(function () {
            $('#Loading').show();
            $.ajax({
                url: "/AdminGeneral/FindProvince",
                dataType: "json",
                type: "POST",
                delay: 0,
                data: { CountryCode: $(document.getElementById("SelectedCountry")).val() },
                success: function (data) {
                    var selectList = $(document.getElementById("SelectedProvince"));
                    selectList.empty();
                    $.each(data, function (index, optionData) {
                        var option = $('<option>').text(optionData.Text).val(optionData.Value);
                        selectList.append(option);
                        $('#Loading').hide();
                        event.stopPropagation();
                    });
                }
            });
        });

        $("#SelectedProvince").change(function () {
            $('#Loading').show();
            $.ajax({
                url: "/AdminGeneral/FindCity",
                dataType: "json",
                type: "POST",
                delay: 0,
                data: { ProvinceCode: $(document.getElementById("SelectedProvince")).val() },
                success: function (data) {
                    var selectList = $(document.getElementById("SelectedCity"));
                    selectList.empty();
                    $.each(data, function (index, optionData) {
                        var option = $('<option>').text(optionData.Text).val(optionData.Value);
                        selectList.append(option);
                        $('#Loading').hide();
                        event.stopPropagation();
                    });
                }
            });
        });

        $("#btnSearch").click(function (evt) {
            $('#Loading').show();

            var city = document.getElementById("SelectedCity");
            var cityCode = city.options[city.selectedIndex].value;

            ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/DistrictSetup",
                data: { selectedCityCode: cityCode, selectedPage: 1, selectedCountryCode: $(document.getElementById("SelectedCountry")).val(), selectedProvinceCode: $(document.getElementById("SelectedProvince")).val() },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#btnCreate").click(function (evt) {
            $('#Loading').show();
           // ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/DistrictSetupData",
                data: { DistrictId: 0, SelectedCountryCode: $(document.getElementById("SelectedCountry")).val(), SelectedProvinceCode: $(document.getElementById("SelectedProvince")).val(), SelectedCityCode: $(document.getElementById("SelectedCity")).val() },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $(".EditData").die() //must come in pair with .live if not multiple times will fired
        $(".EditData").live("click", function (e) {
            ShowProgressAnimation();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/DistrictSetupData",
                data: { DistrictId: this.id },
                success: function (data) {
                    $("#main-content").html(data);
                    $("#ajaxloading").dialog("close");
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
        });

        function deleteDistrict(districtId) {
            $.ajax({
                url: "/AdminGeneral/DeleteDistrict",
                type: "POST",
                data: { DistrictId: districtId },
                success: function (data) {
                    $("#main-content").html(data);
                    $("#ajaxloading").dialog("close");
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $("#ajaxloading").dialog("close");
                }
            });
        };

        $(".deletebutton").hover(function () {
            $(this).css("cursor", "pointer");
        });

        $("[id *= 'imgDeleteAd']").click(function (ev) {

            var districtId = this.id.substring(12);
            ev.preventDefault();
            $("#dialog-confirm").dialog({
                resizable: false,
                height: 150,
                width: 420,
                position: top,
                modal: true,
                title: '@resMasterSetup.lblDelete',
                hide: { effect: "puff", direction: "up", duration: 300 },
                buttons: {
                    "@resMasterSetup.lblYes": function () {
                        $(this).dialog("close");
                        deleteDistrict(districtId);
                    },
                    "@resMasterSetup.btnCancel": function () {
                        $(this).dialog("close");
                    }
                }
            }).dialog("widget").css({ "position": "fixed", "top": "0" }).animate({ top: "40%" }, 500);
            $(".ui-dialog").addClass("white-dialog");
            $(".ui-dialog").removeClass("ui-corner-all");
            $(".ui-dialog-titlebar").removeClass("ui-corner-all");
            $('.ui-dialog :button').blur();
        });
    });
</script>

<div id="dialog-confirm"  style="display: none; background-color: white;">
    <p><span style="float: left; margin: 0 0 0 0;"></span>@resMasterSetup.WarningDeleteDistrict</p>
</div>
<div>
    <div>
        <div id="reportBS">
            <div class="col-lg-12"> 
                <h2>@resMasterSetup.mnuDistrict</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border ">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                    <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                    <li class="active"><a href="#">@resMasterSetup.mnuDistrict</a></li>
                </ol>
                <!-- End breadcrumb -->
            </div>
            <div style="margin:15px;">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <table width="100%" class="test">
                                <tr>
                                    <th style="background:white">
                                        <label>@resMasterSetup.lblCountry:</label>
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedCountry, @Model.CountryList, new { style = "width:150px; height:30px" })
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background:white">
                                        <label>@resMasterSetup.mnuProvince:</label>
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedProvince, @Model.ProvinceList, new { style = "width:150px; height:30px" })
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background:white">
                                        <label>@resMasterSetup.mnuCity:</label>
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedCity, @Model.CityList, new { style = "width:150px; height:30px" })
                                        <input id="btnSearch" value="@resMasterSetup.btnSearch" class="btn btn-sm btn-primary" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="btnCreate" value="@resMasterSetup.btnCreateNewDistrict" class="btn btn-sm btn-primary" style="float:right;width:180px" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="tablestyle" width="100%" border="1px solid #414558;">
                                <thead>
                                    <tr style="height: 25px; background-color: #414558; border-top: 2px solid white;">
                                        <th style="padding: 5px; width: 30%">
                                            @Html.Label(@resMasterSetup.lblDistrictCode, new { @style = "color:White" })
                                        </th>
                                        <th>
                                            @Html.Label(@resMasterSetup.lblDistrictName, new { @style = "color:White" })
                                        </th>
                                        <th style="padding: 5px; width: 5%; color: White;">
                                        </th>
                                        <th style="padding: 5px; width: 5%; color: White;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DistrictList.Count == 0)
                                    {
                                        <tr style="height: 25px; border-top: 2px solid white;">
                                            <td style="padding: 5px;" colspan="10">
                                                @resMasterSetup.lblNoRecFound
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var item in Model.DistrictList)
                                    {
                                        <tr style="height: 25px; border-top: 2px solid white;">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DistrictCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DistrictName)
                                            </td>
                                            <td style="border-left: 1px solid white; align: right; cursor: pointer; padding: 0 0 0 0;margin: 0 0 0 0; text-align: center;">
                                                <a style="text-decoration:none;" id="@item.DistrictID" class="EditData">
                                                    @Html.Image("imgEditBS|" + @item.DistrictID, "~/Images/187-pencil.png", @resMasterSetup.lblEdit, 10, 0, 0, @resMasterSetup.lblEdit)
                                                </a>
                                            </td>
                                            <td>
                                                <div class="deletebutton">@Html.Image(String.Concat("imgDeleteAd|", @item.DistrictID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.DistrictList.Count != 0)
                            {
                                <table width="100%">
                                    <tr>
                                        <td style="text-align: right">
                                            <div class="BtnClass" style="float: right;">
                                                @Html.DropDownList("page", @Model.Pages, new { style = "width:50px;" })
                                                <input id="btnPage" value="@resMasterSetup.btnView" class="button" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>