﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member;
@model PaginationPackageSetupModel
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ExpiredPackageSetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ExpiredPackageSetupData",
            data: { PackageID: 0 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
                event.stopPropagation();
            }
        });
    });

    $(".EditData").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ExpiredPackageSetupData",
            data: { PackageID: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });
</script>
<div id="reportBS" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">Expired Package</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblGeneral</a></li>
                <li><a href="#">@resShared.mnuProduct</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">Expired Package</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div>
        <br />
        <div class="table-responsive" style="padding:10px;">
            <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblPackageCode, new { @style = "color:White" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblPackageName, new { @style = "color:White" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblCountryName, new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblRankName, new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblTotalPackage, new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblPkgPV, new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("E-Share A(%)", new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label("E-Share B(%)", new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblStartDate, new { @style = "color:White;" })
                        </th>
                        <th style="text-align: center">
                            @Html.Label(@resShared.lblEndDate, new { @style = "color:White;" })
                        </th>
                        <th style="padding: 5px; width: 5%; color: White;">
                            @Html.Label(@resShared.lblEdit, new { @style = "color:White;" })
                        </th>
                    </tr>
                </thead>
                <tbody style="background-color: #eee;">
                    @if (Model.PackageList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="12">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.PackageList)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td>
                                @Html.DisplayFor(modelItem => item.PackageCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PackageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CountryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RankName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCharge)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PackagePV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Eunit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EunitB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValidityStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValidityEnd)
                            </td>
                            <td align="center" style="width: 60px">
                                <button style="text-decoration:none;" id="@item.PackageID" class="EditData">
                                    @Html.Image("imgEditBS|" + @item.PackageID, "~/Images/187-pencil.png", "Edit", 10, 0, 0, "Edit")
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.PackageList.Count != 0)
        {
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                            
                        </div>
                    </td>
                    <td style="text-align: right">
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
