﻿@model ECFBase.Models.ParameterModel
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {
        $('#Loading').show();      
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/GeneralSettingsMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        
    });

</script>

<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" })) //this id very important to do HttpPost
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                <h2>@resShared.mnuGeneralSettings</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border ">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblGeneral</a></li>
                    <li><a href="#">@resShared.mnuAdminUser</a></li>
                    <li class="active"><a href="#">@resShared.mnuGeneralSettings</a></li>
                </ol>
                <!-- End breadcrumb -->

                <h1 class="page-sub-header"></h1>
            </div>
        </div>

        for (var i = 0; i < Model.SettingList.Count; i++)
        {
            <div class="col-lg-12" align="center">
                <div style="text-align: center; ">
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 col-md-8 col-xs-8" style="text-align:left">
                            <strong>@Model.SettingList[i].ParameterDescription <span style="color: Red">*</span> ( @Model.SettingList[i].ParameterUOM )</strong>

                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-4">
                            @Html.HiddenFor(model => @model.SettingList[i].ParameterName)
                            @Html.TextBoxFor(model => @Model.SettingList[i].ParameterFloatVal, new { @class = "form-control", @style = "text-align:right;" })
                        </div>

                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        }
        if (Session["EditGeneralSettings"] == "true")
        {
            <div class="col-lg-12" align="center">
                <div class="form-group">
                    <br />
                    <button id="btnSave" type="button" class="btn btn-sm btn-primary" style="width:100px">@resShared.btnSave</button>
                </div>
            </div>

        }
        <br />

        <br />
    }
</div>
