﻿@model ECFBase.Models.InfoDeskModel
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>

<script type="text/javascript">

    $("#btnSave").click(function (evt) {
        //if ($('#editBSForm').valid()) {
            $('#Loading').show();
            var form = $('#editBSForm')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/ImageSliderMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        //}
    });

    function showpreview(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgpreview').css('visibility', 'visible');
                $('#imgpreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }

    }

</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("ImageSliderMethod", "AdminGeneral", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.InfoDeskID)

        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left:10px;">Image Slider</h2>
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblGeneral</a></li>
                    <li><a href="#">@resShared.mnuAdminUser</a></li>
                    <li class="active"><a href="#">@resShared.mnuImageSlider</a></li>
                </ol>
            </div>
        </div>
            <div class="row" align="center">
                <div>
                    <form role="form">
                         @if (Model.ProductImagePath != "")
                        {
                            <div align="center">

                                <img src="@Url.Content(Model.ProductImagePath)" alt="Model.ProductImagePath" style="text-align:center" />

                            </div>
                        }
                        <div style="text-align: left; float:none; max-width:600px" class="col-lg-12 col-md-12 col-sm-12">

                           
                            <br />
                            <div align="left">
                                <label for="Position">
                                    <strong>@resShared.lblTitle <span style="color: Red">*</span></strong>
                                </label>
                                @Html.EditorFor(model => model.InfoDeskTitle, new { @style = "max-width:500px" })
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(model => model.InfoDeskTitle)
                                </div>
                            </div>
                            <div align="left">
                                <label for="Position">
                                    <strong>Image <span style="color: Red">*</span></strong>
                                </label>
                                @Html.HiddenFor(x => x.ProductImagePath)
                                @Html.ValidationMessageFor(x => x.ProductImagePath)
                                @Html.DisplayFor(x => x.ProductImageName)  (1000px X 700px)
                                @Html.TextBoxFor(x => x.ProductImage, new { id = "ProductImage", name = "ProductImage", type = "file", @class = "form-control", @style = "max-width:500px" })
                                @Html.ValidationMessageFor(x => x.ProductImage)
                            </div>


                            <div class="BtnClass" style="text-align:center">
                                <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            }
        </div>