﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member;
@model ECFBase.Models.PaginationInfoDeskModel

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ImageSlider",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ImageSliderData",
            data: { ImageID: 0 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/ImageSliderData",
            data: { ImageID: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".DeleteData").click(function (e) {
        $('#Loading').show();
        document.getElementById("eliminateId").value = this.id;
        $('#Loading').hide();
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var corpnewsID = document.getElementById("eliminateId").value;
        deleteCorpNews(corpnewsID);
        $("[class *= 'modal-backdrop']").hide();
        $('#Loading').hide();
    });

    function deleteCorpNews(imageID) {
        $.ajax({
            url: "/AdminGeneral/DeleteSlide",
            type: "POST",
            data: { InfoDeskID: imageID },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };



</script>

<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:450px">
        <div class="modal-content" style="text-align:center" align="center">
            <div class="modal-header" style="height:70px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                delete slide image ?
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>
<div id="reportBS">

    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:10px;">Image Slider</h2>
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblGeneral</a></li>
                <li><a href="#">@resShared.mnuAdminUser</a></li>
                <li class="active"><a href="#">@resShared.mnuImageSlider</a></li>
            </ol>
        </div>
    </div>
    <div class="col-lg-12">
        <input type="hidden" id="eliminateId" />
        <table style="width: 100%">

            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <button id="btnCreate" type="button" class="btn btn-sm btn-primary" style="float:right;width:180px">Create New</button>
                        </div>
                    </td>
                </tr>
            </table>

            <br />
            <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr style="background-color: #363949;">
                            <th style="text-align:center">
                                @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">
                                @Html.Label(@resShared.lblPostDate, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">
                                @Html.Label(@resShared.lblEdit, new { @style = "color:White" })
                            </th>
                            @if (Session["EditCorporateNews"] == "true")
                            {
                                <th style="text-align:center">
                                    @Html.Label(@resShared.lblDelete, new { @style = "color:White" })
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        @if (Model.InfoDeskList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.InfoDeskList)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoDeskTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoDeskPostDate)
                                </td>
                                <td align="center" style="width: 60px">
                                    <a style="text-decoration:none;" class="btn btn-sm btn-info EditData" id="@item.InfoDeskID">
                                        @Html.Image("imgEditBS|" + @item.InfoDeskID, "~/Images/187-pencil.png", @resShared.lblEdit, 10, 0, 0, @resShared.lblEdit)
                                    </a>
                                </td>
                                @if (Session["EditBank"] == "true")
                                {
                                    <td align="center" style="width: 60px">
                                        <a style="text-decoration:none;" class="btn btn-sm btn-danger DeleteData" id="@item.InfoDeskID" data-toggle="modal" data-target="#confirmDialog">
                                            @Html.Image(String.Concat("imgDeleteAd|", @item.InfoDeskID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.InfoDeskList.Count != 0)
            {
                <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                            </div>
                        </td>
                        <td style="text-align: right">
                            <button id="btnPage" type="button" class="btn btn-sm btn-primary" style="width: 100px">@resShared.btnView</button>
                        </td>
                    </tr>
                </table>
            }
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>

    </div>