﻿@model ECFBase.Models.LanguageSetupModel
@using System.Globalization
@using resMasterSetup  = ECFBase.Resources.Member;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    //$(document).ready(function () {

        $("#btnSave").click(function (evt) {
            $('#Loading').show();
           // if ($('#editBSForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/LanguageSetupDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resMasterSetup.msgSaveSuccessfully"); 
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
           // }
        });

    //});
</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="wrapper">
            <div class="col-lg-12">
                @Html.HiddenFor(model => model.LanguageId)
                <h2>@resMasterSetup.mnuLanguage</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border ">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resMasterSetup.lblGeneral</a></li>
                    <li><a href="#">@resMasterSetup.mnuMasterSetup</a></li>
                    <li class="active"><a href="#">@resMasterSetup.mnuLanguage</a></li>
                </ol>
                </div>
                <!-- End breadcrumb -->
            <div class="container-fluid">
                <div id="t1" align="center">
                    <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                        <table width="800" id="tablestyle2" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2">
                                    <table id="tablestyle">
                                        <tr>
                                            <td align="left">
                                                <label for="Position">
                                                    <strong>@resMasterSetup.lblLanguageCode<span style="color: Red">*</span></strong>
                                                </label>
                                            </td>
                                            @if (Model.LanguageId == null)
                                            {
                                                <td align="right">
                                                    @Html.TextBoxFor(model => model.LanguageCode, new { @class = "form-control" })
                                                    <div style="margin-left: 0px;">
                                                        @Html.ValidationMessageFor(x => x.LanguageCode)
                                                    </div>
                                                </td>
                                            }
                                            @if (Model.LanguageId != null)
                                            {
                                                <td align="right">
                                                    @Html.DisplayFor(x => x.LanguageCode)
                                                    @Html.HiddenFor(model => model.LanguageCode)
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <label for="Position">
                                                    <strong>@resMasterSetup.lblLanguageName<span style="color: Red">*</span></strong>
                                                </label>
                                            </td>
                                            <td align="right">
                                                @Html.TextBoxFor(model => model.LanguageName, new { @class = "form-control" })
                                                <div style="margin-left: 0px;">
                                                    @Html.ValidationMessageFor(model => model.LanguageName)
                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                        </div>
                        <div>
                            <br />
                            @if (Session["EditLanguage"] == "true")
                            {

                                <center>
                                    <input class="btn btn-primary" id="btnSave" value=@resMasterSetup.btnSave />
                                </center>

                            }

                        </div>
                    </div>



            </div>

        </div>
    }
    </div>