﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member;
@model PaginationPaymentModeSetupModel

<script type="text/javascript">
    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/SalesDeliveryMode",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#OkBtn").click(function (evt) {
        $('#Loading').show();
        var PMID = document.getElementById("eliminateId").value;
        PaymentModeDeleteMethod(PMID);
        $("[class *= 'modal-backdrop']").hide();
        $('#Loading').hide();
    });

    $(".DeleteData").click(function (e) {

        document.getElementById("eliminateId").value = this.id;
    });

    function PaymentModeDeleteMethod(PMID) {
        $.ajax({
            url: "/AdminGeneral/PaymentModeDeleteMethod",
            type: "POST",
            data: { payModeId: PMID },
            success: function (data) {
                $("#reportAd").html(data);
            },
            error: function (xhr, status, error) {
                $("#reportAd").html('');
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert('ERROR:' + errorM);
            }
        });
    };

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/PaymentModeSetupData",
            data: { payModeId: 0 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/PaymentModeSetupData",
            data: { payModeId: this.id },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>
<div class="modal fade" id="confirmDialog"  role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:450px">
        <div class="modal-content" style="text-align:center" align="center">
            <div class="modal-header" style="height:70px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>@resShared.lblConfirmation</h4>
            </div>
            <div class="modal-body">
                @resShared.WarningDeletePaymentMode
            </div>
            <div class="modal-footer">
                <button type="button" id="OkBtn" class="btn btn-info" data-dismiss="modal" style="width:100px;" aria-hidden="true">@resShared.lblYes</button>
                <button type="button" id="CancelBtn" class="btn btn-info" data-dismiss="modal" style="width:100px; padding-left:10px" aria-hidden="true">@resShared.lblNo</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm"  style="display: none; background-color: white;">
    <p>
        <span style="float: left; margin: 0 0 0 0;"></span>@resShared.WarningDeletePaymentMode
    </p>
</div>

<div id="reportAd">
    <div class="container-fluid">
        <div class="col-lg-12">

            <h2>@resShared.mnuPaymentmode</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border ">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblGeneral</a></li>
                <li><a href="#">@resShared.mnuMasterSetup</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuPaymentmode</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
        
            <input type="hidden" id="eliminateId" />

        <div style="width: 100%;">
            @if (Session["EditPaymentMode"] == "true")
            {
                <table width="100%">
                    <tr>
                        <td style="text-align: right;padding-right:10px;">
                            <div class="BtnClass" style="float: right;">
                                <input id="btnCreate" value=@resShared.btnCreateNewPaymentMode type="button" class="btn btn-sm btn-primary" style="width: 150px" />
                            </div>
                        </td>
                    </tr>
                </table>
            }

            <br />
                <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblNumber, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblPaymentModeType, new { @style = "color:White" })
                            </th>

                            @if (Session["EditPaymentMode"] == "true")
                            {
                                <th style="text-align: center">
                                    @Html.Label(@resShared.lblEdit, new { @style = "color:White" })
                                </th>
                                <th style="text-align: center">
                                    @Html.Label(@resShared.lblDelete, new { @style = "color:White" })
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        @if (Model.CategoryList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @{
                            var count = 0;
                        }
                        @for (var item = 0; item < Model.CategoryList.Count; item++)
                        {
                            count = item + 1;
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => count)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => Model.CategoryList[item].PayModeType)
                                </td>
                                <td style="align: right; cursor: pointer; padding: 0 0 0 0;
                                    margin: 0 0 0 0; text-align: center;">
                                    <a style="text-decoration:none;" id="@Model.CategoryList[item].PayModeID" class="btn btn-sm btn-info EditData">
                                        @Html.Image("imgEditBS|" + @Model.CategoryList[item].PayModeID, "~/Images/187-pencil.png", "Edit", 10, 0, 0, "Edit")
                                    </a>
                                </td>

                                @if (Session["EditPaymentMode"] == "true")
                                {
                                    <td align="center" style="width: 60px">
                                        <a style="text-decoration:none;" class="btn btn-sm btn-danger DeleteData" id="@Model.CategoryList[item].PayModeID" data-toggle="modal" data-target="#confirmDialog">
                                            @Html.Image(String.Concat("imgDeleteAd|", @Model.CategoryList[item].PayModeID), "~/Images/60-x-red.png", "Delete", 7, 0, 0)
                                        </a>
                                    </td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
           
        </div>
    </div>
</div>