﻿@model ECFBase.Models.RankModel
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
$("#btnSave").click(function (evt) {
    $.validator.unobtrusive.parse($('#editBSForm'));
    //if (jQuery("#editBSForm").valid() == true) {
            $('#Loading').show();
            var form = $('#editBSForm')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/RankSetupDataMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    closeAjax();
                }
            });
        //}
    });
</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RankSetupDataMethod", "AdminGeneral", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="padding-left:10px;">@ViewBag.Title</h2>
                    <ol class="breadcrumb default square rsaquo sm no-border" style="margin:10px">
                        <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                        <li><a href="#"> @resShared.lblGeneral</a></li>
                        <li><a href="#"> @resShared.mnuProduct</a></li>
                        <li><a href="#"> @ViewBag.Title</a></li>
                    </ol>
                    <h1 class="page-sub-header"></h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            @Html.HiddenFor(model => model.RankID)
                            <div class="form-group">
                                <label>
                                    @resShared.lblRankCode
                                </label>
                                @Html.TextBoxFor(model => model.RankCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RankCode)
                                <div style="margin-left: 0px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblRankName
                                </label>
                                @Html.TextBoxFor(model => model.RankName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RankName)
                            </div>
                            <div class="form-group">
                                <label>@resShared.lblHash</label>
                                @Html.TextBoxFor(model => model.Hash, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@resShared.lblHashPerformance</label>
                                @Html.TextBoxFor(model => model.PerformanceHash, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@resShared.lblHashPower</label>
                                @Html.TextBoxFor(model => model.ManagementHash, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label for="Position"><strong>Rank Icon(500x260px)</strong></label>
                                @Html.HiddenFor(model => model.RankIconPath)
                                @Html.ValidationMessageFor(model => model.RankIconPath)
                                @Html.TextBoxFor(model => model.RankIcon, new { id = "RankIcon", name = "RankIcon", type = "file", @class = "form-control" })
                                @Html.DisplayFor(model => model.RankIconName)
                                @Html.ValidationMessageFor(model => model.RankIcon)
                            </div>
                        </div>
                    </form>
                </div>
                <div class="BtnClass">
                    <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                </div>
                <br />
                <br />
            </div>
        </div>
    }
    <!-- /.container-fluid -->
</div>
