﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member; 
@model PaginationRankSetupModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnNewRank").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/RankSetupData",
            data: { rankID: 0 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
     
    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/RankSetupData",
            data: { rankID: this.id },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/RankSetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>
<div class="row">

    <div class="col-lg-12">
 <h2 style="padding-left:10px;">@resShared.lblRanking</h2>
     <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.lblGeneral</a></li>
						<li><a href="#">@resShared.mnuProduct</a></li>
						<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblRanking</a></li>
					</ol>
		 <!-- End breadcrumb --> 
        <h1 class="page-sub-header"></h1>
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            <button id="btnNewRank" type="button" class="btn btn-lm btn-success" style="width: 150px">@resShared.lblCreateNewRank</button>
                        </div>
                    </td>
                </tr>
            </table>
        <div class="table-responsive">
            <br /
            <div class="table-responsive">
                <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center; color:white">
                                @resShared.lblRankCode
                            </th>
                            <th style="text-align: center; color:white">
                                @resShared.lblRankName
                            </th>
                            <th style="text-align: center; color:white">
                                Hash %
                            </th>
                            <th style="text-align: center; color:white">
                                Performance Hash %
                            </th>
                            <th style="text-align: center; color:white">
                                Management Hash %
                            </th>
                            <th style="text-align: center; color:white">
                                @resShared.lblAction
                            </th>
                            <th style="text-align: center; color:white">
                                @resShared.lblRankIcon
                            </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        @if (Model.CategoryList != null)
                        {
                            foreach (var item in Model.CategoryList)
                            {
                                string style = "";

                                <tr style=@style>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.RankCode)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.RankName)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Hash)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.PerformanceHash)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.ManagementHash)
                                    </td>
                                    <td align="center" style="width: 60px">
                                        <button style="text-decoration:none;" id="@item.RankID" class="btn btn-sm btn-info EditData">
                                            @Html.Image("imgEditBS|" + @item.RankID, "~/Images/187-pencil.png", "Edit", 10, 0, 0, "Edit")
                                        </button>
                                    </td>
                                    <td align="center" style="width: 60px">
                                        @if (@item.RankIconPath != null)
                                        {

                                            <img width="75" height="75" src=@(Url.Action("GetImage", "Home", new { id = @item.RankIconName })) />

                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                        </div>
                    </td>
                    <td style="text-align: right">
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <br />
    <br />
<br />
</div>

          