﻿@model ECFBase.Models.PackageSetupModel
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    var mybutton_counter = 0;


    $(function () {

        $("#DODate").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
        });
    });

    $(function () {

        $("#DODate1").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
        });
    });     
    $("#btnSave").click(function (evt) {
            if (mybutton_counter > 0) { return false; } //you can set the number to any
            $('#Loading').show();
            var form = $('#editBSForm')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/RegistrationPackageSetupDataMethod",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    alert("@resShared.msgSaveSuccessfully");
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
    });

    $("#btnClear").click(function (evt) {
        $('#tblProductList > tbody > tr').remove();
    });

        $("#btnAdd").click(function (evt) {

            var value = $(document.getElementById("ProductQuantity")).val().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            var intRegex = /^\d+$/;

            if ($(document.getElementById("ProductQuantity")).val() == '0' || !intRegex.test(value)) {
                alert("@resShared.warningQty");
                return false;
            }

            var itemNumber = $("#tblProductList > tbody > tr").length;

            $('#tblProductList').append('<tr>' +
                                        '   <td style="text-align:right">' + $(document.getElementById("SelectedProd")).val() +
                                        '       <input data-val="true" data-val-required="Product Code is mandatory" id="ProductList_' + itemNumber + '__ProductCode" name="ProductList[' + itemNumber + '].ProductCode" type="hidden" value="' + $(document.getElementById("SelectedProd")).val() + '">' +
                                        '   </td>' +
                                        '   <td style="text-align:right">' + $("#SelectedProd option:selected").text() +
                                        '       <input id="ProductList_' + itemNumber + '__ProductName" name="ProductList[' + itemNumber + '].ProductName" type="hidden" value="' + $("#SelectedProd option:selected").text() + '">' +
                                        '   </td>' +
                                        '   <td style="text-align:right">' + $(document.getElementById("ProductQuantity")).val() +
                                        '       <input data-val="true" data-val-number="The field ProductQuantity must be a number." data-val-required="The ProductQuantity field is required." id="ProductList_' + itemNumber + '__ProductQuantity" name="ProductList[' + itemNumber + '].ProductQuantity" type="hidden" value="' + $(document.getElementById("ProductQuantity")).val() + '"> ' +
                                        '   </td>' +
                                        '</tr>');

            $(document.getElementById("ProductQuantity")).val('0');
        });

        $("#SelectedCategory").change(function () {
            RefreshProductDDL();
        });

        function RefreshProductDDL() {
            //Clear and refresh Product dropdown
            $.ajax({
                url: "/AdminGeneral/FindProduct",
                dataType: "json",
                type: "POST",
                delay: 0,
                data: { CategoryCode: $(document.getElementById("SelectedCategory")).val() },
                success: function (data) {
                    var selectList = $(document.getElementById("SelectedProd"));
                    selectList.empty();
                    $.each(data, function (index, optionData) {
                        var option = $('<option>').text(optionData.Text).val(optionData.Value);
                        selectList.append(option);
                    });
                }
            });
        }

        $("#SelectedLanguage").change(function () {
            $("[id *= 'Name|']").hide();
            $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
            $("[id *= 'Description|']").hide();
            $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        });
        function onkeyUp() {

            var id = document.getElementById("CountryName").value;
            var investId = "Invest|" + id;
            var invest = parseInt(document.getElementById(investId).value.replace(/[^0-9\.]/g, ''));
            document.getElementById(investId).value = invest;
            document.getElementById("TempPackageInvestment").value = invest;

            var chargeId = "DeliveryCharge|" + id;
            var charge = parseInt(document.getElementById(chargeId).value.replace(/[^0-9\.]/g, ''));
            document.getElementById(chargeId).value = charge;
            document.getElementById("TempDeliveryCharge").value = charge;

            var totalId = "TotalCharge|" + id;
            document.getElementById(totalId).value = invest + charge;
        };

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegistrationPackageSetupDataMethod", "AdminGeneral", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">

                <h2 style="padding:15px;">@resShared.lblCreateNewRegPkg</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border" style="margin:15px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblGeneral</a></li>
                    <li><a href="#">@resShared.mnuProduct</a></li>
                    <li class="active"><a href="#">@resShared.lblCreateNewRegPkg</a></li>
                    @Html.HiddenFor(model => model.PackageID)
                    @Html.ValidationMessageFor(model => model.PackageID)
                </ol>
                <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" align="center">
                <form role="form">
                    <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                        <div class="form-group">


                            @if (Model.PackageID == null)
    {
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblPackageCode <span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.PackageCode, new { @class = "form-control", @maxlength = "15" })

                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.PackageCode)
                            </div>
                        </div>
}
else
{
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblPackageCode<span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.PackageCode, new { @class = "form-control", @maxlength = "15", disabled = "disabled" })
                            @Html.HiddenFor(model => model.PackageCode, new { @id = "PackageCode" })

                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.PackageCode)
                            </div>
                        </div>
}


                            <div class="form-group">
                                @for (var i = 0; i < Model.CurrencyList.Count(); i++)
        {
            var codeVisibility = "none";
            if (Model.CurrencyList[i].CountryCode == Model.CountryName)
            {
                codeVisibility = "table-row";
            }

                        <div class="form-group">
                            <tr style="display:@codeVisibility">
                                <td width="60%">
                                    <label for="Position" id="lblPackageInvest|@Model.CurrencyList[i].CountryCode" style="width:100%; display:@codeVisibility">
                                        <strong>@resShared.lblPkgInvest <span style="color: Red">*</span></strong>
                                    </label>
                                </td>
                                <td style="width: 100px">
                                    @Html.TextBoxFor(model => model.PackageInvestment, new { @class = "form-control", id = "Invest|" + @Model.CurrencyList[i].CountryCode, style = "display:" + @codeVisibility, onkeyup = "onkeyUp();" })
                                    @Html.HiddenFor(model => model.TempPackageInvestment)
                                    <div>
                                        @Html.ValidationMessageFor(model => model.PackageInvestment)
                                    </div>
                                </td>
                            </tr>
                        </div>
                        @*<div class="form-group">
                            <tr style="display:@codeVisibility">
                                <td width="60%">
                                    <label for="Position" id="lblDeliveryCharge|@Model.CurrencyList[i].CountryCode" style="width:100%; display:@codeVisibility">
                                        <strong>@resShared.lblDeliveryCharge</strong>
                                    </label>
                                </td>
                                <td style="width: 100px">
                                    @Html.TextBoxFor(model => model.DeliveryCharge, new { @class = "form-control", id = "DeliveryCharge|" + @Model.CurrencyList[i].CountryCode, style = "display:" + @codeVisibility, onkeyup = "onkeyUp();" })
                                    @Html.HiddenFor(model => model.TempDeliveryCharge)
                                    <div>
                                        @Html.ValidationMessageFor(model => model.DeliveryCharge)
                                    </div>
                                </td>
                            </tr>
                        </div>*@
                        <div class="form-group">
                            <tr style="display:@codeVisibility">
                                <td width="60%">
                                    <label for="Position" id="lblTotalCharge|@Model.CurrencyList[i].CountryCode" style="width:100%; display:@codeVisibility">
                                        <strong>@resShared.lblTotalPackage</strong>
                                    </label>
                                </td>
                                <td style="width: 100px">
                                    @Html.TextBoxFor(model => model.TotalCharge, new { @class = "form-control", id = "TotalCharge|" + @Model.CurrencyList[i].CountryCode, style = "display:" + @codeVisibility, @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.TotalCharge)
                                </td>
                            </tr>
                        </div>
}
                            </div>

                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblPkgPV</strong><span> @resShared.lblPVmsg</span></label>
                                @Html.TextBoxFor(model => model.PackagePV, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PackagePV)
                            </div>
                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblRankName</strong><span> @resShared.lblPVmsg</span></label>
                                @Html.DropDownListFor(model => model.RankName, @Model.RankList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RankName)
                            </div>
                            <div class="form-group">
                                <label for="Position">
                                    <strong>Multiple Account</strong>
                                </label>
                                @Html.DropDownListFor(model => model.SelectedAccountNo, @Model.MultipleAccountList, new { @class = "form-control", @readonly = "readonly" })
                            </div>                           
                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblCountryName</strong></label>
                                @Html.DropDownListFor(model => model.CountryName, @Model.CountryList, new { @class = "form-control", id = "CountryName" })
                                @Html.ValidationMessageFor(model => model.CountryName)
                            </div>
                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblValidPeriod <p style="color:Red">(format: dd/mm/yyyy)</p></strong></label>
                                @Html.TextBoxFor(model => model.ValidityStart, "{0:dd-MM-yyyy}", new { id = "DODate", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ValidityStart)
                            </div>
                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblTo <p style="color:Red">(format: dd/mm/yyyy)</p></strong></label>
                                @Html.TextBoxFor(model => model.ValidityEnd, "{0:dd-MM-yyyy}", new { id = "DODate1", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ValidityEnd)
                            </div>

                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblDisplaySequence</strong></label>
                                @Html.TextBoxFor(model => model.DisplaySequence, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DisplaySequence)
                            </div>

                            <div class="form-group">
                                <label for="Position"><strong>@resShared.lblProdImage</strong></label>
                                @Html.HiddenFor(model => model.ProductImagePath)
                                @Html.ValidationMessageFor(model => model.ProductImagePath)
                                @Html.DisplayFor(model => model.ProductImageName, new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.ProductImage, new { @type = "file", @class = "input-file" })
                                @Html.ValidationMessageFor(model => model.ProductImage)
                            </div>
                            <div class="form-group">
                                <label>@resShared.lblSelectLanguage</label>
                                @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.NameLanguageList.Count; i++)
        {
            string nameVisibility = "none";
            string rowId = Model.NameLanguageList[i].LanguageCode;

            if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
            { nameVisibility = "table-row"; }
                        <tr style="display:@nameVisibility">
                            <td width="50%" style="padding-bottom:100px">
                                <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                    @resShared.lblPackageName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )
                                </label>
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode)
                                @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName)
                                @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Name|" + @rowId })
                            </td>
                        </tr>
}
                            </div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.DescriptionLanguageList.Count; i++)
        {
            string nameVisibility = "none";
            string descriptionId = Model.DescriptionLanguageList[i].LanguageCode;

            if (Model.DescriptionLanguageList[i].LanguageCode == Model.SelectedLanguage)
            { nameVisibility = "table-row"; }
                        <tr style="display:@nameVisibility">
                            <td width="50%" style="padding-bottom:100px">
                                <label for="Position" id="Description|@descriptionId" style="width:100%; display:@nameVisibility">
                                    @resShared.lblPackageDescription ( @Html.DisplayFor(x => x.DescriptionLanguageList[i].LanguageName) )
                                </label>
                            </td>
                            <td>
                                @Html.HiddenFor(x => x.DescriptionLanguageList[i].LanguageCode)
                                @Html.HiddenFor(x => x.DescriptionLanguageList[i].LanguageName)
                                @Html.TextBoxFor(x => x.DescriptionLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @descriptionId })
                            </td>
                        </tr>
}
                            </div>
                        </div>
                    </div>
                    @if (Session["EditRegistrationPackage"] == "true")
                {
                        <div class="BtnClass" style="text-align:center">
                            <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                        </div>
                        <br />
                    }
                </form>
            </div>
        </div>
    }
</div>
