﻿@model ECFBase.Models.AdminPasswordModel
@using resShared  = ECFBase.Resources.Member; 
@using System.Globalization
		
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#editBSForm'));
        if ($('#editBSForm').valid()) {
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/ResetAdminPasswordMethod",
                data: $("#editBSForm").serialize(),
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                     $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM); 
                    $('#Loading').hide();
                }
            });
        }
    });

</script>
<div class="container-fluid">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" })) //this id very important to do HttpPost
    {
        @Html.ValidationSummary(true)

        
        
        <div class="row">
       
            <div class="col-lg-12">
         <h2>@resShared.lblResetAdminPwd</h2>
             <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border ">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.lblGeneral</a></li>
						<li><a href="#">@resShared.mnuAdminUser</a></li>
						<li class="active"><a href="#">@resShared.lblResetAdminPwd</a></li>
					</ol>
			<!-- End breadcrumb -->
           
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left; padding-left:20px;padding-right:20px;">
                <div class="form-group">
                    <strong>@resShared.lblUsername <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = true })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div style="max-width: 600px; text-align: left; padding-left:20px;padding-right:20px;">
                <div class="form-group">
                    <strong>@resShared.lblNewPwd <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
             <div style="max-width: 600px; text-align: left; padding-left:20px;padding-right:20px;">
                <div class="form-group">
                    <strong>@resShared.lblNewPIN <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(model => model.NewPin, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(model => model.NewPin)
                    </div>
                </div>
            </div>
        </div>
        if (Session["EditResetUserPassword"] == "true")
        {
            <div class="row" align="center">
                <div style="max-width: 600px;">
                    <div class="form-group">
                        <button id="btnSave" type="button" class="btn btn-sm btn-primary" style="width:100px">@resShared.btnSave</button>
                    </div>
                </div>
            </div>
        }
    }
</div>
