﻿@model ECFBase.Models.SalesDeliveryModel 
@using resShared  = ECFBase.Resources.Member;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#editBSForm'));
            if ($('#editBSForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminGeneral/SalesDeliveryModeDataMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            }
        });
</script>

<div id="editPage">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div id="t1">
            @Html.HiddenFor(model => model.SalesDeliveryID)
            @Html.ValidationMessageFor(model => model.SalesDeliveryID)
            <div class="container-fluid">
                <table width="600" id="tablestyle2" border="0" cellpadding="0" cellspacing="0">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 style="padding-left:15px;">@resShared.lblNewSalesDeliveryModeSetup</h2>
                            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                                <li><a href="#">@resShared.lblGeneral</a></li>
                                <li><a href="#">@resShared.mnuMasterSetup</a></li>
                                <li class="active"><a href="#">@resShared.lblNewSalesDeliveryModeSetup</a></li>

                            </ol>

                            <h1 class="page-sub-header"></h1>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div>
                            <form role="form">
                                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <strong>@resShared.lblDeliveryMethod<span style="color: Red">*</span></strong>
                                        @Html.TextBoxFor(model => model.DeliveryMethod, new { @class = "form-control" })
                                        <div style="margin-left: 0px;">
                                            @Html.ValidationMessageFor(model => model.DeliveryMethod)
                                        </div>
                                    </div>
                                </div>
                                @if (Session["EditSalesDeliveryMode"] == "true")
                                {
                                    <div class="BtnClass" style="text-align:center">
                                        <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    }
</div>
