﻿@model ECFBase.Models.UtilitySetupModel
@using resShared = ECFBase.Resources.Member;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("#SelectedLanguage").change(function () {
        $("[id *= 'Name|']").hide();
        $("[id='Name|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
        $("[id *= 'Description|']").hide();
        $("[id='Description|" + $(document.getElementById("SelectedLanguage")).val() + "']").show();
    });

    $("#btnSave").click(function (evt) {
        $.validator.unobtrusive.parse($('#editBSForm'));
        var dataSerialize = $("#editBSForm").serialize();
        var formData = new FormData($("#editBSForm")[0]);
        if ($('#editBSForm').valid()) {
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/UtilitySetupDataMethod",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        }
    });

    $("#processing").focusout(function (e) {
        var t = $(document.getElementById("processing")).val();
        if (t.match("([a-z][A-Z]*)")) {
            alert("@resShared.WarningInputValidProcessingTime")
        }
      
        if (t.match(/\s/g)) {
            alert("@resShared.WarningNotAllowSpace")
                }
    });


    $("#min").focusout(function (e) {
        var t = $(document.getElementById("min")).val();
        if (t.match("([a-z][A-Z]*)")) {
            alert("@resShared.WarningPlsInputValidAmount")
        }
      
          if (t.match(/\s/g)) {
                    alert("@resShared.WarningNotAllowSpace")
                }
    });

    $("#max").focusout(function (e) {
        var t = $(document.getElementById("max")).val();
        if (t.match("([a-z][A-Z]*)")) {
            alert("@resShared.WarningPlsInputValidAmount")
        }
       
          if (t.match(/\s/g)) {
              alert("@resShared.WarningNotAllowSpace")
                }
    });
    $("#digit").focusout(function (e) {
        var t = $(document.getElementById("digit")).val();
        if (t.match("([a-z][A-Z]*)")) {
            alert("@resShared.WarningInputValidDigit")
        }
        
          if (t.match(/\s/g)) {
                    alert("@resShared.WarningNotAllowSpace")
                }
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
              
                <h2 style="padding-left:10px;">@resShared.lblCreateUtility</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblGeneral</a></li>
                    <li><a href="#">@resShared.mnuMasterSetup</a></li>
                    <li class="active"><a href="#">@resShared.lblCreateUtility</a></li>
                </ol>
                <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" align="center" >
                <form role="form">
                    <div class="col-lg-3 col-md-1"></div>
                    <div class="col-lg-5 col-md-8 col-sm-12" style="max-width: 600px; text-align: left">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.UtilityID)
                            @Html.ValidationMessageFor(model => model.UtilityID)
                            <label for="Position">
                                <strong>@resShared.lblUtCode <span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.UtilityCode, new { @class = "form-control" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.UtilityCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblUtProcess<span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.ProcessingTime, new { @class = "form-control", @id = "processing" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.ProcessingTime)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblCountry<span style="color: Red">*</span></strong>
                            </label>
                            @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "Country", @class = "form-control"})
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.ProcessingTime)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblMinimumAmount<span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.MinAmount, new { @class = "form-control", @id = "min", onkeypress = "return isNumberKey(event)" })
                            @*<input type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="currency" id="c1" />*@
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.MinAmount)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblMaximumAmount<span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.MaxAmount, new { @class = "form-control", @id = "max", onkeypress = "return isNumberKey(event)" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.MaxAmount)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblUtDigit<span style="color: Red">*</span></strong>
                            </label>
                            @Html.TextBoxFor(model => model.Digit, new { @class = "form-control", @id = "digit" })
                            <div style="margin-left: 0px;">
                                @Html.ValidationMessageFor(model => model.Digit)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position">
                                <strong>@resShared.lblUtilityImage</strong>
                            </label>
                            @Html.HiddenFor(model => model.UtilityImagePath)
                            @Html.ValidationMessageFor(model => model.UtilityImagePath)
                            @Html.DisplayFor(model => model.UtilityImageName, new { @class = "form-control" })
                            @Html.TextBoxFor(model => model.UtilityImage, new { id = "UtilityImage", name = "UtilityImage", type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UtilityImage)
                        </div>

                        <div class="form-group">
                            <label>@resShared.lblSelectLanguage</label>
                            @Html.DropDownListFor(model => model.SelectedLanguage, @Model.LanguageList, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @for (var i = 0; i < Model.NameLanguageList.Count; i++)
                            {
                                string nameVisibility = "none";
                                string rowId = Model.NameLanguageList[i].LanguageCode;

                                if (Model.NameLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                { nameVisibility = "table-row"; }
                                <tr style="display:@nameVisibility">
                                    <td width="50%" style="padding-bottom:100px">
                                        <label for="Position" id="Name|@rowId" style="width:100%; display:@nameVisibility">
                                            @resShared.lblUtName ( @Html.DisplayFor(x => x.NameLanguageList[i].LanguageName) )
                                        </label>
                                    </td>
                                    <td>
                                        @Html.HiddenFor(x => x.NameLanguageList[i].LanguageCode)
                                        @Html.HiddenFor(x => x.NameLanguageList[i].LanguageName)
                                        @Html.TextBoxFor(x => x.NameLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Name|" + @rowId })
                                    </td>
                                </tr>
                            }
                        </div>
                        <div class="form-group">
                            @for (var i = 0; i < Model.DescriptionLanguageList.Count; i++)
                            {
                                string nameVisibility = "none";
                                string descriptionId = Model.DescriptionLanguageList[i].LanguageCode;

                                if (Model.DescriptionLanguageList[i].LanguageCode == Model.SelectedLanguage)
                                { nameVisibility = "table-row"; }
                                <tr style="display:@nameVisibility">
                                    <td width="50%" style="padding-bottom:100px">
                                        <label for="Position" id="Description|@descriptionId" style="width:100%; display:@nameVisibility">
                                            @resShared.lblUtDesc ( @Html.DisplayFor(x => x.DescriptionLanguageList[i].LanguageName) )
                                        </label>
                                    </td>
                                    <td>
                                        @Html.HiddenFor(x => x.DescriptionLanguageList[i].LanguageCode)
                                        @Html.HiddenFor(x => x.DescriptionLanguageList[i].LanguageName)
                                        @Html.TextBoxFor(x => x.DescriptionLanguageList[i].Text, new { @class = "form-control", style = "display:" + @nameVisibility, id = "Description|" + @descriptionId })
                                    </td>
                                </tr>
                            }
                        </div>
                        <div class="row" align="center">
                            <div style="max-width: 600px; text-align: center">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.MobileBill)
                                    @Html.ValidationMessageFor(model => model.MobileBill)
                                    @resShared.lblMobileBill
                                </div>
                            </div>
                        </div>
                        @if (Session["EditUtilityBillMasterSetup"] == "true")

                        {
                            <div class="BtnClass" style="text-align:center">
                                <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    }
</div>
