﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member;

@model PaginationUtilitySetupModel

<script type="text/javascript">

    $("#btnPage").click(function (evt) {

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/UtilitySetup",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnCreate").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/UtilitySetupData",
            data: { UtilityID: 0 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".EditData").click(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/UtilitySetupData",
            data: { UtilityID: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $(".DeleteData").click(function (e) {
        $('#Loading').show();
        if (confirm("@resShared.warningAreyouSureToDelete")) {
        $.ajax({
            type: "POST",
            url: "/AdminGeneral/UtilityDeleteData",
            data: { UtilityID: this.id },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
            });
        }
        else { $('#Loading').hide(); }
    });
</script>

<div id="reportBS">

    <div class="row">
        <div class="col-lg-12">

            <h2 style="padding-left:10px;">@resShared.mnuUtilityBill</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.lblGeneral</a></li>
                <li><a href="#">@resShared.mnuMasterSetup</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuUtilityBill</a></li>
            </ol>
            <!-- End breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div>
        <div>

            @if (Session["EditUtilityBillMasterSetup"] == "true")
            {
                <table width="100%">
                    <tr>
                        <td style="padding:10px;">
                            <button id="btnCreate" type="button" class="btn btn-sm btn-success" style="float:right;width:180px">@resShared.lblCreateUtility</button>
                        </td>
                    </tr>
                </table>
            }
            <br />

        </div>
        <div class="table-responsive">
            <table id="tablestyle" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr style="background-color: #080808;">
                        <th style="text-align:center">
                            @Html.Label(@resShared.lblUtCode, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label(@resShared.lblUtName, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label(@resShared.lblUtDesc, new { @style = "color:White" })
                        </th>
                        <th style="text-align:center">
                            @Html.Label(@resShared.lblCountry, new { @style = "color:White" })
                        </th>
                        <th style="padding: 5px; width: 5%; color: White;text-align:center">
                            @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                        </th>
                        <th style="padding: 5px; width: 5%; color: White;text-align:center">
                            @Html.Label(@resShared.lblAction, new { @style = "color:White" })
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UtilityList.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;">
                            <td style="padding: 5px;" colspan="10">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.UtilityList)
                    {
                        <tr style="height: 25px; border-top: 2px solid white;text-align:center">
                            <td>
                                @Html.DisplayFor(modelItem => item.UtilityCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UtilityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UtilityDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SelectedCountry)
                            </td>
                            <td align="center" style="width: 60px">
                                <button style="text-decoration:none;" id="@item.UtilityID" class="btn btn-sm btn-info EditData">
                                    @*@Html.Image("imgEditBS|" + @item.UtilityID, "Edit", 10, 0, 0, "Edit")*@
                                    @resShared.lblEdit
                                </button>
                            </td>
                            <td align="center" style="width: 60px">
                                <button style="text-decoration:none;" id="@item.UtilityID" class="btn btn-sm btn-danger DeleteData">
                                    @*@Html.Image("imgEditBS|" + @item.UtilityID, "Edit", 10, 0, 0, "Edit")*@
                                    @resShared.lblDelete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.UtilityList.Count != 0)
        {
            <table width="100%">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnView</button>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
