/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
----*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        background: '';
        background: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}
/* text align right */
.txt-lt {
    text-align: left;
}
/* text align left */
.txt-center {
    text-align: center;
}
/* text align center */
.float-rt {
    float: right;
}
/* float right */
.float-lt {
    float: left;
}
/* float left */
.clear {
    clear: both;
}
/* clear float */
.pos-relative {
    position: relative;
}
/* Position Relative */
.pos-absolute {
    position: absolute;
}
/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
    display: block;
}
/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */
img {
    max-width: 100%;
}

.logo img {
    max-width: 65%;
}
/*end reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*background: url('../../../Images/bg2.jpg') no-repeat center fixed;*/
    background: url('../../../Images/brochure_v2_FA_outlined-1.png') no-repeat center fixed;
    background-color: #000;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.main {
    margin: 135px auto 0;
    width: 50%;
}

.logo {
    text-align: center;
    /*float:left;*/
    z-index: 1;
    border-collapse: collapse;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

form {  
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    align: center;
    /*background: #FAFBF8;*/
    background:rgba(250,251,248,0.8);    
    /*min-width:400px;*/
    /*left:25%;
    top:50%*/
}

    form:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        /*width: 100px;*/
        left: 20%;
        top: 0;
    }

    form:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 5px;
        border-radius: 50%;
        left: 34%;
        top: -7px;
        box-shadow: 0 0 6px 4px #fff;
    }

.inset {
    padding: 15px;
    border-top: 1px solid #000;
}


form h1 {
    color: #EEBA30;
    text-shadow: 0 1px 0 #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px 15px;
    position: relative;
    padding-top: 10px;
}

    form h1 > lable {
        text-align: left;
    }

    form h1 > a > i {
        position: absolute;
        right: 18px;
        top: -35px;
        bottom: 0;
        margin: auto;
        height: 0;
        cursor: pointer;
    }

    form h1 a {
        color: #fff;
    }

        form h1 a:hover {
            opacity: 0.75;
        }

    form h1 span {
        padding: 5px;
        background: #0184ff;
    }

label {
    /*
 	color:rgba(137, 192, 243, 0.8);
	*/
    color: #d5d5d5;
    display: block;
    font-size: 13px;
    padding-bottom: 9px;
}

input[type=text],
input[type=password] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 5px 5px;
    background: rgb(167,167,167); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 79%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(21%,rgba(181,181,181,1)), color-stop(79%,rgba(228,228,228,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    border: 1px solid #222;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    border-radius: 0.3em;
    margin-bottom: 20px;
    color: #000;
    font-size: 15px;
    outline: none;
}

label[for=remember] {
    color: #fff;
    display: inline-block;
    font-size: 13px;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
}

.p-container {
    padding: 0 20px 20px 20px;
}

    .p-container:after {
        clear: both;
        display: table;
        content: "";
    }

    .p-container span a {
        font-size: 12px;
        display: block;
        color: black;
        padding-top: 4px;
        text-align: center;
    }

.refresh {
    position: absolute;
    margin: 5px 9px;
    float: right;
    font-size: 24px;
    color: green;
    cursor: pointer;
}

input[type=submit] {
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: white;
    background: #0b59af;
    /*border: solid 1px #EEBA30;*/
    /*background: #354151;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    cursor: pointer;
    font-size: 15px;
    outline: none;
    border-radius: 0.8em
}

input[type=button] {
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: white;
    background: #0b59af;
    /*border: solid 1px #EEBA30;*/
    /*background: #354151;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    cursor: pointer;
    font-size: 15px;
    outline: none;
    border-radius: 0.8em
}

    /*input[type=submit]:hover {
        background: #f47c20;
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-linear-gradient(top, #f88e11, #f06015);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    }*/
    input[type=submit]:hover {
        background: #4575b2;
    }
/**start-copy-right**/
.copy-right {
    text-align: center;
}

    .copy-right p {
        color: #fff;
        font-size: 0.7em;
        padding: 10px 0;
    }

        .copy-right p a {
            font-size: 0.7em;
            font-weight: 600;
            color: #061A3D;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

    .copy-right a:hover {
        color: #fff;
    }


/*----start-responsive design-----*/
@media only screen and (max-width:1680px) {
    .main {
        margin: 20px auto 0;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width:1440px) {
    .main {
        margin: 50px auto 0;
        width: 33%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width:1366px) {
    .main {
        margin: 50px auto 0;
        width: 25%;
    }
}

@media only screen and (max-width:1280px) {
    .main {
        margin: 120px auto 0;
        width: 30%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width:1024px) {
    .main {
        margin: 70px auto 0;
        width: 40%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
    }

    /*----//Language Section ------*/
    .language_section {
        width: 100%;
        display: table;
        text-align: center;
        margin-bottom: -10px;
    }
}

@media only screen and (max-width:768px) {
    .main {
        margin: 80px auto 0;
        width: 43%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width:640px) {
    .main {
        margin: 100px auto 0;
        width: 81%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width:480px) {
    .main {
        margin: 50px auto 0;
        width: 80%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width:320px) {
    .main {
        margin: 30px auto 0;
        width: 96%;
    }

    .logo {
        text-align: center;
        /*float:left;*/
        z-index: 1;
        border-collapse: collapse;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }
}

/*----//end-responsive design-----*/

/*----//Language Section ------*/
.language_section {
    width: 100%;
    display: table;
    text-align: center;
    margin-bottom: -10px;
}

    .language_section > ul {
        display: flex;
    }

        .language_section > ul > li {
            color: rgba(195,191,155,1);
            font-weight: 700;
            float: left;
            width: 50%;
            margin: 5px 12px;
            text-align: center;
            padding: 8px 5px;
            cursor: pointer;
            display: block;
            border: 2px solid #d5aa51;
            -moz-border-image: -moz-linear-gradient(right, #a28447 0%, #d5aa51 100%);
            -webkit-border-image: -webkit-linear-gradient(right, #a28447 0%, #d5aa51 100%);
            border-image: linear-gradient(left, #a28447 0%, #d5aa51 100%);
            border-image-slice: 1;
        }

            .language_section > ul > li:hover {
                opacity: 0.85;
            }


@media only screen and (max-width:410px) {
    .language_section > ul > li {
        width: 50%;
        margin: 3px 6px;
    }
}

/*----//End Language Section ------*/


/*input[type="password"] {
  width:100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  color: White;
}
input[type="text"] {
  width:100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  color: White;
}*/
input[type="password"] {
    width: 100%;
    border: 0;
    outline: 0;
    background: #f2f2f2;
    /*border-bottom: 1px solid black;*/
    color: darkslategrey;
}

input[type="text"] {
    width: 100%;
    border: 0;
    outline: 0;
    background: #f2f2f2;
    /*border-bottom: 1px solid black;*/
    color: darkslategrey;
}

::-webkit-input-placeholder {
    color: red;
}

::-moz-placeholder {
    color: red;
}

:-ms-input-placeholder {
    color: red;
}

:-o-input-placeholder {
    color: red;
} 