﻿@using resShared  = ECFBase.Resources.Member;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@resShared.lblYiCommm</title>
    <link href="~/Content/Admin/Login/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/Login/css/animate.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Admin/Login/css/font-awesome.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Admin/Login/css/iosOverlay.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Admin/Login/css/animated-notifications.css" rel='stylesheet' type='text/css' />
    <script src="~/Content/Admin/Login/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/Admin/Login/js/jquery.ui.core.js"></script>
    <script src="~/Content/Admin/Login/js/spin.min.js"></script>
    <script src="~/Content/Admin/Login/js/iosOverlay.js"></script>
    <link href="~/Content/Admin/Login/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript">

    if ('@ViewBag.ReloadPage' == 'Y') {
        location.href = "/Admin/AdminLogin";
    }

    $(document).ready(function () {

        $(function () {
            $("input[type=text]").first().focus();
        });
        $("#errorDIV").hide();
        $("#txtUserName").focus();

         function login() {
            $.ajax({
                type: "POST",
                url: "/AdminLogin/ValidateLogin",
                data: { userName: $('#txtUserName').val(), password: $('#txtPassword').val(), captcha: $('#txtCaptcha').val() },
                success: function (data) {
                    window.location.href = "/Admin/Home";
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    location.reload();
                }
            });
        }


        $("#btnAdminLogin").click(function (evt) {
            login();
        });

        $("#txtUserName").keypress(function (e) {
            if (!isPressed) {
                login();
            }
        });

        $("#txtPassword").keypress(function (e) {
            if (!isPressed) {
                login();
            }
        });

        $("#txtCaptcha").keypress(function (e) {
            if (!isPressed) {
                login();
            }
        });

        $("#lanEN").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'en-US' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });

        $("#lanCN").click(function (evt) {
            $.ajax({
                type: "POST",
                url: "/Admin/ChangeLanguage",
                data: { languageCode: 'zh-CN' },
                success: function (data) {
                    //refresh page.
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                }
            });
        });
    });

    </script>
</head>
<body style="background-image:url(/Images/Member/login_bg.jpg) ;background-repeat: no-repeat; background-size: auto;background-position: center; ">

    <div class="main" id="BoxContent">
        <div>
            <center>
                <h3>
                    <b>
                        <img alt="Admin Login" src="@ViewBag.Logo" width="200" />
                       
                    </b>
                </h3>
            </center>
        </div>
        <form>
            <div>
                <center>
                    <br /><br />
                    <a id="lanEN" href="#"><b><span style="color: lightseagreen; padding:10px;font-size:medium">English</span></b></a>
                    <a id="lanCN" href="#"><b><span style="color: lightseagreen; padding:10px;font-size:medium">中文</span></b></a>
                </center>
            </div>
            <div class="inset">
                <div style="padding:15px;">
                    <input id="txtUserName" name="login.userId" type="text" class="form-control" style="color:black" placeholder="@resShared.lblUsername" required />
                </div>
                <div style="padding:0 15px;">
                    <input id="txtPassword" name="login.password" class="form-control" style="color:black" type="password" placeholder="@resShared.lblPassword" required />

                </div>
                <div style="padding:0 15px;">
                    <center>
                        <img alt="Captcha" id="captchaimg" height="50" width="120" src="@Url.Action("../AdminLogin/CaptchaImage")" />
                    </center>
                    
                </div>
                <div style="padding:15px;">                   
                    <input id="txtCaptcha" type="text" name="_captcha" class="form-control" style="color:black" placeholder=@resShared.lblCaptchaCode required />
                </div>

                <div style="text-align:center">
                    <input id="btnAdminLogin" type="submit" style="width:50%" value="@resShared.btnLogin">
                </div>
                <div>
                    
                    <p class="p-container" style="padding-top:10px">
                        <br />
                        <br />
                        <a id="forgetPassword" href="#" style="color: #191970; font-size:small; text-decoration:underline" class="pull-right"><b><span>@resShared.lblForgetPassword</span></b></a>
                        
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="copy-right">

        <p style="color:#0b59af; padding-top:0">
            @resShared.lblCopyRight
        </p>
    </div>
</body>

<script>
    $('form').submit(function (event) {
        event.preventDefault();

        window.setTimeout(function () {
            overlay.update({
                icon: "",
                text: "Success"
            });
        }, 3e3);

        window.setTimeout(function () {
            $('#Loading').hide();
            notify_msg();

        }, 5e3);

        return false;
    });

    function notify_msg() {
        //Notification
        var notification_msg = "Hello World";
        var notify_box = ('<div id="notifications-top-center" class="notifications-white"><span class="iconb" data-icon="&#xe20e;"></span>' + notification_msg + '<div id="notifications-top-center-close" class="close"><i class="fa fa-close"></span></div></div>');
        $("#notification").html(notify_box);
        $("#notifications-top-center").addClass('animated bounce');
        refresh_close();
    }


    function refresh_close() {
        $('.close').click(function () { $(this).parent().fadeOut(200); });
    }

</script>



</html>
