﻿@using ECFBase.Models
@model ShareLogModel
@using resShared  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script type="text/javascript">
    $("#btnSave").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminShare/TradingSavePrice",
                data: {                    
                    Price: $(document.getElementById("Price")).val(), ID: $(document.getElementById("ValueID")).val()
                },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });
  
   

    </script>



    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:15px;">@resShared.mnuTradingPriceAdjustment</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#"> @resShared.mnuTrading </a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;"> @resShared.mnuTradingPriceAdjustment </a></li>
            </ol>
            <!-- Begin breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>

    <div class="row" align="center">
        <div>
            <form role="form">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>
                            @resShared.lblTradingPrice
                        </label>
                        @Html.TextBoxFor(model => model.Value, new { @id = "Price", @class = "form-control" })
                        @Html.HiddenFor(model => model.TradingAdjustmentID, new { @id = "ValueID"})
                    </div>
                </div>
            </form>
        </div>
        <div class="BtnClass">
            <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
        </div>
        <br />
    </div>
