﻿@using ECFBase.Models
@model ShareLogModel
@using resShared  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        $.ajax({
            type: "POST",
            url: "/AdminShare/TradingMatchQueue",
            data: {
                selectedPage: page, Buyer: $(document.getElementById("Buyer")).val(),Seller: $(document.getElementById("Seller")).val(), Rate: $(document.getElementById("TheRate")).val(), Status: $(document.getElementById("Status")).val(), StartTime: $(document.getElementById("startdate")).val(), EndTime: $(document.getElementById("enddate")).val()
            },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
        });       

    $("#btnsearch").click(function (evt) {
            $('#Loading').show();
            var e = document.getElementById("page");
            var page = e.options[e.selectedIndex].value;
            $.ajax({
                type: "POST",
                url: "/AdminShare/TradingMatchQueue",
                data: {                    
                    selectedPage: page, Buyer: $(document.getElementById("Buyer")).val(),Seller: $(document.getElementById("Seller")).val(), Rate: $(document.getElementById("TheRate")).val(), Status: $(document.getElementById("Status")).val(), StartTime: $(document.getElementById("startdate")).val(), EndTime: $(document.getElementById("enddate")).val()
                },
                success: function (data) {
                    $("#main-content").html(data);
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });
  
    $(function () {

            $("#startDate").datepicker({
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
            });
        });      

    $(function () {

            $("#endDate").datepicker({
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
            format: 'dd-mm-yyyy'
            });
        });      

    </script>

<div>

    <div class="row">
        <div class="col-lg-12">
            <h2 style="padding-left:15px;">@resShared.mnuTradingMatchQueue</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resShared.mnuTrading</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;"> @resShared.mnuTradingMatchQueue </a></li>
            </ol>
            <!-- Begin breadcrumb -->
            <h1 class="page-sub-header"></h1>
        </div>
    </div>


    <div class="table-responsive">
        <table width="100%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <tr>
                <td style="text-align:right">
                    <label>Buyer:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    @Html.TextBoxFor(m => m.Buyer, Model.Buyer, new { @id = "Buyer", @class = "form-control", style = "width:200px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label>Seller:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    @Html.TextBoxFor(m => m.Seller, Model.Seller, new { @id = "Seller", @class = "form-control", style = "width:200px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label>@resShared.lblStatus:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    @Html.DropDownListFor(m => m.SelectedStatus, Model.StatusList, new { @id = "Status", @class = "form-control", style = "width:200px;" })
                </td>
                <td style="padding-left:10px"></td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label>@resShared.lblPrice:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    @Html.TextBoxFor(m => m.TheRate, Model.TheRate, new { @id = "TheRate", @class = "form-control", style = "width:200px;" })
                </td>
                <td style="padding-left:10px"></td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label>@resShared.lblDateFrom:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    <input type="text" id="startDate">
                </td>

            </tr>
            <tr>
                <td style="text-align:right">
                    <label> @resShared.lblTo:</label>
                </td>
                <td style="padding-left:10px; width:200px">
                    <input type="text" id="endDate">
                </td>
                <td style="padding-left:10px">
                    <button id="btnsearch" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
                </td>
            </tr>
            <tr>
                <td style="text-align:right"></td>
                <td style="padding:10px 10px;">
                    <a href="@Url.Action("ExportMatchQueue", "AdminShare", new {Buyer = @Model.Buyer,Seller= @Model.Seller, Status = @Model.SelectedStatus, startdate = @Model.startDate, enddate = @Model.endDate })" class="btn btn-sm btn-primary" target="_blank" style="width:100px">@resShared.btnExport</a>
                </td>
                <td style="padding-left:10px"></td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
            <thead>
                <tr>
                    <th style="text-align: center;color:White">
                        @resShared.lblBuyerAccount
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblSellerAccount
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblVolume
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblAmount
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblLocalAmount
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblStatus
                    </th>
                    <th style="text-align: center;color:White">
                        @resShared.lblDate
                    </th>
                </tr>
            </thead>
            <tbody style="background-color: #eee;">
                @if (Model.TradingSellQueue.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
                @if (Model.TradingSellQueue != null)
                {
                    foreach (var item in Model.TradingSellQueue)
                    {
                        string style = "";

                        <tr style=@style>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Buyer)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Seller)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.OriValue)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.LocalAmount)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.TradingSellQueue.Count > 0)
    {
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                    </div>
                </td>
                <td style="text-align: right">
                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                </td>
            </tr>
        </table>
    }
    <br />
    <br />
    <br />

</div>
