﻿@using resShared  = ECFBase.Resources.Member; 
@using ECFBase.Models
@model InvoiceModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#btnSave").click(function (evt) {
            $('#Loading').show();
            if ($('#editBSForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminSalesOrder/InvoiceMethod",
                    data: $("#editBSForm").serialize(),
                    success: function (data) {
                        $("#main-content").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                        $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loading').hide();
                    }
                });
            }
        });

    });
</script>

<div id="editBSDiv">
    <div style="height: 30px; padding-left: 20px; text-align: left">
        <h3>
            @resShared.lblSalesOrder >> @resShared.lblUtility >> @resShared.lblInvoiceListing
        </h3>
    </div>
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSalesOrder", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div id="t1" align="center">
            @Html.HiddenFor(model => model.Id)
            <table width="90%" id="tablestyle2" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" class="tabletitle">
                        <center>
                            <div>@resShared.lblUserInfo</div>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <table width="500" id="tablestyle">
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblUsername</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.Username)
                                        @Html.DisplayFor(model => model.Username, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong> @resShared.lblCellPhone</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.CellPhone)
                                        @Html.DisplayFor(model => model.CellPhone, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblPhone:</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.Phone)
                                        @Html.DisplayFor(model => model.Phone, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblAddress</strong>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ShipAddress)
                                        <div>@Html.EditorFor(model => model.ShipAddress1)</div>
                                        <div>@Html.EditorFor(model => model.ShipAddress2)</div>
                                        <div>@Html.EditorFor(model => model.ShipAddress3)</div>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tabletitle">
                        <center>
                            <div>@resShared.lblInvoiceInfo</div>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <table width="500" id="tablestyle">
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblInvoiceNo</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.InvoiceNo)
                                        @Html.DisplayFor(model => model.InvoiceNo, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblDate</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.Date)
                                        @Html.DisplayFor(model => model.Date, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblSalesPerson</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.IntroPerson)
                                        @Html.DisplayFor(model => model.IntroPerson, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tabletitle">
                        <center>
                            <div>@resShared.lblPkgInfo</div>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <table width="500" id="tablestyle">
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblPackageCode</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.PackageCode)
                                        @Html.DisplayFor(model => model.PackageCode, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblDescription</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.PackageDescription)
                                        @Html.DisplayFor(model => model.PackageDescription, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblQty</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.PackageQuantity)
                                        @Html.DisplayFor(model => model.PackageQuantity, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblPrice</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.Investment)
                                        @Html.DisplayFor(model => model.Investment, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <label for="Position">
                                            <strong>@resShared.lblAmount</strong>
                                        </label>
                                    </td>
                                    <td style="color: grey">
                                        @Html.HiddenFor(model => model.TotalAmount)
                                        @Html.DisplayFor(model => model.TotalAmount, new { @readonly = "readonly" })
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>                
                <tr>
                    <td colspan="2">
                        <center>
                            <input class="button" id="btnSave" value=@resShared.btnSave />
                        </center>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
