﻿@using ECFBase.Components
@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationInvoiceListingModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminSalesOrder/InvoiceListing",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearchByDate").click(function (evt) {
       $('#Loading').show();
        var fromDay = document.getElementById("SelectedFromDay").value;
        var fromMonth = document.getElementById("SelectedFromMonth").value;
        var fromYear = document.getElementById("SelectedFromYear").value;
        var toDay = document.getElementById("SelectedToDay").value;
        var toMonth = document.getElementById("SelectedToMonth").value;
        var toYear = document.getElementById("SelectedToYear").value;
        $.ajax({
            type: "POST",
            url: "/AdminSalesOrder/SearchInvoiceByDate",
            data: { FromDay: fromDay, FromMonth: fromMonth, FromYear: fromYear, ToDay: toDay, ToMonth: toMonth, ToYear: toYear, selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearchByFC").click(function (evt) {
       $('#Loading').show();
        var fc = document.getElementById("SelectedFilteringCriteria").value;
        $.ajax({
            type: "POST",
            url: "/AdminSalesOrder/SearchInvoiceListByFC",
            data: { fc: fc, searchFC: $('#searchFC').val(), selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearchByStatusFC").click(function (evt) {
       $('#Loading').show();
        var fc = document.getElementById("SelectedStatusFilteringCriteria").value;
        $.ajax({
            type: "POST",
            url: "/AdminSalesOrder/SearchInvoicesByStatus",
            data: { fc: fc, selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>

<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:15px;">@resShared.lblInvoiceListing</h2>
         <ol class="breadcrumb default square rsaquo sm no-border " style="margin:15px;">
             <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
             <li><a href="#">@resShared.lblSalesOrder</a></li>
             @*<li><a href="#">@resShared.lblUtility</a></li>*@
             <li><a href="#">@resShared.lblInvoiceListing</a></li>
         </ol>
        <h1 class="page-sub-header"></h1>
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        <div class="grid">
            <div class="row">
                <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                        @resShared.lblDateFrom:
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedFromDay, @Model.FromDay, new { @class = "form-control", style = "min-width:80px; height:30px" })
                        @resShared.lblDay
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedFromMonth, @Model.FromMonth, new { @class = "form-control", style = "min-width:80px; height:30px" })
                        @resShared.lblMonth
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedFromYear, @Model.FromYear, new { @class = "form-control", style = "min-width:100px; height:30px" })
                        @resShared.lblYear
                    </div>
                </div>

                <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                        @resShared.lblTo:
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedToDay, @Model.ToDay, new { @class = "form-control", style = "min-width:80px; height:30px" })
                        @resShared.lblDay
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedToMonth, @Model.ToMonth, new { @class = "form-control", style = "min-width:80px; height:30px" })
                        @resShared.lblMonth
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedToYear, @Model.ToYear, new { @class = "form-control", style = "min-width:100px; height:30px" })
                        @resShared.lblYear
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:20px" align="right">
                        <button id="btnSearchByDate" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
                    </div>
                </div>
                <br />
                <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                        @resShared.btnSearch:
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:5px">
                        @Html.DropDownListFor(m => m.SelectedFilteringCriteria, @Model.FilteringCriteria, new { @class = "form-control", style = "min-width:80px; height:30px" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:5px">
                        <input type="text" class="form-control" id="searchFC" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:20px" align="right">
                        <button id="btnSearchByFC" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
                    </div>
                </div>
            </div>

            <br />
            <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped" >
                    <thead>
                        <tr style="background-color: #363949;">
                            <th style="text-align:center;color:White">
                                @resShared.lblNumber
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblInvoiceNo
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblDate
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblUsername
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblType
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblAmount
                            </th>
                              <th style="text-align:center;color:White">
                                @resShared.lblDeliveryCharge
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblStatus
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblPkgPV
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.mnuMobile
                            </th>
                            <th style="text-align:center;color:White">
                                @resShared.lblAction
                            </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        @foreach (var item in Model.InvoiceLists)
                        {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.RowNumber)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                                </td>
                                <td align="center">
                                    @Html.HiddenFor(modelItem => item.Date)
                                    @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy hh:mm:ss tt")
                                </td>                              
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.InvoiceCashName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>
                                  <td align="center">
                                    @Html.DisplayFor(modelItem => item.DeliveryCharge)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.PackagePV)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.MobileMember)
                                </td>
                                <td align="center">
                                    <a href="@Url.Action("PrintInvoice", "AdminSalesOrder", new { InvoiceID = item.Id })" target="_blank">@resShared.lblPrint</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                        </div>
                    </td>
                    <td style="text-align: right">
                        <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
            <br />
            <br />

        </div>
    </div>
</div>