﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Components;
@using System.Data;
@using System.Text.RegularExpressions;
@using ECFBase.Models
@model ECFBase.Models.MemberModel 

<!DOCTYPE html >

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@resShared.lblYiCommm</title>

    <link href="~/Content/resources/bootstrap.css" rel="stylesheet">
    @*<link href="~/Content/resources/nifty.css" rel="stylesheet">*@
    <link href="~/Content/resources/nifty.css" rel="stylesheet" />
    <link href="~/Content/resources/nifty-demo-icons.css" rel="stylesheet">
    <link href="~/Content/resources/nifty-demo.css" rel="stylesheet">
    <link href="~/Content/slider.css" rel="stylesheet" />
    <style>

        #Loader {
            position: fixed;
            top: 0px;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            background-size: cover;
            z-index: 1000;
            display: none;
        }

            #Loader:after {
                display: none;
            }

        .hidden {
            display: none;
        }

        #Loader-center-absolute {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 60px;
            width: 60px;
            margin-top: -30px;
            /*margin-left: -30px;*/
            -webkit-animation: loading-center-absolute 1s infinite;
            animation: loading-center-absolute 1s infinite;
        }


        .Loader-div {
            /*margin: 20px auto;*/
            /*width: 80px;
        height: 80px;*/
            position: fixed;
            left: 45%;
            top: 45%;
            z-index: 1001;
            /*-webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);*/
        }

            .Loader-div .sk-cube {
                float: left;
                width: 50%;
                height: 50%;
                position: relative;
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }

                .Loader-div .sk-cube:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #284d71;
                    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
                    animation: sk-foldCubeAngle 2.4s infinite linear both;
                    -webkit-transform-origin: 100% 100%;
                    -ms-transform-origin: 100% 100%;
                    transform-origin: 100% 100%;
                    box-shadow: 0px 0px 5px #fff;
                }

        @@media (min-width:768px) {

            .col-lg-5B {
                width: 48% !important;
            }

            .col-lg-2B {
                width: 4%;
            }

            .col-xs-12 {
                width: 100%
            }
        }

        @@media (min-width:1200px) {

            .col-lg-4 {
                width: 33.3333333% !important;
            }

            .col-lg-8 {
                width: 66.6666666% !important;
            }
        }
    </style>
</head>

<body class="  pace-done">
    <div id="Loader" style="display: none">
        <div class="Loader-div">
            <img src="~/Images/loader.gif" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="pace  pace-inactive">
            <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <div id="container" class="effect aside-float aside-bright mainnav-lg">
            <!--NAVBAR-->
            <!--NAVBAR-->
            <!--===================================================-->
            <header id="navbar">
                <div id="navbar-container" class="boxed">
                    <!--Brand logo & name-->
                    <!--================================-->
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">
                            <div class="brand-title">
                                <b>@resShared.lblYiCommm</b>
                            </div>
                        </a>
                    </div>
                    <div class="navbar-content">
                        <ul class="nav navbar-top-links">
                            <li class="tgl-menu-btn">
                                <a class="mainnav-toggle" href="#">
                                    <i class="demo-pli-list-view"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links">
                            <li class="mega-dropdown open">
                                <a href="#" class="mega-dropdown-toggle">
                                    <i class="demo-pli-bell" id="bell"></i>
                                    <span class="badge badge-header badge-danger"></span>
                                </a>
                                <div class="dropdown-menu mega-dropdown-menu" style="opacity: 1;">
                                    @if (@Model.Status == "Reject")
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <p class="pad-top text-main text-sm text-uppercase text-bold">
                                                    <i class="icon-lg demo-pli-calendar-4 icon-fw"></i>
                                                    <a href="#" id="RealName2">@resShared.lblReminder</a>
                                                </p>
                                                <p style="text-align: center; color:red"><b>@resShared.msgSubmissionRejected1</b></p>
                                                <div style=" ">
                                                    @resShared.msgSubmissionRejected1 @resShared.msgSubmissionRejected2<br><br><br>
                                                </div>
                                                <p style="text-align: right;float:right;margin-right:20px"><b>@resShared.lblYiCommm</b></p>
                                                <br>
                                                <p style="text-align: right;float:right;margin-right:-90px"><b>@Model.RealnameUpdatedDate</b></p>
                                            </div>
                                        </div>

                                    }
                                    @foreach (var item in Model.CorporateNews)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <p class="pad-top text-main text-sm text-uppercase text-bold">
                                                    <i class="icon-lg demo-pli-calendar-4 icon-fw"></i>
                                                    <a href="#">@Html.DisplayFor(modelItem => item.InfoDeskTitle)</a>
                                                </p>
                                                <p style="text-align: center"><b>@Html.DisplayFor(modelItem => item.InfoDeskTitle)</b></p>
                                                <div style=" ">
                                                    @Html.DisplayTextFor(modelItem => item.InfoDeskContent)<br><br><br>
                                                </div>
                                                <p style="text-align: right;float:right;margin-right:20px"><b>@resShared.lblYiCommm</b></p>
                                                <br>
                                                <p style="text-align: right;float:right;margin-right:-90px"><b>@Html.DisplayFor(modelItem => item.Created, "{0:dd-MM-yyyy}")</b></p>
                                            </div>
                                        </div>
                                    }
                                    @foreach (var item in Model.MyNews)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <p class="pad-top text-main text-sm text-uppercase text-bold">
                                                    <i class="icon-lg demo-pli-calendar-4 icon-fw"></i>
                                                    <a href="#" id="NoticeBulletin2">@resShared.lblNotice</a>
                                                </p>
                                                <p style="text-align: center"><b>@Html.DisplayFor(modelItem => item.InfoDeskTitle)</b></p>
                                                <div style=" ">
                                                    @Html.DisplayTextFor(modelItem => item.InfoDeskContent)<br><br><br>
                                                </div>
                                                <p style="text-align: right;float:right;margin-right:20px"><b>@resShared.lblYiCommm</b></p>
                                                <br>
                                                <p style="text-align: right;float:right;margin-right:-90px"><b>@Html.DisplayFor(modelItem => item.Created, "{0:dd-MM-yyyy}")</b></p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </li>
                            <li id="dropdown-user" class="dropdown">
                                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle text-right">
                                    <span class="ic-user pull-right">
                                        <i class="demo-pli-male"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                    <ul class="head-list">
                                        <li>
                                            <a href="#" id="DataSetting3"><i class="demo-pli-mail icon-lg icon-fw"></i> @resShared.lblPersonalData</a>
                                        </li>
                                        <li>
                                            <a href="#" id="Logout"><i class="demo-pli-unlock icon-lg icon-fw"></i> @resShared.btnLogOut </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mega-dropdown">
                                <a href="javascript:;" class="mega-dropdown-toggle">
                                    @if (Session["LanguageChosen"] == "en-US")
                                    {
                                        <img src="~/Content/resources/UK.png" width="24" height="23"> @ViewBag.English
                                    }
                                    else
                                    {
                                        <img src="~/Content/resources/zh_cn.png" width="24" height="23"> @ViewBag.Chinese
                                    }


                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                    <ul class="head-list">
                                        <li>
                                            <a href="#" id="lanCNMain"><img src="~/Content/resources/zh_cn.png">中文</a>
                                        </li>
                                        <li>
                                            <a href="#" id="lanEN"><img src="~/Content/resources/UK.png" width="24" height="23">English</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--================================-->
                    <!--End Navbar Dropdown-->
                </div>
            </header>
            <!--===================================================-->
            <!--END NAVBAR-->
            <script type="text/javascript">
                //全局变量
                var GV = {
                    ROOT: "/",
                    WEB_ROOT: "/",
                    JS_ROOT: "static/js/"
                };
            </script>
            <!--END NAVBAR-->
            <div class="boxed">
                <!--CONTENT CONTAINER-->
                <!--===================================================-->
                <div id="content-container">
                    <div id="page-head">
                        <div class="pad-all text-center">
                            <h1>@resShared.lblWelcomeUNC</h1>
                            <p style="letter-spacing: 0.3em;">@resShared.lblUNSCommunity</p>
                        </div>
                    </div>
                    <!--===================================================-->
                    <div id="main-content">
                        <div class="row">
                            <div class="col-lg-7">
                                <!--Network Line Chart-->
                                <div id="demo-panel-network" class="panel">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="w3-content w3-display-container">
                                                @foreach (var item in Model.ImageList)
                                                {
                                                    <img alt="banner" class="mySlides w3-animate-fading" src="@item.FileName" style="width:100%; height:100%" />
                                                }
                                                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                                                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                                                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                                                    @foreach (var item in Model.ImageList)
                                                    {
                                                        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                                                    }
                                                </div>
                                            </div>
                                            <br />

                                            @*<div class="col-sm-12 col-lg-12">
                                                    <div class="panel panel-block-color panel-colorful" style="background-color:#242328;color:white">
                                                        <div class="pad-all">

                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <p class="text-lg text-semibold">@resShared.lblUNSPrice</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th rowspan="4" style="font-size:x-large;text-align:center;"> @Model.UNSPrice </th>
                                                                    <td style="text-align:center">@resShared.lblUNSPrice</td>
                                                                    <td>@Model.UNSPrice</td>
                                                                    <td><i class="fa fa-sort-desc" style="font-size:20px;color:green;"></i> </td>
                                                                    <td><span style="font-size:smaller">0</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:center"> @resShared.lblLastPrice </td>
                                                                    <td>@Model.UNSPrice</td>
                                                                    <td> <i class="fa fa-sort-asc" style="font-size:20px;color:red"></i></td>
                                                                    <td><span style="font-size:smaller">0</span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="pad-btm">
                                                            <center>
                                                                <div class="text-center">
                                                                    <button class="btn btn-block mar-ver" id="C2CTransaction2" style="background-color:#2B244E; color:white; width:120px;height:40px;margin:Auto; border-radius:4px">@resShared.lblExchange</button>
                                                                </div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-semibold text-uppercase text-main" style="color:white">@resShared.lblCurrentPrice</p>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-5 col-lg-4">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <span class="text-3x text-thin text-main" style="color:white">
                                                                    @Model.UNSPrice
                                                                </span>
                                                            </div>
                                                            <div class="media-body">
                                                                <p class="mar-no"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-7 col-lg-8 text-sm">
                                                        <p>
                                                            <span>@resShared.lblHighestPrice</span>
                                                            <span class="pad-lft text-semibold">
                                                                <span class="text-lg">@Model.UNSPrice</span>
                                                                <span class="labellabel-success mar-lft">
                                                                    <i class="pci-caret-down text-success"></i>
                                                                    <smal> &nbsp;- @Model.TodayPriceDifferent</smal>
                                                                </span>
                                                            </span>
                                                        </p>
                                                        <p>
                                                            <span>@resShared.lblLastPrice</span>
                                                            <span class="pad-lft text-semibold">
                                                                <span class="text-lg">@Model.LastPrice</span>
                                                                <span class="labellabel-danger mar-lft">
                                                                    <i class="pci-caret-up text-danger"></i>
                                                                    <smal> + @Model.LastPriceDifferent</smal>
                                                                </span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="pad-rgt">
                                                    <font class="text-semibold text-uppercase text-main" style="color:white">@resShared.lblFriendlyReminder</font>
                                                    <font class="text-muted mar-top" style="color:white">@resShared.lblFriendlyReminder2</font><br><br>
                                                    <center>
                                                        <div class="text-center">
                                                            @if (Model.ExchangeFlag == "YES")
                                                            {
                                                                <button class="btn btn-block mar-ver" id="C2CTransaction2" style="background-color:#2B244E; color:white; width:120px;height:40px;margin:Auto; border-radius:4px">@resShared.lblExchange</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-block mar-ver" id="C2CTransaction2" disabled style="background-color:#2B244E; color:white; width:120px;height:40px;margin:Auto; border-radius:4px">@resShared.lblExchange</button>
                                                            }


                                                        </div>
                                                    </center>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--===================================================-->
                                <!--End network line chart-->
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-lg-5B">
                                        <div class="panel panel-success panel-colorful" style="background:#2B244E;box-shadow: 5px 0px 15px white !important;">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold"><i class="demo-pli-data-storage icon-fw"></i>@resShared.lblUNS :</p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold text-size">@Model.AvailableUNS</span> @resShared.lblAvailableUNS
                                                    @*<span class="col-sm-6 pull-right text-bold text-size">@Model.AvailableUNS</span>
                                                        <span class="col-sm-6">@resShared.lblAvailableUNS</span>*@

                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold text-size">@Model.FrozenUNS</span>@resShared.lblFrozenUNS
                                                    @*<span class="col-sm-6 pull-right text-bold text-size">@Model.FrozenUNS</span>
                                                        <span class="col-sm-6">@resShared.lblFrozenUNS</span>*@
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold text-size">@Model.TotalValue</span>@resShared.lblUNSValue
                                                    @*<span class="col-sm-6 pull-right text-bold text-size">@Model.TotalValue</span>
                                                        <span class="col-sm-6">@resShared.lblUNSValue</span>*@
                                                </p>

                                            </div>
                                            <div class="pad-all">
                                                <div class="pad-btm">
                                                    <div class="progress progress-sm">
                                                        <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                            <span class="sr-only">100%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pad-btm">
                                                    <div class="progress progress-sm">
                                                        <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                            <span class="sr-only">100%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 col-lg-2B">
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-lg-5B">
                                        <div class="panel panel-warning panel-colorful" style="background:#2B244E;box-shadow: 5px 0px 15px white !important;">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold">@resShared.lblUNSCommunity</p>
                                                <p class="mar-no">
                                                    @*<span class="pull-left text-bold text-size" style="font-size:12px">@resShared.lblACommunity</span>*@
                                                    <span class="pull-right text-bold text-size">@Model.ACommunity</span> @resShared.lblACommunity
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold text-size">@Model.BCommunity</span> @resShared.lblBCommunity
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold"></span>
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold"> </span> &nbsp;
                                                </p>
                                            </div>
                                            <div class="pad-all">
                                                <div class="pad-btm">
                                                    <div class="progress progress-sm">
                                                        <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                            <span class="sr-only">100%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pad-btm">
                                                    <div class="progress progress-sm">
                                                        <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                            <span class="sr-only">100%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel">
                                    <div class="panel-body text-center clearfix">
                                        <div class="panel panel-block-color panel-colorful" style="max-width:500px">

                                            <div class="pad-all">
                                                <h3 class="text-lg text-semibold">@resShared.lblToday</h3>

                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.HashRate</span>@resShared.lblHashRate
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.HashPower</span> @resShared.lblHashPower
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.HashPerformance</span> @resShared.lblHashPerformance
                                                </p>
                                            </div>


                                        </div>
                                        <div class="pad-btm">
                                            <div class="text-center">
                                                @if (Model.CurrentTokenFlag == "No")
                                                {
                                                    <button class="btn btn-danger mar-ver" style="background-color:#46467a; border-color:#46467a !important" disabled>@resShared.btnReceive</button>
                                                }
                                                else if (Model.CurrentTokenFlag == "Yes")
                                                {
                                                    <button class="btn btn-danger mar-ver" style="background-color:#46467a; border-color:#46467a !important" id="btnReceiveBonus">@resShared.btnReceive</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-danger mar-ver" style="background-color:#46467a; border-color:#46467a !important" disabled>@resShared.btnReceive</button>
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-body text-center clearfix">
                                        <div class="col-sm-12">
                                            <button class="btn btn-pink mar-ver" onclick="copyToClipboard('.important-message')">@resShared.btnCopythewalletaddress</button>

                                            <p class="text-xs">
                                                <input class="important-message"  id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#666" value="@Model.WalletAddress" type="text">


                                            </p>
                                            <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                <li class="col-xs-12">
                                                    <p class="text-sm text-muted mar-no">@resShared.lblCopyWalletAddressLable</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>


                                @*<div class="col-sm-6 col-lg-6">
                                        <div class="panel panel-purple panel-colorful">
                                            <div class="pad-all" style="padding-bottom:0">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">@resShared.lblRegisterAddress</h3>
                                                    </div>
                                                    <img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceID" style="width:100%">
                                                </div>
                                            </div>
                                            <div class="pad-btm">
                                                <div class="text-center">
                                                    <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">Copy the register address</button>
                                                    <p class="text-xs">
                                                        <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#fff;font-size:10px" readonly="readonly" value="http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceID" type="text">
                                                    </p>
                                                    <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                        <li class="col-xs-12">
                                                            <p class="text-sm text-muted mar-no" style="color:#fff">The Register address is used for the transfer of accounts</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="panel panel-info panel-colorful">
                                            <div class="pad-all" style="padding-bottom:0">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">@resShared.lblWalletAddress</h3>
                                                    </div>
                                                    <img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=@ViewBag.WalletAddress" style="width:100%">
                                                </div>
                                            </div>
                                            <div class="pad-btm">
                                                <div class="text-center">
                                                    <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">Copy the wallet address</button>
                                                    <p class="text-xs">
                                                        <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#fff" readonly="readonly" value="@ViewBag.WalletAddress" type="text">
                                                    </p>
                                                    <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                        <li class="col-xs-12">
                                                            <p class="text-sm text-muted mar-no" style="color:#fff">The wallet address is used for the transfer of accounts</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@
                            </div>
                            <!--Extra Small Weather Widget-->
                            @*<div class="panel">
                                    <div class="panel-body text-center clearfix">
                                        <div class="col-sm-4 pad-top">
                                            <div class="text-lg">
                                                <p class="text-5x text-thin text-main" style="font-size: 36px;color:#6d0a0a">1328704</p>
                                            </div>
                                            <p class="text-uppercase">Invitation code</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">Copy the wallet address</button>
                                            <p class="text-xs">
                                                <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#666" readonly="readonly" value="574fc13bb09b699743072f85c412b7f0" type="text">
                                            </p>
                                            <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                <li class="col-xs-12">
                                                    <p class="text-sm text-muted mar-no">The wallet address is used for the transfer of accounts</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                            <!--End Extra Small Weather Widget-->
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel" style="width:95%;margin:10px auto;">
                                    <div class="panel-heading" style="border-top-left-radius:3px; border-top-right-radius:3px">
                                        <h3 class="panel-title">@resShared.lblLatestTransactionRecords</h3>
                                    </div>
                                    <div class="panel-heading">
                                        @if (Model.Status == "")
                                        {
                                            <small style="color:#FFF;padding:0px 20px 0px 20px;text-align:justify">@resShared.lblDashboardNotice</small>
                                        }

                                    </div>
                                    <div class="panel-body">
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <button class="btn btn-theme" id="btnOut" value="Out">@resShared.lblOut</button>
                                                    <button class="btn btn-theme" id="btnIn" value="In">@resShared.lblIn</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">@resShared.lbltime</th>
                                                        <th class="text-center">@resShared.lblType</th>
                                                        <th class="text-center">@resShared.lblQty</th>
                                                        <th class="text-center">@resShared.lblType</th>
                                                        <th class="text-center">@resShared.lblRemarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.WalletLogList)
                                                    {
                                                        <tr align="center">
                                                            <td class="text">@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.TransactionType)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.CashIN)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.UnionType)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.Remarks)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--End Data Table-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End page content-->
                </div>
                <!--===================================================-->
                <!--END CONTENT CONTAINER-->
                <!--MAIN NAVIGATION-->
                <!--===================================================-->
                <nav id="mainnav-container">
                    <div id="mainnav" style="background: black !important">
                        <!--Menu-->
                        <!--================================-->
                        <div id="mainnav-menu-wrap">
                            <div class="nano has-scrollbar">
                                <div class="nano-content" tabindex="0" style="right: -17px;">
                                    <!--Profile Widget-->
                                    <!--================================-->
                                    <div id="mainnav-profile" class="mainnav-profile">
                                        <div class="profile-wrap text-center">
                                            <div class="pad-btm">
                                                <img alt="logo" style="height:90px; width:100px" src="@ViewBag.Logo" />
                                            </div>
                                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                                <span class="pull-right dropdown-toggle">
                                                    <i class="dropdown-caret"></i>
                                                </span>
                                                <p class="mnp-name">@Model.Username</p>
                                                <span class="mnp-desc">@Model.Phone</span>
                                            </a>
                                        </div>
                                        <div id="profile-nav" class="collapse list-group bg-trans">
                                            <a href="#" id="DataSetting2" class="list-group-item">
                                                <i class="demo-pli-gear icon-lg icon-fw"></i> @resShared.lblPersonalData
                                            </a>
                                            <a href="#" id="Logout2" class="list-group-item">
                                                <i class="demo-pli-unlock icon-lg icon-fw"></i> @resShared.btnLogOut
                                            </a>
                                        </div>
                                    </div>
                                    <div id="mainnav-shortcut" class="hidden">
                                        <ul class="list-unstyled shortcut-wrap">
                                            <li class="col-xs-3" data-content="My Profile" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                                        <i class="demo-pli-male"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Messages" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                                        <i class="demo-pli-speech-bubble-3"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Activity" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                        <i class="demo-pli-thunder"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Lock Screen" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                                        <i class="demo-pli-lock-2"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--End shortcut buttons-->
                                    <ul id="mainnav-menu" class="list-group">
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-home"></i>
                                                <span class="menu-title">@resShared.lblhomepage</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="javascript:;" id="Home">@resShared.lblhomepage</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="RecommendationStructure">@resShared.mnuRecommendStructure</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="PersonalTeam">@resShared.mnuPersonalTeam</a>
                                                </li>

                                                <li>
                                                    <a href="javascript:;" id="PaymentCode">@resShared.mnuQRCode</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-wallet-2"></i>
                                                <span class="menu-title">@resShared.mnuBlockWallet</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="WalletForce">@resShared.mnuWalletForce</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="WalletSend">@resShared.mnuWalletSend</a>
                                                </li>
                                                 <li>
                                                        <a href="javascript:;" id="HashBonusSummary" title="">@resShared.mnuHashBonusSummary</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" id="HashPowerSummary" title="">@resShared.mnuHashPowerSummary</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" id="HashPerformanceSummary" title="">@resShared.mnuHashPerformanceSummary</a>
                                                    </li>
                                                <li>
                                                    <a href="#" id="UtilityBill">@resShared.mnuBillPayment</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="BillHistory">@resShared.mnuUtilityBillHistory</a>
                                                </li>
                                                @*<li>
                                                        <a href="#" id="WalletOption">@resShared.mnuUoption</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="TransferOut">@resShared.mnuTransferOut</a>
                                                    </li>*@
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-information"></i>
                                                <span class="menu-title">@resShared.mnuMarketTrading</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">

                                                @if (Model.ExchangeFlag == "YES")
                                                {
                                                    <li>
                                                        <a href="#" id="DynamicCurve">@resShared.mnuDynamicCurve</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="C2CTransaction">@resShared.mnuC2CTransaction</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="#" id="">@resShared.mnuDynamicCurve</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="">@resShared.mnuC2CTransaction</a>
                                                    </li>
                                                }


                                                <li>
                                                    <a href="#" id="SellOrder">@resShared.mnuSellOrder</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="SellOrderDetails">@resShared.mnuSellOrderDetails</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="BuyOrder">@resShared.mnuBuyOrder</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="BuyOrderDetails">@resShared.mnuBuyOrderDetails</a>
                                                </li>

                                            </ul>
                                        </li>
                                        @*<li class="active-sub active">
                                                <a href="#">
                                                    <i class="demo-pli-information"></i>
                                                    <span class="menu-title">@resShared.mnuReports</span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse in" aria-expanded="false">
                                                    <li>
                                                        <a href="javascript:;" id="HashBonusSummary" title="">@resShared.mnuHashBonusSummary</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" id="HashPowerSummary" title="">@resShared.mnuHashPowerSummary</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" id="HashPerformanceSummary" title="">@resShared.mnuHashPerformanceSummary</a>
                                                    </li>
                                                </ul>
                                            </li>*@
                                        @*<li class="active-sub active">
                                                <a href="#">
                                                    <i class="demo-pli-information"></i>
                                                    <span class="menu-title">@resShared.mnuSubAsset</span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse in" aria-expanded="false">
                                                    <li>
                                                        <a href="#" id="SubAssetSent">@resShared.mnuSubAssetSent</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="SubAssetRecords">@resShared.mnuSubAssetRecords</a>
                                                    </li>
                                                </ul>
                                            </li>*@
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-psi-add-user"></i>
                                                <span class="menu-title">@resShared.mnuPersonalSettings</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="DataSettings">@resShared.mnuDataSettings</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="RealName">@resShared.mnuRealName</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="BankCards">@resShared.mnuBindingBankCards</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-psi-data-settings"></i>
                                                <span class="menu-title">@resShared.mnuSystemFunction</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="FeedBack">@resShared.mnuFeedback</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="CustomerService">@resShared.mnuCustometService</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="NoticeBulletin">@resShared.mnuNoticeBulletin</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="DownloadCenter">@resShared.mnuDwnLoadCenter</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="Logout3">@resShared.btnLogOut</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                                <div class="nano-pane"><div class="nano-slider" style="height: 809px; transform: translate(0px, 0px);"></div></div>
                            </div>
                        </div>
                        <!--================================-->
                        <!--End menu-->
                    </div>
                </nav>
                <!--===================================================-->
                <!--END MAIN NAVIGATION-->
            </div>
            <!-- FOOTER -->
            <!--===================================================-->
            <footer id="footer">
                <p class="pad-lft">@resShared.lblCopyRight</p>
            </footer>
            <!--===================================================-->
            <!-- END FOOTER -->
            <!--===================================================-->
        </div>
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/resources/Home/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Content/resources/Home/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    @*<script src="~/Content/resources/Home/nifty.min.js"></script>*@
    @*<script src="~/Content/resources/jquery.js"></script>*@
    @*<script src="~/Content/resources/bootstrap.js"></script>*@
    <script src="~/Content/resources/nifty.js"></script>
    @*
        <!--Flot Chart [ OPTIONAL ]-->
        <script src="~/Content/resources/jquery.flot.min.js"></script>
        <script src="~/Content/resources/jquery.flot.resize.min.js"></script>
        <script src="~/Content/resources/jquery.flot.tooltip.min.js"></script>
        <!--Sparkline [ OPTIONAL ]-->
        <script src="~/Content/resources/jquery.sparkline.min.js"></script>
        <!--DataTables [ OPTIONAL ]-->
        <script src="~/Content/resources/jquery.dataTables.js"></script>
        <script src="~/Content/resources/dataTables.bootstrap.js"></script>
        <script src="~/Content/resources/dataTables.responsive.min.js"></script>
        <!--  表格-->
        <script src="~/Content/resources/tables-datatables.js"></script>*@

    <script type="text/javascript">
        //function copyurl(i) {
        //    var Url2 = document.getElementById(i);
        //    Url2.select();
        //    document.execCommand("Copy");
        //    alert("复 制 钱 包 地 址：" + url2.value);
        //}
        //function copyurl(i) {
        //    var Url2 = document.getElementById(i);

        //    if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
        //        var el = Url2.get(0);
        //        var editable = el.contentEditable;
        //        var readOnly = el.readOnly;
        //        el.contentEditable = true;
        //        el.readOnly = false;
        //        var range = document.createRange();
        //        range.selectNodeContents(el);
        //        var sel = window.getSelection();
        //        sel.removeAllRanges();
        //        sel.addRange(range);
        //        el.setSelectionRange(0, 999999);
        //        el.contentEditable = editable;
        //        el.readOnly = readOnly;
        //    } else {
        //        Url2.select();
        //    }
        //    document.execCommand("Copy");
        //    alert("复 制 钱 包 地 址：" + url2.value);

        //}

        function copyToClipboard(el) {

            // resolve the element
            el = (typeof el === 'string') ? document.querySelector(el) : el;

            // handle iOS as a special case
            if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {

                // save current contentEditable/readOnly status
                var editable = el.contentEditable;
                var readOnly = el.readOnly;

                // convert to editable with readonly to stop iOS keyboard opening
                el.contentEditable = true;
                el.readOnly = true;

                // create a selectable range
                var range = document.createRange();
                range.selectNodeContents(el);

                // select the range
                var selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
                el.setSelectionRange(0, 999999);

                // restore contentEditable/readOnly to original state
                el.contentEditable = editable;
                el.readOnly = readOnly;
            }
            else {
                el.select();
            }

            // execute copy command
            document.execCommand('copy');
            alert("复 制 钱 包 地 址：" + el.value);
        }

        $(document).on("nifty").ready(function () {
            $('.demo-pli-bell').click();
        });

        $('input').on('keypress', function (event) {           
                return false;  
        })


        $(document).ready(function () {
            $('#Loader').hide();

        //Logout//
        $("#Logout, #Logout2, #Logout3").click(function (evt) {
            $('#Loader').show();
            window.location.href = "/Member/MemberLogin";
            $('#Loader').hide();

        });

        //Home//
        $("#Home").click(function (evt) {
            window.location.href = "/Member/Home";
        });

        //Language - China Chinese//
        $("#lanCNMain").click(function (evt) {
            $('#Loader').show();
            var cId = "zh-CN";
            $.ajax({
                type: "POST",
                url: "/Member/ChangeLanguage",
                data: { languageCode: cId },
                success: function (data) {
                    //refresh page.
                    location.reload();
                    $('#Loader').hide();
                    //event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                    $('#Loader').hide();
                }
            });
        });

        //Language - Sg English//
        $("#lanEN").click(function (evt) {
            $('#Loader').show();
            var cId = "en-US";
            $.ajax({
                type: "POST",
                url: "/Member/ChangeLanguage",
                data: { languageCode: cId },
                success: function (data) {
                    //refresh page.
                    location.reload();
                    $('#Loader').hide();
                    //event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                    $('#Loader').hide();
                }
            });
        });

        //Home - Recommendation Structure//
        $("#RecommendationStructure").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/Member/RecommendationStructure",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });



        $("#btnReceiveBonus").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/Member/ReceiveBonus",
                data: {},
                success: function (data) {
                    alert("Receive Successful");
                    window.location.href = "/Member/Home";


                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

            $("#UtilityBill").click(function (evt) {
                $('#Loader').show();
                $.ajax({
                    type: "POST",
                    url: "/MemberWallet/UtilityMall",
                    data: {
                    },
                    success: function (data) {
                        $("#main-content").html(data);
                        $("#responsiveToggle").click();
                        if ($(window).width() < 990) {
                            $(".mainnav-toggle").click();
                            $('#Loader').hide();
                        }
                        $('#Loader').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loader').hide();
                    }
                });
            });

            $("#BillHistory").click(function (evt) {
                $('#Loader').show();
                $.ajax({
                    type: "POST",
                    url: "/MemberWallet/BillHistory",
                    data: {},
                    success: function (data) {
                        $("#main-content").html(data);
                        $("#responsiveToggle").click();
                        if ($(window).width() < 990) {
                            $(".mainnav-toggle").click();
                            $('#Loader').hide();
                        }
                        $('#Loader').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loader').hide();
                    }
                });
            });


        //Home - Personal Team//
        $("#PersonalTeam").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/Member/PersonalTeam",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Home - Personal Team//
        $("#PaymentCode").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/Member/PaymentCode",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        $("#btnOut").click(function (evt) {
            $('#Loader').show();
            var type = "OUT";
            $.ajax({
                type: "POST",
                url: "/Member/Home",
                data: { type: type },
                success: function (data) {
                    window.location.href = "/Member/Home?type=OUT";
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        $("#btnIn").click(function (evt) {
            $('#Loader').show();
            var type = "IN";
            $.ajax({
                type: "POST",
                url: "/Member/Home",
                data: { type: type },
                success: function (data) {
                    window.location.href = "/Member/Home?type=IN";
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Wallet - U_Po_Force//
        $("#WalletForce").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletForce",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Wallet - U_Po_Send//
        $("#WalletSend").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletSend",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        //Wallet - U Option//
        $("#WalletOption").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletOption",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        //Wallet - Option Transfer Out//
        $("#TransferOut").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/TransferOut",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                        $('#Loader').hide();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Market Trading - Dynamic Curve//
        $("#DynamicCurve").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/DynamicCurve",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Market Trading - C2C Transaction//
        $("#C2CTransaction , #C2CTransaction2").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/C2CTransaction",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Market Trading - Order Management//
        $("#SellOrder").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/SellOrderManagement",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        //Market Trading - Order Management//
        $("#SellOrderDetails").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/SellOrderDetails",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Market Trading - Entrustment Management//
        $("#BuyOrder").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/BuyOrderManagement",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        //Market Trading - Entrustment Management//
        $("#BuyOrderDetails").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/BuyOrderDetails",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        //Sub Asset - Sub Assets Sent//
        $("#SubAssetSent").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/SubAssetSent",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Sub Asset - Sub Assets Records//
        $("#SubAssetRecords").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/SubAssetRecords",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Personal Settings - Data Settings//
        $("#DataSettings , #DataSetting2 , #DataSetting3").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/DataSettings",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

        if ('@ViewBag.page' == 'EditProfile') {
            $("#DataSettings").click();
            }

        //Personal Settings - Real Name Authentication//
        $("#RealName ,#RealName2").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/RealNameAuthentication",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //Personal Settings - Real Name Authentication//
        $("#BankCards").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/BindBankCards",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //System Function - feedback//
        $("#FeedBack").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/FeedBack",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //System Function - Customer Service//
        $("#CustomerService").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/ContactUs",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });


        //System Function - NoticeBulletin//
        $("#NoticeBulletin").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/NoticeBulletin",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });
        $("#NoticeBulletin2").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/NoticeBulletin",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $(".mega-dropdown-toggle").click();
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loader').hide();
                }
            });
        });

            $("#DownloadCenter").click(function (evt) {
                $('#Loader').show();
                $.ajax({
                    type: "POST",
                    url: "/MemberInfoDesk/DownloadCenter",
                    data: {},
                    success: function (data) {
                        $("#main-content").html(data);
                        if ($(window).width() < 990) {
                            $(".mainnav-toggle").click();
                        }
                        $("#responsiveToggle").click();
                        $('#Loader').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                        $('#Loader').hide();
                    }
                });
            });


        //Reports - Reports - Hash Bonus Summary//
        $("#HashBonusSummary").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberShare/HashBonusList",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        });

        //Reports - Reports - Hash Power Summary//
        $("#HashPowerSummary").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberShare/HashPowerBonusList",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        });

        //Reports - Reports - Hash Performance Summary//
        $("#HashPerformanceSummary").click(function (evt) {
            $('#Loader').show();
            $.ajax({
                type: "POST",
                url: "/MemberShare/HashPerformanceBonusList",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $('#Loader').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        });
        });
    </script>

    <!--Slider -->
    <script>
        var slideIndex = 0;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }


            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";

            setTimeout(showDivs, 5000);
        }


    </script>



    <script src="../../Content/Admin/assets/js/animation.js"></script>
    <script src="../../Content/Admin/assets/plugins/nicescroll/jquery.nicescroll.js"></script>
    <script src="../../Content/Admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../Content/Admin/assets/plugins/backstretch/jquery.backstretch.min.js"></script>


    <script src="~/Content/SponsorChart/jquery.fancytree.js" type="text/javascript"></script>
    <script src="~/Content/SponsorChart/jquery.ui.core.js" type="text/javascript"></script>
    <script src="~/Content/SponsorChart/jquery.ui.widget.js" type="text/javascript"></script>
    <link href="~/Content/SponsorChart/ui.fancytree.css" rel="stylesheet" type="text/css" media="all" />

    <div class="flotTip" style="display: none; position: absolute; background: rgb(255, 255, 255); z-index: 1040; padding: 0.4em 0.6em; border-radius: 0.5em; font-size: 0.8em; border: 1px solid rgb(17, 17, 17); white-space: nowrap;"></div>
</body>
</html>