﻿@using resShared = ECFBase.Resources.Member;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@resShared.lblYiCommm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="~/Content/Login_files/jquery.js"></script>
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Login_files/signin.css">

</head>
<body>
    <script type="text/javascript">
        

        if ('@ViewBag.ReloadPage' == 'True') {            
                window.location = '@Url.Action("MemberLogin","Member")';  
        }

         if ('@ViewBag.Activate' == 'Yes') {
             alert("Activate Successful");
        }
         if ('@ViewBag.SessionExpired' == 'Yes') {
                alert("@resShared.WarningSystemMaintainance");
        }
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

        $(document).ready(function () {

                $("#lanEN").click(function (evt) {
             $('#Loading').show();
                    var cId = "en-US";
                    $.ajax({
                        type: "POST",
                        url: "/Member/ChangeLanguage",
                        data: { languageCode: cId },
                        success: function (data) {
                            //refresh page.
                            location.reload();
                     $('#Loading').hide();
                        },
                        error: function (xhr, status, error) {
                            //refresh page.
                            location.reload();
                        }
                    });
                });

                $("#lanCN").click(function (evt) {
             $('#Loading').show();
                    var cId = "zh-CN";
                    $.ajax({
                        type: "POST",
                        url: "/Member/ChangeLanguage",
                        data: { languageCode: cId },
                        success: function (data) {
                            //refresh page.
                            location.reload();
                     $('#Loading').hide();
                        },
                        error: function (xhr, status, error) {
                            //refresh page.
                            location.reload();
                        }
                    });
                });


    $(function () {
        $("input[type=text]").first().focus();
    });

            $("#txtUserName").focus();
            $("#errorDIV").hide();

           var isPressed = false;
            $("#btnMemberLogin").click(function (evt) {
                if (!isPressed) {
                       if ('@ViewBag.SessionExpired' == 'Yes') {
                             alert("@resShared.WarningSystemMaintainance");
                        }
                login();
                }
            });

            $("#txtUserName").keypress(function (e) {
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13 && !isPressed) {
                    login();
                    isPressed = true;
                }
            });

            $("#txtPassword").keypress(function (e) {
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13 && !isPressed) {
                    login();
                    isPressed = true;
                }
            });

            $("#txtCaptcha").keypress(function (e) {
                code = (e.keyCode ? e.keyCode : e.which);
               if (code == 13 && !isPressed) {
                    login();
                    isPressed = true;
                }
            });

            var overwrite = 'false';
            function login() {
                if ($('#terms').is(":checked")) {
                    $.ajax({
                        type: "POST",
                        url: "/MemberLogin/ValidateLogin",
                        data: { userName: $('#txtUserName').val(), password: $('#txtPassword').val(), captcha: $('#txtCaptcha').val(), overwriteLogin: overwrite },
                        success: function (data) {

                            if (data.Status != null && data.Status == '-1') {
                                if (confirm(data.Message)) {
                                    overwrite = 'true';
                                    login();
                                }
                            }
                            else {
                                overwrite = 'false';
                                window.location.href = "/Member/Home";
                            }

                            isPressed = false;
                        },
                        error: function (xhr, status, error) {
                            isPressed = false;
                            $('#Loading').hide();
                            var errorM = xhr.responseText;
                            errorM = errorM.replace('""', '');
                            alert(errorM);
                            $("#btnRefreshCaptcha").click();
                            //window.location.href = "/Member/MemberLogin";
                        }
                    });
                }
                else {
                    alert("Please accept the terms and condition before loging in");
                }
            }

            $("#btnLogin").click(function (event) {
                window.location.href = "/Member/MemberLogin";
            });


            $("#forgetPassword").click(function (evt) {
                location.href = "/MemberLogin/ForgetPassword";
            });
            

        $("#btnRefreshCaptcha").click(function (evt) {
            $(document.getElementById("Captcha")).val("");

            rand = Math.random();
            $("#btnRefreshCaptcha").css('src', 0 );
            $("#btnRefreshCaptcha").attr("src", "@Url.Action("../AdminLogin/CaptchaImage")?randomnumber"+rand);
        });

            $("#btnSignUp").click(function (evt) {
                location.href = "/NewUser/SignUp";
            });


        });
    </script>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="container">
        <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <center>
                            <font color="red"><img src="@ViewBag.Logo" width="200" height="180" alt="UnionChain"></font>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4" id="BoxContent">
                    <div class="account-box">
                        <form role="form">
                            <div class="form-group">
                                <p class="text-main text-bold" style="color:white">@resShared.lblSwitchLanguage</p>
                            </div>
                            <div class="form-group">
                                <a href="#" id="lanCN"><img src="~/Content/Login_files/zh_cn.png" title="Simplified Chinese"></a>&nbsp;
                                <a href="#" id="lanEN"><img src="~/Content/Login_files/us.png" title="USA" width="24" height="23"></a>&nbsp;

                            </div>
                            <div class="form-group">

                                <input id="txtUserName" name="username" required="" class="form-control" type="text" placeholder="@resShared.lblEnterUsername" style="height:50px; border-radius:0">
                            </div>
                            <div class="form-group">

                                <input id="txtPassword" name="password" required="" class="form-control" type="password" placeholder="@resShared.lblEnterPassword" style="height:50px; border-radius:0">
                            </div>
                            <div class="checkbox" style="margin:0px;padding:0px;">
                                <input class="form-control" required="" placeholder=@resShared.lblCaptchaCode name="_captcha" id="txtCaptcha" style="width:130px;float:left; height:50px; border-radius:0" type="text">
                                <img src="@Url.Action("../AdminLogin/CaptchaImage")" height="50px" width="120px" id="btnRefreshCaptcha" style="cursor:pointer; cursor: hand; padding-left:20px" title="换一张" class="captcha captcha-img verify_img">
                                <input name="_captcha_id" value="" type="hidden">
                            </div>
                            <div class="form-group" style="color:#EEBA30; width:100%">  <br />
                                <div class="col-lg-12" style="padding-top:10px">
                                    <input type="checkbox" name="mycheckbox" id="terms" value="0" />&nbsp;
                                    <strong align="left">@resShared.lblAgree <a href="@Url.Action("../Member/TermsAndCondition")" id="" style="color:#EEBA30;text-decoration:underline">@resShared.lblTermsAndCondition</a></strong>
                                </div>
                            </div>
                        </form>
                       

                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="row-block" style="margin-top: 15px ">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    <button class="btn btn-block" id="btnMemberLogin" type="button" style="background-color:#2B244E; color:white">@resShared.btnLogin</button>
                                </div>
                            </div>
                        </div>
                        <div class="row-block" style="margin-top: 15px ">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    <a href="#" id="btnSignUp" class="btn btn-block" style="background-color:#2B244E; color:white">@resShared.btnCreateAccount</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-md-12 pull-right" style=" padding-top:10px;" align="right">
                                <a href="#" style="color:white; padding-top:10px; width:150px; text-align:right" class="btn btn-block" id="forgetPassword">@resShared.lblForgetPassword</a>
                            </div>

                        </div>
                        <div class="row-block" style="margin-top: 15px ">
                            <div class="row">
                                <div class="col-md-12 row-block">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">@resShared.lblCopyRight</h6>
        </div>
    </div>

   
</body>
</html>