﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Components;
@using System.Data;
@using System.Text.RegularExpressions;
@using ECFBase.Models
@model ECFBase.Models.MemberModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@resShared.lblYiCommm</title>


    @*<link href="~/Content/resources/link.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/resources/bootstrap.css" rel="stylesheet">
    <link href="~/Content/resources/nifty.css" rel="stylesheet">
    <link href="~/Content/resources/nifty-demo-icons.css" rel="stylesheet">
    @*<link href="~/Content/resources/pace.css" rel="stylesheet">*@
    <link href="~/Content/resources/nifty-demo.css" rel="stylesheet">
    <link href="~/Content/slider.css" rel="stylesheet" />
    @*<script src="~/Content/resources/pace.js"></script>*@
    @*<script type="text/javascript" src="~/Content/resources/b88bf57ea550c1849c2471fbe9f9143f.js"></script>*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

</head>
<body class="pace-done">
    <div class="container-fluid">
        <div class="pace  pace-inactive">
            <div class="pace-progress" style="width: 100%;" data-progress-text="100%" data-progress="99">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <div id="container" class="effect aside-float aside-bright mainnav-lg">
            <header id="navbar">
                <div id="navbar-container" class="boxed">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" onclick="dummy(0);return false;">
                            <div class="brand-title">
                                @*<img alt="logo" style="height:85px; width:140px" src="@ViewBag.Logo" />*@
                                @resShared.lblYiCommm
                            </div>
                        </a>
                    </div>
                    <div class="navbar-content">
                        <ul class="nav navbar-top-links">
                            <li class="tgl-menu-btn">
                                <a class="mainnav-toggle" href="#">
                                    <i class="demo-pli-list-view"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links">
                            <li class="mega-dropdown open">
                                <a href="#" class="mega-dropdown-toggle">
                                    <i class="demo-pli-bell"></i>
                                    <span class="badge badge-header badge-danger"></span>
                                </a>
                                <div class="dropdown-menu mega-dropdown-menu" style="opacity: 1;">
                                    @if (@Model.Status == "Reject")
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <p class="pad-top text-main text-sm text-uppercase text-bold">
                                                    <i class="icon-lg demo-pli-calendar-4 icon-fw"></i>
                                                    <a href="#" id="RealName2">@resShared.lblReminder</a>
                                                </p>
                                                <p style="text-align: center; color:red"><b>@resShared.msgSubmissionRejected1</b></p>
                                                <div style=" ">
                                                    @resShared.msgSubmissionRejected1 @resShared.msgSubmissionRejected2<br><br><br>
                                                </div>
                                                <p style="text-align: right;float:right;margin-right:20px"><b>@resShared.lblYiCommm</b></p>
                                                <br>
                                                <p style="text-align: right;float:right;margin-right:-90px"><b>@Model.RealnameUpdatedDate</b></p>
                                            </div>
                                        </div>

                                    }
                                    @foreach (var item in Model.CorporateNews)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <p class="pad-top text-main text-sm text-uppercase text-bold">
                                                    <i class="icon-lg demo-pli-calendar-4 icon-fw"></i>
                                                    <a href="#">@Html.DisplayFor(modelItem => item.InfoDeskTitle)</a>
                                                </p>
                                                <p style="text-align: center"><b>@Html.DisplayFor(modelItem => item.InfoDeskTitle)</b></p>
                                                <div style=" ">
                                                    @Html.DisplayTextFor(modelItem => item.InfoDeskContent)<br><br><br>
                                                </div>
                                                <p style="text-align: right;float:right;margin-right:20px"><b>@resShared.lblYiCommm</b></p>
                                                <br>
                                                <p style="text-align: right;float:right;margin-right:-90px"><b>@Html.DisplayFor(modelItem => item.Created, "{0:dd-MM-yyyy}")</b></p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </li>
                            <li id="dropdown-user" class="dropdown">
                                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle text-right">
                                    <span class="ic-user pull-right">
                                        <i class="demo-pli-male"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                    <ul class="head-list">
                                        <li>
                                            <a href="#" id="DataSetting3"><i class="demo-pli-mail icon-lg icon-fw"></i> @resShared.lblPersonalData</a>
                                        </li>
                                        <li>
                                            <a href="#" id="Logout"><i class="demo-pli-unlock icon-lg icon-fw"></i> @resShared.btnLogOut </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mega-dropdown">
                                <a href="javascript:;" class="mega-dropdown-toggle">
                                    <img src="~/Content/resources/us.png" width="24" height="23">USA
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                    <ul class="head-list">
                                        <li>
                                            <a href="#" id="lanCNMain"><img src="~/Content/resources/zh_cn.png">简体中文</a>
                                        </li>
                                        <li>
                                            <a href="#" id="lanEN"><img src="~/Content/resources/us.png" width="24" height="23">USA</a>
                                        </li>
                                        @*<li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=ms-MY"><img src="~/Content/resources/ma.png">Mayasi A</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=ko-KR"><img src="~/Content/resources/ko.png">대한민국</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=ja-JP"><img src="~/Content/resources/ja.png">日本</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=en-AU"><img src="~/Content/resources/ao.png">Australia</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=en-PH"><img src="~/Content/resources/ph.png">The Philippines</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=th-TH"><img src="~/Content/resources/th.png">ประเทศไทย</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=ar-AE"><img src="~/Content/resources/al.png">الإمارات العربية المتحدة</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=de-DE"><img src="~/Content/resources/de.png" width="24" height="23">Deutsche</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=it-IT"><img src="~/Content/resources/it.png" width="24" height="23">lingua</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=en-CA"><img src="~/Content/resources/ca.png" width="24" height="23">Canada</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=ru-RU"><img src="~/Content/resources/ru.png" width="24" height="23">Россия</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=km-KH"><img src="~/Content/resources/kh.png" width="24" height="23">កម្ពុជា</a>
                                            </li>
                                            <li>
                                                <a href="https://ussbao.ulinkbank.com/user/profile/center.html?lang=en-US"><img src="~/Content/resources/us.png" width="24" height="23">USA</a>
                                            </li>*@
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End Navbar Dropdown-->
                </div>
            </header>

            <div class="boxed">
                <div id="content-container">
                    <div id="page-head">
                        <div class="pad-all text-center">
                            <h3>@resShared.lblWelcomeUNC</h3>
                            <p style="letter-spacing: 0.3em;">@resShared.lblUNSCommunity</p>
                        </div>
                    </div>
                    <div id="main-content">
                        <div class="row">
                            <div class="col-lg-7">
                                <div id="demo-panel-network" class="panel">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="w3-content w3-display-container">
                                                @foreach (var item in Model.ImageList)
                                                {
                                                    <img alt="banner" class="mySlides w3-animate-fading" src="@item.FileName" style="width:100%; height:100%" />
                                                }
                                                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                                                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                                                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                                                    @foreach (var item in Model.ImageList)
                                                    {
                                                        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                                                    }
                                                </div>
                                            </div>
                                            <br />

                                            @*<div class="col-sm-12 col-lg-12">
                                                    <div class="panel panel-block-color panel-colorful" style="background-color:#242328;color:white">
                                                        <div class="pad-all">

                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <p class="text-lg text-semibold">@resShared.lblUNSPrice</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th rowspan="4" style="font-size:x-large;text-align:center;"> @Model.UNSPrice </th>
                                                                    <td style="text-align:center">@resShared.lblUNSPrice</td>
                                                                    <td>@Model.UNSPrice</td>
                                                                    <td><i class="fa fa-sort-desc" style="font-size:20px;color:green;"></i> </td>
                                                                    <td><span style="font-size:smaller">0</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:center"> @resShared.lblLastPrice </td>
                                                                    <td>@Model.UNSPrice</td>
                                                                    <td> <i class="fa fa-sort-asc" style="font-size:20px;color:red"></i></td>
                                                                    <td><span style="font-size:smaller">0</span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="pad-btm">
                                                            <center>
                                                                <div class="text-center">
                                                                    <button class="btn btn-block mar-ver" id="C2CTransaction2" style="background-color:#2B244E; color:white; width:120px;height:40px;margin:Auto; border-radius:4px">@resShared.lblExchange</button>
                                                                </div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row" style="background-color:#242328;color:white">
                                            <div class="col-lg-12">
                                                <p class="text-semibold text-uppercase text-main" style="color:white">@resShared.lblCurrentPrice</p>
                                                <div class="row">
                                                    <div class="col-xs-5">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <span class="text-3x text-thin text-main" style="color:white">
                                                                    @Model.UNSPrice
                                                                </span>
                                                            </div>
                                                            <div class="media-body">
                                                                <p class="mar-no"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-7 text-sm">
                                                        <p>
                                                            <span>@resShared.lblHighestPrice</span>
                                                            <span class="pad-lft text-semibold">
                                                                <span class="text-lg">@Model.UNSPrice</span>
                                                                <span class="labellabel-success mar-lft">
                                                                    <i class="pci-caret-down text-success"></i>
                                                                    <smal> &nbsp;- 0.0000</smal>
                                                                </span>
                                                            </span>
                                                        </p>
                                                        <p>
                                                            <span>@resShared.lblLastPrice</span>
                                                            <span class="pad-lft text-semibold">
                                                                <span class="text-lg">@Model.UNSPrice</span>
                                                                <span class="labellabel-danger mar-lft">
                                                                    <i class="pci-caret-up text-danger"></i>
                                                                    <smal> + 0.0000</smal>
                                                                </span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="pad-rgt">
                                                    <font class="text-semibold text-uppercase text-main" style="color:white">@resShared.lblFriendlyReminder</font>
                                                    <font class="text-muted mar-top" style="color:white">@resShared.lblFriendlyReminder2</font><br><br>
                                                    <center>
                                                        <div class="text-center">
                                                            <button class="btn btn-block mar-ver" id="C2CTransaction2" disabled="disabled" style="background-color:#2B244E; color:white; width:120px;height:40px;margin:Auto; border-radius:4px">@resShared.lblExchange</button>
                                                        </div>
                                                    </center>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--End network line chart-->
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="panel panel-success panel-colorful">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold"><i class="demo-pli-data-storage icon-fw"></i>@resShared.lblUNS :</p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.AvailableUNS</span> @resShared.lblAvailableUNS
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.FrozenUNS</span> @resShared.lblFrozenUNS
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.TotalValue</span> @resShared.lblUNSValue
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">&nbsp;</span> &nbsp;
                                                </p>
                                            </div>
                                            <div class="pad-top text-center">
                                                <div id="demo-sparkline-area" class="sparklines-full-content">
                                                    <canvas style="display: inline-block; width: 270.367px; height: 60px; vertical-align: top;" width="270" height="60"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="panel panel-warning panel-colorful">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold">@resShared.lblUNSCommunity</p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.ACommunity</span> @resShared.lblACommunity
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.BCommunity</span> @resShared.lblBCommunity
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold"> </span> &nbsp;
                                                </p>
                                            </div>
                                            <div class="pad-all">
                                                <div class="pad-btm">
                                                    <div class="progress progress-sm">
                                                        <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                            <span class="sr-only">100%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pad-btm">
                                                    <div class="progress progress-sm">
                                                        <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                            <span class="sr-only">100%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel">
                                    <div class="panel-body text-center clearfix">
                                        <div class="panel panel-block-color panel-colorful" style="max-width:500px">

                                            <div class="pad-all">
                                                <h3 class="text-lg text-semibold">@resShared.lblToday</h3>

                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.HashRate</span>@resShared.lblHashRate
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.HashPower</span> @resShared.lblHashPower
                                                </p>
                                                <p class="mar-no">
                                                    <span class="pull-right text-bold">@Model.HashPerformance</span> @resShared.lblHashPerformance
                                                </p>
                                            </div>


                                        </div>
                                        <div class="pad-btm">
                                            <div class="text-center">
                                                @if (Model.CurrentTokenFlag == "No")
                                                {
                                                    <button class="btn btn-danger mar-ver" disabled>@resShared.btnReceive</button>
                                                }
                                                else if (Model.CurrentTokenFlag == "Yes")
                                                {
                                                    <button class="btn btn-danger mar-ver" id="btnReceiveBonus">@resShared.btnReceive</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-danger mar-ver" disabled>@resShared.btnReceive</button>
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-body text-center clearfix">
                                        <div class="col-sm-12">
                                            <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">@resShared.btnCopythewalletaddress</button>
                                            <p class="text-xs">
                                                <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#666" readonly="readonly" value="@Model.WalletAddress" type="text">
                                            </p>
                                            <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                <li class="col-xs-12">
                                                    <p class="text-sm text-muted mar-no">@resShared.lblCopyWalletAddressLable</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                @*<div class="col-sm-6 col-lg-6">
                                        <div class="panel panel-purple panel-colorful">
                                            <div class="pad-all" style="padding-bottom:0">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">@resShared.lblRegisterAddress</h3>
                                                    </div>
                                                    <img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceID" style="width:100%">
                                                </div>
                                            </div>
                                            <div class="pad-btm">
                                                <div class="text-center">
                                                    <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">Copy the register address</button>
                                                    <p class="text-xs">
                                                        <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#fff;font-size:10px" readonly="readonly" value="http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceID" type="text">
                                                    </p>
                                                    <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                        <li class="col-xs-12">
                                                            <p class="text-sm text-muted mar-no" style="color:#fff">The Register address is used for the transfer of accounts</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="panel panel-info panel-colorful">
                                            <div class="pad-all" style="padding-bottom:0">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">@resShared.lblWalletAddress</h3>
                                                    </div>
                                                    <img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=@ViewBag.WalletAddress" style="width:100%">
                                                </div>
                                            </div>
                                            <div class="pad-btm">
                                                <div class="text-center">
                                                    <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">Copy the wallet address</button>
                                                    <p class="text-xs">
                                                        <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#fff" readonly="readonly" value="@ViewBag.WalletAddress" type="text">
                                                    </p>
                                                    <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                        <li class="col-xs-12">
                                                            <p class="text-sm text-muted mar-no" style="color:#fff">The wallet address is used for the transfer of accounts</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@
                            </div>
                            <!--Extra Small Weather Widget-->
                            @*<div class="panel">
                                    <div class="panel-body text-center clearfix">
                                        <div class="col-sm-4 pad-top">
                                            <div class="text-lg">
                                                <p class="text-5x text-thin text-main" style="font-size: 36px;color:#6d0a0a">1328704</p>
                                            </div>
                                            <p class="text-uppercase">Invitation code</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <button class="btn btn-pink mar-ver" onclick="copyurl('url2')">Copy the wallet address</button>
                                            <p class="text-xs">
                                                <input id="url2" style="width:100%;text-align:center;border:0px;background:rgba(0, 0, 0, 0);color:#666" readonly="readonly" value="574fc13bb09b699743072f85c412b7f0" type="text">
                                            </p>
                                            <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                                <li class="col-xs-12">
                                                    <p class="text-sm text-muted mar-no">The wallet address is used for the transfer of accounts</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                            <!--End Extra Small Weather Widget-->
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">@resShared.lblLatestTransactionRecords</h3>
                                    </div>
                                    <div class="panel-heading">
                                        @if (Model.Status == "")
                                        {
                                            <small style="color:red;padding:0px 20px 0px 20px;text-align:justify">@resShared.lblDashboardNotice</small>
                                        }

                                    </div>
                                    <div class="panel-body">
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <button class="btn btn-pink" id="btnOut" value="Out">@resShared.lblOut</button>
                                                    <button class="btn btn-success" id="btnIn" value="In">@resShared.lblIn</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        @*<th>@resShared.lblSerialNumber</th>*@
                                                        <th class="text-center">@resShared.lbltime</th>
                                                        <th class="text-center">@resShared.lblType</th>
                                                        <th class="text-center">@resShared.lblQty</th>
                                                        <th class="text-center">@resShared.lblType</th>
                                                        <th class="text-center">@resShared.lblRemarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.WalletLogList)
                                                    {
                                                        <tr align="center">
                                                            @*<td>@Html.DisplayFor(modelItem => item.Number)</td>*@
                                                            <td class="text">@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.TransactionType)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.CashIN)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.UnionType)</td>
                                                            <td class="text">@Html.DisplayFor(modelItem => item.Remarks)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--End Data Table-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End page content-->
                </div>
                <!--END CONTENT CONTAINER-->
                <nav id="mainnav-container">
                    <div id="mainnav">
                        <div id="mainnav-menu-wrap">
                            <div class="nano has-scrollbar">
                                <div class="nano-content" tabindex="0" style="right: -14px;">
                                    <div id="mainnav-profile" class="mainnav-profile">
                                        <div class="profile-wrap text-center">
                                            <div class="pad-btm">
                                                @*<img class="img-circle img-md" src="~/Content/resources/1.png" alt="Profile Picture">*@
                                                <img alt="logo" style="height:90px; width:100px" src="@ViewBag.Logo" />

                                            </div>
                                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                                <span class="pull-right dropdown-toggle">
                                                    <i class="dropdown-caret"></i>
                                                </span>
                                                <p class="mnp-name">@Model.Username</p>
                                                <span class="mnp-desc">@Model.Phone</span>
                                            </a>
                                        </div>
                                        <div id="profile-nav" class="collapse list-group bg-trans">
                                            <a href="#" id="DataSetting2" class="list-group-item">
                                                <i class="demo-pli-gear icon-lg icon-fw"></i> @resShared.lblPersonalData
                                            </a>
                                            <a href="#" id="Logout2" class="list-group-item">
                                                <i class="demo-pli-unlock icon-lg icon-fw"></i> @resShared.btnLogOut
                                            </a>
                                        </div>
                                    </div>
                                    <div id="mainnav-shortcut" class="hidden">
                                        <ul class="list-unstyled shortcut-wrap">
                                            <li class="col-xs-3" data-content="My Profile" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                                        <i class="demo-pli-male"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Messages" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                                        <i class="demo-pli-speech-bubble-3"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Activity" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                        <i class="demo-pli-thunder"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-xs-3" data-content="Lock Screen" data-original-title="" title="">
                                                <a class="shortcut-grid" href="#">
                                                    <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                                        <i class="demo-pli-lock-2"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--End shortcut buttons-->
                                    <ul id="mainnav-menu" class="list-group">
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-home"></i>
                                                <span class="menu-title">@resShared.lblhomepage</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="javascript:;" id="Home">@resShared.lblhomepage</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="RecommendationStructure">@resShared.mnuRecommendStructure</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="PersonalTeam">@resShared.mnuPersonalTeam</a>
                                                </li>

                                                <li>
                                                    <a href="javascript:;" id="PaymentCode">@resShared.mnuQRCode</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-wallet-2"></i>
                                                <span class="menu-title">@resShared.mnuBlockWallet</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="WalletForce">@resShared.mnuWalletForce</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="WalletSend">@resShared.mnuWalletSend</a>
                                                </li>
                                                @*<li>
                                                        <a href="#" id="WalletOption">@resShared.mnuUoption</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="TransferOut">@resShared.mnuTransferOut</a>
                                                    </li>*@
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-information"></i>
                                                <span class="menu-title">@resShared.mnuMarketTrading</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="abcDynamicCurve">@resShared.mnuDynamicCurve</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="C2CTransaction">@resShared.mnuC2CTransaction</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="OrderManagement">@resShared.mnuOrderManagement</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="EntrustmentManagement">@resShared.mnuEntrustmentManagement</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-pli-information"></i>
                                                <span class="menu-title">@resShared.mnuReports</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="javascript:;" id="HashBonusSummary" title="">@resShared.mnuHashBonusSummary</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="HashPowerSummary" title="">@resShared.mnuHashPowerSummary</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" id="HashPerformanceSummary" title="">@resShared.mnuHashPerformanceSummary</a>
                                                </li>
                                            </ul>
                                        </li>
                                        @*<li class="active-sub active">
                                                <a href="#">
                                                    <i class="demo-pli-information"></i>
                                                    <span class="menu-title">@resShared.mnuSubAsset</span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse in" aria-expanded="false">
                                                    <li>
                                                        <a href="#" id="SubAssetSent">@resShared.mnuSubAssetSent</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="SubAssetRecords">@resShared.mnuSubAssetRecords</a>
                                                    </li>
                                                </ul>
                                            </li>*@
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-psi-add-user"></i>
                                                <span class="menu-title">@resShared.mnuPersonalSettings</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="DataSettings">@resShared.mnuDataSettings</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="RealName">@resShared.mnuRealName</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="BankCards">@resShared.mnuBindingBankCards</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active-sub active">
                                            <a href="#">
                                                <i class="demo-psi-data-settings"></i>
                                                <span class="menu-title">@resShared.mnuSystemFunction</span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse in" aria-expanded="false">
                                                <li>
                                                    <a href="#" id="FeedBack">@resShared.mnuFeedback</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="CustomerService">@resShared.mnuCustometService</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="NoticeBulletin">@resShared.mnuNoticeBulletin</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="Logout3">@resShared.btnLogOut</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nano-pane">
                                    <div class="nano-slider" style="height: 809px; transform: translate(0px, 0px);"></div>
                                </div>
                            </div>
                        </div>
                        <!--End menu-->
                    </div>
                </nav>
                <!--END MAIN NAVIGATION-->
            </div>
            <footer id="footer">
                <p class="pad-lft">@resShared.lblCopyRight</p>
            </footer>
        </div>
    </div>
    <script src="~/Content/resources/jquery.js"></script>
    <script src="~/Content/resources/bootstrap.js"></script>
    <script src="~/Content/resources/nifty.js"></script>
    <script src="~/Content/resources/jquery_005.js"></script>
    <script src="~/Content/resources/jquery_004.js"></script>
    <script src="~/Content/resources/jquery_002.js"></script>
    <script src="~/Content/resources/jquery_006.js"></script>
    <script src="~/Content/resources/jquery_003.js"></script>
    <script src="~/Content/resources/dataTables_002.js"></script>
    <script src="~/Content/resources/dataTables.js"></script>
    <script src="~/Content/resources/tables-datatables.js"></script>
    <script type="text/javascript">
        var output, started, duration, desired;
        duration = 5000;
        desired = '50';
        output = $('#speed');
        started = new Date().getTime();
        animationTimer = setInterval(function () {
            if (output.text().trim() === desired || new Date().getTime() - started > duration) {
                console.log('animating');
                output.text('' + Math.floor(Math.random() * 60)

                );

            } else {
                console.log('animating');
                output.text('' + Math.floor(Math.random() * 120)

                );
            }
        }, 5000);
    </script>


    <script type="text/javascript">

        function copyurl(i) {
            var Url2 = document.getElementById(i);
            Url2.select();
            document.execCommand("Copy");
            alert("Copy the wallet address：" + url2.value);
        }

        $(document).on('nifty.ready', function () {
            //公告
            $(".demo-pli-bell").click();
            //var plot = $.plot('#demo-chart-network', [
            //], {
            //        series: {
            //            lines: {
            //                show: true
            //            },
            //            points: {
            //                show: true
            //            },
            //            shadowSize: 0 // Drawing is faster without shadows
            //        },
            //        colors: ['#b5bfc5', '#25476a'],
            //        legend: {
            //            show: true,
            //            position: 'nw',
            //            margin: [0, 0]
            //        },
            //        grid: {
            //            borderWidth: 0,
            //            hoverable: true,
            //            clickable: true
            //        }
            //    });


            // HDD USAGE - SPARKLINE LINE AREA CHART
            // =================================================================
            // Require sparkline
            // -----------------------------------------------------------------
            // http://omnipotent.net/jquery.sparkline/#s-about
            // =================================================================
            //var hddSparkline = function () {
            //    $("#demo-sparkline-area").sparkline([57, 69, 70, 62, 73, 79, 76, 77, 73, 52, 57, 50, 60, 55, 70, 68, 57, 62, 53, 69, 59, 67, 69, 58, 50, 47, 65], {
            //        type: 'line',
            //        width: '100%',
            //        height: '60',
            //        spotRadius: 4,
            //        lineWidth: 2,
            //        lineColor: 'rgba(255,255,255,.85)',
            //        fillColor: 'rgba(0,0,0,0.1)',
            //        spotColor: 'rgba(255,255,255,.5)',
            //        minSpotColor: 'rgba(255,255,255,.5)',
            //        maxSpotColor: 'rgba(255,255,255,.5)',
            //        highlightLineColor: '#ffffff',
            //        highlightSpotColor: '#ffffff',
            //        tooltipChartTitle: 'Usage',
            //        tooltipSuffix: ' %'

            //    });
            //}



            // EARNING - SPARKLINE LINE CHART
            // =================================================================
            // Require sparkline
            // -----------------------------------------------------------------
            // http://omnipotent.net/jquery.sparkline/#s-about
            // =================================================================
            //var earningSparkline = function () {
            //    $("#demo-sparkline-line").sparkline([945, 754, 805, 855, 678, 987, 1026, 885, 878, 922, 875,], {
            //        type: 'line',
            //        width: '100%',
            //        height: '60',
            //        spotRadius: 0,
            //        lineWidth: 2,
            //        lineColor: '#ffffff',
            //        fillColor: false,
            //        minSpotColor: false,
            //        maxSpotColor: false,
            //        highlightLineColor: '#ffffff',
            //        highlightSpotColor: '#ffffff',
            //        tooltipChartTitle: 'Earning',
            //        tooltipPrefix: '$ ',
            //        spotColor: '#ffffff',
            //        valueSpots: {
            //            '0:': '#ffffff'
            //        }
            //    });
            //}



            // SALES - SPARKLINE BAR CHART
            // =================================================================
            // Require sparkline
            // -----------------------------------------------------------------
            // http://omnipotent.net/jquery.sparkline/#s-about
            // =================================================================

            //var barEl = $("#demo-sparkline-bar");
            //var barValues = [40, 32, 65, 53, 62, 55, 24, 67, 45, 70, 45, 56, 34, 67, 76, 32, 65, 53, 62, 55, 24, 67, 45, 70, 45, 56, 70, 45, 56, 34, 67, 76, 32, 65, 53];
            //var barValueCount = barValues.length;
            //var barSpacing = 1;
            //var salesSparkline = function () {
            //    barEl.sparkline(barValues, {
            //        type: 'bar',
            //        height: 78,
            //        barWidth: Math.round((barEl.parent().width() - (barValueCount - 1) * barSpacing) / barValueCount),
            //        barSpacing: barSpacing,
            //        zeroAxis: false,
            //        tooltipChartTitle: 'Daily Sales',
            //        tooltipSuffix: ' Sales',
            //        barColor: 'rgba(0,0,0,.15)'
            //    });
            //}


            //$(window).on('resizeEnd', function () {
            //    hddSparkline();
            //    earningSparkline();
            //    salesSparkline();
            //})
            //hddSparkline();
            //earningSparkline();
            //salesSparkline();


            // NEW LINE
            // =================================================================

            // =================================================================


            //var pageviews = [],
            //    visitor = [[1, 16.9900], [2, 17.0400], [3, 17.0900], [4, 17.1400], [5, 17.2000], [6, 17.2500], [7, 17.3000], [8, 17.3700], [9, 17.4600], [10, 17.5700]];

            //var plot = $.plot('#demo-flot-line', [
            //    {
            //        //label: 'Pageviews',
            //        data: pageviews,
            //        lines: {
            //            show: true,
            //            lineWidth: 2,
            //            fill: false
            //        },
            //        points: {
            //            show: true,
            //            radius: 4
            //        }
            //    },
            //    {
            //        label: '',
            //        data: visitor,
            //        lines: {
            //            show: true,
            //            lineWidth: 3,
            //            fill: false
            //        },
            //        points: {
            //            show: true,
            //            radius: 4
            //        }
            //    }
            //], {
            //        series: {
            //            lines: {
            //                show: true
            //            },
            //            points: {
            //                show: true
            //            },
            //            shadowSize: 5
            //        },
            //        colors: ['#b5bfc5', '#177bbb'],
            //        legend: {
            //            show: true,
            //            position: 'nw',
            //            margin: [15, 0]
            //        },
            //        grid: {
            //            borderWidth: 0,
            //            hoverable: true,
            //            clickable: true
            //        },
            //        yaxis: {
            //            ticks: 5,
            //            tickColor: 'rgba(0,0,0,.1)'
            //        },
            //        xaxis: {
            //            ticks: 7,
            //            tickColor: 'transparent'
            //        },
            //        tooltip: {
            //            show: true,
            //            content: 'U值: %y 元'
            //        }
            //    });
        });
    </script>

    <script type="text/javascript">

        //Logout//
        $("#Logout, #Logout2, #Logout3").click(function (evt) {
            $('#Loading').show();
            window.location.href = "/Member/MemberLogin";
            $('#Loading').hide();

        });

        //Home//
        $("#Home").click(function (evt) {
            window.location.href = "/Member/Home";
        });

        //Language - China Chinese//
        $("#lanCNMain").click(function (evt) {
            $('#Loading').show();
            var cId = "zh-CN";
            $.ajax({
                type: "POST",
                url: "/Member/ChangeLanguage",
                data: { languageCode: cId },
                success: function (data) {
                    //refresh page.
                    location.reload();
                    $('#Loading').hide();
                    //event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                    $('#Loading').hide();
                }
            });
        });

        //Language - Sg English//
        $("#lanEN").click(function (evt) {
            $('#Loading').show();
            var cId = "en-US";
            $.ajax({
                type: "POST",
                url: "/Member/ChangeLanguage",
                data: { languageCode: cId },
                success: function (data) {
                    //refresh page.
                    location.reload();
                    $('#Loading').hide();
                    //event.stopPropagation();
                },
                error: function (xhr, status, error) {
                    //refresh page.
                    location.reload();
                    $('#Loading').hide();
                }
            });
        });

        //Home - Recommendation Structure//
        $("#RecommendationStructure").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/Member/RecommendationStructure",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });



        $("#btnReceiveBonus").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/Member/ReceiveBonus",
                data: {},
                success: function (data) {
                    alert("Receive Successful");
                    $('#Loading').hide();
                    $("WalletForce").click();

                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Home - Personal Team//
        $("#PersonalTeam").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/Member/PersonalTeam",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Home - Personal Team//
        $("#PaymentCode").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/Member/PaymentCode",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#btnOut").click(function (evt) {
            $('#Loading').show();
            var type = "OUT";
            $.ajax({
                type: "POST",
                url: "/Member/Home",
                data: { type: type },
                success: function (data) {
                    window.location.href = "/Member/Home?type=OUT";
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        $("#btnIn").click(function (evt) {
            $('#Loading').show();
            var type = "IN";
            $.ajax({
                type: "POST",
                url: "/Member/Home",
                data: { type: type },
                success: function (data) {
                    window.location.href = "/Member/Home?type=IN";
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Wallet - U_Po_Force//
        $("#WalletForce").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletForce",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Wallet - U_Po_Send//
        $("#WalletSend").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletSend",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        //Wallet - U Option//
        $("#WalletOption").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/WalletOption",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        //Wallet - Option Transfer Out//
        $("#TransferOut").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberWallet/TransferOut",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Market Trading - Dynamic Curve//
        $("#DynamicCurve").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/DynamicCurve",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Market Trading - C2C Transaction//
        $("#C2CTransaction11 , #C2CTransaction2").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/C2CTransaction",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Market Trading - Order Management//
        $("#OrderManagement").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/OrderManagement",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Market Trading - Entrustment Management//
        $("#EntrustmentManagement").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/EntrustmentManagement",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Sub Asset - Sub Assets Sent//
        $("#SubAssetSent").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/SubAssetSent",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Sub Asset - Sub Assets Records//
        $("#SubAssetRecords").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/SubAssetRecords",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Personal Settings - Data Settings//
        $("#DataSettings , #DataSetting2 , #DataSetting3").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/DataSettings",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });

        if ('@ViewBag.page' == 'EditProfile') {
            $("#DataSettings").click();
            }

        //Personal Settings - Real Name Authentication//
        $("#RealName ,#RealName2").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/RealNameAuthentication",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Personal Settings - Real Name Authentication//
        $("#BankCards").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberProfile/BindBankCards",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //System Function - feedback//
        $("#FeedBack").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/FeedBack",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //System Function - Customer Service//
        $("#CustomerService").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/ContactUs",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //System Function - NoticeBulletin//
        $("#NoticeBulletin").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberInfoDesk/NoticeBulletin",
                data: {},
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $(".mainnav-toggle").click();
                    }
                    $("#responsiveToggle").click();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        });


        //Reports - Reports - Hash Bonus Summary//
        $("#HashBonusSummary").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberShare/HashBonusList",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $('.btn-collapse-sidebar-left').click();
                    }
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        });

        //Reports - Reports - Hash Power Summary//
        $("#HashPowerSummary").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberShare/HashPowerBonusList",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $('.btn-collapse-sidebar-left').click();
                    }
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        });

        //Reports - Reports - Hash Performance Summary//
        $("#HashPerformanceSummary").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberShare/HashPerformanceBonusList",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                    if ($(window).width() < 990) {
                        $('.btn-collapse-sidebar-left').click();
                    }
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });
        });

    </script>


    <script>
        var slideIndex = 0;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }


            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";

            setTimeout(showDivs, 5000);
        }


    </script>


    <script src="../../Content/Admin/assets/js/animation.js"></script>
    <script src="../../Content/Admin/assets/plugins/nicescroll/jquery.nicescroll.js"></script>
    <script src="../../Content/Admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../Content/Admin/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
    <link href="~/Scripts/JQueryUI/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/JQueryUI/jquery-ui.js"></script>

    <!-- PLUGINS -->
    @*<script src="../../Content/Admin/assets/plugins/prettify/prettify.js"></script>
        <script src="../../Content/Admin/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/chosen/chosen.jquery.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/icheck/icheck.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
        <script src="../../Content/Admin/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
        <script src="../../Content/Admin/assets/plugins/mask/jquery.mask.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/validator/bootstrapValidator.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/datatable/js/bootstrap.datatable.js"></script>
        <script src="../../Content/Admin/assets/plugins/summernote/summernote.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/markdown/markdown.js"></script>
        <script src="../../Content/Admin/assets/plugins/markdown/to-markdown.js"></script>
        <script src="../../Content/Admin/assets/plugins/markdown/bootstrap-markdown.js"></script>
        <script src="../../Content/Admin/assets/plugins/slider/bootstrap-slider.js"></script>
        <script src="../../Content/Admin/assets/plugins/toastr/toastr.js"></script>*@

    <!-- FULL CALENDAR JS -->
    @*<script src="../../Content/Admin/assets/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
        <script src="../../Content/Admin/assets/js/full-calendar.js"></script>*@

    <!-- EASY PIE CHART JS -->
    @*<script src="../../Content/Admin/assets/plugins/easypie-chart/easypiechart.min.js"></script>
        <script src="../../Content/Admin/assets/plugins/easypie-chart/jquery.easypiechart.min.js"></script>*@

    <!-- KNOB JS -->
    @*<script src="../../Content/Admin/assets/plugins/jquery-knob/jquery.knob.js"></script>
        <script src="../../Content/Admin/assets/plugins/jquery-knob/knob.js"></script>*@

    <!-- MAIN APPS JS -->
    @*<script src="../../Content/Admin/assets/js/apps.js"></script>*@

    <!-- Slider -->
    <link href="../../Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <script src="../../Content/bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../../Content/Admin/assets/plugins/quickfit/jquery.quickfit.js"></script>




</body>
</html>

