﻿
<div id="page-content">
    <div class="panel">
        <div class="panel-body">
            <h3>Recommendation structure</h3>
            <p>Explanation note: Layers [*] Username [******] Member Level [******]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="panel-body">
                        <div id="demo-jstree-json">
                            <div id="tree">
                                <div class="node">
                                    <div class="title">
                                        <div class="click have_display_0" yesend="1" data="1" onclick="clickject(this);"></div>
                                        <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                        <span>[0][johnlee][general user]</span>
                                    </div>
                                    <div class="sub_0" style="">
                                        <div class="node">
                                            <div class="title">

                                                <div class="click have_1" yesend="1" onclick="clickject(this);" data="0" floor="1" username="cammy02"></div>
                                                <!--<span>[1][cammy02][普通用户]['已激活']</span>-->
                                                <span>[1][cammy02][general user]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    var output, started, duration, desired;
    duration = 5000;
    desired = '50';
    output = $('#speed');
    started = new Date().getTime();
    animationTimer = setInterval(function () {
        if (output.text().trim() === desired || new Date().getTime() - started > duration) {
            console.log('animating');
            output.text('' + Math.floor(Math.random() * 60)

            );

        } else {
            console.log('animating');
            output.text('' + Math.floor(Math.random() * 120)

            );
        }
    }, 5000);
</script>

<script type="text/javascript">
    //更新业绩
    function check() {
        $("#check_btn").remove();
        $.post("api.php", {
            act: "check",
        },
            function (data, status) {
                if (status == "success") {
                    alert($.parseJSON(data)["msg"]);
                }
            });
    }

    //发送 转账
    function transfer() {
        var type = $("#type_fs").val();
        var address = $("#address_fs").val();
        var number = $("#number_fs").val();
        var password = $("#password_fs").val();
        $.post("api.php", {
            act: "transfer",
            type: type,
            address: address,
            number: number,
            password: password
        },
            function (data, status) {
                if (status == "success") {
                    alert($.parseJSON(data)["msg"]);
                }
            });
    }

    function coin_change() {
        var number = $("#number_fs").val();
        var password = $("#password_fs").val();
        $.post("api.php", {
            act: "coin_change",
            number: number,
            password: password
        },
            function (data, status) {
                if (status == "success") {
                    alert($.parseJSON(data)["msg"]);
                }
            });
    }

    //买入
    function buy_mr() {

        buy_price = $("#buy_price").val();
        buy_num = $("#buy_num").val();
        $.post("api.php", {
            act: "buy_transaction",
            buy_price: buy_price,
            buy_num: buy_num
        },
            function (data, status) {
                if (status == "success") {
                    alert($.parseJSON(data)["msg"]);
                }
            });

    }

    //卖出
    function sell_mc() {
        sell_price = $("#sell_price").val();
        sell_num = $("#sell_num").val();
        $.post("api.php", {
            act: "sell_transaction",
            sell_price: sell_price,
            sell_num: sell_num
        },
            function (data, status) {
                if (status == "success") {
                    alert($.parseJSON(data)["msg"]);
                }
            });

    }
</script>

<script>
    var countdown = 60;

    function send_sms(obj, op) {
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value = "获取验证码";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value = "重新发送(" + countdown + ")";
            countdown--;
        }

        if (op == 1) {
            var phone;
            var pre = +86;
            if (pre == '+86') {
                var reg = /^0?1[3|4|5|7|8][0-9]\d{8}$/;
            } else {
                var reg = /^[0-9]{6,}$/;
            }
            if (reg.test(phone)) {
                sendsms(phone, pre);
            } else {
                $("#resphone").html("<font color=red>请输入正确的手机号码</font>");
            }
            ;
        }

        setTimeout(function () {
            send_sms(obj, '0')
        }, 1000)
    }

    function sendsms(phone, pre) {
        $.ajax({
            url: 'io.php',
            type: 'post',
            data: {
                act: 'send_sms2',
                phone: phone,
                pre: pre
            },
            datatype: 'json',
            success: function (data) {
                //alert(data);
                $("#resphone").html("data");
            }
        });
    }
</script>

