﻿@using resShared = ECFBase.Resources.Member;


<script src="~/Scripts/QRcode/qrcode.js"></script>
<script type="text/javascript">
    var ASideqrcode = new QRCode(document.getElementById("AsideQRCode"), {
        width: 250,
        height: 250
    });

    function AsideQRCodemakeCode() {
        ASideqrcode.makeCode("http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceIDA");
    }

    AsideQRCodemakeCode();

    var BSideqrcode = new QRCode(document.getElementById("BsideQRCode"), {
        width: 250,
        height: 250
    });

    function BsideQRCodemakeCode() {
        BSideqrcode.makeCode("http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceIDB");
    }

    BsideQRCodemakeCode();

    var WalletAddressQRCode = new QRCode(document.getElementById("WalletAddressQRCode"), {
        width: 250,
        height: 250
    });

    function WalletAddressQRCodemakeCode() {
        WalletAddressQRCode.makeCode("@ViewBag.WalletAddress");
    }

    WalletAddressQRCodemakeCode();
</script>

<div id="page-content">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel" style="background:white !important;box-shadow: 5px 0px 15px white !important;">
                <div class="panel-heading" style="background:#2B244E !important">
                    <h3 class="panel-title">@resShared.lblRegisterAddress1</h3>
                </div>
                @*<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceIDA" style="width:100%">*@
                @*<input id="text" type="text" value="http://jindo.dev.naver.com/collie" style="width:80%" /><br />*@
                <div class="panel-body">
                    <center>
                        <div id="AsideQRCode" style="width:100%; height:100%; margin-top:15px;"></div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel" style="background:white !important;box-shadow: 5px 0px 15px white !important;">
                <div class="panel-heading" style="background:#2B244E !important">
                    <h3 class="panel-title">@resShared.lblRegisterAddress2</h3>
                </div>
                @*<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=http://www.unionslink.net/NewUser/SignUp?ReferenceID=@ViewBag.ReferenceIDB" style="width:100%">*@
                <div class="panel-body">
                    <center>
                        <div id="BsideQRCode" style="width:100%; height:100%; margin-top:15px;"></div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel" style="background:white !important;box-shadow: 5px 0px 15px white !important;">
                <div class="panel-heading" style="background:#2B244E !important">
                    <h3 class="panel-title">@resShared.lblWalletAddress</h3>
                </div>
                @*<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl=@ViewBag.WalletAddress" style="width:100%">*@
                <div class="panel-body">
                    <center>
                        <div id="WalletAddressQRCode" style="width:100%; height:100%; margin-top:15px;"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>


