﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model MarketTreeModel

<script type="text/javascript" src="~/Content/resources/b88bf57ea550c1849c2471fbe9f9143f.js"></script>
<script src="~/Content/resources/pace.js"></script>
<link href="~/Content/Admin/assets/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Admin/assets/plugins/font-awesome/css/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .ex_find {
        width: auto;
        height: 32px;
        margin: 10px 0px;
    }

    .ex_text {
        line-height: 28px;
        float: left;
        height: 30px;
        width: auto;
        text-align: center;
        padding: 0px 12px;
    }

    .log_input_box {
        height: 30px;
        float: left;
    }

    .ex_button_box {
        height: 30px;
        float: left;
    }

    .info_text {
        width: auto;
        float: left;
    }

    .ex_button_box {
        height: 30px;
        float: left;
    }

    table.t_info {
        width: 80px;
        /*background: #1a87d2;*/
        background: #28244E;
        border-collapse: collapse;
        border: 0 solid #1a87d2;
        font-size: 12px;
        margin: 0 auto;
    }

        table.t_info tr {
            border: 0;
        }

        table.t_info th {
            color: #FFF;
            text-align: center;
            height: 25px;
            line-height: 25px;
            border-top: 0;
            border: 0 solid #006600;
            background: none;
        }

        table.t_info td {
            /*color: #9a1017;*/
            color: #fff;
        }

        table.t_info th a {
            color: #FFF;
        }

        table.t_info td {
            height: 20px;
            background: #343434;
            text-align: center;
            border: 1px solid #1a87d2;
            line-height: 20px;
        }
</style>

<div id="page-content" class="panel" style="width:90%; margin:10px auto">
    <div class="row">
        <div>
            <form>
                <div class="ex_find">
                    <div class="col-lg-1 col-md-2 col-xs-4">
                        <div class="ex_text">@resShared.lblMemberUsername</div>

                    </div>
                    <div class="col-lg-1 col-md-2 col-xs-4">
                        <div class="log_input_box">
                            <input type="text" class="form-control" id="username" />
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-2 col-xs-4">
                        <input value="@resShared.btnCheckInquiry" class="btn btn-theme btn-success" type="button" id="btnFind">
                    </div>

                    <div class="col-lg-8 col-md-9 col-xs-12">
                        <div class="ex_button_box" style="">

                            <div class="col-xs-6">
                              
                                <button class="btn btn-purple btn-ripple search" id="btnUpOneLevel" type="button" alt="Submit">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-purple btn-ripple search" id="btnMostLeft" type="button" alt="Submit">
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-purple btn-ripple search" id="btnMostRight" type="button" alt="Submit">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                                <button class="btn btn-purple btn-ripple search" id="goYourself" type="button" alt="Submit">
                                    <i class="fa fa-home"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <div class="info_bg">
                    <div class="info_text">
                        @resShared.lblMembers <font color="#FFF"> @Model.MemberList[0]：</font>
                        @resShared.lblLeft <b class="text_red_line"><font color="#FFF">@Model.TotalDownlineLeft[0]</font></b>
                        @resShared.lblPeople, @resShared.lblRight <b class="text_red_line"><font color="#FFF">@Model.TotalDownlineRight[0]</font></b>
                        @resShared.lblPerson, @resShared.lblDirectReferralMember<b class="text_red_line"><font color="#FFF"> @Model.TotalDirectSponsor </font></b>@resShared.lblPerson
                    </div>
                </div>
            </form>

            <div class="table-responsive" style="width:100%">
                <table width="100%" align="left" cellpadding="0" cellspacing="0" id="treeform">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="6" align="center">
                                                <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="2" id="topMember">@Model.MemberList[0]</th>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">@Model.DateList[0]</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="50%">@Model.TotalDownlineLeft[0]</td>
                                                            <td width="50%">@Model.TotalDownlineRight[0]</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"> @Model.Balance[0]</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="center"><img src="~/Content/resources/line_1.gif" width="50%" height="23"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="3">
                                                @if (@Model.MemberList[1] != "0")
                                                {

                                                    <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;">
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="2"><a href="#" id="btnGoToMemberTree1" member=@Model.MemberList[1]>@Model.MemberList[1]</a></th>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">@Model.DateList[1]</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="50%">@Model.TotalDownlineLeft[1]</td>
                                                                <td width="50%">@Model.TotalDownlineRight[1]</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"> @Model.Balance[1]</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                }
                                            </td>
                                            <td align="center" colspan="3">
                                                @if (@Model.MemberList[2] != "0")
                                                {

                                                    <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;" width="50%">
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="2"><a href="#" id="btnGoToMemberTree2" member=@Model.MemberList[2]>@Model.MemberList[2]</a></th>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">@Model.DateList[2]</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="50%">@Model.TotalDownlineLeft[2]</td>
                                                                <td width="50%">@Model.TotalDownlineRight[2]</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"> @Model.Balance[2]</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="center"><img src="~/Content/resources/line_2.gif" width="50%" height="23"></td>
                                            <td colspan="3" align="center"><img src="~/Content/resources/line_2.gif" width="50%" height="23"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="center">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" colspan="2">
                                                                @if (@Model.MemberList[3] != "0")
                                                                {

                                                                    <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;" width="50%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th colspan="2"><a href="#" id="btnGoToMemberTree3" member=@Model.MemberList[3]>@Model.MemberList[3]</a></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2">@Model.DateList[3]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="50%">@Model.TotalDownlineLeft[3]</td>
                                                                                <td width="50%">@Model.TotalDownlineRight[3]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2"> @Model.Balance[3]</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            </td>
                                                            <td align="center" colspan="2" width="50%">
                                                                @if (@Model.MemberList[4] != "0")
                                                                {

                                                                    <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;" width="50%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th colspan="2"><a href="#" id="btnGoToMemberTree4" member=@Model.MemberList[4]>@Model.MemberList[4]</a></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2">@Model.DateList[4]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="50%">@Model.TotalDownlineLeft[4]</td>
                                                                                <td width="50%">@Model.TotalDownlineRight[4]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2"> @Model.Balance[4]</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td colspan="3" align="center">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" colspan="2" width="50%">
                                                                @if (@Model.MemberList[5] != "0")
                                                                {

                                                                    <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;" width="50%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th colspan="2"><a href="#" id="btnGoToMemberTree5" member=@Model.MemberList[5]>@Model.MemberList[5]</a></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2">@Model.DateList[5]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="50%">@Model.TotalDownlineLeft[5]</td>
                                                                                <td width="50%">@Model.TotalDownlineRight[5]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2"> @Model.Balance[5]</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            </td>
                                                            <td colspan="2" align="center">
                                                                @if (@Model.MemberList[6] != "0")
                                                                {

                                                                    <table class="t_info" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;" width="50%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th colspan="2"><a href="#" id="btnGoToMemberTree6" member=@Model.MemberList[6]>@Model.MemberList[6]</a></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2">@Model.DateList[6]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="50%">@Model.TotalDownlineLeft[6]</td>
                                                                                <td width="50%">@Model.TotalDownlineRight[6]</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2"> @Model.Balance[6]</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var mybutton_counter = 0;

    function OpenDialog(upMember, Position) {
        $('#Loading').show();
        $(".qtip").hide();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/RegisterNewMemberPage1",
            data: { upMember: upMember, position: Position },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                //event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    }

    $(document).on('click', "[id *= 'btnGoToMemberTree']", function () {
        $('#Loading').show();

        if (mybutton_counter > 0) { return false; } //you can set the number to any

        var topMember = $(this).attr("member");
        $.ajax({
            type: "POST",
            url: "/Member/MarketTreeByUsername",
            data: { TopMember: topMember },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                //event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });

        mybutton_counter++; //incremental
    });

    $("#btnFind").click(function (evt) {
        /*if (mybutton_counter > 0) { return false; }*/ //you can set the number to any
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/Member/MarketTreeByUsername",
            data: { TopMember: $('#username').val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
        /*   mybutton_counter++;*/ //incremental
    });

    $("#goYourself").click(function (evt) {
        $('#Loading').show();
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        $.ajax({
            type: "POST",
            url: "/Member/PersonalTeam",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
                $("#responsiveToggle").click();
                $('#Loading').hide();
                //event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
        mybutton_counter++; //incremental
    });

    $("#btnMostLeft").click(function (evt) {
        $('#Loading').show();
        //$('#Loading').show();
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        $.ajax({
            type: "POST",
            url: "/Member/GetMarketTreeMostLeft",
            data: { Username: $('#topMember').text() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                //event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
        mybutton_counter++; //incremental
    });

    $("#btnMostRight").click(function (evt) {
        $('#Loading').show();
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        $.ajax({
            type: "POST",
            url: "/Member/GetMarketTreeMostRight",
            data: { Username: $('#topMember').text() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                //event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
        mybutton_counter++; //incremental
    });

    $("#btnUpOneLevel").click(function (evt) {
        $('#Loading').show();
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        $.ajax({
            type: "POST",
            url: "/Member/GoUpOneMember",
            data: { Username: $('#topMember').text() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                //event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
        mybutton_counter++; //incremental
    });

    $("#Home").click(function (evt) {
        $('#Loading').show();
        window.location.href = "/Member/Home";
        $('#Loading').hide();
    });

</script>
