﻿@using resShared  = ECFBase.Resources.Member;
@model ECFBase.Models.PINValidationModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnValidatePIN").click(function (evt) {
        $('#Loading').show();
        var type = document.getElementById('type').value;
        $.ajax({
            type: "POST",
            url: "/Member/ValidatePIN",
            data: { PIN: $('#PIN').val(), Type: type },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("ValidatePIN", "AdminTopup", FormMethod.Post, new { name = "validatePINForm", id = "validatePINForm", onkeydown = "return event.keyCode!=13" }))
{
    @Html.Hidden("type", (object)@ViewBag.Type)
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
        
         <h2 style="padding-left:10px;">@ViewBag.TypeResource</h2>
                					<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@ViewBag.SubModule</a></li>
						<li class="active"><a href="#">@ViewBag.TypeResource</a></li>
					</ol>
					<!-- End breadcrumb --> 
            <div class="col-lg-12"> 
                  <h1 class="page-sub-header">                        
                    </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row" align="center">
            <div>
                <form role="form">
                <div style="text-align: left; float:none" class="col-lg-5 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>
                            @resShared.lblSecurityPin
                        </label>
                        @Html.PasswordFor(model => model.PIN, new { @class = "form-control" })
                        <div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.PIN)
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <br />
            <div class="BtnClass">
                <button id="btnValidatePIN" type="button" class="btn btn-sm btn-default" style="width: 150px">@resShared.btnNext</button>
            </div>
        </div>
    </div>
}    				