﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model MemberSponsorChartModel
@using System.Linq;

<!DOCTYPE html>
<style>

    @@media screen and (max-width: 600px) {
        #Display_None_In_Mobile {
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
        }
    }
</style>

<script type="text/javascript">
    //$("#btnSearchByName").click(function (evt) {
    $(document).on('click', '#btnSearchByName', function () {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SearchSponsor",
            data: { Username: $('#searchName').val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });

    });


</script>
<script type="text/javascript">

    $("#btnUp").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        if (parseInt(page) == 0)
            return false;

        //            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: parseInt(page) - 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnNext").click(function (evt) {

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        var lastValue = $('#page option:last-child').val();
        if (parseInt(page) == parseInt(lastValue))
            //return false;

            $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: parseInt(page) + 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('.tab-pane fade in').click();
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnPage").click(function (evt) {
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/SponsorChartTree",
            data: { selectedPage: page },
            success: function (data) {
                $("#sponsorlist").html(data);
                $('.tab-pane fade in').click();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });



</script>
<div id="page-content">
    <div class="panel">
        <div class="panel-body">
            <h3 style="color:white">@resShared.mnuRecommendStructure</h3>
            <p>@resShared.lblExplanationNote @resShared.lblMemberUsername [******] @resShared.lblLayer [*] @resShared.lblFullname [******]  @resShared.lblMemberLevel [******] @resShared.lblJoinedDate [******] @resShared.lblIntro [******]</p>
        </div>
    </div>
    <div id="sponsorchart" class="tab-pane fade in active " style="background:white">
        <div id="accordion_sponsorchart" class="panel-group accordion">
            <div class="row margin-bottom-25"  style="background:white;width:95%;margin:10px auto;">

                <div class="col-sm-8 col-md-8 col-full-width-left tree-tab">
                    <div class="the-box no-margin no-border col-sm-12 margin-bottom-f25 border-grandiant-style1">
                        <div id="tree">
                            <ul id="treeData">
                                <li class="none">
                                    @*<img src=@Model.FirstLevelRankIcon style="width:38px;height:38px;" />*@
                                    <b>@Model.FirstLevelMember</b>
                                    <img src="../Content/Admin/assets/img/icon/tree/ico_upline.png" /><u>@Model.FirstLevelLevel</u>
                                    <img src="../Content/Admin/assets/img/icon/tree/ico_member.png" />@Model.FirstLevelFullname
                                    <img src="../Content/Admin/assets/img/icon/tree/ico_star.png" />@Model.FirstLevelRanking
                                    <img src="../Content/Admin/assets/img/icon/tree/ico_total.png" />@Model.FirstLevelJoinedDate
                                    <ul id=@Model.FirstLevelMember>
                                        <li></li>
                                    </ul>
                                </li>
                            </ul>


                        </div><!--end of tree-->
                    </div><!-- /.col-sm-7 col-md-8-->
                </div>
            </div>
        </div>
    </div>



</div>

<script src="~/Content/SponsorChart/jquery.fancytree.js" type="text/javascript"></script>
<script src="~/Content/SponsorChart/jquery.ui.core.js" type="text/javascript"></script>
<script src="~/Content/SponsorChart/jquery.ui.widget.js" type="text/javascript"></script>
<link href="~/Content/SponsorChart/ui.fancytree.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript">
    $("#tree").fancytree();
    var tree = $("#tree").fancytree("getTree");
    activeNode = tree.getActiveNode();
    var memberID = "";
    var titles = new Array();
    $("#tree").fancytree({
        collapse: function (event, data) {
        },
        expand: function (event, data) {
            var node = data.node;
            var title = node.title;

            var start = title.search("<b>") + 3;
            var end = title.search("</b>");

            var member = title.substring(start, end);
            var a = titles.indexOf(title);
            var startlevel = title.search("<u>") + 3;
            var endlevel = title.search("</u>");

            var lvl = title.substring(startlevel, endlevel);
            if (a != -1) {
                return false;
            }
            memberID = member;

            $.ajax({
                type: "POST",
                url: "/Member/FindNextRecommendationStructure",
                data: { username: member, level: lvl },
                success: function (data) {

                    var ul = document.getElementById(member);

                    ul.innerHTML = '';

                    $.each(data, function (index, optionData) {

                        var html_to_insert = '';


                        if (optionData.MemberCount == '0') {
                            html_to_insert = '<li class="none">' +

                                '<b>' + optionData.Member + '</b>' +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_upline.png" /><u>' + optionData.Level + '</u>' +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_member.png" />' + optionData.FullName +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_star.png" />' + optionData.Ranking +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_total.png" />' + optionData.JoinedDate +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_upline.png" />' + optionData.Intro +
                                '</li>'
                        }
                        else {
                            html_to_insert = '<li class="none">' +

                                '<b>' + optionData.Member + '</b>' +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_upline.png" /><u>' + optionData.Level + '</u>' +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_member.png" />' + optionData.FullName +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_star.png" />' + optionData.Ranking +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_total.png" />' + optionData.JoinedDate +
                                '<img src="../Content/Admin/assets/img/icon/tree/ico_upline.png" />' + optionData.Intro +
                                '<ul id=' + optionData.Member + '>' +
                                '<li>' +
                                '</li>' +
                                '</ul>' +
                                '</li>'
                        }

                        ul.innerHTML += html_to_insert;
                    });




                    $("#tree").fancytree();
                    tree.getActiveNode();
                    titles.push(node.title);

                    tree.visit(function (n) {
                        var a = titles.indexOf(n.title);
                        if (a != -1) {
                            n.setExpanded(true);
                        }
                    });
                    return false;
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                }
            });

        }
    });
</script>

 
<link href="~/Scripts/JQueryUI/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/JQueryUI/jquery-ui.js"></script>
