﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member
@model SignUpModel
<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@resShared.lblYiCommm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Login_files/loader-style.css">
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Login_files/signin.css">
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap-select.min.css">

    <script type="text/javascript" src="~/Content/Login_files/jquery.js"></script>
    <script type="text/javascript" src="~/Content/Login_files/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/Login_files/jquery_002.js"></script>

    <style>

        .col {
            width: 45%;
            float: left;
        }

        .form-control_1 {
            display: block;
            width: 20%;
            float: left;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-control_2 {
            display: block;
            width: 50%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
    <style type="text/css">
        .h4{
            color: #000;
        }
        .p{
            color:#000
        }
        #waf_nc_block {
            position: fixed;
            _position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
        }

        .waf-nc-mask {
            background: #f8f8f8;
            opacity: 0.5;
            filter: alpha(opacity=50);
            width: 100%;
            height: 100%;
        }

        .waf-nc-wrapper {
            width: 480px;
            height: 254px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -127px;
            margin-left: -240px;
            margin-bottom: 16px;
            background: #ffffff;
            border: 3px solid #00A2CA;
        }

        .waf-nc-icon {
            position: absolute;
            top: 18px;
            left: 20px;
        }

        .waf-nc-title {
            margin-top: 23px;
            margin-left: 47px;
            font-size: 16px;
            color: #333333;
            line-height: 10px;
            text-align: left;
        }

        .waf-nc-splitter {
            margin-left: 26px;
            margin-top: 5px;
            width: 430px;
            height: 0px;
            border: 1px solid #f4f4f4;
        }

        .waf-nc-description {
            margin-top: 22px;
            margin-left: 23px;
            font-size: 12px;
            color: #333333;
            text-align: left;
        }

        #nocaptcha {
            margin-top: 20px;
            margin-left: 92px;
            width: 300px;
            height36px;
        }
    </style>

    <script type="text/javascript">
    $(document).ready(function () {


        $("#btnLoginPage").click(function (event) {
            location.href = "/Member/MemberLogin";
        });


    })
    </script>

</head>

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("ResetPassword", "MemberLogin", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
{


    <body id="main-content">
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <div class="container">
            <div class="" id="login-wrapper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo-login">
                            <center>
                                <img src="@ViewBag.Logo" width="200" height="180" alt="UnionChain">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div align="center" style="color:#FFF">
                            <h1>规则与条例</h1>

                        </div>
                        <div class="account-box">
                            <div class="middle-box JustifyCenter">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ui accordion" style="color: #000;cursor:pointer">
                                            <div class="panel panel-theme" style="color: #000">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#1" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">介绍<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p></p><p>
                                                                本网站上的标准规则和条例将管理您对本网站的使用。此标准规则与条规将完全应用并影响您对本网站的使用。 
                                                                使用本网站即表示您同意接受此处所写的所有规则和条例。
                                                                这些条款将完全适用并影响您对本网站的使用。 
                                                                如果您不同意此网站标准规则和条例，则不得使用本网站。
                                                                </p><p>未成年人或18岁以下的人不得使用本网站</p><p></p>
                                                            </div>
                                                            <div class="col-md-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#2" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">知识产权<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p></p><p>
                                                            根据本网站的规则和条例，除了您准许可拥有的内容之外，本网站中包含的所有知识产权和材料都是属于UNIONS拥有权。
                                                        </p><p>您仅被授予有限准可，以便查看本网站上包含的材料。</p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#3" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">限制<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="3" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>您受以下所有限制：</p>
                                                        <p></p>
                                                        <ul>
                                                            <li>在任何其他媒体上发布任何关于本网站资料;</li>
                                                            <li>出售，许可和/或以其他方式将任何本网站资料商业化;</li>
                                                            <li>公开表演和/或展示任何本网站资料;</li>
                                                            <li>以任何形式或可能性对本网站造成损害的方式使用本网站;</li>
                                                            <li>以任何方式访问本网站并泛滥使用本网站以及影响其他用户</li>
                                                            <li>
                                                                违反适用法律法规使用本网站，或以任何方式对本网站或任何个人或商业实体造成损害;
                                                            </li>
                                                            <li>从事与本网站相关的任何数据挖掘，数据收集，数据提取或任何其他类似活动;</li>
                                                        </ul>
                                                        <p>
                                                           本网站的某些区域仅限于您访问，平台可能会进一步限制您访问本网站的任何区域，并可随时自行决定。 您对本网站的任何用户ID和密码都是保密的，您也必须对自身的资料保密。
                                                        </p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#4" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">修订和勘误表<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="4" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            UNIONS网站上出现的资料和材料可能包括技术，印刷或照片错误。 UNIONS不保证其网站上的任何材料准确，完整或最新。 UNIONS可随时更改其网站上的资料，恕不另行通知。 但是，UNIONS有权利更新本网站的任何资料和材料。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#5" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">无保证和担保<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="5" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            本网站按“原样”提供，包含所有缺陷，UNIONS不对本网站或本网站所含的资料和材料有任何形式的任何陈述或保证。 此外，本网站上的任何内容均不得解释为建议您。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#6" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">责任限制<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="6" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            在任何情况下，UNIONS或其任何高级职员，董事和员工均不对任何人使用本网站而产生的任何方式承担任何责任，无论此类责任是否属于合同。 UNIONS，包括其高级职员，董事和员工，对因使用本网站而产生或以任何方式引起的任何间接，后果性或特殊责任概不负责。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#7" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">保障<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="7" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p></p><p>
                                                           如果根据任何适用法律发现这些条款的任何条款无效，则应删除此类条款而不影响此处的其余条款
                                                        </p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#8" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">可分离条规<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="8" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            本网站允许UNIONS在其认为合适的情况下随时修改这些条款，并且通过使用本网站，您需要定期查看这些条款。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#9" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">规则和条例的变化<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="9" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p></p><p>
                                                            本网站允许UNIONS在其认为合适的情况下随时修改这些条款，并且通过使用本网站，您需要定期查看这些条款。
                                                        </p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#10" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">宿题<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="10" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            UNIONS可以在不发出任何通知的情况下转让，转让和转包其在本条款下的权利和/或义务。 但是，您不得转让，转让或转包这些条款下的任何权利和/或义务。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#11" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">协议<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="11" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            这些条款构成UNIONS与您之间关于您使用本网站的完整协议，并取代所有先前的协议和谅解。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#12" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">终止协议<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="12" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            这些规则和条例（以及您使用UNIONS网站上的信息，图形和材料构成的协议）以及您访问UNIONS网站的权利可由UNIONS随时终止，恕不另行通知。 所有限制，您和所有免责声明授予的许可以及UNIONS的责任限制将在终止后继续有效，但是，您将不再被授权访问UNIONS网站。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                @*<div class="footer footer-ko">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-push-6">
                                            <ul class="list-inline m-b-none footer-link">
                                                <li><a href="#" id="TermsConditions">Term &amp; conditions</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-sm-pull-6">
                                            <a href="#" id="btnBack" style="font-size:12px; font-style:italic">Back To Login Page</a>
                                        </div>
                                    </div>
                                </div>*@
                            </div>

                            <div class="row-block">
                                <div class="row">
                                </div>
                                <div class="form-group" style=" padding-top:20px">
                                    <button class="btn form-control col-md-12" style="background-color:#2B244E; color:white" type="button" id="btnLoginPage">
                                        @resShared.btnBackToLogin
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div style="text-align:center;margin:0 auto;">
                    <h6 style="color:#fff;">@resShared.lblCopyRight</h6>
                </div>
            </div>
        </div>

        <div id="waf_nc_block" style="display: none;"><div class="waf-nc-mask"></div><div id="WAF_NC_WRAPPER" class="waf-nc-wrapper"><img class="waf-nc-icon" src="~/Content/Login_files/TB1_3FrKVXXXXbdXXXXXXXXXXXX-129-128.png" alt="" height="20" width="20"><p class="waf-nc-title">安全验证</p><div class="waf-nc-splitter"></div><p class="waf-nc-description">请完成以下验证后继续操作：</p><div id="nocaptcha"></div></div></div>

    </body>
}
</html>
