﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member
@model SignUpModel
<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@resShared.lblYiCommm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Login_files/loader-style.css">
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Login_files/signin.css">
    <link rel="stylesheet" href="~/Content/Login_files/bootstrap-select.min.css">

    <script type="text/javascript" src="~/Content/Login_files/jquery.js"></script>
    <script type="text/javascript" src="~/Content/Login_files/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/Login_files/jquery_002.js"></script>

    <style>

        .col {
            width: 45%;
            float: left;
        }

        .form-control_1 {
            display: block;
            width: 20%;
            float: left;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-control_2 {
            display: block;
            width: 50%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
    <style type="text/css">
        .h4{
            color: #000;
        }
        .p{
            color:#000
        }
        #waf_nc_block {
            position: fixed;
            _position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
        }

        .waf-nc-mask {
            background: #f8f8f8;
            opacity: 0.5;
            filter: alpha(opacity=50);
            width: 100%;
            height: 100%;
        }

        .waf-nc-wrapper {
            width: 480px;
            height: 254px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -127px;
            margin-left: -240px;
            margin-bottom: 16px;
            background: #ffffff;
            border: 3px solid #00A2CA;
        }

        .waf-nc-icon {
            position: absolute;
            top: 18px;
            left: 20px;
        }

        .waf-nc-title {
            margin-top: 23px;
            margin-left: 47px;
            font-size: 16px;
            color: #333333;
            line-height: 10px;
            text-align: left;
        }

        .waf-nc-splitter {
            margin-left: 26px;
            margin-top: 5px;
            width: 430px;
            height: 0px;
            border: 1px solid #f4f4f4;
        }

        .waf-nc-description {
            margin-top: 22px;
            margin-left: 23px;
            font-size: 12px;
            color: #333333;
            text-align: left;
        }

        #nocaptcha {
            margin-top: 20px;
            margin-left: 92px;
            width: 300px;
            height36px;
        }
    </style>

    <script type="text/javascript">
    $(document).ready(function () {


        $("#btnLoginPage").click(function (event) {
            location.href = "/Member/MemberLogin";
        });


    })
    </script>

</head>

@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("ResetPassword", "MemberLogin", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
{


    <body id="main-content">
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <div class="container">
            <div class="" id="login-wrapper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo-login">
                            <center>
                                <img src="@ViewBag.Logo" width="200" height="180" alt="UnionChain">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div align="center" style="color:#FFF">
                            <h1>Terms And Condition</h1>

                        </div>
                        <div class="account-box">
                            <div class="middle-box JustifyCenter">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ui accordion" style="color: #000;cursor:pointer">
                                            <div class="panel panel-theme" style="color: #000">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#1" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Introduction<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p></p><p>
                                                                    These Website Standard Terms and
                                                                    Conditions written on this webpage shall manage your use of this
                                                                    website. These Terms will be applied fully and affect to your use of
                                                                    this Website. By using this Website, you agreed to accept all terms and
                                                                    conditions written in here. You must not use this Website if you
                                                                    disagree with any of these Website Standard Terms and Conditions.
                                                                </p><p>Minors or people below 18 years old are not allowed to use this Website.</p><p></p>
                                                            </div>
                                                            <div class="col-md-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#2" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Intellectual Property Rights<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p></p><p>
                                                            Other than the content you own, under
                                                            these Terms, UNIONS and/or its licensors own all the intellectual
                                                            property rights and materials contained in this Website.
                                                        </p><p>You are granted limited license only for purposes of viewing the material contained on this Website.</p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#3" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Restrictions<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="3" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>You are specifically restricted from all of the following</p>
                                                        <p></p>
                                                        <ul>
                                                            <li>publishing any Website material in any other media;</li>
                                                            <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                                                            <li>publicly performing and/or showing any Website material;</li>
                                                            <li>using this Website in any way that is or may be damaging to this Website;</li>
                                                            <li>using this Website in any way that impacts user access to this Website;</li>
                                                            <li>
                                                                using this Website contrary to applicable
                                                                laws and regulations, or in any way may cause harm to the Website, or to
                                                                any person or business entity;
                                                            </li>
                                                            <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</li>
                                                            <li>Using this Website to engage in any advertising or marketing.</li>
                                                        </ul>
                                                        <p>
                                                            Certain areas of this Website are restricted
                                                            from being access by you and UNIONS may further restrict access by
                                                            you to any areas of this Website, at any time, in absolute discretion.
                                                            Any user ID and password you may have for this Website are confidential
                                                            and you must maintain confidentiality as well.
                                                        </p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#4" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Revisions and Errata<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="4" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            The materials appearing on UNIONS's web site
                                                            could include technical, typographical, or photographic errors. UNIONS
                                                            does not warrant that any of the materials on its web site are accurate,
                                                            complete, or current. UNIONS may make changes to the materials
                                                            contained on its web site at any time without notice. UNIONS does not,
                                                            however, make any commitment to update the materials.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#5" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">No warranties<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="5" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            This Website is provided “as is,” with all
                                                            faults, and UNIONS express no representations or warranties, of any
                                                            kind related to this Website or the materials contained on this Website.
                                                            Also, nothing contained on this Website shall be interpreted as
                                                            advising you.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#6" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Limitation of liability<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="6" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            In no event shall UNIONS, nor any of its
                                                            officers, directors and employees, shall be held liable for anything
                                                            arising out of or in any way connected with your use of this <strong>Website</strong>
                                                            whether such liability is under contract. UNIONS, including its
                                                            officers, directors and employees shall not be held liable for any
                                                            indirect, consequential or special liability arising out of or in any
                                                            way related to your use of this Website.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#7" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Indemnification<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="7" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p></p><p>
                                                            If any provision of these Terms is found
                                                            to be invalid under any applicable law, such provisions shall be
                                                            deleted without affecting the remaining provisions herein.
                                                        </p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#8" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Severability<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="8" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            UNIONS is permitted to revise these Terms at
                                                            any time as it sees fit, and by using this Website you are expected to
                                                            review these Terms on a regular basis.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#9" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Variation of Terms<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="9" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p></p><p>
                                                            UNIONS is permitted to revise these
                                                            Terms at any time as it sees fit, and by using this Website you are
                                                            expected to review these Terms on a regular basis.
                                                        </p><p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#10" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Assignment<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="10" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            The UNIONS is allowed to assign, transfer, and
                                                            subcontract its rights and/or obligations under these Terms without any
                                                            notification. However, you are not allowed to assign, transfer, or
                                                            subcontract any of your rights and/or obligations under these Terms.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#11" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Entire Agreement<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="11" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            These Terms constitute the entire agreement
                                                            between UNIONS and you in relation to your use of this Website, and
                                                            supersede all prior agreements and understandings.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-theme">
                                                <div data-toggle="collapse" data-parent=".ui.accordion" href="#12" aria-expanded="false" class="panel-heading collapsed" style="background:#EEBA30">
                                                    <h4 class="panel-title text-center">Termination<i class="fa fa-chevron-down"></i></h4>
                                                </div>
                                                <div id="12" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>
                                                            These terms of use (and the agreement
                                                            constituted by your use of the information, graphics and materials on
                                                            the UNIONS Website) and your access to the UNIONS Website may be
                                                            terminated at any time by UNIONS without notice. All restrictions,
                                                            licenses granted by you and all disclaimers and limitations of liability
                                                            by the UNIONS will survive termination, however, you will no longer be
                                                            authorized to access the UNIONS Website.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                @*<div class="footer footer-ko">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-push-6">
                                            <ul class="list-inline m-b-none footer-link">
                                                <li><a href="#" id="TermsConditions">Term &amp; conditions</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-sm-pull-6">
                                            <a href="#" id="btnBack" style="font-size:12px; font-style:italic">Back To Login Page</a>
                                        </div>
                                    </div>
                                </div>*@
                            </div>

                            <div class="row-block">
                                <div class="row">
                                </div>
                                <div class="form-group" style=" padding-top:20px">
                                    <button class="btn form-control col-md-12" style="background-color:#2B244E; color:white" type="button" id="btnLoginPage">
                                        @resShared.btnBackToLogin
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div style="text-align:center;margin:0 auto;">
                    <h6 style="color:#fff;">@resShared.lblCopyRight</h6>
                </div>
            </div>
        </div>

        <div id="waf_nc_block" style="display: none;"><div class="waf-nc-mask"></div><div id="WAF_NC_WRAPPER" class="waf-nc-wrapper"><img class="waf-nc-icon" src="~/Content/Login_files/TB1_3FrKVXXXXbdXXXXXXXXXXXX-129-128.png" alt="" height="20" width="20"><p class="waf-nc-title">安全验证</p><div class="waf-nc-splitter"></div><p class="waf-nc-description">请完成以下验证后继续操作：</p><div id="nocaptcha"></div></div></div>

    </body>
}
</html>
