﻿<!DOCTYPE html>
<!-- saved from url=(0042)http://wrapbootstrap.com/preview/WB0048JF7 -->
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Nifty - Light &amp; Dark Admin Template Live Preview | WrapBootstrap</title>
    <meta name="description" content="Live preview for Nifty - Light &amp; Dark Admin Template at WrapBootstrap">
    <meta name="viewport" content="width=1024">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="./Nifty - Light &amp; Dark Admin Template Live Preview _ WrapBootstrap_files/screen_preview_legacy.css">
    <!--<script src="//cdn.optimizely.com/js/233905874.js"></script>-->
    <script type="text/javascript" async="" src="./Nifty - Light &amp; Dark Admin Template Live Preview _ WrapBootstrap_files/ga.js.download"></script>
    <script src="./Nifty - Light &amp; Dark Admin Template Live Preview _ WrapBootstrap_files/behavior_legacy.js.download"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28871117-1']);
        _gaq.push(['_setDomainName', 'wrapbootstrap.com']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <link rel="shortcut icon" href="http://d85wutc1n854v.cloudfront.net/live/imgs/favicon.ico?v=1">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="http://d85wutc1n854v.cloudfront.net/live/imgs/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="http://d85wutc1n854v.cloudfront.net/live/imgs/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://d85wutc1n854v.cloudfront.net/live/imgs/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://d85wutc1n854v.cloudfront.net/live/imgs/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://d85wutc1n854v.cloudfront.net/live/imgs/favicon-128.png" sizes="128x128">
    <meta name="application-name" content="WrapBootstrap">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-150x150.png">
    <meta name="msapplication-square310x310logo" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-310x310.png">
    <link rel="stylesheet" id="coToolbarStyle" href="chrome-extension://cjabmdjcfcfdmffimndhafhblfmpjdpe/toolbar/styles/placeholder.css" type="text/css">
    <script type="text/javascript" id="cosymantecbfw_removeToolbar">(function () { var toolbarElement = {}, parent = {}, interval = 0, retryCount = 0, isRemoved = false; if (window.location.protocol === 'file:') { interval = window.setInterval(function () { toolbarElement = document.getElementById('coFrameDiv'); if (toolbarElement) { parent = toolbarElement.parentNode; if (parent) { parent.removeChild(toolbarElement); isRemoved = true; if (document.body && document.body.style) { document.body.style.setProperty('margin-top', '0px', 'important'); } } } retryCount += 1; if (retryCount > 10 || isRemoved) { window.clearInterval(interval); } }, 10); } })();</script>
</head>
<body>
    <div id="main">
        <div id="tray" class="topbar" sty1le="width: auto;">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="https://wrapbootstrap.com/"><img src="./Nifty - Light &amp; Dark Admin Template Live Preview _ WrapBootstrap_files/logo-v2-legacy.png" width="180" height="28" alt="WrapBootstrap" title="Bootstrap Templates &amp; Themes from WrapBootstrap"></a>
                    <h1 id="item_name"><a href="https://wrapbootstrap.com/theme/nifty-light-dark-admin-template-WB0048JF7">Nifty - Light &amp; Dark Admin Template</a></h1>
                    <div class="remove"><a class="btn" href="http://www.themeon.net/nifty/v2.9/index.html" title="Remove this frame">Remove this frame »</a></div>
                </div>
            </div>
        </div>
        <iframe id="preview" src="./Nifty - Light &amp; Dark Admin Template Live Preview _ WrapBootstrap_files/index.html" frameborder="0" width="100%" height="854px"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            function fix_height() {
                var h = $("#tray").height();
                $("#preview").attr("height", (($(window).height()) - h) + "px");
            }
            $(window).resize(function () { fix_height(); }).resize();
            //$("#preview").contentWindow.focus();
        });
    </script>

</body>
<div id="coFrameDiv" style="height:0px;display:none;"><iframe id="coToolbarFrame" src="./Nifty - Light &amp; Dark Admin Template Live Preview _ WrapBootstrap_files/placeholder.html" style="height: 0px; width: 100%; display: none;"></iframe></div>
</html>