﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Components;
@using System.Data;
@using System.Text.RegularExpressions;
@using ECFBase.Models
@model ECFBase.Models.BuyOrderManagement

<script src="~/Content/resources/bootstrap.js"></script>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20%; /* Location of the box */
        left: 0;
        top: 50px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        /*display: block;*/
        width: 80%;
        max-width: 700px;
    }

    .modal-backdrop.in {
        opacity: 0 !important
    }

    .modal-backdrop {
        position: absolute;
        z-index: 0;
    }


    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<div id="page-content">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@resShared.mnuBuyOrderDetails</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@resShared.lblCreatedTime</th>
                                <th>@resShared.lblMatchQuantity</th>
                                <th>@resShared.lblPrice</th>
                                <th>@resShared.lblPriceInCurrency</th>
                                <th>@resShared.lblOrderStatus</th>
                                <th>@resShared.lblPaymentDetails</th>
                                <th>@resShared.lblPaymentSlip</th>
                                <th>@resShared.lblAction</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ Html.EnableClientValidation(true); }
                            @using (Html.BeginForm("UploadSlip", "MemberMarketTrading", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
                            {
                                foreach (var item in Model.BuyOrderList)
                                {


                                    @Html.HiddenFor(modelItem => item.ID)
                                    @Html.HiddenFor(modelItem => item.TableID)
                                    <tr>
                                        <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.CreatedTime)</td>
                                        <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.MatchQuantity)</td>
                                        <td style="border-top:1px solid #ccc">@string.Format("{0:n4}", item.TotalBuyingPrice)</td>
                                        <td style="border-top:1px solid #ccc">@string.Format("{0:n4}", item.TotalBuyingLocalPrice)</td>
                                        <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.OrderStatus)</td>
                                        <td style="border-top:1px solid #ccc">
                                            <a href="#" style="text-decoration:underline; color:#fff" onclick="ViewPaymentDetails('@item.TableID')" type="button">
                                                @resShared.btnView
                                            </a>
                                        </td>
                                        <td style="border-top:1px solid #ccc">
                                            @if (item.OrderStatus == resShared.TDSPendingPayment)
                                            {
                                                <a href="#" style="text-decoration:underline; color:#fff" onclick="UploadSlip('@item.TableID')">
                                                    @resShared.btnUpload
                                                </a>
                                            }
                                            </td>
                                        <td style="border-top:1px solid #ccc">
                                            @if (item.OrderStatus == resShared.TDSPendingPayment)
                                            {
                                                <a href="#" style="text-decoration:underline; color:red" onclick="Cancel('@item.TableID')">
                                                    @resShared.btnCancel
                                                </a>

                                            }
                                        </td>
                                    </tr>


                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">
                    <center>
                        <button type="button" id="btnBack" class="btn btn-theme">@resShared.btnBack</button>
                    </center>
                </div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true" style="color: goldenrod; width:100%">
    <div class="modal-dialog">
        <div class="modal-content" align="center">

            <div class="modal-header" style="height:70px; background-color:navy">
                <button type="button" class="close" data-dismiss="modal" style="color: red">x</button>
                <h4 class="modal-title" style="padding-top:10px"><strong style="color:white">@resShared.lblPaymentDetails</strong></h4>
            </div>
            <div id="ModalBody">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#btnBack").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/BuyOrderManagement",
            data: $("#regMemSell").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    function ViewPaymentDetails(ID) {
        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/ViewPaymentDetails",
                data: { BuyTradingID: ID},
                success: function (data) {
                    $("#ModalBody").html(data);
                    $("#myModal").modal();
                    $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
           });
    };

    function UploadSlip(ID) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/UploadPayemntSlip",
            data: { BuyTradingID: ID },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };

    function Cancel(ID) {
        if (confirm("@resShared.warningConfirmCancelOrder")) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/CancelTradingfromBuyOrderDetails",
            data: { BuyTradingID: ID },
            success: function (data) {
                $("#main-content").html(data);
                alert('@resShared.warningOrderCancel');
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
            });
        }
        else { $('#Loading').hide(); }
    };


    var mybutton_counter = 0;
    $("#btnUpload").click(function (evt) {
        alert("123213");
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        alert("sss");
        //if ($('#editBSForm').valid()) {
            $('#Loading').show();
        var form = $('#editBSForm')[0];
        var data = new FormData(form);
        alert("daddsa");
            $.ajax({
            type: "POST",
                url: "/MemberMarketTrading/UploadPayemntSlipMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
            },
                error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    mybutton_counter = mybutton_counter - 1;
                alert(errorM);
                    $('#Loading').hide();
            }
        });
        //}
        mybutton_counter++; //incremental
    });

</script>