﻿@using resShared = ECFBase.Resources.Member;
@model ECFBase.Models.ExchangeModel
@using ECFBase.Components;
@using System.Data;
@using System.Text.RegularExpressions;
@using ECFBase.Models
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20%; /* Location of the box */
        left: 0;
        top: 50px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        /*display: block;*/
        width: 80%;
        max-width: 700px;
    }

    .modal-backdrop.in {
        opacity: 0 !important
    }

    .modal-backdrop {
        position: absolute;
        z-index: 0;
    }


    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
<script type="text/javascript">

           


    $("#btnBuy").click(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/BuyTrading",
            data: $("#regMem").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                alert('@resShared.warningSuccessfullyBuy');
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

    $("#btnSell").click(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/SellTrading",
            data: $("#regMemSell").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

    $("#BuyQuantity").focusout(function (e) {
        
        var t = $(document.getElementById("BuyQuantity")).val();
        if (t.match("([a-z][A-Z]*)")) {
                alert("@resShared.warningPhoneNotAllowChar")
        }
        
        var Quantity = $(document.getElementById("BuyQuantity")).val();
        var TheRate = $(document.getElementById("BuyRate")).val();
        if (Quantity % 10 > 0) {
            alert("@resShared.warningBuyQuantityMtpOf10")
        }
        else {
            //var Fee = (Quantity * TheRate) * 10 / 100;
            var Total = Quantity * TheRate;
            document.getElementById("TotalPrice").value = parseFloat(Total).toFixed(4);
        }

    });

    

    $("#SellQuantity").focusout(function (e) {
        
        var t = $(document.getElementById("SellQuantity")).val();
        if (t.match("([a-z][A-Z]*)")) {
                alert("@resShared.warningPhoneNotAllowChar")
        }
        
        var Quantity = $(document.getElementById("SellQuantity")).val();
        var TheRate = $(document.getElementById("SellRate")).val();
        if (Quantity % 50 > 0) {
            alert("@resShared.warningBuySellQuantityMtpOf50")
        }
        else {
            var Fee = Quantity  * 10 / 100;
            var Total = Quantity * TheRate;
            document.getElementById("TenPercentageFees").value = parseFloat(Fee).toFixed(4);
            
            document.getElementById("TotalSellPrice").value = parseFloat(Total).toFixed(4);
        }

    });

    $("#btnBuyValidation").click(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/BuyValidation",
            data: $("#regMem").serialize(),
            success: function (data) {
                $(".BuyButton").attr("data-toggle", "modal");
                $(".BuyButton").attr("data-target", "#ReceiveVerificationCodeMethodBuy");
                $("#btnBuyGetCode").click();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    $("#btnSellValidation").click(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/SellValidation",
            data: $("#regMemSell").serialize(),
            success: function (data) {
                $(".SellButton").attr("data-toggle", "modal");
                $(".SellButton").attr("data-target", "#ReceiveVerificationCodeMethodSell");
                $("#btnSellGetCode").click();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });





        $("#btnMobileDeliverBuy").click(function (evt) {
            MobileDeliverBuy();
                $("[class *= 'modal-backdrop']").hide();
            });

        function MobileDeliverBuy() {
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/MobileDeliver",
                data: $("#regMem").serialize(),
                success: function (data) {
                    timer();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        };

        $("#btnEmailDeliverBuy").click(function (evt) {
            EmailDeliverBuy();
            $("[class *= 'modal-backdrop']").hide();
        });

        function EmailDeliverBuy() {
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/EmailDeliver",
                data: $("#regMem").serialize(),
                success: function (data) {
                    timer();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
    };

        $("#btnMobileDeliverSell").click(function (evt) {
            MobileDeliverSell();
            $("[class *= 'modal-backdrop']").hide();
        });

    function MobileDeliverSell() {
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/MobileDeliver",
                data: $("#regMemSell").serialize(),
                success: function (data) {
                    timera();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        };

        $("#btnEmailDeliverSell").click(function (evt) {
            EmailDeliverSell();
            $("[class *= 'modal-backdrop']").hide();
        });

    function EmailDeliverSell() {
            $.ajax({
                type: "POST",
                url: "/MemberMarketTrading/EmailDeliver",
                data: $("#regMemSell").serialize(),
                success: function (data) {
                    timera();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        };

        var b = $('#btnBuyValidation');
        var text = b.attr('value');
        var counter = b.attr('data-delay');

        function timer() {
            $('#btnBuyValidation').attr('disabled', 'disabled');
            setTimeout(function () {
                b.val(text + ' ' + counter);
                if (counter == 0) {
                    next();
                    $('#btnBuyValidation').removeAttr('disabled');
                    counter = 60;
                }
                else {
                    counter--;
                    timer();
                }
            }, 1000);
        }

        function next() {
            b.val('@resShared.btnGetVerificationCode1');
            //whatever happens afterwards
        }

       var a = $('#btnSellValidation');
        var text = a.attr('value');
        var counter = a.attr('data-delay');

        function timera() {
            $('#btnSellValidation').attr('disabled', 'disabled');
            setTimeout(function () {
                a.val(text + ' ' + counter);
                if (counter == 0) {
                    nexta();
                    $('#btnSellValidation').removeAttr('disabled');
                    counter = 60;
                }
                else {
                    counter--;
                    timera();
                }
            }, 1000);
        }

        function nexta() {
            a.val('@resShared.btnGetVerificationCode1');
            //whatever happens afterwards
        }


    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>


<div class="modal fade" id="ReceiveVerificationCodeMethodBuy" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="background-color:navy">
                <button type="button" class="close" data-dismiss="modal" style="color: red; font-size:25px">
                    ×
                </button>
                <h4 class="modal-title" style="padding-top:10px"><strong style="color: white">@resShared.lblReceiveMethod</strong></h4>
            </div>

            <div class="modal-body">
                <center>
                    <button type="button" id="btnMobileDeliverBuy" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblPhoneMethod
                    </button>
                    <button type="button" id="btnEmailDeliverBuy" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblEmailMethod
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ReceiveVerificationCodeMethodSell" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center" align="center">
            <div class="modal-header" style="background-color:navy">
                <button type="button" class="close" data-dismiss="modal" style="color: red; font-size:25px">
                    ×
                </button>
                <h4 class="modal-title" style="padding-top:10px"><strong style="color: white">@resShared.lblReceiveMethod</strong></h4>
            </div>

            <div class="modal-body">
                <center>
                    <button type="button" id="btnMobileDeliverSell" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblPhoneMethod
                    </button>
                    <button type="button" id="btnEmailDeliverSell" class="btn btn-info" data-dismiss="modal" style="width: 49%;" aria-hidden="true">
                        @resShared.lblEmailMethod
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>


<div id="page-content">
    <div class="row">
        <div class="panel">
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resShared.mnuC2CTransaction</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="text-align:center">@resShared.lblPrice</th>
                                    <th style="text-align:center">@resShared.lblVolume</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RateResultList.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="2">@resShared.lblNoRecFound</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.RateResultList)
                                    {


                                        <tr align="center">
                                            <td class="text">@Html.DisplayFor(modelItem => item.Rate)</td>
                                            <td class="text">@Html.DisplayFor(modelItem => item.Volume)</td>
                                        </tr>
                                    }
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resShared.lblLatestTransactionRecord</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr align="center">
                                    <th style="text-align:center">@resShared.lbltime</th>
                                    <th style="text-align:center">@resShared.lblPrice</th>
                                    <th style="text-align:center">@resShared.lblVolume</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TradingResultList.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="3">@resShared.lblNoRecFound</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.TradingResultList)
                                    {


                                    <tr align="center">
                                        <td class="text">@Html.DisplayFor(modelItem => item.Time)</td>
                                        <td class="text">@Html.DisplayFor(modelItem => item.Rate)</td>
                                        <td class="text">@Html.DisplayFor(modelItem => item.Volume)</td>
                                    </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resShared.lblBuy</h3>
                    </div>
                    <div class="panel-body">
                        @{ Html.EnableClientValidation(true); }
                        @using (Html.BeginForm("BuyTrading", "MemberMarketTrading", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMem", id = "regMem" })) //this id very important to do HttpPost
                        {
                            @Html.HiddenFor(m => Model.username)
                            @Html.HiddenFor(M => M.CurrentPrice, new { @id = "BuyRate" })

                            <form action="/user/trade/trade_buy.html" id="buy_form" method="post" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-12 mar-btm">
                                        <div style="font-weight:bold">@resShared.lblCurrentPrice2 @Model.CurrentPrice</div>
                                        <div>@resShared.lblAvailableUNS: @Model.AvailableUNS</div>
                                        <div>@resShared.lblFrozenUNS:@Model.FrozenUNS</div>
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @Html.TextBoxFor(m => @Model.BuyQuantity, new { id = "BuyQuantity", @class = "form-control", placeholder = @resShared.lblBuyQuantityCondition, Type = "number" , @onkeypress = "return isNumber(event)" })
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @Html.TextBoxFor(m => @Model.TotalBuyingPrice, new { id = "TotalPrice", @class = "form-control", placeholder = @resShared.lblTotalAmount, disabled = "disabled" })
                                        @*<input class="form-control" name="buy_price" id="buy_price" placeholder="Total Amount" disabled="disabled" type="text">*@
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @*<input class="form-control" name="buy_pay_pass" id="buy_pay_pass" placeholder="Transaction password" required="" type="password">*@
                                        @Html.TextBoxFor(m => @Model.SecurityPIN, new { @class = "form-control", placeholder = @resShared.lblTransactionPassword, type = "password" })
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        <input class="form-control" id="" disabled="disabled" value="@Model.ContactNumber" type="text">
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        <input class="form-control" id="" disabled="disabled" value="@Model.Email" type="text">
                                    </div>
                                    <div class="col-md-8 mar-btm">
                                        @*<button class="btn btn-success  form-control" id="buns" type="button" onclick="appeal(this,'1');" disabled="disabled">@resShared.btnGetVerificationCode</button>*@
                                        @Html.TextBoxFor(m => @Model.VerficationCode, new { id = "VerficationCode", @class = "form-control", placeholder = @resShared.lblVerificationCode })
                                    </div>
                                    <div class="col-md-4 mar-btm">
                                        @*<input class="btn btn-success" data-toggle="modal" data-target="#ReceiveVerificationCodeMethod" type="button" value="@resShared.btnGetVerificationCode1" id="getmsalt" data-delay="60"> </input>*@
                                        <input class="btn btn-success" type="button" value="@resShared.btnGetVerificationCode1" id="btnBuyValidation" data-delay="60"> </input>
                                        <input class="BuyButton" hidden type="button" value="@resShared.btnGetVerificationCode1" id="btnBuyGetCode" > </input>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    @if (Model.RealNameVerificationFlag == "NO")
                                    {
                                        <span style="color: #FFF">@resShared.WarningPerformRealnameCertification</span><button type="button" disabled id="btnBuy" style="width:100%;" class="btn btn-theme">@resShared.lblBuy</button>
                                    }
                                    else if (Model.RealNameVerificationFlag == "YES")
                                    {
                                        if (Model.CanBuy != "1")
                                        {
                                            <span style="color: #FFF"><p align="justify">@resShared.warningTrading</p></span><button type="button" id="btnBuy" style="width:100%;" class="btn btn-theme">@resShared.lblBuy</button>
                                        }
                                        else
                                        {
                                            <span style="color: #FFF"><p align="justify">@resShared.warningTrading</p></span><button type="button" disabled id="btnBuy" style="width:100%;" class="btn btn-theme">@resShared.lblBuy</button>
                                        }


                                    }


                                </div>
                            </form>

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@resShared.lblSell</h3>
                    </div>
                    <div class="panel-body">
                        @{ Html.EnableClientValidation(true); }
                        @using (Html.BeginForm("SellTrading", "MemberMarketTrading", FormMethod.Post, new { enctype = "multipart/form-data", name = "regMemSell", id = "regMemSell" })) //this id very important to do HttpPost
                        {
                            @Html.HiddenFor(m => Model.username)
                            @Html.HiddenFor(M => M.CurrentPrice, new { @id = "SellRate" })

                            <form action="/user/trade/trade_sell.html" id="sell_form" method="post" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-12 mar-btm">
                                        <div style="font-weight:bold">@resShared.lblCurrentPrice2 @Model.CurrentPrice</div>
                                        <div>@resShared.lblAvailableUNS: @Model.AvailableUNS</div>
                                        <div>@resShared.lblFrozenUNS:@Model.FrozenUNS</div>
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @Html.TextBoxFor(m => @Model.SellQuantity, new { id = "SellQuantity", @class = "form-control", placeholder = @resShared.lblSellQuantityCondition, Type = "number", @onkeypress = "return isNumber(event)" })
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @Html.TextBoxFor(m => @Model.TenPercentageFees, new { id = "TenPercentageFees", @class = "form-control", placeholder = "10% Fees Coin", disabled = "disabled" })
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @Html.TextBoxFor(m => @Model.TotalSellPrice, new { id = "TotalSellPrice", @class = "form-control", placeholder = @resShared.lblTotalAmount, disabled = "disabled" })
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        @Html.TextBoxFor(m => @Model.SecurityPIN, new { @class = "form-control", placeholder = @resShared.lblTransactionPassword, type = "password" })
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        <input class="form-control" id="" disabled="disabled" value="@Model.ContactNumber" type="text">
                                    </div>
                                    <div class="col-md-12 mar-btm">
                                        <input class="form-control" id="" disabled="disabled" value="@Model.Email" type="text">
                                    </div>
                                    <div class="col-md-8 mar-btm">
                                        @Html.TextBoxFor(m => @Model.VerficationCode, new { id = "VerficationCode", @class = "form-control", placeholder = @resShared.lblVerificationCode })
                                    </div>
                                    <div class="col-md-4 mar-btm">
                                        @*<input class="btn btn-success" data-toggle="modal" data-target="#ReceiveVerificationCodeMethod" type="button" value="@resShared.btnGetVerificationCode1" id="getmsalt" data-delay="60"> </input>*@
                                        <input class="btn btn-success" type="button" value="@resShared.btnGetVerificationCode1" id="btnSellValidation" data-delay="60"> </input>
                                        <input class="SellButton" type="button" hidden value="@resShared.btnGetVerificationCode1" id="btnSellGetCode"> </input>

                                    </div>
                                </div>
                                <div class="panel-footer">

                                    @if (Model.RealNameVerificationFlag == "NO")
                                    {
                                        <span style="color: #FFF">@resShared.WarningPerformRealnameCertification</span> <button type="button" disabled style="width:100%;" class="btn btn-theme">@resShared.lblSell</button>
                                    }
                                    else if (Model.RealNameVerificationFlag == "YES")
                                    {
                                        if (Model.HGMMemberFlag == "YES")
                                        {
                                            <span style="color: #FFF">@resShared.WarningPerformRealnameCertification</span> <button type="button" disabled style="width:100%;" class="btn btn-theme">@resShared.lblSell</button>
                                        }
                                        else
                                        {
                                            if (Model.CanSell != "1")
                                            {
                                                <span style="color: #FFF"><p align="justify">@resShared.warningTrading</p></span> <button type="button" id="btnSell" style="width:100%;" class="btn btn-theme">@resShared.lblSell</button>
                                            }
                                            else
                                            {
                                                <span style="color: #FFF"><p align="justify">@resShared.warningTrading</p></span> <button type="button" disabled id="btnSell" style="width:100%;" class="btn btn-theme">@resShared.lblSell</button>
                                            }


                                        }


                                    }

                                </div>
                            </form>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
