﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
<meta http-equiv="cache-control" content="max-age=0" />
<script type="text/javascript">

    //window.setInterval("reloadIFrame();", 10000);
    //function reloadIFrame() {
    //    document.getElementById("ShareChart").src = "../ShareChart/ShareChart.html";
    //}


</script>


<div id="page-content" style="height: 800px;">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@resShared.mnuDynamicCurve</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <iframe id="ShareChart" src="../ShareChart/ShareChart.html" scrolling="no" frameborder="0" width="100%" height="600" style=" margin-left:-5px; border:1px solid"></iframe>
                </div>

            </div>
        </div>

    </div>
</div>