﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model SellOrderManagement
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="~/Content/resources/bootstrap.js"></script>
<style>
    /*body {
        font-family: Arial, Helvetica, sans-serif;
    }*/

    #myImg, #myImg2, #myImg3 {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover, #myImg2:hover, #myImg3:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20%; /* Location of the box */
        left: 0;
        top: 50px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        /*display: block;*/
        width: 80%;
        max-width: 700px;
    }

    .modal-backdrop.in {
        opacity: 0 !important
    }

    .modal-backdrop {
        position: absolute;
        z-index: 0;
    }


    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<style>
    a {
        cursor: pointer;
        cursor: hand;
    }
</style>


<div id="page-content">

    <div class="row">
        <div class="panel">


            <div class="panel-heading">
                <h3 class="panel-title">@resShared.mnuSellOrderDetails</h3>
            </div>
            <div class="panel-body">
                @*<div class="pad-btm form-inline">
                        <div class="row ">
                            <form method="post" action="/user/trade/trade.html">
                                <div class="col-sm-6 table-toolbar-left">
                                </div>
                                <div class="col-sm-6 table-toolbar-right">
                                    <div class="form-group">
                                        <select id="status" style="margin-left:0; width:80px;" name="status" class="form-control">
                                            <option value="0">Waiting for money</option>
                                            <option value="1">Waiting for confirmation</option>
                                            <option value="2">completed</option>
                                            <option value="3">shut down</option>
                                            <option value="4">Appeal</option>
                                            <option value="" selected="selected">@resShared.lblAll</option>
                                        </select>
                                    </div>
                                    <div class="btn-group">
                                        <input value="@resShared.btnInquiry" class="btn btn-theme btn-success" type="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>*@

                <br />
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@resShared.lblCreatedTime</th>
                                <th>@resShared.lblMatchQuantity</th>
                                <th>@resShared.lblPrice</th>
                                <th>@resShared.lblPriceInCurrency</th>
                                <th>@resShared.lblOrderStatus</th>
                                <th>@resShared.lblBuyerDetails</th>
                                <th>@resShared.lblPaymentSlip</th>
                                <th>@resShared.lblAction</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SellOrderList)
                            {
                                @Html.HiddenFor(modelItem => item.ID)
                                <tr>
                                    <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.CreatedTime)</td>
                                    <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.MatchQuantity)</td>
                                    <td style="border-top:1px solid #ccc">@string.Format("{0:n4}", item.TotalSellingPrice)</td>
                                    <td style="border-top:1px solid #ccc">@string.Format("{0:n4}", item.TotalSellingLocalPrice)</td>
                                    <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.OrderStatus)</td>
                                    <td style="border-top:1px solid #ccc">
                                        <a href="#" style="text-decoration:underline; color:white" onclick="ViewBuyerDetails('@item.ID')">
                                            @resShared.btnView
                                        </a>
                                    </td>
                                    <td style="border-top:1px solid #ccc">
                                        @if (item.OrderStatus == "Pending Seller Approve Transfer" && item.PaymentSlipPhotoPath != null)
                                        {
                                            <a href="#">
                                                <img src="@Url.Content(item.PaymentSlipPhotoPath)" onclick="ViewReverse('@item.ID','@item.PaymentSlipPhotoPath')" style="height:130px;border-width:0px;max-width:250px;" />
                                            </a>

                                        }
                                    </td>

                                    <td style="border-top:1px solid #ccc">
                                        @if (item.OrderStatus == "Pending Seller Approve Transfer")
                                        {
                                            <a href="#" style="text-decoration:underline; color:white" onclick="Approve('@item.ID')">
                                                @resShared.btnApprove
                                            </a>
                                        }
                                    </td>


                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">
                    <center>
                        <button type="button" id="btnBack" class="btn btn-theme">@resShared.btnBack</button>
                    </center>
                </div>
            </div>



        </div>
    </div>

</div>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" align="center">
            <div class="modal-header" style="height: 70px; background-color:navy">
                <button type="button" class="close" data-dismiss="modal" c>
                    ×
                </button>
                <h4 class="modal-title" style="padding-top:10px"><strong style="color:white">@resShared.lblBuyerDetails</strong></h4>
            </div>
            <div id="ModalBody">
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal2" class="modal">
    <button type="button" id="btnClose" class="close" style="color: red">&times;</button>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>



<script type="text/javascript">
    $("#btnBack").click(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/SellOrderManagement",
            data: $("#regMemSell").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

    function ViewReverse(Username, path) {
        var modal = document.getElementById('myModal2');
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        modal.style.display = "block";
        modalImg.src = "../../" + path;
        captionText.innerHTML = " (Payment Slip)";

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    function Approve(ID) {
        if (confirm("@resShared.warningConfirmApproveOrder")) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/ApproveTrading",
            data: { BuyTradingID: ID },
            success: function (data) {
                $("#main-content").html(data);
                alert('@resShared.warningOrderApproved');
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
            });
        }
        else { $('#Loading').hide(); }
    };


    function ViewBuyerDetails(ID) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/ViewBuyerDetails",
            data: { BuyTradingID: ID },
            success: function (data) {
                $("#ModalBody").html(data);
                $("#myModal").modal();

                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
            });
        }


</script>

<script type="text/javascript">

    $("#btnClose").click(function (evt) {
        myModal2.style.display = "none";
    });
</script>