﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model ECFBase.Models.SellOrderManagement
<div id="page-content" style="height: 800px;">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@resShared.mnuSellOrder</h3>
            </div>
            <div class="panel-body">
                @*<div class="pad-btm form-inline">
                    <div class="row">
                        <form method="post" action="/user/trade/order.html">
                            <div class="col-sm-6 table-toolbar-left">
                            </div>
                            <div class="col-sm-6 table-toolbar-right">
                                <div class="form-group">
                                    <select id="status" style="margin-left:0; width:80px;" name="status" class="form-control">
                                        <option value="0">Uncompleted</option>
                                        <option value="1">Partial deal</option>
                                        <option value="2">Deal done</option>
                                        <option value="3">Revoked</option>
                                        <option value="" selected="selected">@resShared.lblAll</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="btn-group">
                                    <input value="@resShared.btnInquiry" class="btn btn-theme btn-success" type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>*@
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@resShared.lblCreatedTime</th>
                                <th>@resShared.lblQty</th>
                                <th>@resShared.lblPrice</th>
                                <th>@resShared.lblPriceInCurrency</th>
                                <th>@resShared.lblPendingQuantity</th>
                                <th>@resShared.lblOrderStatus</th>
                                <th>@resShared.lblViewDetail</th>
                                <th>@resShared.lblOperation</th>

                                @*<th>@resShared.lblRemainingAmount</th>
                                    <th>@resShared.lblProportionFee</th>
                                    <th>@resShared.lblOrderType</th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.SellOrderList)
                            {
                                @Html.HiddenFor(modelItem => item.ID)
                            <tr>
                                <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.CreatedTime)</td>
                                <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.SellQuantity)</td>
                                <td style="border-top:1px solid #ccc">@string.Format("{0:n4}", item.TotalSellingPrice)</td>
                                <td style="border-top:1px solid #ccc">@string.Format("{0:n4}", item.TotalSellingLocalPrice)</td>
                                <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.PendingQuantity)</td>
                                <td style="border-top:1px solid #ccc">@Html.DisplayFor(modelItem => item.OrderStatus)</td>
                               
                                <td style="border-top:1px solid #ccc">
                                    <a href="#" style="text-decoration:underline; color:white" onclick="View('@item.ID')">
                                        @resShared.btnView
                                    </a>
                                </td>
                                <td style="border-top:1px solid #ccc">
                                    @if (item.OrderStatus != resShared.TDSCompleted)
                                    {
                                        if (item.SellQuantity == item.PendingQuantity)
                                        {
                                            <a href="#" style="text-decoration:underline; color:red" onclick="Cancel('@item.ID')">
                                                @resShared.btnCancel
                                            </a>
                                        }

                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>

<script type="text/javascript">

    function View(ID) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/SellOrderDetailsByID",
            data: { BySellerTradingID: ID },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };
    
    function Cancel(ID) {
        if (confirm("@resShared.warningConfirmCancelOrder")) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/CancelTradingfromSellOrder",
            data: { BySellerTradingID: ID },
            success: function (data) {
                $("#main-content").html(data);
                alert('@resShared.warningOrderCancel');
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
            });
        }
        else {

        }
    };
    
</script>