﻿
  <div id="page-content">
                        <div class="row">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sub-asset records</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="pad-btm form-inline">
                                        <div class="row">
                                            <form>
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <button class="btn btn-pink">Turn out</button>
                                                    <button class="btn btn-success">To change into</button>
                                                </div>
                                                <div class="col-sm-6 table-toolbar-right">
                                                    <div class="form-group">
                                                        <input autocomplete="off" name="content" class="form-control" placeholder="Please enter content" id="demo-input-search2" type="text">
                                                    </div>
                                                    <div class="btn-group">
                                                        <input value="Check&nbsp;&nbsp;Inquiry" class="btn btn-theme btn-success" type="submit">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Serial number</th>
                                                <th>time</th>
                                                <th>type</th>
                                                <th>Number</th>
                                                <th class="text-center">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6">
                                                    暂无数据
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination"></div>
                        </div>
                    </div>
            