﻿
    <script type="text/javascript" src="~/Content/resources/lang.js"></script>
    <script type="text/javascript" src="~/Content/resources/capital_transfer.js"></script>
    <script src="~/Content/resources/bootbox.js"></script>
    <script src="~/Content/resources/bootstraps.js"></script>
  
  <div id="page-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Sub assets sent</h3>
                                    </div>
                                    <form action="/user/profile/freezingSubassetsPost" method="post" class="form-horizontal">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Number of sub-assets</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" disabled="disabled" value="0.0000" id="moneytip" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Target wallet address</label>
                                                <div class="col-sm-9">
                                                    <input name="baoress" id="baoress" class="form-control" onblur="checkbaoress()" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Number</label>
                                                <div class="col-sm-9">
                                                    <input name="howmoney" id="howmoney" class="form-control" onblur="checkmoney()" type="text">
                                                    <input name="mymoney" id="mymoney" value="0.0000" type="hidden">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Transaction password</label>
                                                <div class="col-sm-9">
                                                    <input maxlength="20" class="form-control" name="repass" id="repass" onblur="checkrepass()" type="password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">&nbsp;</label>
                                                <div class="col-sm-6">
                                                    <input maxlength="20" class="form-control" value="601****6914" disabled="disabled" type="text">
                                                </div>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-success  form-control" id="buns" type="button" onclick="appeal(this,'1');" disabled="disabled">
                                                        Send the verification code
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">code</label>
                                                <div class="col-sm-9">
                                                    <input maxlength="20" name="msalt" id="msalt" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Remark information</label>
                                                <div class="col-sm-9">
                                                    <input maxlength="30" name="content" id="content" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Explain</label>
                                                <div class="col-sm-9 control-label">
                                                    <span style="color: red">Please check and submit accurately, and cannot be returned after submission.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer text-right">
                                            <span style="color: red">Please perform real name certification first</span>&nbsp;&nbsp;&nbsp;<input name="opcardbutton" id="opcardbutton" disabled="disabled" value="Confirm send" class="btn btn-theme btn-success" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                