﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member;
@model BuyOrderManagement

<style>
    .linkdisabled {
        cursor: not-allowed;
    }
</style>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("UploadSlip", "MemberMarketTrading", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
{
    <div id="page-content" style="height: auto;">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@resShared.lblPaymentSlip</strong></h3>
                    </div>
                    <br />
                    <form>
                        <div class="panel-body">

                            <div class="col-md-6">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="btn btn-primary btn-file">
                                        @resShared.btnClickToUpload
                                        @Html.DisplayFor(x => x.PaymentSlipPhoto)
                                        @Html.TextBoxFor(x => x.PaymentSlipPhoto, new { id = "ProtraitPhoto", type = "file", @class = "form-control" })
                                        @Html.HiddenFor(x => x.PaymentSlipPhotoPath)
                                        @Html.HiddenFor(x => x.ID)
                                    </span>
                                    <br><br>
                                </div>
                                <div class="form-group">
                                    <img class="col-md-12 col-xs-12" id="preview1" style="border-width:0px;" />
                                    <span style="text-align:center; display:block">@resShared.lblPaymentSlip</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <center>
                                            <label class="col-md-12 control-label"></label>
                                            <button id="btnUpload" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                                        </center>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <center>
                                    <button type="button" id="btnBack" class="btn btn-primary">@resShared.btnBack</button>
                                </center>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

}
<script>

    $(function () {
        $("#ProtraitPhoto").change(function () {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview1");

            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                var imgObj = document.getElementById("preview1");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });

    });

</script>

<script type="text/javascript">

    var mybutton_counter = 0;
    $("#btnUpload").click(function (evt) {
        if (mybutton_counter > 0) { return false; } //you can set the number to any
        //if ($('#editBSForm').valid()) {
            $('#Loading').show();
        var form = $('#editBSForm')[0];
        var data = new FormData(form);
            $.ajax({
            type: "POST",
                url: "/MemberMarketTrading/UploadPayemntSlipMethod",
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                    $('#Loading').hide();
            },
                error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    mybutton_counter = mybutton_counter - 1;
                alert(errorM);
                    $('#Loading').hide();
            }
        });
        //}
        mybutton_counter++; //incremental
    });




    $("#btnBack").click(function (evt) {
        $.ajax({
            type: "POST",
            url: "/MemberMarketTrading/BuyOrderDetails",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

</script>