﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member;
@model SellOrderManagement



<div>
    <div class="panel">
        <div id="ModalBody" class="modal-content" style="background:#343434">

             
                <table>
                    @foreach (var item in Model.SellOrderList)
                    {
                        <tr>
                            <td align="left">
                                <label>@resShared.lblBuyerFullname</label>
                            </td>
                            <td align="right">
                                <label> @Html.DisplayFor(modelItem => item.BuyerFullname)</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <label>@resShared.lblBuyerContact</label>
                            </td>
                            <td align="right">
                                <label> @Html.DisplayFor(modelItem => item.BuyerContact)</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <label>@resShared.lblEmail</label>
                            </td>
                            <td align="right">
                                <label> @Html.DisplayFor(modelItem => item.BuyerEmail)</label>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td align="left">
                                <label>@resShared.lblTotalPaymentAmount</label>
                            </td>
                            <td align="right">
                                <label> @string.Format("{0:n4}", item.TotalSellingLocalPrice)</label>
                            </td>
                        </tr>
                    }
                </table>
            
        </div>

     
    </div>
</div>
  