﻿@using ECFBase.Models
@using resShared = ECFBase.Resources.Member;
@model BuyOrderManagement



<div>
    <div class="panel">
        <div id="ModalBody" class="modal-content" style="background:#343434">


            <table>
                @foreach (var item in Model.BuyOrderList)
                {

                    <tr>
                        <td>
                            <label>@resShared.lblSellerFullname</label>
                        </td>
                        <td>
                            <label>@Html.DisplayFor(modelItem => item.SellerFullname)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@resShared.lblSellerContact</label>
                        </td>
                        <td>
                            <label>@Html.DisplayFor(modelItem => item.SellerCellPhone)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@resShared.lblSellerBankAccount</label>
                        </td>
                        <td>
                            <label>@Html.DisplayFor(modelItem => item.SellerBankAccount)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@resShared.lblBankName</label>
                        </td>
                        <td>
                            <label>@Html.DisplayFor(modelItem => item.SellerBank)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@resShared.lblSellerBankBranch</label>
                        </td>
                        <td>
                            <label>@Html.DisplayFor(modelItem => item.SellerBranch)</label>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <label>@resShared.lblTotalPaymentAmount</label>
                        </td>
                        <td>
                            <label>@string.Format("{0:n4}", item.TotalBuyingLocalPrice)</label>
                        </td>
                    </tr>

                }
            </table>

        </div>

    </div>
</div>
  