﻿@using resShared  = ECFBase.Resources.Member;

@model ECFBase.Models.ChangeRankingModel

<script type="text/javascript">

    $('#RankingName').change(function () {
        var ranking = document.getElementById("RankingName");
        var rankingName = ranking.options[ranking.selectedIndex].value;
        var selected = document.getElementById("SelectedRanking");
        selected.value = rankingName;
    });

    $("#btnSaveCP").click(function (evt) {
        $('#Loading').show();
        if ($('#editCPForm').valid()) {
            $.ajax({
                type: "POST",
                url: "/AdminMember/ChangeRankingMethod",
                data: $("#editCPForm").serialize(),
                success: function (data) {
                    $("#reportCP").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        } return false;
    });
</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("EditCPFromDialog", "AdminSecurity", FormMethod.Post, new { name = "editCPForm", id = "editCPForm" }))
{
    @Html.HiddenFor(model => model.SelectedRanking)
    @Html.HiddenFor(model => model.UserName)

    @Html.ValidationSummary(true)    
         <div class="row">
            <div class="col-lg-12">
         
                <h2 style="padding-left:10px;">@resShared.lblChangeRanking</h2>
                 <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblMembers</a></li>
					<li><a href="#">@resShared.lblUtility</a></li>
					<li class="active"><a href="#">@resShared.lblChangeRanking</a></li>					
			
                </ol>
            
                <h1 class="page-sub-header"></h1>
            </div>
        </div>  
        <div class="container-fluid">
                <div class="row" align="center">
                    <form role="form">
                     <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                        <label>@resShared.lblFullname</label>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        <label>
                            @resShared.lblDate
                        </label>
                        @Html.TextBoxFor(model => model.DateJoined, "{0:dd-MM-yyyy hh:mm:ss tt}", new { @class = "form-control", value = @Convert.ToDateTime(@Model.DateJoined).ToString("dd/MM/yyyy hh:mm:ss tt"), disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.DateJoined)
                    </div>              
                    <div class="form-group">
                        <label for="Position">
                            <strong>@resShared.lblRanking <span style="color: Red">*</span></strong>
                            @Html.DropDownList("RankingName", @Model.RankList, new { @class = "form-control" })
                        </label>
                    </div>
                    </div>
                    </form>
                    @if (Session["EditChangeRanking"] == "true")
                    {
                        <div class="BtnClass" style="text-align:center">
                            <button id="btnSaveCP" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                        </div>
                    }
            </div>              
        </div>
}