﻿@using resShared  = ECFBase.Resources.Member; 
@model ECFBase.Models.ChangePasswordModel
<script type="text/javascript">

    $("#btnSaveCP").click(function (evt) {
        $('#Loading').show();
            $.validator.unobtrusive.parse($('#editCPForm'));
            if ($('#editCPForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminMember/ChangePasswordMethod",
                    data: $("#editCPForm").serialize(),
                    success: function (data) {
                        $("#reportCP").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                        $('#Loading').hide();               
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        $('#Loading').hide();
                        alert(errorM);
                    }
                });
            } return false;
        });
</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("EditCPFromDialog", "AdminSecurity", FormMethod.Post, new { name = "editCPForm", id = "editCPForm" }))
{
    @Html.HiddenFor(model => model.CurrentPassword)
    @Html.HiddenFor(model => model.NoRedirectionRequired)
    @Html.ValidationMessageFor(model => model.CurrentPassword)  
    @Html.ValidationMessageFor(model => model.NoRedirectionRequired)  
    @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12"> 
                <h1 class="page-sub-header"></h1>

                <h2 style="padding-left:10px;">@resShared.lblChgPassword</h2>
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.lblMembers</a></li>
                    <li><a href="#">@resShared.lblUtility</a></li>
                    <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblChgPassword</a></li>
                </ol>
                <!-- End breadcrumb -->
               
                </div>
        </div>
        <div class="container-fluid">
                <div class="row" align="center">
                    <form role="form">
                     <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                          @Html.HiddenFor(model => model.UserName)
                          @Html.ValidationMessageFor(model => model.UserName)
                            <div class="form-group">
                                <label>
                                    @resShared.lblUsername
                                </label>
                                 @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", disabled = "disabled" })
                                  @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblFullname
                                </label>
                                   @Html.TextBoxFor(model => model.UserFullName, new { @class = "form-control", disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.UserFullName)
                            </div>
                              <div class="form-group">
                                <label>
                                    @resShared.lblDate
                                </label>
                                   @Html.TextBoxFor(model => model.DateJoined, "{0:dd-MM-yyyy hh:mm:ss tt}", new { @class = "form-control", value = @Convert.ToDateTime(@Model.DateJoined).ToString("dd/MM/yyyy hh:mm:ss tt"), disabled = "disabled" })
                                      @Html.ValidationMessageFor(model => model.DateJoined)
                            </div>
                            @*<div class="form-group">
                                <label>
                                    @resShared.lblRWallet
                                   </label>
                                   @Html.TextBoxFor(model => model.BonusWallet, new { @class = "form-control", value = @Model.BonusWallet.ToString(), disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.BonusWallet)
                            </div>*@
                             <div class="form-group">
                                <label>
                                     <strong>@resShared.lblNewPwd <span style="color: Red">*</span></strong>
                                </label>                                 
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <strong>@resShared.lblConfirmNewPwd <span style="color: Red">*</span></strong>
                                </label>
                                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                 <div style="margin-left: 0px;">
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                  </div>
                            </div>
                    </div>
                    @if (Session["EditChangePassword"] == "true")
                    {
                        <tr>
                            <td colspan="2">
                                <div style="text-align: center">
                                    <input type="button" id="btnSaveCP" value="@resShared.btnSave" class="btn btn-sm btn-success" style="width:100px" />
                                </div>
                            </td>
                        </tr>
                        <br />
                    }
            </form>
        </div>
     </div>                         
}