﻿@using resShared  = ECFBase.Resources.Member; 
@model ECFBase.Models.ChangeOwnershipModel
<script type="text/javascript">

    $("#btnSaveCP").click(function (evt) {
        $('#Loading').show();
            if ($('#editCPForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminMember/ChangeOwnershipMethod",
                    data: $("#editCPForm").serialize(),
                    success: function (data) {
                        $("#reportCP").html(data);
                        alert("@resShared.msgSaveSuccessfully");
                       $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                       $('#Loading').hide();
                    }
                });
            } return false;
        });
</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("EditCPFromDialog", "AdminSecurity", FormMethod.Post, new { name = "editCPForm", id = "editCPForm" }))
{
    @Html.ValidationSummary(true)
         <div class="row">
            <div class="col-lg-12">
        
                  <h2 style="padding-left:10px;">@resShared.mnuChangeOwnership</h2>
                 <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblMembers</a></li>
					<li><a href="#">@resShared.lblUtility</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuChangeOwnership</a></li>					
			
                </ol>
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" align="center">
                <div>
                    <form role="form">
                        <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                            @Html.HiddenFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username)
                            <div class="form-group">
                                <label>
                                    @resShared.lblUsername
                                </label>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            <div class="form-group">
                                <label>
                                    @resShared.lblDate
                                </label>
                                @Html.TextBoxFor(model => model.DateJoined, "{0:dd-MM-yyyy hh:mm:ss tt}", new { @class = "form-control", value = @Convert.ToDateTime(@Model.DateJoined).ToString("dd/MM/yyyy hh:mm:ss tt"), disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.DateJoined)
                            </div>
                            @*<div class="form-group">
                                <label>
                                    @resShared.lblRWallet
                                </label>
                                @Html.TextBoxFor(model => model.BonusWallet, new { @class = "form-control", value = @Model.BonusWallet.ToString(), disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.BonusWallet)
                            </div>*@
                            <div class="form-group">
                                <label>
                                    <strong>@resShared.lblFullname</strong>
                                </label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                    </form>
                    @if (Session["EditChangeName"] == "true")
                    {
                        <tr>
                            <td colspan="2">
                                <div style="text-align: center">
                                    <input type="button" id="btnSaveCP" value="@resShared.btnSave" class="btn btn-sm btn-success" style="width:100px" />
                                </div>
                            </td>
                        </tr>
                    }
                </div>
            </div>
        </div>
            }
