﻿@using resShared  = ECFBase.Resources.Member;
@using resAdminHome  = ECFBase.Resources.Member;
@model ECFBase.Models.ChangeSponsorModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $("#btnSaveCP").click(function (evt) {
        $('#Loading').show();
            if ($('#editCPForm').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/AdminMember/ChangeSponsorMethod",
                    data: $("#editCPForm").serialize(),
                    success: function (data) {
                        $("#reportCP").html(data);
                        alert("@resAdminHome.msgSaveSuccessfully");
                       $('#Loading').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorM = xhr.responseText;
                        errorM = errorM.replace('""', '');
                        alert(errorM);
                       $('#Loading').hide();
                    }
                });
            } return false;
        });
</script>
@{ Html.EnableClientValidation(true); }
@using (Html.BeginForm("EditCPFromDialog", "AdminSecurity", FormMethod.Post, new { name = "editCPForm", id = "editCPForm" }))
{
    @Html.ValidationSummary(true)
         <div class="row">
            <div class="col-lg-12">
         
                 <h2 style="padding-left:10px;">@resAdminHome.lblChangeSponsor</h2>
    <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resAdminHome.lblMembers</a></li>
					<li><a href="#">@resAdminHome.lblUtility</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resAdminHome.lblChangeSponsor</a></li>					
				</ol>
		<!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>
        </div>
         <div class="container-fluid">
                <div class="row" align="center">
                    <form role="form">
                     <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                          @Html.HiddenFor(model => model.Username)
                          @Html.ValidationMessageFor(model => model.Username)
                            <div class="form-group">
                                <label>
                                    @resAdminHome.lblUsername
                                </label>
                                 @Html.TextBoxFor(model => model.Username, new { @class = "form-control", disabled = "disabled" })
                                  @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            <div class="form-group">
                                <label>
                                    @resAdminHome.lblCurrIntro
                                </label>
                                 @Html.TextBoxFor(model => model.CurrIntro, new { @class = "form-control", disabled = "disabled" })
                                  @Html.HiddenFor(model => model.CurrIntro)
                                  @Html.ValidationMessageFor(model => model.CurrIntro)
                            </div>
                             <div class="form-group">
                                <label>
                                    @resAdminHome.lblNewIntro
                                </label>
                                 @Html.TextBoxFor(model => model.NewIntro, new { @class = "form-control" })
                                 @Html.ValidationMessageFor(model => model.NewIntro)
                                 @Html.HiddenFor(model => model.Username)
                                 @Html.ValidationMessageFor(model => model.Username)                                 
                            </div>
                    </div>
                    </form>                                                         
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center">
                                <input type="button" id="btnSaveCP" value="@resShared.btnSave" class="btn btn-sm btn-success" style="width:100px" />
                            </div>
                        </td>
                    </tr>    
            </div>
    </div>                        
}