﻿@using resShared  = ECFBase.Resources.Member;
@using resAdminHome  = ECFBase.Resources.Member;

@using ECFBase.Models
@model PaginationMemberModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $(document).ready(function () {
        $(function () {

            $("#StartDate").datepicker({
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
                format: 'dd-mm-yyyy'
            });
        });

        $(function () {

            $("#EndDate").datepicker({
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
                format: 'dd-mm-yyyy'
            });
        });     
    });


    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminMember/CheckTotalSponsor",
            data: { selectedPage: page,
                SponsorAmount: $('#SponsorAmount').val(),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                SearchFirstName: $('#SearchFirstName').val()
            },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearch").click(function (evt) {
       $('#Loading').show();
        //ShowProgressAnimation();
        $.ajax({
            type: "POST",
            url: "/AdminMember/CheckTotalSponsor",
            data: { SponsorAmount: $('#SponsorAmount').val(),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                SearchFirstName: $('#SearchFirstName').val()
            },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>

<div id="reportAd" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resAdminHome.mnuDirectSponsor</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resAdminHome.lblMembers</a></li>
					<li><a href="#">@resAdminHome.lblReports</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resAdminHome.mnuDirectSponsor</a></li>
				</ol>
		<!-- End breadcrumb -->
            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
    </div>
    <div align="center">
        <table id="tablestyle" width="auto">
            @if (Model != null)
            {
                <tr>
                    <td>
                        <label>@resAdminHome.lblStartDate :</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.StartDate, "{0:dd-MM-yyyy}", new {@id = "StartDate", @class = "form-control", @style = "margin-top:10px; width:auto"})
                        @*<div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>*@  
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label>@resAdminHome.lblEndDate :</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.EndDate, "{0:dd-MM-yyyy}", new { @id = "EndDate", @class = "form-control", @style = "margin-top:10px; width:auto" })

                        @*<div style="margin-left: 0px;">
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>*@
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label>@resAdminHome.lblTotalSponsor :</label>
                    </td>
                    <td>
                        @*  @Html.TextBox("SponsorAmount", (Model.SponsorAmount))*@
                        @Html.TextBoxFor(model => model.SponsorAmount, new { @id = "SponsorAmount", @class = "form-control", @style = "margin-top:10px; width:auto" })
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label>@resShared.lblUsername :</label>
                    </td>
                    <td>
                        @* @Html.TextBox("SearchFirstName", (Model.SearchFirstName))  *@
                        @Html.TextBoxFor(model => Model.SearchFirstName, new { @id = "SearchFirstName", @class = "form-control", @style = "margin-top:10px; width:auto" })
                        
                    </td>
                </tr>
               
            } 
            
        </table>  
        <br />
        <div>
                <button id="btnSearch" type="button" class="btn btn-sm btn-success"  style="width: 180px"> @resShared.btnSearch
                        </button>
        </div>
        <br />
        <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
            <thead>
                <tr style="color: White;">
                    <th style="color: White;text-align: center">
                        @resShared.lblNumber
                    </th>
                    <th style="color: White;text-align: center">
                        @resShared.lblUsername
                    </th>
                    <th style="color: White;text-align: center">
                        @resShared.lblName
                    </th>
                    <th style="color: White;text-align: center">
                        @resAdminHome.lblTotalDirectSponsor
                    </th>
                </tr>
            </thead>
            <tbody style="background-color: #eee;">
                @if (Model.MemberList.Count == 0)
                {
                    <tr style="height: 25px; border-top: 2px solid white;">
                        <td style="padding: 5px;" colspan="10">
                            @resShared.lblNoRecFound
                        </td>
                    </tr>
                }
                @foreach (var item in Model.MemberList)
                {
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.MemberId)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.TotalDirectSponsor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.MemberList.Count != 0)
    {
        
        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })

                    </div>
                </td>
                <td style="text-align: right">
                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                </td>
            </tr>
        </table>
        }
        <br />
        <br />
        <br />
    </div>                
  
</div>
