﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member; 
@model RegisterNewMemberModel
@{
    ViewBag.Title = "RegisterNewMember";
}

<style type="text/css">
   #foo_label { display: none; color: Red;}
</style>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#tickImage").hide();

    $("#btnSave").click(function (evt) {
        $('#Loading').show();
        $.validator.unobtrusive.parse($('#regMem'));
        if (jQuery("#regMem").valid() == true) {
            $.ajax({
                type: "POST",
                url: "/AdminMember/FreeRegistrationMethod",
                data: $("#regMem").serialize(),
                success: function (data) {
                    alert("@resShared.msgSaveSuccessfully");
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        } return false;
    });

    //$("#memberUsername").keypress(function (e) {
    //    code = (e.keyCode ? e.keyCode : e.which);
    //    if (code == 13)
    //        checkUserNameAvailability();
    //});

    $("#memberUsername").focusout(function (e) {        

       

        var t = $(document.getElementById("memberUsername")).val();
        if (t != '') {
            if (t.match(/\s/g)) {
                alert('Sorry, you are not allowed to enter any spaces')
            }

        var username = document.getElementById('memberUsername').value
        $.ajax({
            type: "POST",
            url: "/MemberShopCenter/CheckAvailability",
            data: { Username: username },
            success: function (data) {
                var Regex = /^[a-zA-Z0-9]{4,15}$/;
                if (!Regex.test(username)) {
                    alert("@resShared.msgUserInvalid");
                }
                else {
                    if (data == "1") {
                        $("#foo_label").css('display', 'block');
                        $("#tickImage").hide();
                        alert("@resShared.msgUserExist");
                    }
                    else {
                        $("#foo_label").css('display', 'none');
                        $("#tickImage").show();
                    }
                }
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
            });
        }
    });

    $("#memberPassword").focusout(function (e) {
        if (checkPinAndPassword() == false) {
            document.getElementById('memberPassword').value = "";
        }
    });

    $("#memberEmail").focusout(function (e) {
        $.ajax({
            url: "/MemberShopCenter/CheckEmail",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { Email: $(document.getElementById("memberEmail")).val() },
            success: function (data) {
                if (data == false) {
                    alert("@resShared.msgEmailInvalid");
                    return false;
                }
            }
        });
    });

    $("#Intro").focusout(function (e) {
        $('#Loading').show();
        $.ajax({
            url: "/AdminMember/CheckSponsor",
            dataType: "json",
            type: "POST",
            delay: 0,
            data: { Intro: $(document.getElementById("Intro")).val(), Upline: $(document.getElementById("UpUsername")).val() },
            success: function (data) {
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
                //$('#Intro').blur();
                $('#memberUsername').blur();
            }
        });
    });

    $("#memberPin").focusout(function (e) {
        if (checkPinAndPassword() == false) {
            document.getElementById('memberPin').value = "";
        }
    });

    function checkPinAndPassword() {
        var password = document.getElementById('memberPassword').value
        var pin = document.getElementById('memberPin').value

        if (password != "" && pin != "") {
            if (password == pin) {
                alert("@resShared.msgPasswordAndPinMustDifferent");
                return false;
            }
        }

        return true;
    }

    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };

    $("#UpUsername").focusout(function (e) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/FreeRegistration",
            data: { upMember: $(document.getElementById("UpUsername")).val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                //document.getElementById("Location").style.display = 'block'; 
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

</script>
<div>
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("RegisterNewMemberMethod", "Member", FormMethod.Post, new { name = "regMem", id = "regMem" })) //this id very important to do HttpPost
    {
        //display Model's errors
        @Html.ValidationSummary(true)

         <h2 style="padding-left:10px;">@resShared.mnuFreeReg</h2>
         
         <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblMembers</a></li>
					<li><a href="#">@resShared.lblUtility</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuFreeReg</a></li>					
				</ol>

		<!-- End breadcrumb -->

         <div class="col-lg-12"> 
            <h1 class="page-sub-header"></h1>
        </div>
         <div class="container-fluid">
             @Html.HiddenFor(model => @model.ReferralUsername)
             @Html.HiddenFor(model => @model.LanguageCode)
             @Html.HiddenFor(model => @model.SelectedPackage)
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblUpline <span style="color: Red">*</span></strong>
                         @Html.TextBoxFor(m => @Model.UpUsername, new { @class = "form-control", id = "UpUsername" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.UpUsername)
                         </div>
                     </div>
                 </div>
             </div>
             <div id="Location" class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblPosition <span style="color: Red">*</span></strong>
                         @Html.DropDownListFor(m => m.SelectedLocation, Model.Locations, new { id = "SelectedLocation", @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.SelectedLocation)
                         </div>
                     </div>
                 </div>
             </div>

             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblSponsorID <span style="color: Red">*</span></strong>
                         @Html.TextBoxFor(m => @Model.Member.Intro, new {id= "Intro", @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.Member.Intro)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblUsername<span style="color: Red">*</span></strong>
                         @Html.TextBoxFor(m => @Model.Member.Username, new { @id = "memberUsername", @class = "form-control", maxlength = "15" })
                         @Html.HiddenFor(m => m.Member.Username)
                         <div style="margin-left: 0px;">
                             <label style="text-align: left">@resShared.lblUserNameVal</label>
                         </div>
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.Member.Username)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblFullname <span style="color: Red">*</span></strong>
                         @Html.TextBoxFor(m => @Model.Member.FirstName, new { @class = "form-control" })
                         <div style="margin-left: 0px;">
                             <label style="text-align: left">@resShared.lblSameName</label>
                         </div>
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.Member.FirstName)
                         </div>
                     </div>
                 </div>
             </div>
             @*<div class="row" align="center">
            <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                <div class="form-group">
                    <strong>@resShared.lblNickName <span style="color: Red">*</span></strong>
                    @Html.TextBoxFor(m => @Model.UserInfo.Nickname, new { @class = "form-control" })
                    <div style="margin-left: 0px;">
                        @Html.ValidationMessageFor(m => Model.UserInfo.Nickname)
                    </div>
                </div>
            </div>
        </div>*@
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblIC <span style="color: Red">*</span></strong>
                         @Html.TextBoxFor(m => @Model.UserInfo.IC, new { @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.UserInfo.IC)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblPassword <span style="color: Red">*</span></strong>
                         @Html.PasswordFor(m => @Model.Member.Password, new { @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.Member.Password)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblSecurityPin <span style="color: Red">*</span></strong>
                         @Html.PasswordFor(m => @Model.Member.Pin, new { @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.Member.Pin)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblCountry</strong>
                         @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @class = "form-control" })
                         @Html.HiddenFor(m => m.SelectedCountry)
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblCellPhone <span style="color: Red">*</span></strong>
                         <div class="form-group">
                             @Html.TextBoxFor(m => @Model.UserInfo.CellPhone, new { @class = "form-control" })
                         </div>
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.UserInfo.CellPhone)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblEmail <span style="color: Red">*</span></strong>
                         @Html.TextBoxFor(m => @Model.Member.MemberEmail, new { @id = "memberEmail", @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.Member.MemberEmail)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="text-align: left; float:none" class="col-lg-5 col-md-8 col-sm-12">
                     <div class="form-group">
                         <strong>@resShared.lblSecurityPin <span style="color: Red">*</span></strong>
                         @Html.PasswordFor(m => @Model.SponsorSecurityPin, new { @class = "form-control" })
                         <div style="margin-left: 0px;">
                             @Html.ValidationMessageFor(m => Model.SponsorSecurityPin)
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row" align="center">
                 <div style="max-width: 600px;">
                     <div class="form-group">
                         <button id="btnSave" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnConfirm</button>
                     </div>
                 </div>
             </div>
         </div>
        <br />
        <br />

    }
</div>

    
