﻿ @using resShared  = ECFBase.Resources.Member; 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>@resShared.lblYiCommm</title>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


     <link href="../../Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="../../Content/assets/plugins/font-awesome/css/css/font-awesome.min.css"rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/css/style.css" rel="stylesheet" />
    <link href="../../Content/assets/css/style-responsive.css" rel="stylesheet" />
    <link href="../../Content/assets/css/customize.css" rel="stylesheet" />
    <link href="../../Content/assets/css/customize-responsive.css" rel="stylesheet" />
    <link href="../../Content/assets/css/cs.animate.css" rel='stylesheet' type='text/css' />

    <script src="../../Content/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../Content/assets/js/bootstrap.min.js" type="text/javascript"></script>


</head>

<body>
    <script type="text/javascript">

        function calculateBgX(oElement) {
            return document.body.scrollLeft - getOffsetLeft(oElement);
        }

        function calculateBgY(oElement) {
            return document.body.scrollTop - getOffsetTop(oElement);
        }

        function getOffsetTop(oElement) {
            var iResult = oElement.offsetTop;
            while (oElement.offsetParent) {
                oElement = oElement.offsetParent;
                iResult += oElement.offsetTop;
            }
            return iResult;
        }

        function getOffsetLeft(oElement) {
            var iResult = oElement.offsetLeft;
            while (oElement.offsetParent) {
                oElement = oElement.offsetParent;
                iResult += oElement.offsetLeft;
            }
            return iResult;
        }

        if ('@ViewBag.ShowMemberDetail' == 'Y') {
            $.ajax({
                type: "POST",
                url: "/AdminMember/ViewMemberDetails",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        }

        //Member Details
        $("#chgMemberDetails").click(function (evt) {
            $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminMember/ViewMemberDetails",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

       $("#chgPwd").click(function (evt) {
           $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminMember/ChangePassword",
                data: { Username: '@ViewBag.CurrentUsername', noRedirectionRequired : true},
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });
       $("#chgPin").click(function (evt) {
           $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminMember/ChangePin",
                data: { Username: '@ViewBag.CurrentUsername', noRedirectionRequired: true },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });

        //Block Member
       $("#BtnBlockMember").click(function (evt) {
           $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminMember/MemberHome",
                data: {
                },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
            });
        });


    </script>
    <div class="row">
        <div class="col-lg-12">

            <h2 style="padding-left:10px;"><a id="mDetail" class="Button1" style="display: block; position: absolute; left: 260px; top: 10px; width: 81px; height: 42px;"><span>@resShared.mnuMemberDetails</span></a></h2>
            <!-- Begin breadcrumb -->
            @*<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resMembersReports.lblMembers</a></li>
                <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuMemberDetails</a></li>
            </ol>*@
            <!-- End breadcrumb -->

            <h1 class="page-sub-header"></h1>
        </div>
    </div>
    <div id="main-content" @*style="position: inherit; left: 78px; top: 185px; width: 800px; min-height: 746px; background-color:White;"*@>
    </div>
    <div>
        <div class="grid" style="margin-left: 5px;" id="grid">
            <div class="grid">

                <table width="100%" class="test" id="DetailsChild" style="visibility: hidden;">
                    <tr>
                        <td style="text-align: right">
                            <a id="chgMemberDetails" title="">@resShared.mnuChangeMemberDetails</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <a id="chgPin" title="">@resShared.lblSecurityPin</a>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <a id="chgPwd" title="">@resShared.lblPassword</a>
                        </td>

                    </tr>
                </table>
                <br />
                <script type="text/javascript">
                wpmenustack.setRollovers([
                    ['mDetail', 'DetailsChild', { "m_vertical": true }],
                    ['mBlock', 'BlockChild', { "m_vertical": true }]
                ]);

                wpmenustack.setMenus(['DetailsChild'], { "m_hOffset": 0, "m_hAlignment": 0, "m_vOffset": 3, "m_vAlignment": 1, "m_menuStyle": { "border": '1px solid #800000' }, "m_rowStyle": { "border": '0px none' }, "m_linkNormalStyle": { "fontSize": '14px', "fontFamily": 'Arial,sans-serif', "textAlign": 'center', "color": '#000000', "backgroundColor": '#f7ffe3', "fontWeight": 'normal', "textDecoration": 'none', "fontStyle": 'normal' }, "m_linkRolloverStyle": { "color": '#ffffff', "backgroundColor": '#d00000', "textDecoration": 'none' }, "m_linkPopupStyle": { "backgroundImage": 'url(wpimages/wp57f4118d.gif)' }, "m_linkRolloverPopupStyle": { "backgroundImage": 'url(wpimages/wpb3118e84.gif)' } });
                wpmenustack.setMenus(['BlockChild'], { "m_hOffset": 0, "m_hAlignment": 0, "m_vOffset": 3, "m_vAlignment": 1, "m_menuStyle": { "border": '1px solid #800000' }, "m_rowStyle": { "border": '0px none' }, "m_linkNormalStyle": { "fontSize": '14px', "fontFamily": 'Arial,sans-serif', "textAlign": 'center', "color": '#000000', "backgroundColor": '#f7ffe3', "fontWeight": 'normal', "textDecoration": 'none', "fontStyle": 'normal' }, "m_linkRolloverStyle": { "color": '#ffffff', "backgroundColor": '#d00000', "textDecoration": 'none' }, "m_linkPopupStyle": { "backgroundImage": 'url(wpimages/wp57f4118d.gif)' }, "m_linkRolloverPopupStyle": { "backgroundImage": 'url(wpimages/wpb3118e84.gif)' } });
                </script>
            </div>

        </div>
    </div>

</body>
</html>
