﻿@using ECFBase.Models
@model MemberFunctionSettingModel
@using resShared  = ECFBase.Resources.Member;
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnSaveAd").click(function (evt) {
        $('#Loading').show();
        var username = document.getElementById('username').value;
        $.ajax({
            type: "POST",
            url: "/AdminMember/SaveFunctionSettingMethod",
            data: { data: $("#editAdForm").serialize().toString(), userId: username },
            success: function (data) {
                $("#main-content").html(data);
                alert("@resShared.msgSaveSuccessfully");
                $('#Loading').hide();
                event.stopPropagation();        
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();   
            }
        });
    });
    
</script>


<div class="wrapper" >
<div class="container-fluid">
<div id="editAdDiv">
    @using (Html.BeginForm("GetFunctionSettingList", "AdminGeneral", FormMethod.Post, new { name = "editAdForm", id = "editAdForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-lg-12">
                <h2>@resShared.mnuFunctionSetting</h2>
            <!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border ">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuMember</a></li>
						<li><a href="#">@resShared.mnuUtility</a></li>
						<li class="active"><a href="#">@resShared.mnuFunctionSetting</a></li>
					</ol>
			<!-- End breadcrumb -->
             
                <h1 class="page-sub-header">
                    @Html.Hidden("username", Model.Username)
                </h1>
            </div>
        </div>
        <div class="row" align="left" style="padding-left:15px;">
            <table>
                <tr>
                    <td>
                        <strong>@resShared.lblUsername : </strong>
                    </td>
                    <td style="padding: 5px">
                        @Html.DisplayFor(model => model.Username)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@resShared.lblFullname : </strong>
                    </td>
                    <td style="padding: 5px">
                        @Html.DisplayFor(model => model.Fullname)
                    </td>
                </tr>
            </table>
        </div>
        <div class="row" align="center" style="padding-right:30px">
            @{
                <label style="color:red"><b>@resShared.lblRemark: </b>@resShared.lblTickForDisable</label>
                <table id="tablestyle" class="table table-bordered table-hover" style="margin:15px;">
                    <thead>
                        <tr style="background-color: #363949;">
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblTradeable, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblSetting, new { @style = "color:White" })
                            </th>

                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">

                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblHash, new { })
                            </td>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => @Model.TradeableHash, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblHashPerformance, new { })
                            </td>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.TradeableHashManagement, new { @ID = Model.FunctionID })
                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblHashPower, new { })
                            </td>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.TradeableHashPerfomance, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblTransfer, new { })
                            </td>

                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.TradeableTransfer, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblSell, new { })
                            </th>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.TradeableSellTrade, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblBuy, new { })
                            </th>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.TradeableBuyTrade, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <br />
                <table id="tablestyle" class="table table-bordered table-hover" style="margin:15px;">
                    <thead>
                        <tr style="background-color: #363949;width:50%">
                            <th style="text-align: center">
                                @Html.Label(@resShared.lblUntradeable, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblSetting, new { @style = "color:White" })
                            </th>

                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">

                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblHash, new { })
                            </td>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => @Model.UnTradeableHash, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblHashPerformance, new { })
                            </td>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.UnTradeableHashManagement, new { @ID = Model.FunctionID })
                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblHashPower, new { })
                            </td>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.UnTradeableHashPerfomance, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblTransfer, new { })
                            </td>

                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.UnTradeableTransfer, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblSell, new { })
                            </th>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.UnTradeableSellTrade, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblBuy, new { })
                            </th>
                            <td style="text-align: center;width:50%">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.UnTradeableBuyTrade, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
                <br />
                <table id="tablestyle" class="table table-bordered table-hover" style="margin:15px;">
                    <thead>
                        <tr style="background-color: #363949;">
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblAccessRight, new { @style = "color:White" })
                            </th>
                            <th style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblSetting, new { @style = "color:White" })
                            </th>

                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
                        <tr>
                            <td style="text-align: center;width:50%">
                                @Html.Label(@resShared.lblAccessRight, new { })
                            </td>
                            <td style="text-align: center;">
                                <p align="center">
                                    @Html.CheckBoxFor(model => Model.AccessRight, new { @ID = Model.FunctionID })
                                </p>
                            </td>
                        </tr>


                    </tbody>
                </table>

            }
            @if ((string)Session["EditFunctionSetting"] == "true")
            {
                <table width="100%">
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <button id="btnSaveAd" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSave</button>
                            </div>
                        </td>
                    </tr>
                </table>
            }
            <br />
        </div>
    }
</div>
</div>
</div>