﻿@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationMemberModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $('#Loading').hide();

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;
        var fc = document.getElementById("SelectedFilteringCriteria").value;
        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;
        var days = document.getElementById("SelectedDays");
        var day = days.options[days.selectedIndex].value;
        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/NextPageMemberList",
            data: { selectedPage: page, Option: fc, Text: $('#searchFC').val(), Day: day, Month: month, Year: year},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnSearch").click(function (evt) {
        $('#Loading').show();

        var fc = document.getElementById("SelectedFilteringCriteria").value;
        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;
        var days = document.getElementById("SelectedDays");
        var day = days.options[days.selectedIndex].value;
        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/MembersList",
            data: { Option: fc, Text: $('#searchFC').val(), Day : day , Month : month , Year : year ,  selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#submitBtn").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/UpdateMemberDetails",
            data: $("#editBSForm").serialize(),
            success: function (data) {
                $("#main-content").html(data);
                alert("@resShared.msgSaveSuccessfully");
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
        //        } return false;
     });


    $("#IC").focusout(function (e) {
        var MaxIC = $(document.getElementById("ICMax")).val();
        var IC = $(document.getElementById("IC")).val();
        var Type = $(document.getElementById("ICType")).val();
        var ICType = "";

        if (Type === true) {
            ICType = "Alphanumeric";
        }
        else {
            ICType = "Digits";
        }

        if (MaxIC != IC.length) {
            alert("@resShared.warningICMustLength" + MaxIC + " " + ICType);
        }

    });

    $("#Country").change(function (e) {
        $.ajax({
            type: "POST",
            url: "/MemberLogin/findMobileCode",
            data: { selectedcountry: $(document.getElementById("Country")).val() },
            success: function (data) {
                document.getElementById('mobileCntCode').value = data;
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);

            }
        });
    });

    function UpdateMember(Username) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/MemberHome",
            data: { Username: Username },
            success: function (data) {
                $("#ModalBody").html(data);
                $("#myModal").modal();
                $('#Loading').hide();

            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    };
    $.ajaxSetup({ cache: false });
    $(document).ready(function () {
        $(".button").die() //must come in pair with .live if not multiple times will fired for that pop up dialog
        $(".button").live("click", function (e) {
            e.preventDefault();
            var winH = $(window).height() * 0.7;
            var winW = $(window).width() * 0.7;
            $("<div></div>")
                .addClass("modalEditCourse")
                .attr("id", $(this).attr("data_dialog_id"))
                .appendTo('#reportBS')
                .dialog({
                    title: $(this).attr("data_dialog_title"),
                    close: function () { $(this).remove(); },
                    modal: true,
                    height: winH,
                    width: winW,
                    hide: "slide",
                    show: "slide",
                    context: $(this)
                }).load(this.href);
            $(".ui-dialog").addClass("modal fade");
        });


        $(".openDialog").die() //must come in pair with .live if not multiple times will fired for that pop up dialog
        $(".openDialog").live("click", function (e) {
            e.preventDefault();
            var winH = $(window).height() * 0.7;
            var winW = $(window).width() * 0.7;
            $("<div></div>")
                .addClass("modalEditCourse")
                .attr("id", $(this).attr("data_dialog_id"))
                .appendTo('#reportBS')
                .dialog({
                    title: $(this).attr("data_dialog_title"),
                    close: function () { $(this).remove(); },
                    modal: true,
                    height: winH,
                    width: winW,
                    hide: "slide",
                    show: "slide",
                    context: $(this)
                }).load(this.href);
            $(".ui-dialog").addClass("modal fade");
        });
    });


</script>
<style>
    a {
        cursor: pointer;
        cursor: hand;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h2 style="padding-left:10px;">@resShared.lblMembersListing</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resShared.lblMembers</a></li>
            <li><a href="#">@resShared.lblReports</a></li>
            <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.lblMembersListing</a></li>
        </ol>
        <!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>
</div>

<div class="grid" style="margin-left: 5px;" id="grid">
    @Html.Hidden("wallettypeid", @Model.MemberType)
    @if (Model != null)
    {
        <div class="grid">
            @if (@Model.MemberType == "Member")
            {

                <div class="row">
                    <div class="col-lg-12 col-sm-offset-0">
                        <div class="col-lg-3 col-sm-offset-0"> </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="col-lg-1 col-sm-1">
                                @resShared.lblDate:
                            </div>

                            <div class="col-lg-3 col-sm-3">
                                @Html.DropDownListFor(m => m.SelectedDays, @Model.Days, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-3 col-sm-3">
                                @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-3 col-sm-3">
                                @Html.DropDownListFor(m => m.SelectedYears, @Model.Years, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2 col-sm-2">

                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-offset-0"> </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-sm-offset-0">
                        <div class="col-lg-3 col-sm-offset-0"> </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="col-lg-1 col-sm-1">
                                @resShared.btnSearch:
                            </div>

                            <div class="col-lg-3 col-sm-3">
                                @Html.DropDownListFor(m => m.SelectedFilteringCriteria, @Model.FilteringCriteria, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-3 col-sm-3">
                                <input type="text" class="form-control" id="searchFC" />
                            </div>

                            <div class="col-lg-3 col-sm-3">
                                <button id="btnSearch" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button>
                            </div>

                            <div class="col-lg-2 col-sm-2">
                                <a href="@Url.Action("ExportMemberList", "AdminMember", new { })" class="button" target="_blank">Export All</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-offset-0"> </div>
                    </div>
                </div>

                <br />
                <div class="table-responsive">
                    <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;color:White">
                                    @resShared.lblNumber
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblUsername
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblFullname
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblCountry
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblIC
                                </th>
                                @*<th style="text-align: center;color:White">
                                    @resShared.lblPackageCode
                                </th>*@
                                <th style="text-align: center;color:White">
                                    @resShared.lblTotalAmount
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblRanking
                                </th>
                                @if (@Model.MemberType == "Member")
                                {
                                    <th style="text-align: center;color:White">
                                        @resShared.lblSponsor
                                    </th>
                                    <th style="text-align: center;color:White">
                                        @resShared.lblRegisteredBy
                                    </th>
                                    <th style="text-align: center;color:White">
                                        @resShared.lblDate
                                    </th>
                                }
                                @if (Session["EditMemberListing"] == "true")
                                {
                                    <th style="text-align: center;color:White">
                                        @resShared.lblAction
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MemberList)
                            {
                                string style = "";
                                if (item.UserActive == false)
                                {
                                    style = "color:red";
                                }

                                <tr style=@style>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Number)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.SurName)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.MemberCountry)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.IC)
                                    </td>
                                    @*<td align="center">
                                        @Html.DisplayFor(modelItem => item.PackageName)
                                    </td>*@
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Rank)
                                    </td>
                                    @if (@Model.MemberType == "Member")
                                    {
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.Intro)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.RegisteredBy)
                                        </td>
                                        <td align="center" style="width: 80px">
                                            @Convert.ToDateTime(item.JoinedDate).ToString("dd/MM/yyyy hh:mm:ss tt")
                                        </td>
                                    }
                                    @if (Session["EditMemberListing"] == "true")
                                    {
                                        <td align="center" style="width: 60px">
                                            <a style="font-weight:bold; text-decoration-style: wavy;text-decoration:underline" onclick="UpdateMember('@item.Username')">@resShared.btnUpdate</a>
                                            <a href="@Url.Action("Home", "Member", new { username = @item.Username })" target="_blank">
                                                @resShared.btnLogin
                                            </a>
                                        </td>
                                    }


                                </tr>

                            }
                        </tbody>
                    </table>
                </div>


                <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                            </div>
                        </td>
                        <td style="text-align: right">
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                        </td>
                    </tr>
                </table>

            }
        </div>
    }
</div>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true" style="color: goldenrod; width:100%">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align:center;width:100% !important;min-width:50%; margin: 30px auto !important;" align="center">

            <div id="ModalBody">
            </div>
            <div class="modal-footer" style="text-align:center">
                <div class="BtnClass">
                    <button id="submitBtn" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnSave</button>
                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">


    $(document).ready(function () {

        $('#Loading').hide();
    });

</script>