﻿@using resShopCenter  = ECFBase.Resources.Member;
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)
        <div id="t1">
            <div id="BSEditArea" class="editarea" style="width:90%; margin: 0 auto; padding: 0; float: left; top: 20px; left: 40px; position: relative;">
                <table style="width:100%">
                    <tr style="height:30px">
                        <td style="width:150px">
                            @resShared.lblCountry
                        </td>
                        <td style="font-weight:bold">
                            @Model.MemberCountry
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            @resShared.lblUsername
                        </td>
                        <td style="font-weight:bold">
                            @Model.Username
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td style="width:150px">
                            @resShared.lblName
                        </td>
                        <td style="font-weight:bold">
                            @Model.FirstName
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            @resShopCenter.lblDateJoined
                        </td>
                        <td style="font-weight:bold">
                            @Convert.ToDateTime(Model.JoinedDate).ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            @resShopCenter.lblPackage
                        </td>
                        <td style="font-weight:bold">
                            @Model.MemberPackage
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            @resShopCenter.lblSponsor
                        </td>
                        <td style="font-weight:bold">
                            @Model.Intro
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            @resShopCenter.lblRanking
                        </td>
                        <td style="font-weight:bold">
                            @Model.Rank
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
