﻿@using resShopCenter  = ECFBase.Resources.Member;
@using resReports  = ECFBase.Resources.Member;
@using resShared  = ECFBase.Resources.Member;
@using resDashboard  = ECFBase.Resources.Member;
@using ECFBase.Models
@model IEnumerable<MemberSponsorChartModel>

<link href="../../Content/css/jqx.arctic.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/jqx.base.css" rel="stylesheet" type="text/css" />

<!--<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>-->
<script src="../../Scripts/jqwidgets/jqxcore.js" type="text/javascript"></script>
<script src="../../Scripts/jqwidgets/jqxdata.js" type="text/javascript"></script>
<script src="../../Scripts/jqwidgets/jqxbuttons.js" type="text/javascript"></script>
<script src="../../Scripts/jqwidgets/jqxscrollbar.js" type="text/javascript"></script>
<script src="../../Scripts/jqwidgets/jqxdatatable.js" type="text/javascript"></script>
<script src="../../Scripts/jqwidgets/jqxtreegrid.js" type="text/javascript"></script>

<style type="text/css">
.jqx-icon-arrow-up-selected
{
    background-image: url(@Url.Content("~/Images/icon-up.png"));
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-group-collapse
{
    padding-right: 0px;
    background-image: url(@Url.Content("~/Images/icon-right.png"));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.jqx-icon-arrow-down-selected
{
    background-image: url(@Url.Content("~/Images/icon-down.png"));
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-down, .jqx-icon-arrow-down-hover, .jqx-icon-arrow-down-selected{
    background-image: url(@Url.Content("~/Images/icon-down.png"));
    background-position: center center;
    background-repeat: no-repeat;
}
.jqx-icon-close
{
    cursor: pointer;
    background-image: url(@Url.Content("~/Images/close.png"));
    background-repeat: no-repeat;
    background-position: center;
}
</style>



<script type="text/javascript">
    $(document).ready(function () {

        function onSuccess(data) {
            //                                                alert(JSON.stringify(data));

            var users = data;
            var source =
                {
                    dataType: "json",
                    dataFields: [
                        { name: 'UserName', type: 'string' },
                        { name: 'Ranking', type: 'string' },
                        { name: 'JoinedDate', type: 'string' },
                        { name: 'UserCode', type: 'string' },
                        { name: 'ParentCode', type: 'string' }
                    ],
                    hierarchy:
                    {
                        keyDataField: { name: 'UserCode' },
                        parentDataField: { name: 'ParentCode' }
                    },
                    id: 'UserCode',
                    localData: users
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            // create Tree Grid
            $("#treeGrid").jqxTreeGrid(
                {
                    source: dataAdapter,
                    sortable: true,
                    ready: function () {
                        $("#treeGrid").jqxTreeGrid('expandRow', '2');
                    },
                    columns: [
                        { text: 'User Id', dataField: 'UserName', width: 120 },
                        { text: 'Rank', dataField: 'Ranking', width: 80, cellsalign: 'center', align: 'center' },
                        { text: 'Joined Date', dataField: 'JoinedDate', width: 120, cellsalign: 'center', align: 'center' }
                    ]
                });
        }

        $.ajax({
            type: "GET",
            url: "../MemberShopCenter/GetData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: onSuccess,
            failure: function (response) {
                alert(response.d);
            }
        });
    });
</script>



<div id="reportAd">
    <div class="row">
        <div class="col-lg-12">

            <h2 style="padding-left:10px;">@resShopCenter.lblSponsorChart</h2>
            <!-- Begin breadcrumb -->
            <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="#">@resDashboard.lblTransaction</a></li>
                <li class="active"><a href="#">@resShopCenter.lblSponsorChart</a></li>
            </ol>
            <!-- End breadcrumb -->

            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
        <div class="col-lg-12">
            <div id="treeGrid">
            </div>
        </div>
    </div>


</div>
