﻿ 
@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model IEnumerable<MemberSponsorChartModel>
<script type="text/javascript">

    $("#btnSearchByName").click(function (evt) {

        $('#Loading').show();
            $.ajax({
                type: "POST",
                url: "/AdminMember/SearchUpline",
                data: { Username: $('#searchName').val() },
                success: function (data) {
                    $("#main-content").html(data);
                   $('#Loading').hide();
                },
                error: function (xhr, status, error) {
                    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');
                    alert(errorM);
                   $('#Loading').hide();
                }
                });

    });

</script>
<div id="reportAd" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">Upline</h2>
        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblPersonal</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuUpline</a></li>					
				</ol>
		<!-- End breadcrumb --> 
            <h1 class="page-sub-header">
                <input type="hidden" id="eliminateId" />
            </h1>
        </div>
    </div>

        <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right">
               @resShared.lblUsername:
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <input type="text" id="searchName" class="form-control"  @*style="width:200px;"*@/>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <input id="btnSearchByName" class="btn btn-success" value="@resShared.btnSearch" style="min-width:100px" />
            </div>
    </div>
    <br />
    <table id="tablestyle" width="100%" border="1" class="table-style table table-th-block table-hover" style="padding-left:10px;">
        <thead>
            <tr style="height: 25px;">
              <td align ="center"><p style="color:White; text-align:center">@resShared.lblUserID</p></td>
              <td align ="center"><p style="color:White; text-align:center">@resShared.lblUsername</p></td>
            </tr>
        </thead>
        <tbody style="background-color: #eee;">
            @{

                foreach (var item in Model)
                {
                    <tr>
                       <td align="center">
                            <div class="divMember" id="@item.FirstLevelMember" >@item.FirstLevelMember</div>
                               
                       </td>
                       <td align="center">
                            <div class="divMember" id="@item.FirstLevelMemberCount" >@item.FirstLevelMemberCount</div>
                       </td>
                    </tr>
                }
            }
        </tbody>
    </table>
       </div>        