﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationMemberModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #myImg, #myImg2, #myImg3 {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover, #myImg2:hover, #myImg3:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 50px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
<script type="text/javascript">

    $('#Loading').hide();

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/VerifiedRealNameAuthentication",
            data: { selectedPage: page, searchMember: $('#searchFC').val()},
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

    $("#btnSearchByDate").click(function (evt) {
        $('#Loading').show();
        var fromDay = document.getElementById("SelectedFromDay").value;
        var fromMonth = document.getElementById("SelectedFromMonth").value;
        var fromYear = document.getElementById("SelectedFromYear").value;
        var toDay = document.getElementById("SelectedToDay").value;
        var toMonth = document.getElementById("SelectedToMonth").value;
        var toYear = document.getElementById("SelectedToYear").value;
        $.ajax({
            type: "POST",
            url: "/AdminMember/VerifiedRealNameAuthentication",
            data: { FromDay: fromDay, FromMonth: fromMonth, FromYear: fromYear, ToDay: toDay, ToMonth: toMonth, ToYear: toYear, selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnSearch").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/VerifiedRealNameAuthentication",
            data: { searchMember: $('#searchFC').val(),selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnSearchStatus").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminMember/VerifiedRealNameAuthentication",
            data: { Status: $('#Status').val(), selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });


    
    
</script>

<style>
    a {
        cursor: pointer;
        cursor: hand;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h2 style="padding-left:10px;">@resShared.mnuVerifiedAuthentication</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resShared.lblMembers</a></li>
            <li><a href="#">@resShared.lblReports</a></li>
            <li class="active"><a href="#">@resShared.mnuVerifiedAuthentication</a></li>
        </ol>
        <!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>
</div>

<div class="grid" style="margin-left: 5px;" id="grid">

    <div class="grid">

        <br />
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                    @resShared.lblDateFrom:
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                    @Html.DropDownListFor(m => m.SelectedFromDay, @Model.FromDay, new { @class = "form-control", style = "min-width:80px; height:30px" })
                    @resShared.lblDay
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                    @Html.DropDownListFor(m => m.SelectedFromMonth, @Model.FromMonth, new { @class = "form-control", style = "min-width:80px; height:30px" })
                    @resShared.lblMonth
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                    @Html.DropDownListFor(m => m.SelectedFromYear, @Model.FromYear, new { @class = "form-control", style = "min-width:100px; height:30px" })
                    @resShared.lblYear
                </div>
            </div>

            <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                    @resShared.lblTo:
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                    @Html.DropDownListFor(m => m.SelectedToDay, @Model.ToDay, new { @class = "form-control", style = "min-width:80px; height:30px" })
                    @resShared.lblDay
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                    @Html.DropDownListFor(m => m.SelectedToMonth, @Model.ToMonth, new { @class = "form-control", style = "min-width:80px; height:30px" })
                    @resShared.lblMonth
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                    @Html.DropDownListFor(m => m.SelectedToYear, @Model.ToYear, new { @class = "form-control", style = "min-width:100px; height:30px" })
                    @resShared.lblYear
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:20px" align="right">
                    <button id="btnSearchByDate" type="button" class="btn btn-sm btn-success" style="width:100px">@resShared.btnSearch</button>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-2 col-sm-offset-0"> </div>
                <div class="col-lg-2 col-sm-offset-0" align="center"> @resShared.lblUsername: </div>
                <div class="col-lg-2 col-sm-offset-0">  <input type="text" class="form-control" id="searchFC" /></div>
                <div class="col-lg-2 col-sm-offset-0">  <button id="btnSearch" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button></div>
                <div class="col-lg-2 col-sm-offset-0"> </div>
            </div>


            <div class="col-lg-12">
                <div class="col-lg-2 col-sm-offset-0"> </div>
                <div class="col-lg-2 col-sm-offset-0" align="center"> @resShared.lblStatus: </div>
                <div class="col-lg-2 col-sm-offset-0">
                    @Html.DropDownListFor(m => @Model.SelectedStatusList, @Model.StatusList, new { @class = "form-control", @id = "Status" })
                </div>
                <div class="col-lg-2 col-sm-offset-0">  <button id="btnSearchStatus" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button></div>
                <div class="col-lg-2 col-sm-offset-0"> </div>
            </div>

            <div class="col-lg-12">
                <center>
                    <a href="@Url.Action("ExportVerifiedRealNameAuthentication", "AdminMember", new {})" class="button" target="_blank">Export All</a>
                </center>
            </div>
        </div>

        <br />
        <div class="table-responsive">
            <table id="tablestyle" border="1" class="table-style table table-th-block table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;color:White">
                            @resShared.lblNo
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblUpdatedDate
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblUsername
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblFullname
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblIC
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblProtraitPhoto
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblReversePhoto
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblHandheldPhoto
                        </th>
                        <th style="text-align: center;color:White">
                            @resShared.lblStatus
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EditMember)
                    {
                    <tr style="text-align: center;color:White">
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.IdentityNumber)
                        </td>
                        <td align="center" style="width:200px">
                            @if (item.ProtraitPhotoPath != "")
                            {
                                <a href="#">
                                    <img src="@Url.Content(item.ProtraitPhotoPath)" onclick="ViewProtrait('@item.Username','@item.ProtraitPhotoPath')" style="height:130px;border-width:0px;max-width:250px;" />
                                </a>
                            }
                        </td>
                        <td align="center" style="width:200px">
                            @if (item.ReversePhotoPath != "")
                            {
                                <a href="#">
                                    <img src="@Url.Content(item.ReversePhotoPath)" onclick="ViewReverse('@item.Username','@item.ReversePhotoPath')" style="height:130px;border-width:0px;max-width:250px;" />
                                </a>

                            }
                        </td>
                        <td align="center" style="width:200px">
                            @if (item.HandheldPhotoPath != "")
                            {
                                <a href="#">
                                    <img src="@Url.Content(item.HandheldPhotoPath)" onclick="ViewHandheld('@item.Username','@item.HandheldPhotoPath')" style="height:130px;border-width:0px;max-width:250px" />
                                </a>
                            }
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>


                    }
                </tbody>
            </table>
        </div>

        <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
            <tr>
                <td style="text-align: right">
                    <div class="BtnClass" style="float: right;">
                        @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                    </div>
                </td>
                <td style="text-align: right">
                    <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="modal fade" id="memberModal" role="dialog" aria-hidden="true" style="color: goldenrod; width:100%">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align:center;width:100% !important;min-width:50%; margin: 30px auto !important;" align="center">

            <div id="ModalBody">
            </div>


        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal2" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<script type="text/javascript">
    function ViewProtrait(Username, path) {
        var modal = document.getElementById('myModal2');
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
       
        modal.style.display = "block";
        modalImg.src = "../../" + path;
        captionText.innerHTML = Username + " (Protrait Photo)";       

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    function ViewReverse(Username, path) {
        // Get the modal
        var modal = document.getElementById('myModal2');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg2');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        modal.style.display = "block";
        modalImg.src = "../../" + path;
        captionText.innerHTML = Username + " (Reverse Photo)";     

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    function ViewHandheld(Username, path) {

        // Get the modal
        var modal = document.getElementById('myModal2');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg3');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        modal.style.display = "block";
        modalImg.src = "../../" + path;
        captionText.innerHTML = Username + " (Handheld Photo)";     


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }
    
</script>
