﻿@using resShared  = ECFBase.Resources.Member;

@using ECFBase.Models
@model PaginationMemberModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page")
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/ViewMemberPassword",
            data: {
                selectedPage: page,
                SearchFirstName: $('#SearchFirstName').val()
            },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnSearch").click(function (evt) {
        $('#Loading').show();
        //var e = document.getElementById("page")
        //var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/ViewMemberPassword",
            data: {
                selectedPage: 1,
                SearchFirstName: $('#SearchFirstName').val()
            },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });
</script>

<div class="row">
    <div class="col-lg-12">

        <h2 style="padding-left:10px;">@resShared.mnuViewPassword</h2>
        <!-- Begin breadcrumb -->
        <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
            <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">@resShared.lblMembers</a></li>
            <li><a href="#">@resShared.lblReports</a></li>
            <li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuViewPassword</a></li>

        </ol>
        <!-- End breadcrumb -->
        <h1 class="page-sub-header"></h1>
    </div>
</div>
<div class="grid" style="margin-left: 5px;" id="grid">
    @if (Model != null)
    {
        
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right">
                    @resShared.lblUsername:
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0">
                    @Html.TextBox("SearchFirstName", @Model.SearchFirstName, new { style = "min-width:100px;", @class = "form-control" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input id="btnSearch" value="@resShared.btnSearch" class="btn btn-sm btn-success" style="padding-left:0; padding-right:0; width:100px" />
                </div>
            </div>
        </div>
                <br />
                <br />
                <div class="grid">
                    <div class="col-lg-12 col-xs-12" style="padding-top:10px;">
                        <div class="table-responsive">
                            <table id="tablestyle" border="1" class="table-style table table-th-block table-hover" style="padding-left:10px;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; color:white">
                                            @resShared.lblNumber
                                        </th>
                                        <th style="text-align: center; color:white">
                                            @resShared.lblUsername
                                        </th>
                                        <th style="text-align: center; color:white">
                                            @resShared.lblName
                                        </th>
                                        <th style="text-align: center; color:white">
                                            @resShared.lblPassword
                                        </th>
                                        <th style="text-align: center; color:white">
                                            @resShared.lblCurrPIN
                                        </th>
                                    </tr>
                                </thead>
                                <tbody style="background-color: #eee;">
                                    @if (Model.MemberList.Count == 0)
                                    {
                                        <tr style="height: 25px; border-top: 2px solid white;">
                                            <td style="padding: 5px;" colspan="10">
                                                @resShared.lblNoRecFound
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var item in Model.MemberList)
                                    {
                                        <tr>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Number)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.MemberId)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Password)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Pin)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model.MemberList.Count != 0)
                        {
                    <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                        <tr>
                            <td style="text-align: right">
                                <div class="BtnClass" style="float: right;">
                                    @Html.DropDownList("page", @Model.Pages, new { style = "width:80px;", @class = "form-control" })

                                </div>
                            </td>
                            <td style="text-align: right">
                                <input id="btnPage" value="@resShared.btnView" class="btn btn-sm btn-success" />
                            </td>
                        </tr>
                    </table>
                    }
                    <br />
                    <br />

                </div>
    }
</div>