@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member; 
@model EditMemberModel
@{
    ViewBag.Title = "EditProfile";
}

<style type="text/css">
    #upload_failtype {
        display: none;
        color: Red;
    }
</style>
<div class="modal-header" style="height:70px">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4 class="modal-title"><strong>@resShared.mnuMemberDetails</strong></h4>
</div>
<div id="ModalBody" class="ModalBody">

    <div id="editBSDiv">
        @{ Html.EnableClientValidation(true); }
        @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { enctype = "multipart/form-data", name = "editBSForm", id = "editBSForm" }))
            {
               <div class="row" align="center">
                    <div>
                        <form role="form">
                            <div style="max-width: 500px; text-align: left">
                                <div class="form-group" style="margin:20px;">
                                    <label>
                                        @resShared.lblUsername
                                    </label>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = true })
                                    @Html.HiddenFor(model => model.Username)
                                    <div style="margin-left: 0px;">
                                        @Html.ValidationMessageFor(m => Model.Username)
                                    </div>
                                </div>
                                <div class="form-group" style="margin:20px;">
                                    <label>
                                        @resShared.lblFullname
                                    </label>
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                    @Html.HiddenFor(model => model.FullName)
                                    <div style="margin-left: 0px;">
                                        @Html.ValidationMessageFor(m => Model.FullName)
                                    </div>
                                </div>
                                <div class="form-group" style="margin:20px;">
                                    <label>
                                        @resShared.lblIC
                                    </label>
                                    @Html.TextBoxFor(model => model.IdentityNumber, new { id = "IC", maxlength ="30", @class = "form-control" })
                                    @Html.HiddenFor(model => model.IdentityNumber)
                                    @Html.HiddenFor(x => x.ICLength, new { @id = "ICMax" })
                                    @Html.HiddenFor(x => x.SelectedICType, new { @id = "ICType" })
                                    <div style="margin-left: 0px;">
                                        @Html.ValidationMessageFor(m => Model.IdentityNumber)
                                    </div>
                                </div>

                                <div class="form-group" style="margin:20px;">
                                    <label>
                                        @resShared.lblCountry
                                    </label>
                                    @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "Country", @class = "form-control", @onchange = "return findMobileCode(event)", style = "height:40px; border-radius:0" })
                                    
                                    <div style="margin-left: 0px;">
                                        @Html.ValidationMessageFor(m => Model.SelectedCountry)
                                    </div>
                                </div>

                                <div class="form-group" style="margin:20px;">
                                    <div>
                                        <label>
                                            @resShared.lblCellPhone<strong><span style="color: Red">*</span></strong>
                                        </label>
                                    </div>
                                    <div class="col-md-3">@Html.TextBoxFor(m => @Model.MobileCountryCode, new { @id = "mobileCntCode", @class = "form-control"})</div>
                                    <div class="col-md-9">@Html.TextBoxFor(m => @Model.CellPhone, new { @class = "form-control", @style = "width:200px" })</div>
                                    @*<p>
                                        @Html.TextBoxFor(m => @Model.MobileCountryCode, new { @id = "mobileCntCode", @class = "form-control", @readonly = "readonly", @style = "width:42px" })
                                        @Html.TextBoxFor(m => @Model.CellPhone, new { @class = "form-control", @style = "width:200px" })
                                    </p>*@

                                    <div style="margin-left: 0px;">
                                        @Html.ValidationMessageFor(m => Model.CellPhone)
                                    </div>
                                </div>
                                <div class="form-group" style="margin:20px;">
                                    <label>
                                        @resShared.lblEmail<strong><span style="color: Red">*</span></strong>
                                    </label>
                                    @Html.TextBoxFor(model => model.MemberEmail, new { @class = "form-control" })
                                    <div style="margin-left: 0px;">
                                        @Html.ValidationMessageFor(m => Model.MemberEmail)
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    
                </div>

        }
    </div>
</div>
