﻿@using resShared  = ECFBase.Resources.Member;
@using ECFBase.Models
@model PaginationMemberWalletModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnPage").click(function (evt) {
        $('#Loading').show();
        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/NextPageMemberWalletBalanceList",
            data: { selectedPage: page, searchMember: $('#searchText').val() },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearchByJoinedDate").click(function (evt) {
       $('#Loading').show();
        var months = document.getElementById("SelectedMonth");
        var month = months.options[months.selectedIndex].value;

        var years = document.getElementById("SelectedYears");
        var year = years.options[years.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/AdminMember/SearchMemberWalletBalanceListByJoinedDate",
            data: { month: month, year: year, selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $("#btnSearchByFC").click(function (evt) {
       $('#Loading').show();
        var fc = document.getElementById("SelectedFilteringCriteria").value;
        $.ajax({
            type: "POST",
            url: "/AdminMember/SearchMemberWalletBalanceListByFC",
            data: { fc: fc, searchFC: $('#searchFC').val(), selectedPage: 1 },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

</script>
<div class="row">
    <div class="col-lg-12">
    
         <h2 style="padding-left:10px;">@resShared.mnuWalletBalance</h2>

        <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblMembers</a></li>
					<li><a href="#">@resShared.lblReports</a></li>
					<li class="active"><a href="#" onclick="dummy(0);return false;">@resShared.mnuWalletBalance</a></li>					
				</ol>
		<!-- End breadcrumb --> 
        <h1 class="page-sub-header">
        </h1>
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        @if (Model != null)
        { 
            <div class="grid">

                <div class="row">
                    <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                            @resShared.lblDate:
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                            @Html.DropDownListFor(m => m.SelectedMonth, @Model.Months, new { @class = "form-control", style = "min-width:80px; height:30px" })
                           @resShared.lblMonth
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                           @Html.DropDownListFor(m => m.SelectedYears, @Model.Years, new { @class = "form-control", style = "min-width:80px; height:30px" })
                            @resShared.lblYear
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                            <button id="btnSearchByJoinedDate" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding-bottom:10px; padding-left:0">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                            @resShared.btnSearch:
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                            @Html.DropDownListFor(m => m.SelectedFilteringCriteria, @Model.FilteringCriteria, new { @class = "form-control", style = "min-width:80px; height:30px" })
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                            <input type="text" class="form-control" id="searchFC" />
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:5px">
                            <button id="btnSearchByFC" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button>
                        </div>
                    </div>
                </div>
              
                <br />
                <div class="table-responsive">
                    <table id="tablestyle"  border="1" class="table-style table table-th-block table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;color:White">
                                    @resShared.lblNumber
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblUsername
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblFullname
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblRanking
                                </th>
                               
                                <th style="text-align: center;color:White">
                                    @resShared.lblUntradeableWallet
                                </th>
                                <th style="text-align: center;color:White">
                                    @resShared.lblTradeableWallet
                                </th>                               
                                <th style="text-align: center;color:White">
                                    @resShared.lblTotal
                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color: #eee;">
                            @foreach (var item in Model.MemberWalletList)
                            {
                                <tr>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Number)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Fullname)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Rank)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.UntradeableWallet)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.TradeableWallet)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                        
                            </div>
                        </td>
                        <td style="text-align: right">
                                <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                        </td>
                    </tr>
                </table>
                <br />
                <br />

            </div>
        }
    </div>
</div>
              