﻿@using resShared = ECFBase.Resources.Member;
<style>
    .ex_find {
        width: auto;
        height: 32px;
        margin: 10px 0px;
    }

    .ex_text {
        line-height: 28px;
        float: left;
        height: 30px;
        width: auto;
        text-align: center;
        padding: 0px 12px;
    }

    .log_input_box {
        height: 30px;
        float: left;
    }

    .ex_button_box {
        height: 30px;
        float: left;
    }

    .info_text {
        width: auto;
        float: left;
    }

    .ex_button_box {
        height: 30px;
        float: left;
    }

    li {
        list-style-type: none;
    }

    table.t_info {
        width: 120px;
        background: #1a87d2;
        border-collapse: collapse;
        border: 0 solid #1a87d2;
        font-size: 12px;
        margin: 0 auto;
    }

        table.t_info tr {
            border: 0;
        }

        table.t_info th {
            color: #FFF;
            text-align: center;
            height: 25px;
            line-height: 25px;
            border-top: 0;
            border: 0 solid #006600;
            background: none;
        }

        table.t_info td {
            color: #9a1017;
        }

        table.t_info th a {
            color: #FFF;
        }

        table.t_info td {
            height: 20px;
            background: #FFFFFF;
            text-align: center;
            border: 1px solid #1a87d2;
            line-height: 20px;
        }
</style>


<div id="page-content" class="panel" style="margin-left: 20px;margin-right: 20px; ">
    <div class="row" style="background: url(&quot;/themes/simpleboot3/public/assets/images/word.png&quot;)no-repeat ;background-size:100% 100%;">
        <div>
            <div class="panel-heading">
                <h3 class="panel-title">@resShared.lblContactUs</h3>
            </div>
        </div>
        <div class="vacant_position_main us_padding">
            <ul class="contact_us_imformetion fl">
                <li>
                    <i class="iconfont icon-fuwurexian"></i>
                    <a href="#" target="_blank">@resShared.lblCustomerService1</a>
                </li>
                <li>
                    <i class="iconfont icon-fuwurexian"></i>
                    <a href="#" target="_blank">@resShared.lblCustomerService2</a>
                </li>
               
                <li>
                    <i class="iconfont icon-dianhua1"></i>
                    <a href="">@resShared.lblWechatContact1</a>
                </li>
                <li>
                    <i class="iconfont icon-dianhua1"></i>
                    <a href="">@resShared.lblWechatContact2</a>
                </li>
                <li>
                    <i class="iconfont icon-dianhua1"></i>
                    <h5><font color="#FFF">@resShared.lblFriendlyReminder</font>@resShared.lblWorkingHours</h5>
                </li>
            </ul>
        </div>
        <div class="press_list_link" style="min-height: 360px;"></div>
    </div>
</div>
