﻿@using ECFBase.Models 
@using resShared  = ECFBase.Resources.Member;

@model PaginationInfoDeskModel

<script type="text/javascript">

    $(".EditData").hover(function () {
        $(this).css("cursor", "pointer");
    });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page = e.options[e.selectedIndex].value;

        $.ajax({
            type: "POST",
            url: "/MemberInfoDesk/CorporateNews",
            data: { selectedPage: page },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });

   $(".EditData").click(function (e) {
       $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberInfoDesk/CorporateNewsData",
            data: { CorporateNewsID: this.id },
            success: function (data) {
                $("#main-content").html(data);
               $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
               $('#Loading').hide();
            }
        });
    });
</script>

<div id="reportBS">
     <div class="row">
        <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.lblNewCorpNews</h2>

        					<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
						<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
						<li><a href="#">@resShared.mnuInforDesk</a></li>
						<li class="active"><a href="#">@resShared.lblNewCorpNews</a></li>
					</ol>
					<!-- End breadcrumb -->
             
                <h1 class="page-sub-header">                        
                </h1>
        </div>
    </div>
     <div class="grid" style="margin-left: 5px;" id="grid">
            <div class="table-responsive">
                <table id="tablestyle"  border="1" class="table-style table table-th-block table-hover">
                    <thead>
                        <tr>                            
                            <th style="text-align:center">
                                @Html.Label(@resShared.lblTitle, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">
                                @Html.Label(@resShared.lblPostDate, new { @style = "color:White" })
                            </th>
                            <th style="text-align:center">
                                @Html.Label(@resShared.lblViewDetail, new { @style = "color:White" })
                            </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #eee;">
						@if (Model.InfoDeskList.Count == 0)
                        {
                            <tr style="height: 25px; border-top: 2px solid white;">
                                <td style="padding: 5px;" colspan="10">
                                    @resShared.lblNoRecFound
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.InfoDeskList)
                        { 
                            <tr style="height: 25px; border-top: 2px solid white;">
                               
                                <td style="text-align:center">
                                    <a style="text-decoration:none;" id="@item.InfoDeskID" class="EditData">
                                        @Html.DisplayFor(modelItem => item.InfoDeskTitle)
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.InfoDeskPostDate)
                                </td>
                                <td style="text-align:center">
                                    <a style="text-decoration:none;" id="@item.InfoDeskID" class="EditData">
                                        <img style="height:30px; width:25px;" src="~/Images/clickbutton.png" />
                                    </a>
                                </td>

                            </tr> 
                        }
                    </tbody>
				</table>
                </div>
				@if (Model.InfoDeskList.Count != 0)
                {
				 <table  width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                    <tr>
                        <td style="text-align: right">
                            <div class="BtnClass" style="float: right;">
                                @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })
                       
                            </div>
                        </td>
                        <td>
                                 <button id="btnPage" type="button" class="btn btn-sm btn-default" style="width: 100px">@resShared.btnView</button>
                        </td>
                    </tr>
                </table>
        <br />
                }
 
      </div>
</div>
   