﻿@model ECFBase.Models.InfoDeskModel
@using resShared  = ECFBase.Resources.Member;
@using System.Globalization
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">

    $("#btnBack").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/MemberInfoDesk/CorporateNews",
            data: {},
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $('.ckeditor').each(function () {
        CKEDITOR.replace($(this).attr('id'), {
            contentsLangDirection: 'ltr',
            width: "750px"
        });
    });

    CKEDITOR.config.toolbar = [
        ['Styles', 'Format', 'Font', 'FontSize'],
        '/',
        ['Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
        '/',
        ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
        ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
    ];

</script>
<div id="editBSDiv">
    @{ Html.EnableClientValidation(true); }
    @using (Html.BeginForm("EditBSFromDialog", "AdminSettings", FormMethod.Post, new { name = "editBSForm", id = "editBSForm" }))
    {
        @Html.ValidationSummary(true)


        <div class="container-fluid">
            <div class="col-lg-12">
                <h2 style="padding-left:10px;">@resShared.lblNewCorpNews</h2>

                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
                    <li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">@resShared.mnuInfoDesk</a></li>
                    <li class="active"><a href="#">@resShared.mnuCorpNews</a></li>
                </ol>
                <!-- End breadcrumb -->
                <h1 class="page-sub-header"></h1>
            </div>



            <div class="row" align="center">
                <center>
                    <div class="col-xs-12 col-sm-12" align="center" style="height:300px; width:100%">
                        <img src="@Html.DisplayFor(m => Model.Image)" style="max-height:100%;max-width:100%;" />
                    </div>
                </center>
            </div>
            <br />
            <div class="row" align="center">
                <div class="col-xs-12 col-sm-12" align="center">
                    @Html.DisplayFor(x => x.TitleLanguageList[0].Text, new { disabled = "disabled" })
                </div>

            </div>
            <br />
            <div class="row" align="center">

                <div class="col-xs-12 col-sm-12" align="center">
                    @Html.DisplayFor(m => Model.Created, new { disabled = "disabled" })
                </div>

            </div>
            <br />
            <div class="row" align="center">

                <div class="col-xs-12 col-sm-12" align="center">
                    @Html.Raw(Model.ContentLanguageList[0].Text)
                    @*@Html.DisplayTextFor(x => x.ContentLanguageList[0].Text)*@
                </div>

            </div>
            <br />
            <div class="row" align="center">
                <div class="col-xs-12 col-sm-12 BtnClass" align="center">
                    <button id="btnBack" type="button" class="btn btn-sm btn-success" style="width: 150px">@resShared.btnBack</button>
                </div>
                <br />
            </div>
        </div>

    }
</div>
