﻿@using ECFBase.Models
@using resShared  = ECFBase.Resources.Member;

@model PaginationFileCenterModel

<script type="text/javascript">
</script>

<div id="page-content">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@resShared.mnuDwnLoadCenter</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                    @Html.Label(@resShared.lblTitle)
                                </th>
                                <th style="text-align:center">
                                    @Html.Label(@resShared.lblFileName)
                                </th>
                                <th style="text-align:center">
                                    @Html.Label(@resShared.lblFileSize)
                                </th>
                                <th style="text-align:center">
                                    @Html.Label(@resShared.lblAction)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FileCenterList.Count == 0)
                            {
                                <tr style="height: 25px;">
                                    <td style="padding: 5px;" colspan="10">
                                        @resShared.lblNoRecFound
                                    </td>
                                </tr>
                            }
                            @foreach (var item in Model.FileCenterList)
                            {
                                <tr style="height: 25px;">
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.FileTitle)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.FileName)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.FileSize)
                                    </td>
                                    <td>
                                        <center>
                                            <a href="@Url.Action("Download", "MemberInfoDesk", new { fileName = @item.FileName })">
                                                <img src="/Images/downloads.png" border="0" alt="" style="width: 40px; min-height: 40px;" />
                                            </a>
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     
    </div>
        
         
    </div>
    				