﻿@using resShared = ECFBase.Resources.Member;
@using ECFBase.Components;
@using System.Data;
@using System.Text.RegularExpressions;
@using ECFBase.Models
@model ECFBase.Models.MemberModel

@*<h2>NoticeBulletin</h2>*@




<div id="main-content">
    <div class="row">

        @foreach (var item in Model.MyNews)
        {
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayFor(modelItem => item.InfoDeskTitle)</h3>
                    </div>


                    <div class="panel-body">
                        <div class="row">
                            @Html.DisplayTextFor(modelItem => item.InfoDeskContent)
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <p><b>@Html.DisplayFor(modelItem => item.Created, "{0:dd-MM-yyyy}")</b></p>
                    </div>


                    <!--End Block Styled Form -->
                </div>
            </div>
        }

    </div>


</div>
