﻿@using ECFBase.Models;
@using resShared  = ECFBase.Resources.Member;
@model PaginationCurrentSalesModel
<script type="text/javascript">
    $("#btnPage2").click(function (evt) {
        $("#btnPage").click();
    });

    $("#btnPage").click(function (evt) {
        $('#Loading').show();

        var e = document.getElementById("page");
        var page;
        if (e.selectedIndex == -1)
            page = 1;
        else
            page = e.options[e.selectedIndex].value;

        var y = document.getElementById("ddlyear");
        var year = y.options[y.selectedIndex].value;

        var m = document.getElementById("ddlmonth");
        var month = m.options[m.selectedIndex].value;

        var C = document.getElementById("SelectedCountry");
        var country = C.options[C.selectedIndex].value;
        
        $.ajax({
            type: "POST",
            url: "/AdminBonus/HashPerformanceBonusList",
            data: { selectedPage: page, selectedYear: year, selectedMonth: month, Country: country },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    $("#btnSearch").click(function (evt) {
        $('#Loading').show();
        $.ajax({
            type: "POST",
            url: "/AdminBonus/HashPerformanceBonusList",
            data: { username: $('#searchFC').val() },
            success: function (data) {
                $("#main-content").html(data);
                $('#Loading').hide();
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
                $('#Loading').hide();
            }
        });
    });

    
</script>
<div class="row">
    <div class="col-lg-12">
         <h2 style="padding-left:10px;">@resShared.mnuHashPerformanceSummary</h2>
    <!-- Begin breadcrumb -->
				<ol class="breadcrumb default square rsaquo sm no-border " style="margin:10px;">
					<li><a href="javascript:;" id="Home"><i class="fa fa-home"></i></a></li>
					<li><a href="#">@resShared.lblReports</a></li>
					<li class="active"><a href="#">@resShared.mnuHashPerformanceSummary</a></li>
				</ol>
		<!-- End breadcrumb -->
        <h1 class="page-sub-header">
        </h1>
    </div>
</div>
<div>
    <div class="grid" style="margin-left: 5px;" id="grid">
        <div class="grid">
            <div>
                <table width="100%" class="test">
                    <tr>
                        <td style="text-align: right">
                            <strong>@resShared.lblCountry</strong>
                        </td>
                        <td style="padding-left: 10px; width: 100px">
                            @Html.DropDownListFor(m => m.SelectedCountry, @Model.Countries, new { @id = "SelectedCountry", @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <label>@resShared.lblYear:</label>
                        </td>
                        <td style="padding-left: 10px; width: 100px">
                            @Html.DropDownList("ddlyear", new SelectList(new List<Object>{
                                                                                         new { value = DateTime.Now.Year , text = DateTime.Now.Year},
                                                                                         new { value = DateTime.Now.Year - 1 , text = DateTime.Now.Year - 1 }}, "value", "text", @ViewBag.selectedYear), new { @class = "form-control", style = "width:200px;" })

                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <label>@resShared.lblMonth:</label>
                        </td>
                        <td style="padding-left: 10px; width: 100px">
                            @Html.DropDownList("ddlmonth", new SelectList(new List<Object>{
                                                                                          new { value = 1 , text = "January"},
                                                                                          new { value = 2 , text = "February" },
                                                                                          new { value = 3 , text = "March" },
                                                                                          new { value = 4 , text = "April" },
                                                                                          new { value = 5 , text = "May" },
                                                                                          new { value = 6 , text = "June" },
                                                                                          new { value = 7 , text = "July" },
                                                                                          new { value = 8 , text = "August" },
                                                                                          new { value = 9 , text = "September" },
                                                                                          new { value = 10 , text = "October" },
                                                                                          new { value = 11 , text = "November" },
                                                                                          new { value = 12 , text = "December" }}, "value", "text", @ViewBag.selectedMonth), new { @class = "form-control", style = "width:200px;" })
                        <td style="padding-left: 10px; width: 200px">
                            <button id="btnPage2" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                        </td>
                        <td style="padding-left: 50px"></td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <label>@resShared.lblUsername:</label>
                        </td>
                        <td style="padding-left: 10px; width: 100px">
                            <input type="text" class="form-control" id="searchFC" />
                        </td>
                        <td style="padding-left: 10px; width: 200px">
                            <button id="btnSearch" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnSearch</button>
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align:right"></td>
                        <td style="padding:10px 10px;">
                            <a href="@Url.Action("ExportHashBonus", "AdminBonus", new {type ="HashPerformance", username = @Model.MemberID, selectedYear = @ViewBag.selectedYear, selectedMonth = @ViewBag.selectedMonth, Country = @Model.SelectedCountry})" class="btn btn-sm btn-primary" target="_blank" style="width:100px">@resShared.btnExport</a>
                        </td>
                        <td style="padding-left:10px"></td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="table-responsive">
                <table id="tablestyle" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr style="background-color: #414558;">
                            <th style="text-align: center;color:White">
                                @resShared.lblDate
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblUsername
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblAmount
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblRemark
                            </th>
                            <th style="text-align: center;color:White">
                                @resShared.lblExtraInfo
                            </th>                           

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HashPerformanceBonusModel)
                        {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.SalesDate)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.MemberID)
                                </td>
                                <td align="center">
                                    @string.Format("{0:n2}", item.SalesAmount)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CashName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>

                            </tr>

                        }

                        @if (ViewBag.TotalAmount != null)
                        {

                            <tr>
                                <td align="center"></td>
                                <td align="center">
                                    @resShared.lblTotalAmount
                                </td>
                                <td align="center">
                                    @string.Format("{0:n2}", ViewBag.TotalAmount)
                                </td>
                                <td align="center"></td>
                                <td align="center"></td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            @if(Model.Pages.Count() != 0)
            { 
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;">
                <tr>
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new { @class = "form-control", style = "width:80px;" })                    
                        </div>
                    </td>
                    <td style="text-align: right">
                            <button id="btnPage" type="button" class="btn btn-sm btn-success" style="width: 100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
            }
        </div>
    </div>
</div>
        